Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-11, with the labels that each got.

#2555 [Restoration Shaman] Overflowing Shores
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/OverflowingShores.js
  src/parser/shaman/restoration/modules/core/Spreadsheet.js
Labels: Azerite, Shaman

#2559 [Frost Mage] Sort spells on timeline
  src/parser/mage/frost/modules/features/Abilities.js
Labels: Mage

#2568 [Restoration Shaman] Spouting Spirits
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/SpoutingSpirits.js
  src/parser/shaman/restoration/modules/core/Spreadsheet.js
Labels: Azerite, Shaman

#2569 [Azerite] Swirling Sands
  src/CHANGELOG.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/StatTracker.js
  src/parser/shared/modules/spells/bfa/azeritetraits/SwirlingSands.js
Labels: Azerite

#2570 [Azerite] Unstable Catalyst
  bin/setup
  src/CHANGELOG.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/common/TraitIdMap.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/StatTracker.js
  src/parser/shared/modules/spells/bfa/azeritetraits/UnstableCatalyst.js
Labels: Azerite

#2573 [Restoration Shaman] Ancestral Vigor breakdown
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/modules/talents/AncestralVigor.js
Labels: Shaman

#2572 [Shaman] Astral Shift damage reduction module
  src/parser/shaman/elemental/CHANGELOG.js
  src/parser/shaman/elemental/CombatLogParser.js
  src/parser/shaman/enhancement/CHANGELOG.js
  src/parser/shaman/enhancement/CombatLogParser.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/shared/spells/AstralShift.js
  src/parser/shaman/shared/talents/SpiritWolf.js
Labels: Shaman

#2577 [Restoration Shaman] Surging Tides
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/SurgingTides.js
  src/parser/shaman/restoration/modules/core/Spreadsheet.js
Labels: Azerite, Shaman

#2584 [Shaman] Pack Spirit & Serene Spirit
  src/parser/shaman/elemental/CHANGELOG.js
  src/parser/shaman/elemental/CombatLogParser.js
  src/parser/shaman/enhancement/CHANGELOG.js
  src/parser/shaman/enhancement/CombatLogParser.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/features/CooldownThroughputTracker.js
  src/parser/shaman/restoration/modules/talents/HighTide.js
  src/parser/shaman/shared/azerite/PackSpirit.js
  src/parser/shaman/shared/azerite/SereneSpirit.js
  src/parser/shaman/shared/items/EyeOfTheTwistingNether.js
Labels: Azerite, Shaman

#2581 [Destruction] Checklist implementation
  src/parser/warlock/affliction/CONFIG.js
  src/parser/warlock/demonology/CONFIG.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CONFIG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/features/Checklist/Component.js
  src/parser/warlock/destruction/modules/features/Checklist/Module.js
Labels: Warlock

#2579 [Destruction] Effectiveness of Cataclysm / Rain of Fire
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/features/RainOfFire.js
  src/parser/warlock/destruction/modules/talents/Cataclysm.js
  src/parser/warlock/destruction/modules/talents/index.js
Labels: Warlock

#2585 [Destruction] Internal Combustion and Shadowburn
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/core/SpellUsable.js
  src/parser/warlock/destruction/modules/talents/InternalCombustion.js
  src/parser/warlock/destruction/modules/talents/Shadowburn.js
  src/parser/warlock/destruction/modules/talents/index.js
Labels: Warlock

#2582 [Destruction] Flashover + Soul Fire (and Darkglare fix)
  src/parser/warlock/affliction/modules/features/Darkglare.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/core/SpellUsable.js
  src/parser/warlock/destruction/modules/talents/Flashover.js
  src/parser/warlock/destruction/modules/talents/SoulFire.js
  src/parser/warlock/destruction/modules/talents/index.js
Labels: Warlock

#2580 [Restoration Shaman] Mana Efficiency tab
  src/common/SPELLS/shaman.js
  src/parser/core/healingEfficiency/HealingEfficiencyTracker.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/Abilities.js
  src/parser/shaman/restoration/modules/core/HealingEfficiencyTracker.js
  src/parser/shaman/restoration/modules/features/StatValuesSpellInfo.js
  src/parser/shaman/restoration/modules/talents/EarthenWallTotem.js
  src/parser/shared/modules/AbilityTracker.js
  src/parser/shared/modules/CastEfficiency.js
Labels: Shaman

#2587 [Destruction] Final part of talents
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/talents/index.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/talents/ChannelDemonfire.js
  src/parser/warlock/destruction/modules/talents/Eradication.js
  src/parser/warlock/destruction/modules/talents/SoulConduit.js
  src/parser/warlock/destruction/modules/talents/index.js
  src/parser/warlock/shared/modules/talents/GrimoireOfSacrifice.js
  src/parser/warlock/shared/modules/talents/normalizers/GrimoireOfSacrificeNormalizer.js
Labels: Warlock

#2594 [Assassination] Add Checklist and update ResourceTracker
  src/common/SPELLS/bfa/azeritetraits/index.js
  src/common/SPELLS/bfa/azeritetraits/rogue.js
  src/parser/druid/balance/modules/resourcetracker/AstralPowerDetails.js
  src/parser/rogue/assassination/CHANGELOG.js
  src/parser/rogue/assassination/CONFIG.js
  src/parser/rogue/assassination/CombatLogParser.js
  src/parser/rogue/assassination/modules/features/Checklist/Component.js
  src/parser/rogue/assassination/modules/features/Checklist/Module.js
  src/parser/rogue/assassination/modules/spells/EnvenomUptime.js
  src/parser/rogue/assassination/modules/spells/GarroteUptime.js
  src/parser/rogue/assassination/modules/spells/RuptureUptime.js
  src/parser/rogue/outlaw/CHANGELOG.js
  src/parser/rogue/shared/resources/ComboPointDetails.js
  src/parser/rogue/shared/resources/EnergyCapTracker.js
  src/parser/rogue/shared/resources/EnergyDetails.js
  src/parser/rogue/subtlety/CHANGELOG.js
Labels: Rogue

#2650 [Warlock] Added buffSpellIds to Abilities
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/modules/features/Abilities.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/modules/features/Abilities.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/modules/features/Abilities.js
Labels: Warlock

#2664 [MW] TFT Bug Fix
  src/parser/monk/mistweaver/modules/spells/ThunderFocusTea.js
Labels: Monk

#2644 [Demonology] Pet tracking + pet timeline
  src/common/SPELLS/warlock.js
  src/interface/others/EventsTab.css
  src/interface/others/EventsTab.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/CONFIG.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/core/Pets.js
  src/parser/warlock/demonology/modules/features/Abilities.js
  src/parser/warlock/demonology/modules/pets/CONSTANTS.js
  src/parser/warlock/demonology/modules/pets/DemoPets.js
  src/parser/warlock/demonology/modules/pets/PETS.js
  src/parser/warlock/demonology/modules/pets/PetDamage.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/KeyCastsRow.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/PetRow.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/PetTimeline.css
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/PetTimeline.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/index.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/index.js
  src/parser/warlock/demonology/modules/pets/Timeline.js
  src/parser/warlock/demonology/modules/pets/TimelinePet.js
  src/parser/warlock/demonology/modules/pets/helpers.js
  src/parser/warlock/demonology/modules/pets/normalizers/PrepullPetNormalizer.js
  src/parser/warlock/demonology/modules/talents/GrimoireFelguard.js
  src/parser/warlock/demonology/modules/talents/normalizers/PowerSiphonNormalizer.js
Labels: Warlock

#2684 buffSpellId array bugfix
  src/parser/shared/modules/features/TimelineTab/TabComponent/SpellTimeline.js
Labels: bug

#2647 [Restoration Shaman] Earthen Wall Totem cast details
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/modules/talents/EarthenWallTotem.js
Labels: Shaman

#2697 [Restoration Shaman] EWT crash fix
  src/parser/shaman/restoration/modules/talents/EarthenWallTotem.js
Labels: Shaman, bug

#2571 [Core] Pre-pull events normalizer
  src/parser/core/CombatLogParser.js
  src/parser/deathknight/blood/modules/features/DancingRuneWeapon.js
  src/parser/deathknight/blood/modules/spells/azeritetraits/EternalRuneWeapon.js
  src/parser/druid/restoration/modules/talents/TreeOfLife.js
  src/parser/hunter/beastmastery/modules/spells/BestialWrath.js
  src/parser/hunter/marksmanship/modules/spells/Trueshot.js
  src/parser/mage/arcane/CombatLogParser.js
  src/parser/mage/arcane/modules/features/Abilities.js
  src/parser/mage/fire/CombatLogParser.js
  src/parser/mage/fire/modules/features/Abilities.js
  src/parser/mage/frost/CombatLogParser.js
  src/parser/mage/frost/modules/features/Abilities.js
  src/parser/mage/shared/normalizers/PrePullCooldowns.js
  src/parser/shared/modules/Ability.js
  src/parser/shared/normalizers/PrePullCooldowns.js
Labels: Death Knight, Hunter, Mage, core

#2679 [Demonology] Few fixes + Tier 15 talents
  src/common/SPELLS/warlock.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/features/Abilities.js
  src/parser/warlock/demonology/modules/features/Checklist/Component.js
  src/parser/warlock/demonology/modules/features/Felstorm.js
  src/parser/warlock/demonology/modules/talents/BilescourgeBombers.js
  src/parser/warlock/demonology/modules/talents/DemonicCalling.js
  src/parser/warlock/demonology/modules/talents/DemonicStrength.js
  src/parser/warlock/demonology/modules/talents/Dreadlash.js
  src/parser/warlock/demonology/modules/talents/GrimoireFelguard.js
  src/parser/warlock/demonology/modules/talents/index.js
Labels: Warlock

#2711 [(Frost) Mage] Moved Arcane Intellect rules & change how Bone Chilling is analyzed
  src/common/SPELLS/mage.js
  src/parser/mage/fire/modules/Checklist/Component.js
  src/parser/mage/fire/modules/features/Pyroclasm.js
  src/parser/mage/frost/modules/checklist/Component.js
  src/parser/mage/frost/modules/checklist/Module.js
  src/parser/mage/frost/modules/features/BoneChilling.js
  src/parser/mage/shared/modules/GetDamageBonus.js
Labels: Mage

#2716 [Core] Fix on finish fix on finish again again
  src/parser/core/CombatLogParser.js
  src/parser/core/CombatLogParser.test.js
Labels: bug, core

#2712 [Core] Fix weighted buff uptime calculation when buff doesn't expire
  src/parser/core/Entity.js
Labels: bug, core

#2725 [Ret Pally] Fix another case of deps not being properly expanded
  src/parser/paladin/retribution/modules/core/GlobalCooldown.js
Labels: Paladin, bug

#2726 [Core] Fix for Development Tab
  src/interface/others/DevelopmentTab.js
Labels: bug, core

#2638 [Assassination] Bleed snapshotting & L30 talents
  src/common/SPELLS/rogue.js
  src/parser/rogue/assassination/CHANGELOG.js
  src/parser/rogue/assassination/CombatLogParser.js
  src/parser/rogue/assassination/constants.js
  src/parser/rogue/assassination/modules/Abilities.js
  src/parser/rogue/assassination/modules/core/Snapshot.js
  src/parser/rogue/assassination/modules/features/CooldownThroughputTracker.js
  src/parser/rogue/assassination/modules/features/CrimsonTempestSnapshot.js
  src/parser/rogue/assassination/modules/features/GarroteSnapshot.js
  src/parser/rogue/assassination/modules/features/RuptureSnapshot.js
  src/parser/rogue/assassination/modules/talents/MasterAssassin.js
  src/parser/rogue/assassination/modules/talents/Nightstalker.js
  src/parser/rogue/assassination/modules/talents/Subterfuge.js
  src/parser/rogue/assassination/normalizers/GarroteNormalizer.js
Labels: Rogue

#2729 [Assassination] Update to new event listener
  src/parser/rogue/assassination/CHANGELOG.js
  src/parser/rogue/assassination/constants.js
  src/parser/rogue/assassination/modules/features/Checklist/Component.js
  src/parser/rogue/assassination/modules/features/Checklist/Module.js
  src/parser/rogue/assassination/modules/spells/EnvenomUptime.js
  src/parser/rogue/assassination/modules/spells/GarroteUptime.js
  src/parser/rogue/assassination/modules/spells/RuptureUptime.js
  src/parser/rogue/assassination/modules/talents/ElaboratePlanning.js
  src/parser/rogue/assassination/modules/talents/MasterAssassin.js
  src/parser/rogue/assassination/modules/talents/MasterPoisoner.js
  src/parser/rogue/assassination/modules/talents/Nightstalker.js
  src/parser/rogue/shared/resources/EnergyCapTracker.js
Labels: Rogue

#2722 [Demonology] Talent cleanup
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/CONFIG.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/features/Felstorm.js
  src/parser/warlock/demonology/modules/talents/DemonicConsumption.js
  src/parser/warlock/demonology/modules/talents/FromTheShadows.js
  src/parser/warlock/demonology/modules/talents/InnerDemons.js
  src/parser/warlock/demonology/modules/talents/NetherPortal.js
  src/parser/warlock/demonology/modules/talents/PowerSiphon.js
  src/parser/warlock/demonology/modules/talents/SacrificedSouls.js
  src/parser/warlock/demonology/modules/talents/SoulConduit.js
  src/parser/warlock/demonology/modules/talents/SoulStrike.js
  src/parser/warlock/demonology/modules/talents/SummonVilefiend.js
  src/parser/warlock/demonology/modules/talents/index.js
Labels: Warlock

#2734 [WW Monk] Fix typo in checklist causing crash
  src/parser/monk/windwalker/modules/features/checklist/Module.js
Labels: Monk, bug

#2717 [Destruction] Event listener update
  src/parser/warlock/destruction/modules/features/Backdraft.js
  src/parser/warlock/destruction/modules/features/Havoc.js
  src/parser/warlock/destruction/modules/features/RainOfFire.js
  src/parser/warlock/destruction/modules/talents/Cataclysm.js
  src/parser/warlock/destruction/modules/talents/ChannelDemonfire.js
  src/parser/warlock/destruction/modules/talents/Eradication.js
  src/parser/warlock/destruction/modules/talents/FireAndBrimstone.js
  src/parser/warlock/destruction/modules/talents/Flashover.js
  src/parser/warlock/destruction/modules/talents/InternalCombustion.js
  src/parser/warlock/destruction/modules/talents/RoaringBlaze.js
  src/parser/warlock/destruction/modules/talents/Shadowburn.js
Labels: Warlock

#2713 [Affliction] Event listener update
  src/parser/warlock/affliction/constants.js
  src/parser/warlock/affliction/modules/features/Abilities.js
  src/parser/warlock/affliction/modules/features/Darkglare.js
  src/parser/warlock/affliction/modules/features/DotUptimes/UnstableAfflictionUptime.js
  src/parser/warlock/affliction/modules/talents/AbsoluteCorruption.js
  src/parser/warlock/affliction/modules/talents/DrainSoul.js
  src/parser/warlock/affliction/modules/talents/Haunt.js
  src/parser/warlock/affliction/modules/talents/Nightfall.js
  src/parser/warlock/affliction/modules/talents/ShadowEmbrace.js
  src/parser/warlock/affliction/modules/talents/SoulConduit.js
  src/parser/warlock/affliction/modules/talents/VileTaint.js
  src/parser/warlock/shared/helpers.js
Labels: Warlock

#2739 [Affliction] Wracking Brilliance trait
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/common/SPELLS/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/azerite/WrackingBrilliance.js
Labels: Warlock

#2744 [Affliction] Dreadful Calling trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/core/calculateBonusAzeriteDamage.js
  src/parser/druid/feral/modules/azeritetraits/WildFleshrending.js
  src/parser/hunter/beastmastery/modules/spells/azeritetraits/FeedingFrenzy.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/azerite/DreadfulCalling.js
Labels: Azerite, Warlock

#2748 [Demonology] [Bug] Fixed Grimoire: Felguard cooldown
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/modules/features/Abilities.js
Labels: Warlock, bug

#2746 [Restoration Shaman] Update azerite to use event listeners
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/modules/azerite/BaseHealerAzerite.js
  src/parser/shaman/restoration/modules/azerite/EbbAndFlow.js
  src/parser/shaman/restoration/modules/azerite/OverflowingShores.js
  src/parser/shaman/restoration/modules/azerite/SoothingWaters.js
  src/parser/shaman/restoration/modules/azerite/SpoutingSpirits.js
  src/parser/shaman/restoration/modules/azerite/SurgingTides.js
  src/parser/shaman/restoration/modules/azerite/SwellingStream.js
Labels: Azerite, Shaman

#2755 [Frost Mage] Add Lonely Winter module
  src/parser/mage/frost/CHANGELOG.js
  src/parser/mage/frost/CombatLogParser.js
  src/parser/mage/frost/modules/talents/LonelyWinter.js
Labels: Mage

#2750 [Demonology] Supreme Commander trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/SupremeCommander.js
Labels: Azerite, Warlock

#2749 [Demonology] Demonic Meteor trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/DemonicMeteor.js
Labels: Azerite, Warlock

#2751 [Demonology] Explosive Potential trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/ExplosivePotential.js
Labels: Azerite, Warlock

#2747 [Affliction] Sudden Onset trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/azerite/SuddenOnset.js
Labels: Azerite, Warlock

#2738 [Affliction] Inevitable Demise trait
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/common/SPELLS/warlock.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/azerite/InevitableDemise.js
Labels: Azerite, Warlock

#2758 [Destruction] Added Accelerant trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/Accelerant.js
Labels: Azerite, Warlock

#2759 [Destruction] Added Flashpoint trait
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/Flashpoint.js
Labels: Azerite, Warlock

#2760 [Destruction] Added Bursting Flare trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/BurstingFlare.js
Labels: Azerite, Warlock

#2761 [Destruction] Rolling Havoc trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/RollingHavoc.js
Labels: Azerite, Warlock

#2754 [Demonology] Shadow's Bite and Forbidden Knowledge traits
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/core/calculateBonusAzeriteDamage.js
  src/parser/druid/feral/modules/azeritetraits/WildFleshrending.js
  src/parser/hunter/beastmastery/modules/spells/azeritetraits/FeedingFrenzy.js
  src/parser/warlock/affliction/modules/azerite/DreadfulCalling.js
  src/parser/warlock/affliction/modules/azerite/InevitableDemise.js
  src/parser/warlock/affliction/modules/azerite/SuddenOnset.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/DemonicMeteor.js
  src/parser/warlock/demonology/modules/azerite/ForbiddenKnowledge.js
  src/parser/warlock/demonology/modules/azerite/ShadowsBite.js
  src/parser/warlock/demonology/modules/azerite/ShadowsBiteForbiddenKnowledgeCore.js
Labels: Azerite, Warlock

#2785 [Guardian Druid] Use stack information from combat log for Ironfur
  src/parser/druid/guardian/modules/spells/IronFur.js
  src/parser/druid/guardian/modules/spells/IronFur.test.js
Labels: Druid

#2782 [Guardian Druid] Add cat form abilities to spellbook
  src/parser/druid/guardian/modules/Abilities.js
Labels: Druid, bug

#2741 [Frost Mage] Thermal Void rewrite
  src/parser/mage/frost/CHANGELOG.js
  src/parser/mage/frost/modules/checklist/Component.js
  src/parser/mage/frost/modules/checklist/Module.js
  src/parser/mage/frost/modules/features/ThermalVoid.js
Labels: Mage

#2727 [Demonology] Pet tracking refactor and cleanup
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/pets/CONSTANTS.js
  src/parser/warlock/demonology/modules/pets/DemoPets.js
  src/parser/warlock/demonology/modules/pets/DemoPets/DemonicTyrantHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/ImplosionHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/PetDamageHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/PetSummonHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/PowerSiphonHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/WildImpEnergyHandler.js
  src/parser/warlock/demonology/modules/pets/DemoPets/index.js
  src/parser/warlock/demonology/modules/pets/PETS.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/PetTimeline.js
  src/parser/warlock/demonology/modules/pets/helpers.js
  src/parser/warlock/demonology/modules/pets/normalizers/PrepullPetNormalizer.js
  src/parser/warlock/demonology/modules/talents/DemonicConsumption.js
  src/parser/warlock/demonology/modules/talents/InnerDemons.js
  src/parser/warlock/demonology/modules/talents/normalizers/PowerSiphonNormalizer.js
Labels: Warlock, help wanted
