Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-09, with the labels that each got.

#2119 [WW] Adding Iron Fists and Meridian Strikes Azerite Traits
  src/Parser/Core/Modules/StatTracker.js
  src/Parser/Monk/Windwalker/CHANGELOG.js
  src/Parser/Monk/Windwalker/CombatLogParser.js
  src/Parser/Monk/Windwalker/Constants.js
  src/Parser/Monk/Windwalker/Modules/Spells/AzeriteTraits/IronFists.js
  src/Parser/Monk/Windwalker/Modules/Spells/AzeriteTraits/MeridianStrikes.js
  src/common/SPELLS/BFA/AzeriteTraits/Monk.js
  src/common/SPELLS/MONK.js
Labels: Monk

#2123 [MW] Spell Cost and Suggestion Updates
  src/Parser/Monk/Mistweaver/CHANGELOG.js
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Modules/Features/Checklist.js
  src/Parser/Monk/Mistweaver/Modules/Talents/ChiJi.js
  src/Parser/Monk/Mistweaver/Modules/Talents/Lifecycles.js
  src/Parser/Monk/Mistweaver/Modules/Talents/ManaTea.js
  src/common/SPELLS/MONK.js
Labels: Monk

#2126 [MW] Spreadsheet Tab Updates for Azerite Traits
  src/Interface/Others/MonkSpreadsheet.js
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Constants.js
  src/Parser/Monk/Mistweaver/Modules/Spells/AzeriteTraits/FontOfLife.js
  src/Parser/Monk/Mistweaver/Modules/Spells/AzeriteTraits/InvigoratingBrew.js
  src/Parser/Monk/Mistweaver/Modules/Spells/AzeriteTraits/UpliftedSpirits.js
  src/common/SPELLS/BFA/AzeriteTraits/Monk.js
  src/common/SPELLS/MONK.js
Labels: Monk

#2151 [MW] Fix Bug in Mana Tea Module
  src/Parser/Monk/Mistweaver/Modules/Talents/ManaTea.js
  src/common/SPELLS/MONK.js
Labels: Monk

#2159 [Restoration Shaman] Flash Flood breakdown
  src/Parser/Shaman/Restoration/CHANGELOG.js
  src/Parser/Shaman/Restoration/Modules/Talents/FlashFlood.js
Labels: Shaman

#2157 [MW] Spreadsheet Tab Updates
  src/Interface/Others/MonkSpreadsheet.js
  src/Parser/Monk/Mistweaver/Modules/Spells/AzeriteTraits/UpliftedSpirits.js
Labels: Monk

#2165 [MW] Bug Fix for RJW and CB
  src/Parser/Monk/Mistweaver/Modules/Features/Checklist/Component.js
Labels: Monk

#2167 [Core]Footer Link Fix
  src/Interface/Layout/Footer/index.js
Labels: core

#2205 [Restoration Shaman] Added absorbed healing to modules
  src/Parser/Shaman/Restoration/Modules/Talents/Ascendance.js
  src/Parser/Shaman/Restoration/Modules/Talents/CloudburstTotem.js
  src/Parser/Shaman/Restoration/Modules/Talents/Downpour.js
  src/Parser/Shaman/Restoration/Modules/Talents/EarthShield.js
  src/Parser/Shaman/Restoration/Modules/Talents/HighTide.js
  src/Parser/Shaman/Restoration/Modules/Talents/NaturesGuardian.js
  src/Parser/Shaman/Restoration/Modules/Talents/UnleashLife.js
  src/Parser/Shaman/Restoration/Modules/Talents/Wellspring.js
Labels: Shaman

#2281 [Restoration Shaman] Modified talents to use the talent specific category
  src/Parser/Shaman/Restoration/CombatLogParser.js
  src/Parser/Shaman/Restoration/Modules/Talents/Downpour.js
  src/Parser/Shaman/Restoration/Modules/Talents/EarthShield.js
  src/Parser/Shaman/Restoration/Modules/Talents/EarthenWallTotem.js
  src/Parser/Shaman/Restoration/Modules/Talents/FlashFlood.js
  src/Parser/Shaman/Restoration/Modules/Talents/TalentStatisticBox.js
  src/Parser/Shaman/Restoration/Modules/Talents/UnleashLife.js
Labels: Shaman
