Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-12, with the labels that each got.

#2708 Integration Tests for BrM/Prot Pally
  scripts/test-tools/README.md
  scripts/test-tools/download-log.js
  src/parser/core/tests/CombatLogParserIntegrationTest.js
  src/parser/core/tests/log-tools.js
  src/parser/core/tests/snapshotTest.js
  src/parser/monk/brewmaster/CombatLogParser.test.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/core/BrewCDR.test.js
  src/parser/monk/brewmaster/modules/core/__snapshots__/BrewCDR.test.js.snap
  src/parser/paladin/protection/CombatLogParser.test.js
  src/parser/paladin/protection/__snapshots__/CombatLogParser.test.js.snap
  test-logs/brm-example.json.gz
  test-logs/prot-pally-example.json.gz
Labels: core

#2765 [Destruction] Crashing Chaos and Chaotic Inferno traits
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/common/SPELLS/warlock.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/ChaoticInferno.js
  src/parser/warlock/destruction/modules/azerite/CrashingChaos.js
  src/parser/warlock/destruction/modules/azerite/CrashingChaosChaoticInfernoCore.js
Labels: Azerite, Warlock

#2791 [Core] Issue 2783 - StatTracker update
  src/parser/deathknight/blood/modules/spells/azeritetraits/BonesOfTheDamned.js
  src/parser/deathknight/blood/modules/spells/azeritetraits/EternalRuneWeapon.js
  src/parser/hunter/beastmastery/modules/spells/azeritetraits/DanceOfDeath.js
  src/parser/hunter/beastmastery/modules/spells/azeritetraits/PrimalInstincts.js
  src/parser/hunter/survival/modules/spells/azeritetraits/BlurOfTalons.js
  src/parser/monk/brewmaster/modules/spells/azeritetraits/TrainingOfNiuzao.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/IronFists.js
  src/parser/paladin/retribution/modules/core/azeritetraits/DivineRight.js
  src/parser/paladin/retribution/modules/core/azeritetraits/RelentlessInquisitor.js
  src/parser/priest/shadow/modules/spells/azeritetraits/ChorusOfInsanity.js
  src/parser/shared/modules/StatTracker.js
  src/parser/shared/modules/spells/bfa/azeritetraits/ArchiveOfTheTitans.js
  src/parser/shared/modules/spells/bfa/azeritetraits/BlightborneInfusion.js
  src/parser/shared/modules/spells/bfa/azeritetraits/BloodRite.js
  src/parser/shared/modules/spells/bfa/azeritetraits/ElementalWhirl.js
  src/parser/shared/modules/spells/bfa/azeritetraits/Gemhide.js
  src/parser/shared/modules/spells/bfa/azeritetraits/MeticulousScheming.js
  src/parser/shared/modules/spells/bfa/azeritetraits/OverwhelmingPower.js
  src/parser/shared/modules/spells/bfa/azeritetraits/SwirlingSands.js
  src/parser/shared/modules/spells/bfa/azeritetraits/Tradewinds.js
  src/parser/shared/modules/spells/bfa/azeritetraits/UnstableCatalyst.js
  src/parser/warlock/affliction/modules/azerite/CascadingCalamity.js
  src/parser/warlock/affliction/modules/azerite/WrackingBrilliance.js
  src/parser/warlock/demonology/modules/azerite/ExplosivePotential.js
  src/parser/warlock/demonology/modules/azerite/SupremeCommander.js
  src/parser/warlock/destruction/modules/azerite/Accelerant.js
  src/parser/warlock/destruction/modules/azerite/BurstingFlare.js
  src/parser/warlock/destruction/modules/azerite/Flashpoint.js
  src/parser/warlock/destruction/modules/azerite/RollingHavoc.js
Labels: core

#2805 [Azerite] Add Crystalline Carapace azerite trait
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/spells/bfa/azeritetraits/CrystallineCarapace.js
Labels: Azerite

#2790 [Guardian Druid] Add Layered Mane azerite trait
  src/common/SPELLS/bfa/azeritetraits/druid.js
  src/parser/druid/guardian/CombatLogParser.js
  src/parser/druid/guardian/modules/azeritetraits/LayeredMane.js
Labels: Azerite, Druid

#2794 [Guardian Druid] Add Twisted Claws azerite trait
  src/common/SPELLS/bfa/azeritetraits/druid.js
  src/parser/druid/guardian/CombatLogParser.js
  src/parser/druid/guardian/modules/azeritetraits/TwistedClaws.js
Labels: Azerite, Druid

#2803 [Guardian Druid] Add Masterful Instincts azerite trait
  src/common/SPELLS/bfa/azeritetraits/druid.js
  src/parser/druid/guardian/CombatLogParser.js
  src/parser/druid/guardian/modules/azeritetraits/MasterfulInstincts.js
Labels: Azerite, Druid

#2796 Zip test logs
  package-lock.json
  package.json
  scripts/test-tools/README.md
  scripts/test-tools/download-log.js
  src/interface/others/StatisticBox.js
  src/parser/core/tests/integrationTest.js
  src/parser/core/tests/log-tools.js
  src/parser/core/tests/snapshotTest.js
  src/parser/monk/brewmaster/CombatLogParser.test.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/core/BrewCDR.test.js
  src/parser/monk/brewmaster/modules/core/__snapshots__/BrewCDR.test.js.snap
  src/parser/paladin/protection/CombatLogParser.test.js
  src/parser/paladin/protection/__snapshots__/CombatLogParser.test.js.snap
  test-logs/brm-example.zip
  test-logs/prot-pally-example.zip
Labels: core

#2820 [Core] [Bug] StatTracker fix
  src/CHANGELOG.js
  src/parser/shared/modules/StatTracker.js
Labels: bug, core

#2813 Fixes #2365: Move battle net API calls to use the new blizzard.com API's
  scripts/localization/extract-spells.js
  scripts/realms/README.md
  server/config/config.js
  server/controllers/api/index.js
  server/controllers/api/item.js
  server/controllers/api/spell.js
  server/helpers/retryingRequest.js
  server/helpers/wowCommunityApi.js
  server/migrations/20180602142104-item.js
  server/migrations/20180602142104-spell.js
  server/models/Item.js
  server/models/Spell.js
  src/CHANGELOG.js
  src/CONTRIBUTORS.js
  src/common/makeApiUrl.js
  src/game/RACES.js
  src/interface/character/Parses.js
  src/interface/others/DevelopmentTab.js
  src/interface/report/Results/EncounterStats.js
  src/parser/shared/modules/features/CharacterTab/Component/Azerite.js
Labels: server

#2826 [Warlock] Some 8.1 changes for Warlocks
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/modules/azerite/DreadfulCalling.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/modules/pets/DemoPets/DemonicTyrantHandler.js
  src/parser/warlock/demonology/modules/pets/PetTimelineTab/TabComponent/PetTimeline.js
  src/parser/warlock/demonology/modules/talents/DemonicConsumption.js
  src/parser/warlock/demonology/modules/talents/SacrificedSouls.js
Labels: Warlock

#2823 8.1 azerite update
  scripts/azerite/traits.json
  src/common/AZERITE_SCALING.generated.json
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/common/SPELLS/bfa/azeritetraits/hunter.js
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/common/SPELLS/bfa/azeritetraits/paladin.js
  src/common/SPELLS/bfa/azeritetraits/priest.js
  src/common/SPELLS/bfa/azeritetraits/rogue.js
  src/common/SPELLS/bfa/azeritetraits/shaman.js
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/common/SPELLS/mage.js
  src/common/TraitIdMap.js
  src/interface/others/MonkSpreadsheet.js
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/hunter/beastmastery/CHANGELOG.js
  src/parser/hunter/beastmastery/CombatLogParser.js
  src/parser/hunter/beastmastery/modules/spells/azeritetraits/PackAlpha.js
  src/parser/hunter/beastmastery/modules/talents/AnimalCompanion.js
  src/parser/mage/arcane/CHANGELOG.js
  src/parser/mage/arcane/modules/features/ArcaneMissiles.js
  src/parser/mage/frost/CHANGELOG.js
  src/parser/mage/frost/CombatLogParser.js
  src/parser/mage/frost/modules/checklist/Component.js
  src/parser/mage/frost/modules/checklist/Module.js
  src/parser/mage/frost/modules/features/BrainFreeze.js
  src/parser/mage/frost/modules/traits/WintersReach.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/spells/AzeriteTraits.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/InvigoratingBrew.js
  src/parser/monk/windwalker/CHANGELOG.js
  src/parser/monk/windwalker/CombatLogParser.js
  src/parser/monk/windwalker/modules/spells/TouchOfDeath.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/IronFists.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/MeridianStrikes.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/SwiftRoundhouse.js
  src/parser/paladin/retribution/CHANGELOG.js
  src/parser/paladin/retribution/CombatLogParser.js
  src/parser/paladin/retribution/modules/core/azeritetraits/DivineRight.js
  src/parser/priest/discipline/CombatLogParser.js
  src/parser/priest/discipline/SpellCalculations.js
  src/parser/priest/discipline/SpellCalculations.test.js
  src/parser/priest/discipline/modules/azeritetraits/GiftOfForgiveness.js
  src/parser/priest/discipline/modules/spells/Schism.js
  src/parser/priest/holy/CombatLogParser.js
  src/parser/priest/holy/modules/spells/azeritetraits/SacredFlame.js
  src/parser/rogue/assassination/CHANGELOG.js
  src/parser/rogue/assassination/CombatLogParser.js
  src/parser/rogue/shared/azeritetraits/SharpenedBlades.js
  src/parser/rogue/subtlety/CHANGELOG.js
  src/parser/rogue/subtlety/CombatLogParser.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/EbbAndFlow.js
  src/parser/shared/modules/spells/bfa/azeritetraits/Tradewinds.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/ForbiddenKnowledge.js
  src/parser/warlock/demonology/modules/azerite/ShadowsBiteForbiddenKnowledgeCore.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/Accelerant.js
Labels: Azerite, core

#2825 [Restoration Shaman] 8.1 Updates
  src/common/SPELLS/shaman.js
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/modules/Abilities.js
  src/parser/shaman/restoration/modules/core/HealingRainLocation.js
  src/parser/shaman/restoration/modules/spells/ChainHeal.js
  src/parser/shaman/restoration/modules/talents/HighTide.js
  src/parser/shaman/restoration/modules/talents/TalentStatisticBox.js
Labels: Shaman

#2854 [Demonology] Shadow's Bite cleanup
  src/parser/paladin/holy/__snapshots__/CombatLogParser.test.js.snap
  src/parser/shared/modules/Combatants.js
  src/parser/shared/modules/StatTracker.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/ShadowsBite.js
  src/parser/warlock/demonology/modules/azerite/ShadowsBiteForbiddenKnowledgeCore.js
Labels: Azerite, Warlock

#2865 [Warlock] Visual changes to damage values
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/modules/features/Darkglare.js
  src/parser/warlock/affliction/modules/features/DotUptimes/UnstableAfflictionUptime.js
  src/parser/warlock/affliction/modules/talents/AbsoluteCorruption.js
  src/parser/warlock/affliction/modules/talents/Deathbolt.js
  src/parser/warlock/affliction/modules/talents/DrainSoul.js
  src/parser/warlock/affliction/modules/talents/Haunt.js
  src/parser/warlock/affliction/modules/talents/PhantomSingularity.js
  src/parser/warlock/affliction/modules/talents/ShadowEmbrace.js
  src/parser/warlock/affliction/modules/talents/SoulConduit.js
  src/parser/warlock/affliction/modules/talents/VileTaint.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/modules/azerite/UmbralBlaze.js
  src/parser/warlock/demonology/modules/talents/BilescourgeBombers.js
  src/parser/warlock/demonology/modules/talents/DemonicConsumption.js
  src/parser/warlock/demonology/modules/talents/DemonicStrength.js
  src/parser/warlock/demonology/modules/talents/Doom.js
  src/parser/warlock/demonology/modules/talents/Dreadlash.js
  src/parser/warlock/demonology/modules/talents/FromTheShadows.js
  src/parser/warlock/demonology/modules/talents/GrimoireFelguard.js
  src/parser/warlock/demonology/modules/talents/InnerDemons.js
  src/parser/warlock/demonology/modules/talents/NetherPortal.js
  src/parser/warlock/demonology/modules/talents/SacrificedSouls.js
  src/parser/warlock/demonology/modules/talents/SoulStrike.js
  src/parser/warlock/demonology/modules/talents/SummonVilefiend.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/modules/features/Havoc.js
  src/parser/warlock/destruction/modules/talents/Cataclysm.js
  src/parser/warlock/destruction/modules/talents/ChannelDemonfire.js
  src/parser/warlock/destruction/modules/talents/Flashover.js
  src/parser/warlock/destruction/modules/talents/InternalCombustion.js
  src/parser/warlock/destruction/modules/talents/RoaringBlaze.js
  src/parser/warlock/destruction/modules/talents/Shadowburn.js
  src/parser/warlock/destruction/modules/talents/SoulFire.js
Labels: Warlock

#2850 [Feral Druid] Update RipSnapshot for 8.1
  src/parser/druid/feral/CHANGELOG.js
  src/parser/druid/feral/CONFIG.js
  src/parser/druid/feral/constants.js
  src/parser/druid/feral/modules/bleeds/RakeSnapshot.js
  src/parser/druid/feral/modules/bleeds/RipSnapshot.js
  src/parser/druid/feral/modules/bleeds/RipUptime.js
  src/parser/druid/feral/modules/core/Snapshot.js
  src/parser/druid/feral/modules/features/SpellUsable.js
  src/parser/druid/feral/modules/features/checklist/Component.js
  src/parser/druid/feral/modules/features/checklist/Module.js
  src/parser/druid/feral/modules/talents/MoonfireSnapshot.js
Labels: Druid

#2855 [Demonology] Added Baleful Invocation trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/common/SPELLS/warlock.js
  src/parser/warlock/demonology/CHANGELOG.js
  src/parser/warlock/demonology/CONFIG.js
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/modules/azerite/BalefulInvocation.js
Labels: Azerite, Warlock

#2856 [Destruction] Added Chaos Shards trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CONFIG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/modules/azerite/ChaosShards.js
  src/parser/warlock/destruction/modules/soulshards/SoulShardTracker.js
Labels: Azerite, Warlock

#2857 [Affliction] Added Pandemic Invocation trait
  src/common/SPELLS/bfa/azeritetraits/warlock.js
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/CONFIG.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/azerite/PandemicInvocation.js
Labels: Azerite, Warlock

#2876 [Warlock] ResourceTracker related bugfixes
  src/parser/deathknight/blood/modules/items/ShacklesofBryndaor.js
  src/parser/demonhunter/havoc/modules/items/AngerOfTheHalfGiants.js
  src/parser/druid/feral/modules/spells/TigersFuryEnergy.js
  src/parser/shared/modules/resourcetracker/ResourceSuggest.js
  src/parser/shared/modules/resourcetracker/ResourceTracker.js
  src/parser/warlock/affliction/modules/azerite/PandemicInvocation.js
  src/parser/warlock/affliction/modules/soulshards/SoulShardTracker.js
  src/parser/warlock/demonology/modules/azerite/BalefulInvocation.js
  src/parser/warlock/demonology/modules/soulshards/SoulShardTracker.js
  src/parser/warlock/destruction/modules/azerite/ChaosShards.js
  src/parser/warlock/destruction/modules/soulshards/SoulShardTracker.js
Labels: Warlock, bug

#2874 [Survival] Hydras bite, Tip of the Spear and Flanking Strike
  src/common/SPELLS/hunter.js
  src/game/BLOODLUST_BUFFS.js
  src/parser/hunter/beastmastery/modules/Abilities.js
  src/parser/hunter/beastmastery/modules/talents/AnimalCompanion.js
  src/parser/hunter/marksmanship/modules/Abilities.js
  src/parser/hunter/shared/modules/features/FocusUsage.js
  src/parser/hunter/survival/CHANGELOG.js
  src/parser/hunter/survival/CombatLogParser.js
  src/parser/hunter/survival/constants.js
  src/parser/hunter/survival/modules/Abilities.js
  src/parser/hunter/survival/modules/spells/azeritetraits/LatentPoison.js
  src/parser/hunter/survival/modules/spells/azeritetraits/WildernessSurvival.js
  src/parser/hunter/survival/modules/talents/BirdOfPrey.js
  src/parser/hunter/survival/modules/talents/FlankingStrike.js
  src/parser/hunter/survival/modules/talents/HydrasBite.js
  src/parser/hunter/survival/modules/talents/TipOfTheSpear.js
  src/parser/hunter/survival/modules/talents/VipersVenom.js
Labels: Hunter

#2872 [Affliction] Deathbolt talent update
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/__snapshots__/CombatLogParser.test.js.snap
  src/parser/warlock/affliction/constants.js
  src/parser/warlock/affliction/modules/features/Darkglare.js
  src/parser/warlock/affliction/modules/talents/Deathbolt.js
Labels: Warlock

#2879 [Windwalker] Glory of the Dawn Azerite trait
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/parser/monk/windwalker/CombatLogParser.js
  src/parser/monk/windwalker/modules/spells/TouchOfDeath.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/GloryOfTheDawn.js
Labels: Monk

#2832 [Fury Warrior] Update for 8.1
  server/helpers/wowCommunityApi.js
  src/CONTRIBUTORS.js
  src/common/SPELLS/bfa/azeritetraits/warrior.js
  src/parser/warrior/fury/CHANGELOG.js
  src/parser/warrior/fury/CONFIG.js
  src/parser/warrior/fury/CombatLogParser.js
  src/parser/warrior/fury/modules/Abilities.js
  src/parser/warrior/fury/modules/azerite/ColdSteelHotBlood.js
  src/parser/warrior/fury/modules/azerite/UnbridledFerocity.js
  src/parser/warrior/fury/modules/spells/RAMPAGE_COEFFICIENTS.js
Labels: Warrior

#2851 [Discipline Priest] Depth of the Shadows
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/priest.js
  src/common/SPELLS/priest.js
  src/parser/priest/discipline/CombatLogParser.js
  src/parser/priest/discipline/modules/azeritetraits/DepthOfTheShadows.js
  src/parser/priest/discipline/modules/items/Xalan.js
  src/parser/priest/discipline/modules/spells/Atonement.js
Labels: Priest

#2897 [Warrior] Missing Charge ability
  src/parser/core/CASTS_THAT_ARENT_CASTS.js
Labels: Warrior
