Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-05, with the labels that each got.

#1656 [BfA] [Core] Add in Uldir Boss Information
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Raids/Uldir/BloodElemental.js
  src/Raids/Uldir/FetidDevourer.js
  src/Raids/Uldir/Ghuun.js
  src/Raids/Uldir/Images/Backgrounds/Aggramar.jpg
  src/Raids/Uldir/Images/Headshots/Aggramar.png
  src/Raids/Uldir/Images/antorus.jpg
  src/Raids/Uldir/Mother.js
  src/Raids/Uldir/Mythrax.js
  src/Raids/Uldir/Taloc.js
  src/Raids/Uldir/Vectis.js
  src/Raids/Uldir/Zekvoz.js
  src/Raids/Uldir/Zul.js
  src/Raids/Uldir/index.js
  src/Raids/index.js
Labels: BFA, core

#1610 [Core] Charparsing
  package-lock.json
  package.json
  public/specs/DeathKnight-New.png
  public/specs/DemonHunter-New.png
  public/specs/Druid-New.png
  public/specs/Hunter-New.png
  public/specs/Mage-New.png
  public/specs/Monk-New.png
  public/specs/Paladin-New.png
  public/specs/Priest-New.png
  public/specs/Rogue-New.png
  public/specs/Shaman-New.png
  public/specs/Warlock-New.png
  public/specs/Warrior-New.png
  server/controllers/index.js
  src/CHANGELOG.js
  src/Main/App.css
  src/Main/App.js
  src/Main/Character/CharacterParses.css
  src/Main/Character/CharacterParses.js
  src/Main/Character/CharacterParsesList.js
  src/Main/Character/CharacterSelecter.js
  src/Main/Character/makeUrl.js
  src/Main/Header.css
  src/Main/Header.js
  src/Main/Report/index.js
  src/common/REALMS.js
  src/common/ZONES.js
  src/common/fetchWcl.js
  src/common/getRankingColor.js
  src/selectors/url/character/getCharName.js
  src/selectors/url/character/getCharRealm.js
  src/selectors/url/character/getCharRegion.js
  src/selectors/url/character/getMatch.js
  src/selectors/url/character/index.js
Labels: core

#1670 [Discipline][BFA Prepatch] Remove Legion Specific Discipline Analyzers
  src/Parser/Priest/Discipline/CHANGELOG.js
  src/Parser/Priest/Discipline/CombatLogParser.js
  src/Parser/Priest/Discipline/Constants.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Discipline/Modules/Core/Channeling.js
  src/Parser/Priest/Discipline/Modules/Core/SpellUsable.js
  src/Parser/Priest/Discipline/Modules/Features/AlwaysBeCasting.js
  src/Parser/Priest/Discipline/Modules/Features/AtonementApplicationSource.js
  src/Parser/Priest/Discipline/Modules/Features/LeniencesReward.js
  src/Parser/Priest/Discipline/Modules/Items/Skjoldr.js
  src/Parser/Priest/Discipline/Modules/Spells/Penance.js
  src/Parser/Priest/Discipline/Modules/Spells/Traits/BorrowedTime.js
  src/Parser/Priest/Discipline/Normalizers/PowerWordRadianceNormalizer.js
  src/common/SPELLS/PRIEST.js
Labels: BFA, Priest

#1647 [Core] Show buffs in the timeline tab
  src/CHANGELOG.js
  src/Main/Timeline/Events.js
  src/Main/Timeline/SpellTimeline.js
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Abilities.js
  src/Parser/Core/Modules/Ability.js
  src/Parser/Core/Modules/Items/Legion/Legendaries/VelensFutureSight.js
  src/Parser/Core/Modules/TimelineBuffEvents.js
  src/Parser/Shaman/Restoration/Modules/Abilities.js
Labels: core

#1685 [Discipline][BFA Prepatch] Mastery: Reverence
  src/Parser/Priest/Discipline/CombatLogParser.js
  src/Parser/Priest/Discipline/Modules/Spells/Reverence.js
  src/common/SPELLS/PRIEST.js
Labels: BFA, Priest
