Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-06, with the labels that each got.

#1759 [Core] Add healthstone/health pots to spellbook and death recap.
  src/CHANGELOG.js
  src/Main/DeathRecap.js
  src/Main/DeathRecapTracker.js
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Items/Healthstone.js
  src/Parser/Monk/Brewmaster/Modules/Features/Abilities.js
  src/common/DEFENSIVE_BUFFS.js
  src/common/SPELLS/OTHERS.js
Labels: core

#1768 [Death Knight] Fix runes generated/wasted from passive regn.
  src/Parser/DeathKnight/Shared/RuneTracker.js
Labels: Death Knight, bug

#1727 [Discipline][BFA Prepatch] Schism Talent
  src/Main/App.css
  src/Main/DualStatisticBox.js
  src/Parser/Priest/Discipline/CombatLogParser.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Discipline/Modules/Spells/Contrition.js
  src/Parser/Priest/Discipline/Modules/Spells/Contrition.test.js
  src/Parser/Priest/Discipline/Modules/Spells/Penance.js
  src/Parser/Priest/Discipline/Modules/Spells/Schism.js
  src/Parser/Priest/Discipline/SpellCalculations.js
  src/Parser/Priest/Discipline/SpellCalculations.test.js
  src/common/SPELLS/PRIEST.js
Labels: BFA, Priest

#1704 [BFA] [MW] Rising Mist Implementation
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Constants.js
  src/Parser/Monk/Mistweaver/Modules/Core/HotTracker.js
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Parser/Monk/Mistweaver/Modules/Features/AlwaysBeCasting.js
  src/Parser/Monk/Mistweaver/Modules/Features/Checklist.js
  src/Parser/Monk/Mistweaver/Modules/Items/OvydsWinterWrap.js
  src/Parser/Monk/Mistweaver/Modules/Normalizers/HotApplicationNormalizer.js
  src/Parser/Monk/Mistweaver/Modules/Normalizers/HotRemovalNormalizer.js
  src/Parser/Monk/Mistweaver/Modules/Spells/RenewingMist.js
  src/Parser/Monk/Mistweaver/Modules/Spells/ThunderFocusTea.js
  src/Parser/Monk/Mistweaver/Modules/Talents/RisingMist.js
  src/common/SPELLS/MONK.js
  src/common/SPELLS/TALENTS/MONK.js
Labels: BFA, Monk

#1778 [Balance][BFA] First update
  src/Parser/Druid/Balance/CombatLogParser.js
  src/Parser/Druid/Balance/Modules/Abilities.js
  src/Parser/Druid/Balance/Modules/Core/GlobalCooldown.js
  src/Parser/Druid/Balance/Modules/Core/Haste.js
  src/Parser/Druid/Balance/Modules/Core/isMoonMoon.js
  src/Parser/Druid/Balance/Modules/Features/Checklist.js
  src/Parser/Druid/Balance/Modules/Features/MoonSpells.js
  src/Parser/Druid/Balance/Modules/Features/StellarEmpowermentUptime.js
  src/Parser/Druid/Balance/Modules/Features/UnempoweredSolarWrath.js
  src/Parser/Druid/Balance/Modules/ResourceTracker/AstralPowerTracker.js
  src/Parser/Druid/Balance/Modules/Talents/L90Talents.js
  src/Parser/Druid/Balance/Modules/Talents/Starlord.js
  src/Parser/Druid/Balance/Modules/Talents/StellarDrift.js
  src/Parser/Druid/Balance/Modules/Talents/StellarDriftMissing.js
  src/Parser/Druid/Balance/Modules/Talents/StellarFlare.js
  src/common/SPELLS/DRUID.js
  src/common/SPELLS/TALENTS/DRUID.js
Labels: BFA, Druid

#1783 [BFA] MW Monk Vivify and Renewing Mist Changes
  src/Parser/Monk/Mistweaver/CHANGELOG.js
  src/Parser/Monk/Mistweaver/CONFIG.js
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Parser/Monk/Mistweaver/Modules/Features/StatValuesSpellInfo.js
  src/Parser/Monk/Mistweaver/Modules/Spells/UpliftingTrance.js
  src/Parser/Monk/Mistweaver/Modules/Spells/Vivify.js
  src/Parser/Monk/Mistweaver/Modules/Talents/RisingMist.js
Labels: BFA, Monk

#1816 [BFA][Guardian] Update Guardian for prepatch
  src/Parser/Druid/Guardian/CONFIG.js
  src/Parser/Druid/Guardian/Modules/Abilities.js
  src/common/SPELLS/DRUID.js
Labels: BFA, Druid

#1797 [Core] Improved cast efficiency
  src/Main/CastEfficiency.js
  src/Parser/Core/Modules/CastEfficiency.js
  src/Parser/Core/Modules/SpellHistory.js
  src/Parser/DeathKnight/Shared/RuneTracker.js
Labels: core

#1814 Elemental Shaman: Implemented Exposed Elements
  src/Parser/Shaman/Elemental/CombatLogParser.js
  src/Parser/Shaman/Elemental/Modules/Features/AlwaysBeCasting.js
  src/Parser/Shaman/Elemental/Modules/Talents/ExposedElements.js
  src/common/SPELLS/SHAMAN.js
Labels: BFA, Shaman

#1810 [BFA] [Fire Mage] More PrePatch Changes
  src/Parser/Mage/Fire/CombatLogParser.js
  src/Parser/Mage/Fire/Modules/Features/HotStreak.js
  src/Parser/Mage/Fire/Modules/Features/Pyroclasm.js
  src/Parser/Mage/Fire/Modules/Features/SearingTouch.js
  src/Parser/Mage/Fire/Normalizers/PyroclasmBuff.js
  src/common/SPELLS/MAGE.js
Labels: BFA, Mage

#1804 [Protection Warrior][Blood Death Knight][BfA] Dragon Roar/Consumption module, IP update
  src/Parser/Core/Modules/Features/AoESpellEfficiency.js
  src/Parser/DeathKnight/Blood/CombatLogParser.js
  src/Parser/DeathKnight/Blood/Modules/Abilities.js
  src/Parser/DeathKnight/Blood/Modules/Features/Checklist.js
  src/Parser/DeathKnight/Blood/Modules/Features/DancingRuneWeapon.js
  src/Parser/DeathKnight/Blood/Modules/Talents/Consumption.js
  src/Parser/Warrior/Protection/CombatLogParser.js
  src/Parser/Warrior/Protection/Modules/Abilities.js
  src/Parser/Warrior/Protection/Modules/Core/RageTracker.js
  src/Parser/Warrior/Protection/Modules/Features/Checklist.js
  src/Parser/Warrior/Protection/Modules/Talents/AngerManagement.js
  src/Parser/Warrior/Protection/Modules/Talents/DragonRoar.js
  src/common/SPELLS/DEATH_KNIGHT.js
  src/common/SPELLS/TALENTS/DEATH_KNIGHT.js
Labels: BFA, Death Knight, Warrior
