Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-08, with the labels that each got.

#2052 [Restoration] Small HPM fix
  src/Parser/Druid/Restoration/Modules/Features/StatWeights.js
  src/Parser/Druid/Restoration/SpellInfo.js
  src/Parser/Shaman/Restoration/Modules/Features/StatValues.js
Labels: Druid, Shaman

#2058 [Feral] Add Checklist
  src/Parser/Druid/Feral/CONFIG.js
  src/Parser/Druid/Feral/CombatLogParser.js
  src/Parser/Druid/Feral/Modules/Features/Checklist/Component.js
  src/Parser/Druid/Feral/Modules/Features/Checklist/Module.js
  src/Parser/Druid/Feral/Modules/Spells/FerociousBiteEnergy.js
  src/Parser/Druid/Feral/Modules/Spells/PredatorySwiftness.js
Labels: Druid

#2069 [Core] Spell Resource Cost
  src/Interface/Others/Cooldown.js
  src/Parser/Core/Modules/AbilityTracker.js
  src/Parser/Core/Modules/Items/Legion/DarkmoonDeckPromises.js
  src/Parser/Core/Modules/RegenResourceCapTracker.js
  src/Parser/Core/Modules/ResourceTracker/ResourceTracker.js
  src/Parser/Core/Modules/SpellManaCost.js
  src/Parser/Core/Modules/SpellResourceCost.js
  src/Parser/Druid/Feral/CombatLogParser.js
  src/Parser/Druid/Feral/Modules/Features/EnergyCapTracker.js
  src/Parser/Druid/Feral/Modules/Features/SpellEnergyCost.js
  src/Parser/Paladin/Holy/Modules/PaladinCore/SpellManaCost.js
  src/Parser/Priest/Discipline/Modules/Core/SpellManaCost.js
  src/Parser/Priest/Holy/Modules/Core/SpellManaCost.js
  src/Parser/Priest/Holy/Modules/Items/XanshiCloak.js
  src/Parser/Rogue/Assassination/CombatLogParser.js
  src/Parser/Rogue/Common/Resources/EnergyCapTracker.js
  src/Parser/Rogue/Common/Resources/EnergyTracker.js
  src/Parser/Rogue/Common/Resources/SpellEnergyCost.js
  src/Parser/Rogue/Outlaw/CombatLogParser.js
  src/Parser/Rogue/Subtlety/CombatLogParser.js
Labels: core

#2078 Azerite Scaling
  scripts/azerite/README.md
  scripts/azerite/extract.js
  scripts/azerite/traits.json
  src/common/AZERITE_SCALING.generated.json
  src/common/AZERITE_SCALING.md
  src/common/stats.js
  src/common/stats.test.js
Labels: BFA-release, core

#2103 [Balance Druid] Remove Legendaries & Tier bonuses and update empowerment module
  src/CONTRIBUTORS.js
  src/Parser/Druid/Balance/CHANGELOG.js
  src/Parser/Druid/Balance/CombatLogParser.js
  src/Parser/Druid/Balance/Modules/Core/Haste.js
  src/Parser/Druid/Balance/Modules/Features/Checklist.js
  src/Parser/Druid/Balance/Modules/Features/EarlyDotRefreshesInstants.js
  src/Parser/Druid/Balance/Modules/Features/Empowerment.js
  src/Parser/Druid/Balance/Modules/Features/LunarEmpowerment.js
  src/Parser/Druid/Balance/Modules/Features/SolarEmpowerment.js
  src/Parser/Druid/Balance/Modules/Items/ImpeccableFelEssence.js
  src/Parser/Druid/Balance/Modules/Items/LadyAndTheChild.js
  src/Parser/Druid/Balance/Modules/Items/OnethsIntuition.js
  src/Parser/Druid/Balance/Modules/Items/PromiseOfElune.js
  src/Parser/Druid/Balance/Modules/Items/RadiantMoonlight.js
  src/Parser/Druid/Balance/Modules/Items/TheEmeraldDreamcatcher.js
  src/Parser/Druid/Balance/Modules/Items/Tier20_2set.js
  src/Parser/Druid/Balance/Modules/Items/Tier20_4set.js
  src/Parser/Druid/Balance/Modules/Items/Tier21_2set.js
  src/Parser/Druid/Balance/Modules/Items/Tier21_4set.js
  src/Parser/Druid/Balance/Modules/Normalizers/EmpowermentNormalizer.js
  src/Parser/Druid/Balance/Modules/Normalizers/EmpowermentNormalizer.test.js
  src/Parser/Druid/Balance/Modules/Normalizers/LunarEmpowermentNormalizer.js
  src/Parser/Druid/Balance/Modules/Normalizers/SolarEmpowermentNormalizer.js
  src/Parser/Druid/Balance/Modules/ResourceTracker/AstralPowerTracker.js
  src/Parser/Druid/Balance/Modules/Talents/Starlord.js
  src/Parser/Druid/Guardian/Modules/Abilities.js
  src/common/ITEMS/DRUID.js
  src/common/SPELLS/DRUID.js
Labels: Druid
