Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-03, with the labels that each got.

#1465 [Death Knight] Fix Rapid Decomposition sometimes using wrong spell ID in logs for RP
  src/common/SPELLS/DEATH_KNIGHT.js
Labels: bug

#1477 [bug] Fixed _verifyAccuracy to use last event instead of current where needed
  src/Parser/Core/Modules/GlobalCooldown.js
  src/Parser/Druid/Balance/CONFIG.js
Labels: bug

#1486 [Druid] Bug fixing talents using wrong spell ID
  src/Parser/Druid/Balance/Modules/Features/Abilities.js
  src/Parser/Druid/Balance/Modules/Items/Tier20_4set.js
  src/Parser/Druid/Feral/Modules/Features/Abilities.js
  src/Parser/Druid/Feral/Modules/Features/AlwaysBeCasting.js
  src/Parser/Druid/Guardian/Modules/Abilities.js
  src/Parser/Druid/Restoration/Modules/Features/AlwaysBeCasting.js
  src/common/SPELLS/DRUID.js
Labels: Druid, bug

#1479 Protection Paladin: Add a bunch of missing abilities & fix some cooldowns & GCDs
  src/Parser/Paladin/Holy/Modules/Abilities.js
  src/Parser/Paladin/Holy/Modules/PaladinCore/FillerFlashOfLight.js
  src/Parser/Paladin/Protection/CHANGELOG.js
  src/Parser/Paladin/Protection/CONFIG.js
  src/Parser/Paladin/Protection/CombatLogParser.js
  src/Parser/Paladin/Protection/Modules/Abilities.js
  src/Parser/Paladin/Protection/Modules/Features/Abilities.js
  src/Parser/Paladin/Protection/Modules/Features/AlwaysBeCasting.js
  src/Parser/Paladin/Protection/Modules/Talents/RighteousProtector.js
  src/common/SPELLS/PALADIN.js
Labels: Paladin

#1489 Protection Paladin: handle blocked damage, handle Grand Crusader, LotP/HotP scale off Haste
  src/Main/Event.js
  src/Parser/Core/HIT_TYPES.js
  src/Parser/Core/Modules/DamageDone.js
  src/Parser/Core/Modules/DamageTaken.js
  src/Parser/Core/Modules/DamageValue.js
  src/Parser/Core/Modules/Features/BaseHealerStatValues.js
  src/Parser/Paladin/Protection/CHANGELOG.js
  src/Parser/Paladin/Protection/CONFIG.js
  src/Parser/Paladin/Protection/CombatLogParser.js
  src/Parser/Paladin/Protection/Modules/Abilities.js
  src/Parser/Paladin/Protection/Modules/Features/SpellUsable.js
  src/Parser/Paladin/Protection/Modules/Spells/Judgment.js
  src/common/SPELLS/PALADIN.js
Labels: Paladin

#1471 Show recently viewed reports on homepage
  package-lock.json
  package.json
  src/CHANGELOG.js
  src/Main/App.css
  src/Main/App.js
  src/Main/Home.js
  src/Main/PlayerSelecter.js
  src/Main/ReportHistory.js
  src/Main/ReportSelecter.js
  src/Main/makeAnalyzerUrl.js
  src/actions/report.js
  src/actions/reportHistory.js
  src/reducers/index.js
  src/reducers/reportHistory.js
  src/selectors/reportHistory.js
Labels: core

#1487 [core] Sort timeline to match abilities.js ordering
  src/Main/Timeline/SpellTimeline.js
  src/Parser/Core/Modules/Abilities.js
  src/Parser/Core/Modules/Ability.js
  src/Parser/Druid/Balance/Modules/Features/Abilities.js
Labels: core

#1492 [Balance Druid] Refactor Empowerments to use same base module.
  src/Parser/Druid/Balance/Modules/Features/Empowerment.js
  src/Parser/Druid/Balance/Modules/Features/L90_talents.js
  src/Parser/Druid/Balance/Modules/Features/LunarEmpowerment.js
  src/Parser/Druid/Balance/Modules/Features/SolarEmpowerment.js
Labels: Druid

#1488 [Balance Druid] Highlight bad LS & SW casts
  src/Parser/Druid/Balance/CHANGELOG.js
  src/Parser/Druid/Balance/CombatLogParser.js
  src/Parser/Druid/Balance/Modules/Features/UnempoweredLs.js
  src/Parser/Druid/Balance/Modules/Features/UnempoweredLunarStrike.js
  src/Parser/Druid/Balance/Modules/Features/UnempoweredSolarWrath.js
Labels: Druid

#1528 [Blood Death Knight] Order the timeline
  src/Parser/DeathKnight/Blood/Modules/Abilities.js
  src/Parser/Druid/Balance/Modules/Features/Abilities.js
Labels: Death Knight

#1526 [Discipline Priest] Fixed PW:S and PW:R cooldowns.
  src/Parser/DeathKnight/Blood/Modules/Talents/Bonestorm.js
  src/Parser/Druid/Restoration/Modules/Features/AlwaysBeCasting.js
  src/Parser/Priest/Discipline/CHANGELOG.js
  src/Parser/Priest/Discipline/CombatLogParser.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Discipline/Modules/Features/AlwaysBeCasting.js
  src/Parser/Priest/Discipline/Modules/Items/CordOfMaiev.js
  src/Parser/Priest/Discipline/Modules/Items/Tier21_2set.js
  src/Parser/Priest/Discipline/Modules/Spells/Rapture.js
Labels: Priest
