Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-02, with the labels that each got.

#1349 Improved activity indicator and forcefully timeout request after 15sec
  src/Main/ActivityIndicator.js
  src/Main/App.css
  src/Main/App.js
  src/Main/PlayerSelecter.js
  src/Main/PlayerSelectionList.js
  src/Main/PlayerSelectionList.test.js
  src/Main/Results/index.js
  src/actions/report.js
  src/common/fetchWcl.js
Labels: core

#1356 Removed stats from Combatant
  src/Parser/Core/Combatant.js
  src/Parser/Core/Modules/StatTracker.js
  src/Parser/Druid/Guardian/Modules/Spells/FrenziedRegeneration.js
  src/Parser/Hunter/Shared/Modules/Features/FocusChart/FocusTab.js
  src/Parser/Hunter/Shared/Modules/Features/FocusChart/FocusTracker.js
  src/Parser/Monk/Brewmaster/Modules/Core/BrewCDR.js
  src/Parser/Monk/Brewmaster/Modules/Items/AnvilHardenedWristwraps.js
  src/Parser/Monk/Brewmaster/Modules/Spells/IronSkinBrew.js
  src/Parser/Monk/Brewmaster/Modules/Spells/TigerPalm.js
  src/Parser/Paladin/Holy/Modules/Features/MasteryEffectiveness.js
  src/Parser/Paladin/Retribution/Modules/Items/Tier20_2set.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Holy/Modules/PriestCore/RenewTheFaith.js
  src/Parser/Priest/Shadow/Modules/Items/Tier21_4set.js
  src/Parser/Priest/Shadow/Modules/Spells/Voidform.js
  src/Parser/Shaman/Enhancement/CombatLogParser.js
  src/Parser/Shaman/Enhancement/Modules/ShamanCore/ShamanStats.js
  src/Parser/Shaman/Restoration/Modules/Features/MasteryEffectiveness.js
Labels: core

#1365 [Resto Shaman] Fix Resto Shaman Crash
  src/Parser/Shaman/Restoration/Modules/Features/MasteryEffectiveness.js
Labels: Shaman

#1363 Holy Paladin: Fix a bug where SS procs would not be included if they were within 300ms (likely due to latency issues)
  src/Parser/Paladin/Holy/CHANGELOG.js
  src/Parser/Paladin/Holy/CombatLogParser.js
  src/Parser/Paladin/Holy/CombatLogParser.test.js
  src/Parser/Paladin/Holy/Modules/Items/Tier20_4set.js
  src/Parser/Paladin/Holy/Modules/PaladinCore/BeaconHealOriginMatcher.js
  src/Parser/Paladin/Holy/Modules/PaladinCore/LightOfDawn.js
  src/Parser/Paladin/Holy/Modules/PaladinCore/LightOfDawnIndexer.js
  src/Parser/Paladin/Holy/Modules/Traits/SecondSunrise.js
  src/Parser/Paladin/Holy/Normalizers/LightOfDawn.js
  src/Parser/Paladin/Holy/Normalizers/LightOfDawn.test.js
Labels: Paladin, bug

#1418 Added a link to Wipefest
  src/Main/App.css
  src/Main/Images/WarcraftLogs-logo.png
  src/Main/Images/Wipefest-logo.png
  src/Main/Results/index.js
Labels: core
