Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-10, with the labels that each got.

#2334 [MW] JSS Implemented for Spreadsheet
  src/common/SPELLS/monk.js
  src/interface/others/MonkSpreadsheet.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/features/Abilities.js
  src/parser/monk/mistweaver/modules/features/CooldownThroughputTracker.js
  src/parser/monk/mistweaver/modules/talents/JadeSerpentStatue.js
Labels: Monk

#2401 [Balance Druid] Update Checklist & Bug fixes
  src/parser/core/modules/others/DistanceMoved.js
  src/parser/druid/balance/CONFIG.js
  src/parser/druid/balance/CombatLogParser.js
  src/parser/druid/balance/modules/Abilities.js
  src/parser/druid/balance/modules/features/Checklist/Component.js
  src/parser/druid/balance/modules/features/Checklist/Module.js
  src/parser/druid/balance/modules/features/EarlyDotRefreshes.js
  src/parser/druid/balance/modules/features/EarlyDotRefreshesInstants.js
  src/parser/druid/balance/modules/features/Empowerment.js
  src/parser/druid/balance/modules/features/UnempoweredLunarStrike.js
Labels: Druid

#2432 [Shaman] Spirit Wolf Talent
  src/parser/shaman/elemental/CombatLogParser.js
  src/parser/shaman/enhancement/CombatLogParser.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/shared/talents/SpiritWolf.js
Labels: Shaman

#2419 [Restoration Shaman] Spreadsheet export
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/core/Spreadsheet.js
  src/parser/shaman/restoration/modules/features/MasteryEffectiveness.js
Labels: Shaman

#2440 [Prot Pal] Fixed bug in SotR module
  src/parser/paladin/protection/modules/features/ShieldOfTheRighteous.js
Labels: Paladin, bug

#2431 [Restoration Shaman] Wellspring efficiency
  src/common/SPELLS/shaman.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/features/checklist/Component.js
  src/parser/shaman/restoration/modules/features/checklist/Module.js
  src/parser/shaman/restoration/modules/talents/AncestralVigor.js
  src/parser/shaman/restoration/modules/talents/Wellspring.js
Labels: Shaman

#2445 [Affliction] Talents, part 2
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/modules/talents/GrimoireOfSacrifice.js
  src/parser/warlock/affliction/modules/talents/ShadowEmbrace.js
  src/parser/warlock/affliction/modules/talents/VileTaint.js
  src/parser/warlock/affliction/modules/talents/index.js
  src/parser/warlock/affliction/modules/talents/normalizers/GrimoireOfSacrificeNormalizer.js
Labels: Warlock

#2451 [Restoration Shaman] Fix Chain Heal ordering
  src/parser/shaman/restoration/modules/talents/HighTide.js
Labels: Shaman

#2454 [MW] Mana Tea and Lifecycles Suggestion Updates
  src/parser/monk/brewmaster/modules/features/checklist/Component.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/features/EvmVivCastRatio.js
  src/parser/monk/mistweaver/modules/talents/Lifecycles.js
  src/parser/monk/mistweaver/modules/talents/ManaTea.js
Labels: Monk

#2473 [Discipline] Whitelist atonement damage sources
  src/parser/priest/discipline/CHANGELOG.js
  src/parser/priest/discipline/constants.js
  src/parser/priest/discipline/modules/features/AtonementDamageSource.js
  src/parser/priest/discipline/normalizers/AtonementSuccessiveDamage.js
  src/parser/priest/discipline/test-fixtures/TestingEvents.js
Labels: Priest

#2478 [BrM] fixed BoB checklist item description
  src/parser/monk/brewmaster/modules/features/checklist/Component.js
Labels: Monk, bug

#2441 [Restoration Shaman] Healing Rain tick bug fix & misc changes
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/shaman.js
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/constants.js
  src/parser/shaman/restoration/modules/Abilities.js
  src/parser/shaman/restoration/modules/core/HealingRainLocation.js
  src/parser/shaman/restoration/modules/features/CastBehavior.js
  src/parser/shaman/restoration/modules/features/MasteryEffectiveness.js
  src/parser/shaman/restoration/modules/features/StatValuesSpellInfo.js
  src/parser/shaman/restoration/modules/spells/ChainHeal.js
  src/parser/shaman/restoration/modules/spells/HealingRain.js
  src/parser/shaman/restoration/modules/spells/HealingRain.test.js
  src/parser/shaman/restoration/modules/spells/HealingWave.js
  src/parser/shaman/restoration/modules/spells/Resurgence.js
  src/parser/shaman/restoration/modules/talents/UnleashLife.js
  src/parser/shared/modules/features/SpellInfo.js
Labels: Shaman

#2488 [BrM] Checklist updates, now featuring Anti-Fetid Log Meme technology
  src/parser/monk/brewmaster/modules/Abilities.js
  src/parser/monk/brewmaster/modules/features/checklist/Component.js
Labels: Monk

#2491 [Core] Blightborne Infusion
  src/CHANGELOG.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/StatTracker.js
  src/parser/shared/modules/spells/bfa/azeritetraits/BlightborneInfusion.js
Labels: Azerite

#2495 Unify ExpandableStatisticBox with StatisticBox
  src/interface/others/ExpandableStatisticBox.js
  src/interface/others/LazyLoadStatisticBox.js
  src/interface/others/StatisticBox.js
  src/parser/deathknight/blood/modules/features/BoneShield.js
  src/parser/deathknight/blood/modules/talents/FoulBulwark.js
  src/parser/deathknight/blood/modules/talents/Tombstone.js
  src/parser/deathknight/shared/RuneTracker.js
  src/parser/demonhunter/vengeance/modules/statistics/SoulFragmentsConsume.js
  src/parser/demonhunter/vengeance/modules/talents/SpiritBombSoulsConsume.js
  src/parser/druid/balance/modules/talents/Starlord.js
  src/parser/druid/restoration/modules/talents/Flourish.js
  src/parser/hunter/beastmastery/modules/spells/BarbedShot.js
  src/parser/hunter/survival/modules/spells/azeritetraits/BlurOfTalons.js
  src/parser/hunter/survival/modules/talents/MongooseBite.js
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/modules/core/MasteryValue.js
  src/parser/monk/windwalker/modules/spells/ComboStrikes.js
  src/parser/paladin/protection/modules/core/GrandCrusader.js
  src/parser/priest/discipline/modules/spells/Evangelism.js
  src/parser/priest/holy/modules/core/EchoOfLight_Mastery.js
  src/parser/priest/holy/modules/core/HolyWordsReductionBySpell.js
  src/parser/priest/shadow/modules/spells/VoidformAverageStacks.js
  src/parser/priest/shared/modules/features/DesperatePrayer.js
  src/parser/shaman/elemental/modules/talents/UnlimitedPower.js
  src/parser/shaman/restoration/modules/spells/Resurgence.js
  src/parser/shaman/restoration/modules/talents/Wellspring.js
  src/parser/shared/modules/MitigationCheck.js
  src/parser/shared/modules/items/bfa/crafted/DarkmoonDeckBlockades.js
  src/parser/shared/modules/items/bfa/enchants/Navigation.js
  src/parser/warrior/fury/modules/talents/FuriousSlashUptime.js
  src/parser/warrior/protection/modules/talents/IntoTheFray.js
Labels: core

#2492 [Core] Archive of the Titans
  src/CHANGELOG.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/StatTracker.js
  src/parser/shared/modules/spells/bfa/azeritetraits/ArchiveOfTheTitans.js
Labels: Azerite

#2490 [Restoration Shaman] Ebb and Flow & Soothing Waters
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/shaman.js
  src/common/SPELLS/shaman.js
  src/interface/others/RestorationShamanSpreadsheet.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/EbbAndFlow.js
  src/parser/shaman/restoration/modules/azerite/SoothingWaters.js
  src/parser/shaman/restoration/modules/azerite/SwellingStream.js
  src/parser/shaman/restoration/modules/core/Spreadsheet.js
Labels: Azerite, Shaman

#2522 [BrM] Changed Purifying Brew cast checklist
  src/parser/monk/brewmaster/CombatLogParser.js
  src/parser/monk/brewmaster/modules/core/BrewCDR.js
  src/parser/monk/brewmaster/modules/features/checklist/Component.js
  src/parser/monk/brewmaster/modules/features/checklist/Module.js
  src/parser/monk/brewmaster/modules/items/AnvilHardenedWristwraps.js
  src/parser/monk/brewmaster/modules/items/SalsalabimsLostTunic.js
  src/parser/monk/brewmaster/modules/items/StormstoutsLastGasp.js
  src/parser/monk/brewmaster/modules/spells/PurifyingBrew.js
  src/parser/shared/modules/features/Checklist2/Rule.js
  src/parser/shared/modules/features/Checklist2/helpers/harmonic.js
Labels: Monk

#2525 [Prot] removed arcane torrent suggestion
  src/parser/paladin/protection/CombatLogParser.js
  src/parser/shared/modules/racials/bloodelf/ArcaneTorrent.js
Labels: Paladin

#2543 [Mage] Fix some capitalization and add missing ability buffids
  src/common/SPELLS/mage.js
  src/parser/mage/arcane/modules/features/Abilities.js
  src/parser/mage/fire/modules/features/Abilities.js
  src/parser/mage/frost/modules/checklist/Component.js
  src/parser/mage/frost/modules/features/Abilities.js
Labels: Mage

#2524 [Prot] Shield of the Righteous CDR stat
  src/parser/paladin/protection/CHANGELOG.js
  src/parser/paladin/protection/modules/features/SpellUsable.js
  src/parser/paladin/protection/modules/spells/Judgment.js
  src/parser/paladin/protection/modules/talents/RighteousProtector.js
Labels: Paladin

#2554 [Prot Paladin] fixed consecration suggestion text
  src/parser/paladin/protection/modules/spells/Consecration.js
Labels: Paladin, bug

#2551 [Frost Mage] Glacial Spike module rewrite
  src/parser/mage/frost/constants.js
  src/parser/mage/frost/modules/features/GlacialSpike.js
  src/parser/mage/frost/modules/features/IceLance.js
  src/parser/mage/frost/modules/traits/Whiteout.js
Labels: Mage

#2550 [Restoration Shaman] Unleash Life
  src/parser/shaman/restoration/modules/talents/UnleashLife.js
Labels: Shaman
