Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2018-07, with the labels that each got.

#1847 [BFA][Core] Azerite scaling
  scripts/azerite/extract.js
  scripts/azerite/traits.json
  src/common/AZERITE_SCALING.generated.json
  src/common/stats.js
  src/common/stats.test.js
Labels: BFA, core

#1852 [BfA][Mistweaver] Trait and Artifact Clean up
  src/Parser/Monk/Mistweaver/CHANGELOG.js
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Constants.js
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Parser/Monk/Mistweaver/Modules/Features/Checklist.js
  src/Parser/Monk/Mistweaver/Modules/Features/StatValuesSpellInfo.js
  src/Parser/Monk/Mistweaver/Modules/Spells/SheilunsGift.js
  src/Parser/Monk/Mistweaver/Modules/Traits/CelestialBreath.js
  src/Parser/Monk/Mistweaver/Modules/Traits/CoalescingMists.js
  src/Parser/Monk/Mistweaver/Modules/Traits/EssenceOfTheMist.js
  src/Parser/Monk/Mistweaver/Modules/Traits/ExtendedHealing.js
  src/Parser/Monk/Mistweaver/Modules/Traits/InfusionOfLife.js
  src/Parser/Monk/Mistweaver/Modules/Traits/MistsOfSheilun.js
  src/Parser/Monk/Mistweaver/Modules/Traits/ProtectionOfShaohao.js
  src/Parser/Monk/Mistweaver/Modules/Traits/RelicTraits.js
  src/Parser/Monk/Mistweaver/Modules/Traits/SoothingRemedies.js
  src/Parser/Monk/Mistweaver/Modules/Traits/WayOfTheMistweaver.js
  src/Parser/Monk/Mistweaver/Modules/Traits/WhispersOfShaohao.js
Labels: BFA, Monk

#1879 [BFA] Trinket: Darkmoon Deck: Tides
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Features/SpellInfo.js
  src/Parser/Core/Modules/Items/BFA/Crafted/DarkmoonDeckTides.js
  src/Parser/Shaman/Restoration/Constants.js
  src/common/ITEMS/BFA/Crafted/index.js
  src/common/SPELLS/BFA/Crafted/ITEMS.js
  src/common/SPELLS/BFA/Crafted/index.js
  src/common/SPELLS/BFA/index.js
Labels: BFA

#1880 [BFA] Trinket: Atal'Dazar: Revitalizing Voodoo Totem; Updated Loa Figurine trinket
  src/CHANGELOG.js
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Features/SpellInfo.js
  src/Parser/Core/Modules/Items/BFA/Dungeons/RevitalizingVoodooTotem.js
  src/Parser/Core/Modules/Items/BFA/GildedLoaFigurine.js
  src/Parser/Core/Modules/Items/BFA/ZandalariLoaFigurine.js
  src/Parser/Core/Modules/StatTracker.js
  src/Parser/Shaman/Restoration/Constants.js
  src/common/ITEMS/BFA/Dungeons/index.js
  src/common/SPELLS/BFA/Dungeons/ITEMS.js
Labels: BFA

#1892 [BFA][Restoration Shaman] Nature's Guardian
  src/Parser/Shaman/Restoration/CHANGELOG.js
  src/Parser/Shaman/Restoration/CombatLogParser.js
  src/Parser/Shaman/Restoration/Modules/Abilities.js
  src/Parser/Shaman/Restoration/Modules/Talents/NaturesGuardian.js
  src/Parser/Shaman/Restoration/Modules/Talents/TalentStatisticBox.js
Labels: BFA-release

#1878 [BFA] Gemhide Trait
  src/CHANGELOG.js
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Spells/BFA/AzeriteTraits/Gemhide.js
  src/Parser/Core/Modules/StatTracker.js
  src/common/AZERITE_SCALING.generated.json
  src/common/SPELLS/BFA/AzeriteTraits/General.js
Labels: BFA-release

#1917 Penance Bugfix
  src/Parser/Core/EventGrouper.js
  src/Parser/Core/EventGrouper.test.js
  src/Parser/Priest/Discipline/CHANGELOG.js
  src/Parser/Priest/Discipline/CONFIG.js
  src/Parser/Priest/Discipline/Modules/Spells/Penance.js
Labels: Priest

#1913 Trinket: Uldir: Twitching Tentacle of Xalzaix
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Items/BFA/Raids/Uldir/TwitchingTentacleofXalzaix.js
  src/Parser/Core/Modules/StatTracker.js
  src/common/ITEMS/BFA/Raids/Uldir/index.js
  src/common/SPELLS/BFA/Raids/Uldir/ITEMS.js
Labels: BFA-release

#1906 Trinket: Shrine of the Storm: Conch of Dark Whispers
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Items/BFA/Dungeons/ConchofDarkWhispers.js
  src/Parser/Core/Modules/StatTracker.js
  src/common/ITEMS/BFA/Dungeons/index.js
  src/common/SPELLS/BFA/Dungeons/ITEMS.js
Labels: BFA-release

#1932 BfA Pre-Patch MW Monk Updates
  src/Main/MonkSpreadsheet.js
  src/Parser/Monk/Mistweaver/CHANGELOG.js
  src/Parser/Monk/Mistweaver/CombatLogParser.js
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Parser/Monk/Mistweaver/Modules/Features/Checklist.js
  src/Parser/Monk/Mistweaver/Modules/Features/StatValuesSpellInfo.js
  src/Parser/Monk/Mistweaver/Modules/Spells/ThunderFocusTea.js
  src/Parser/Monk/Mistweaver/Modules/Spells/UpliftingTrance.js
  src/common/SPELLS/MONK.js
Labels: Monk

#1938 [BfA] More MW Pre-Patch Updates
  src/Parser/Monk/Mistweaver/CHANGELOG.js
  src/Parser/Monk/Mistweaver/Constants.js
  src/Parser/Monk/Mistweaver/Modules/Core/HotTracker.js
  src/Parser/Monk/Mistweaver/Modules/Features/Abilities.js
  src/Parser/Monk/Mistweaver/Modules/Features/AlwaysBeCasting.js
  src/Parser/Monk/Mistweaver/Modules/Features/StatValuesSpellInfo.js
  src/Parser/Monk/Mistweaver/Modules/Items/T20_2set.js
  src/Parser/Monk/Mistweaver/Modules/Spells/EnvelopingMists.js
  src/Parser/Monk/Mistweaver/Modules/Spells/ThunderFocusTea.js
  src/Parser/Monk/Mistweaver/Modules/Talents/Lifecycles.js
  src/Parser/Monk/Mistweaver/Modules/Talents/ManaTea.js
  src/Parser/Monk/Mistweaver/Modules/Talents/RisingMist.js
  src/common/SPELLS/MONK.js
  src/common/SPELLS/TALENTS/MONK.js
Labels: Monk

#1896 Discipline Priest Checklist
  src/Parser/Core/Modules/Features/Checklist2/Rule.js
  src/Parser/Priest/Discipline/CombatLogParser.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Discipline/Modules/Features/Checklist/Component.js
  src/Parser/Priest/Discipline/Modules/Features/Checklist/Module.js
Labels: Priest

#1996 [Discipline Priest] Penance Cast Event
  package-lock.json
  src/Parser/Priest/Discipline/CHANGELOG.js
  src/Parser/Priest/Discipline/Modules/Abilities.js
  src/Parser/Priest/Discipline/Modules/Features/Checklist/Component.js
  src/Parser/Priest/Discipline/Modules/Spells/Penance.js
  src/common/SPELLS/PRIEST.js
Labels: Priest

#1986 Add Potions to abilities and split Healthstones/Health pots
  src/CHANGELOG.js
  src/Parser/Core/CombatLogParser.js
  src/Parser/Core/Modules/Abilities.js
  src/Parser/Core/Modules/Items/CombatPotion.js
  src/Parser/Core/Modules/Items/HealthPotion.js
  src/Parser/Core/Modules/Items/Healthstone.js
  src/Parser/Core/Modules/Items/Potion.js
  src/Parser/Druid/Balance/Modules/Abilities.js
  src/Parser/Warrior/Fury/Modules/Talents/FuriousSlashTimesByStacks.js
Labels: core
