Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-12, with the labels that each got.

#3388 [Restoration Shaman] Turn of the Tide Azerite Trait
  src/common/SPELLS/bfa/azeritetraits/shaman.js
  src/common/SPELLS/shaman.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/azerite/TurnOfTheTide.js
Labels: Azerite, Shaman

#3421 [MW] Way of the Crane / Lucid Dream - Stat Weight Fix
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/modules/features/StatValuesSpellInfo.js
Labels: Monk

#3425 [Resto Shaman] EWT prepull bug fix
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/modules/talents/EarthenWallTotem.js
Labels: Shaman, bug
