Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-01, with the labels that each got.

#2885 [Fire Mage] Combustion Updates
  src/parser/mage/fire/modules/features/CombustionCharges.js
  src/parser/mage/fire/modules/features/CombustionFirestarter.js
  src/parser/mage/fire/modules/features/CombustionPyroclasm.js
  src/parser/mage/fire/modules/traits/BlasterMaster.js
Labels: Mage

#2893 [Prot Paladin] Add Avenger's Valor tracking to SotR modules
  src/common/SPELLS/paladin.js
  src/parser/paladin/protection/CHANGELOG.js
  src/parser/paladin/protection/__snapshots__/CombatLogParser.test.js.snap
  src/parser/paladin/protection/modules/features/ShieldOfTheRighteous.js
Labels: Paladin

#2900 Mark Prot Paladin Supported
  src/parser/monk/brewmaster/CONFIG.js
  src/parser/paladin/protection/CONFIG.js
Labels: Paladin

#2887 [Sub Rogue] 8.1 updates
  src/common/SPELLS/bfa/azeritetraits/rogue.js
  src/parser/rogue/assassination/normalizers/GarroteOpenerNormalizer.js
  src/parser/rogue/shared/casttracker/StealthDamageTracker.js
  src/parser/rogue/subtlety/CHANGELOG.js
  src/parser/rogue/subtlety/CONFIG.js
  src/parser/rogue/subtlety/CombatLogParser.js
  src/parser/rogue/subtlety/modules/azerite/Perforate.js
  src/parser/rogue/subtlety/modules/core/CastsInShadowDance.js
  src/parser/rogue/subtlety/modules/core/NightbladeDuringSymbols.js
  src/parser/rogue/subtlety/modules/core/NightbladeUptime.js
  src/parser/rogue/subtlety/modules/features/ShadowBladesUptime.js
  src/parser/rogue/subtlety/modules/features/SymbolsOfDeathUptime.js
  src/parser/rogue/subtlety/modules/features/checklist/Component.js
  src/parser/rogue/subtlety/modules/talents/DarkShadow/DarkShadowContribution.js
  src/parser/rogue/subtlety/modules/talents/DarkShadow/DarkShadowSpecterOfBetrayal.js
  src/parser/rogue/subtlety/modules/talents/FindWeakness.js
Labels: Rogue

#2907 DH Demonspike and other small updates
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/items/AngerOfTheHalfGiants.js
  src/parser/demonhunter/havoc/modules/items/DelusionsOfGrandeur.js
  src/parser/demonhunter/havoc/modules/items/MoargBionicStabilizers.js
  src/parser/demonhunter/havoc/modules/items/RaddonsCascadingEyes.js
  src/parser/demonhunter/vengeance/modules/Abilities.js
  src/parser/demonhunter/vengeance/modules/features/Checklist/Component.js
  src/parser/demonhunter/vengeance/modules/features/Checklist/Module.js
  src/parser/demonhunter/vengeance/modules/spells/DemonSpikes.js
Labels: Demon Hunter

#2886 [Fire Mage] Talent Updates
  src/parser/mage/fire/__snapshots__/CombatLogParser.test.js.snap
  src/parser/mage/fire/modules/features/Kindling.js
  src/parser/mage/fire/modules/features/Pyroclasm.js
  src/parser/mage/fire/modules/features/SearingTouch.js
Labels: Mage

#2904 [Windwalker] Add Fury of Xuen azerite module
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/parser/monk/windwalker/CHANGELOG.js
  src/parser/monk/windwalker/CONFIG.js
  src/parser/monk/windwalker/CombatLogParser.js
  src/parser/monk/windwalker/modules/Abilities.js
  src/parser/monk/windwalker/modules/core/GlobalCooldown.js
  src/parser/monk/windwalker/modules/spells/TouchOfKarma.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/FuryOfXuen.js
Labels: Monk

#2898 [BrM] Added "Straight, No Chaser" trait
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/CombatLogParser.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/core/BrewCDR.js
  src/parser/monk/brewmaster/modules/core/SpellUsable.js
  src/parser/monk/brewmaster/modules/spells/azeritetraits/StraightNoChaser.js
Labels: Monk

#2919 [#1668] Updated PatchChecker to provide a link to older versions of the site as we handle them
  src/common/PATCHES.js
  src/interface/report/PatchChecker.js
Labels: core

#2926 [NEXT] Rewriting Donut charts to react-vis
  package-lock.json
  src/interface/statistics/components/DonutChart/index.js
  src/interface/statistics/components/DonutChart/style.scss
  src/parser/druid/feral/modules/talents/Bloodtalons.js
  src/parser/hunter/shared/modules/features/FocusUsage.js
  src/parser/monk/mistweaver/modules/features/MasteryStats.js
  src/parser/monk/mistweaver/modules/spells/ThunderFocusTea.js
  src/parser/shaman/restoration/modules/features/CastBehavior.js
  src/parser/shaman/restoration/modules/talents/FlashFlood.js
  src/parser/shaman/restoration/modules/talents/UnleashLife.js
Labels: 3.0

#2920 [Warlock] Probability playground
  src/parser/warlock/affliction/modules/talents/SoulConduit.js
  src/parser/warlock/demonology/modules/azerite/DemonicMeteor.js
  src/parser/warlock/demonology/modules/talents/SoulConduit.js
  src/parser/warlock/destruction/modules/talents/SoulConduit.js
  src/parser/warlock/shared/probability.js
Labels: Warlock

#2923 [#2706] Phase Support
  src/common/FIGHT_DIFFICULTIES.js
  src/common/fabricateBossPhaseEvents.js
  src/common/makeWclBossPhaseFilter.js
  src/interface/report/EventParser.js
  src/parser/core/CombatLogParser.js
  src/parser/core/Events.js
  src/parser/shared/normalizers/PhaseChanges.js
  src/raids/uldir/Ghuun.js
  src/raids/uldir/Mythrax.js
  src/raids/uldir/Taloc.js
  src/raids/uldir/Vectis.js
  src/raids/uldir/Zekvoz.js
  src/raids/uldir/Zul.js
Labels: core

#2934 [Prot Pal] fixed issue with lotp/hotp cast before getting hit
  src/parser/paladin/protection/modules/spells/LightOfTheProtector.js
Labels: Paladin, bug

#2924 [NEXT] Styling idea for the scrollbar on the timeline
  src/interface/report/Results/Timeline/Timeline.scss
Labels: 3.0, core

#2890 [Next] Updated Player Select
  src/common/enchantIdMap.js
  src/interface/playerSelection/PlayerInfo.js
  src/interface/playerSelection/PlayerSelection.scss
  src/interface/playerSelection/PlayerTile.js
  src/interface/playerSelection/index.js
  src/interface/playerSelection/playerInfo/Azerite.js
  src/interface/playerSelection/playerInfo/Enchants.js
  src/interface/playerSelection/playerInfo/Gear.js
  src/interface/playerSelection/playerInfo/Gems.js
  src/interface/playerSelection/playerInfo/PlayerGearHeader.js
  src/interface/playerSelection/playerInfo/Talents.js
Labels: 3.0, core

#2937 [NEXT] Rewriting Line charts to react-vis [PART 1]
  src/common/Tooltip.css
  src/common/Tooltip.js
  src/common/Tooltip.scss
  src/interface/others/charts/DiscreteColorLegend.scss
  src/interface/others/charts/VerticalLine.css
  src/interface/others/charts/VerticalLine.js
  src/parser/monk/brewmaster/modules/core/MasteryValue.js
  src/parser/monk/brewmaster/modules/core/MasteryValue.scss
  src/parser/monk/brewmaster/modules/features/StaggerPoolGraph.js
  src/parser/monk/brewmaster/modules/features/StaggerPoolGraph.scss
  src/parser/shaman/shared/maelstromchart/Maelstrom.js
  src/parser/shaman/shared/maelstromchart/Maelstrom.scss
  src/parser/shared/modules/features/SelfHealTimingGraph.js
  src/parser/shared/modules/features/SelfHealTimingGraph.scss
Labels: 3.0

#2935 [Warlock] More probability things
  src/parser/warlock/affliction/modules/azerite/PandemicInvocation.js
  src/parser/warlock/affliction/modules/talents/SoulConduit.js
  src/parser/warlock/demonology/modules/azerite/DemonicMeteor.js
  src/parser/warlock/demonology/modules/talents/SoulConduit.js
  src/parser/warlock/destruction/modules/azerite/ChaosShards.js
  src/parser/warlock/destruction/modules/soulshards/SoulShardTracker.js
  src/parser/warlock/destruction/modules/talents/SoulConduit.js
  src/parser/warlock/shared/probability.js
Labels: Warlock
