Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-03, with the labels that each got.

#3023 [MW] JSS Uptime Suggestion / Checklist / Stats
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/features/Checklist/Component.js
  src/parser/monk/mistweaver/modules/features/Checklist/Module.js
  src/parser/monk/mistweaver/modules/spells/AzeriteTraits.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/FontOfLife.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/UpliftedSpirits.js
  src/parser/monk/mistweaver/modules/talents/JadeSerpentStatue.js
  src/parser/monk/mistweaver/modules/talents/Lifecycles.js
  src/parser/monk/mistweaver/modules/talents/ManaTea.js
  src/parser/monk/mistweaver/modules/talents/RenewingMistDuringManaTea.js
  src/parser/monk/mistweaver/modules/talents/RisingMist.js
  src/parser/monk/mistweaver/modules/talents/SpiritOfTheCrane.js
Labels: Monk

#3027 [Demonology] Legion Strike module
  src/parser/warlock/demonology/CombatLogParser.js
  src/parser/warlock/demonology/__snapshots__/CombatLogParser.test.js.snap
  src/parser/warlock/demonology/modules/features/LegionStrike.js
Labels: Warlock

#3035 fixed DamageTaken's interaction with stagger
  src/parser/shared/modules/throughput/DamageTaken.js
Labels: Monk, bug

#3045 [Feral] Gushing Lacerations azerite trait
  src/common/SPELLS/bfa/azeritetraits/druid.js
  src/parser/core/CASTS_THAT_ARENT_CASTS.js
  src/parser/druid/feral/CHANGELOG.js
  src/parser/druid/feral/CombatLogParser.js
  src/parser/druid/feral/modules/Abilities.js
  src/parser/druid/feral/modules/azeritetraits/GushingLacerations.js
Labels: Azerite, Druid

#3053 Tooltip fixes
  src/parser/core/healingEfficiency/HealingEfficiencyBreakdown.js
  src/parser/deathknight/blood/modules/features/MarrowrendUsage.js
  src/parser/deathknight/blood/modules/spells/azeritetraits/BloodyRuneblade.js
  src/parser/demonhunter/havoc/modules/spells/DemonBite.js
  src/parser/demonhunter/havoc/modules/spells/azeritetraits/FuriousGaze.js
  src/parser/demonhunter/havoc/modules/talents/BlindFury.js
  src/parser/demonhunter/havoc/modules/talents/DarkSlash.js
  src/parser/demonhunter/havoc/modules/talents/DemonBlades.js
  src/parser/demonhunter/havoc/modules/talents/DemonicAppetite.js
  src/parser/demonhunter/havoc/modules/talents/FelBarrage.js
  src/parser/demonhunter/havoc/modules/talents/FelMastery.js
  src/parser/demonhunter/havoc/modules/talents/Felblade.js
  src/parser/demonhunter/havoc/modules/talents/ImmolationAura.js
  src/parser/demonhunter/havoc/modules/talents/Nemesis.js
  src/parser/demonhunter/havoc/modules/talents/TrailofRuin.js
  src/parser/demonhunter/vengeance/modules/talents/SpiritBombFrailtyDebuff.js
  src/parser/druid/feral/modules/azeritetraits/GushingLacerations.js
  src/parser/druid/feral/modules/azeritetraits/IronJaws.js
  src/parser/druid/feral/modules/azeritetraits/JungleFury.js
  src/parser/druid/feral/modules/azeritetraits/UntamedFerocity.js
  src/parser/hunter/marksmanship/modules/talents/DoubleTap.js
  src/parser/hunter/survival/modules/talents/VipersVenom.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/core/MasteryValue.js
  src/parser/monk/brewmaster/modules/features/MitigationSheet.js
  src/parser/monk/brewmaster/modules/spells/GiftOfTheOx.js
  src/parser/monk/brewmaster/modules/spells/azeritetraits/StraightNoChaser.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/SecretInfusion.js
  src/parser/monk/windwalker/modules/resources/EnergyCapTracker.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/FuryOfXuen.js
  src/parser/paladin/holy/modules/talents/AuraOfSacrificeDamageReduction.js
  src/parser/paladin/retribution/modules/core/Judgment.js
  src/parser/priest/holy/modules/core/EchoOfLight_Mastery.js
  src/parser/priest/holy/modules/spells/GuardianSpirit.js
  src/parser/rogue/subtlety/modules/core/NightbladeUptime.js
  src/parser/shared/modules/items/bfa/raids/bod/IncandescentSliver.js
  src/parser/shared/modules/items/bfa/raids/bod/WardOfEnvelopment.js
  src/parser/warlock/affliction/modules/azerite/PandemicInvocation.js
  src/parser/warlock/affliction/modules/talents/Deathbolt.js
  src/parser/warlock/demonology/modules/azerite/DemonicMeteor.js
  src/parser/warlock/demonology/modules/talents/SoulConduit.js
  src/parser/warlock/destruction/modules/azerite/ChaosShards.js
  src/parser/warrior/arms/modules/spells/azeritetraits/LordOfWar.js
  src/parser/warrior/fury/modules/azerite/ColdSteelHotBlood.js
  src/parser/warrior/fury/modules/azerite/UnbridledFerocity.js
Labels: core

#3057 [MW] Azerite Trait Visual Updates
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/FontOfLife.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/SecretInfusion.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/UpliftedSpirits.js
Labels: Monk

#3062 [MW] Buffs module implementation
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/features/Buffs.js
Labels: Monk

#3068 [MW] Added RJW Efficiency to Spreadsheet Tab
  src/interface/others/MonkSpreadsheet.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/modules/talents/RefreshingJadeWind.js
  src/parser/shared/modules/features/SpellInfo.js
Labels: Azerite, Monk

#3074 [Destruction] UI update
  src/common/SPELLS/warlock.js
  src/interface/statistics/components/BoringSpellValueText/index.js
  src/parser/shared/modules/Enemies.js
  src/parser/warlock/destruction/CHANGELOG.js
  src/parser/warlock/destruction/CombatLogParser.js
  src/parser/warlock/destruction/__snapshots__/CombatLogParser.test.js.snap
  src/parser/warlock/destruction/modules/azerite/BurstingFlare.js
  src/parser/warlock/destruction/modules/azerite/ChaosShards.js
  src/parser/warlock/destruction/modules/azerite/ChaoticInferno.js
  src/parser/warlock/destruction/modules/azerite/CrashingChaos.js
  src/parser/warlock/destruction/modules/azerite/Flashpoint.js
  src/parser/warlock/destruction/modules/azerite/RollingHavoc.js
  src/parser/warlock/destruction/modules/features/AlwaysBeCasting.js
  src/parser/warlock/destruction/modules/features/Backdraft.js
  src/parser/warlock/destruction/modules/features/Havoc.js
  src/parser/warlock/destruction/modules/features/ImmolateUptime.js
  src/parser/warlock/destruction/modules/features/RainOfFire.js
  src/parser/warlock/destruction/modules/soulshards/SoulShardDetails.js
  src/parser/warlock/destruction/modules/soulshards/SoulShardTracker.js
  src/parser/warlock/destruction/modules/talents/Cataclysm.js
  src/parser/warlock/destruction/modules/talents/ChannelDemonfire.js
  src/parser/warlock/destruction/modules/talents/Eradication.js
  src/parser/warlock/destruction/modules/talents/FireAndBrimstone.js
  src/parser/warlock/destruction/modules/talents/Flashover.js
  src/parser/warlock/destruction/modules/talents/GrimoireOfSupremacy.js
  src/parser/warlock/destruction/modules/talents/Inferno.js
  src/parser/warlock/destruction/modules/talents/InternalCombustion.js
  src/parser/warlock/destruction/modules/talents/ReverseEntropy.js
  src/parser/warlock/destruction/modules/talents/RoaringBlaze.js
  src/parser/warlock/destruction/modules/talents/Shadowburn.js
  src/parser/warlock/destruction/modules/talents/SoulConduit.js
  src/parser/warlock/destruction/modules/talents/SoulFire.js
  src/parser/warlock/destruction/modules/talents/index.js
  src/parser/warlock/shared/modules/soulshards/SoulShardDetails.css
  src/parser/warlock/shared/modules/talents/GrimoireOfSacrifice.js
Labels: Warlock

#3055 [Havoc DH] Cleanup and tweaks
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/Abilities.js
  src/parser/demonhunter/havoc/modules/features/AlwaysBeCasting.js
  src/parser/demonhunter/havoc/modules/features/Checklist/Component.js
  src/parser/demonhunter/havoc/modules/features/Checklist/Module.js
  src/parser/demonhunter/havoc/modules/spells/DemonBite.js
  src/parser/demonhunter/havoc/modules/spells/MetaBuffUptime.js
  src/parser/demonhunter/havoc/modules/talents/BlindFury.js
  src/parser/demonhunter/havoc/modules/talents/CycleOfHatred.js
  src/parser/demonhunter/havoc/modules/talents/DemonBlades.js
  src/parser/demonhunter/havoc/modules/talents/Demonic.js
  src/parser/demonhunter/havoc/modules/talents/DemonicAppetite.js
  src/parser/demonhunter/havoc/modules/talents/FelBarrage.js
  src/parser/demonhunter/havoc/modules/talents/FelEruption.js
  src/parser/demonhunter/havoc/modules/talents/Felblade.js
  src/parser/demonhunter/havoc/modules/talents/ImmolationAura.js
Labels: Demon Hunter
