Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-02, with the labels that each got.

#2901 [BrM] Stat Values tab
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/CombatLogParser.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/constants/Mitigation.js
  src/parser/monk/brewmaster/modules/core/MasteryValue.js
  src/parser/monk/brewmaster/modules/core/Stagger.js
  src/parser/monk/brewmaster/modules/features/AgilityValue.js
  src/parser/monk/brewmaster/modules/features/MitigationSheet.js
  src/parser/monk/brewmaster/modules/features/MitigationSheet.md
  src/parser/monk/brewmaster/modules/spells/CelestialFortune.js
  src/parser/monk/brewmaster/modules/spells/GiftOfTheOx.js
  src/parser/shared/modules/StatTracker.js
Labels: Monk

#2977 [Havoc DH] level 99 talents
  src/common/SPELLS/demonhunter.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/talents/BlindFury.js
  src/parser/demonhunter/havoc/modules/talents/DemonicAppetite.js
  src/parser/demonhunter/havoc/modules/talents/Felblade.js
Labels: Demon Hunter

#2982 [Havoc DH]Level 102 talents
  src/common/SPELLS/demonhunter.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/Abilities.js
  src/parser/demonhunter/havoc/modules/features/AlwaysBeCasting.js
  src/parser/demonhunter/havoc/modules/features/Checklist/Component.js
  src/parser/demonhunter/havoc/modules/talents/FelBarrage.js
  src/parser/demonhunter/havoc/modules/talents/FelMastery.js
  src/parser/demonhunter/havoc/modules/talents/TrailofRuin.js
Labels: Demon Hunter

#2983 [Havoc DH] Updated abilities file
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/modules/Abilities.js
Labels: Demon Hunter

#2980 [Havoc DH] Level 100 talents
  src/parser/demonhunter/havoc/CONFIG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/talents/DemonBlades.js
  src/parser/demonhunter/havoc/modules/talents/ImmolationAura.js
Labels: Demon Hunter

#2987 [MW] REM During MT Updates
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CONFIG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/features/Checklist/Component.js
  src/parser/monk/mistweaver/modules/features/Checklist/Module.js
  src/parser/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.js
  src/parser/monk/mistweaver/modules/features/StatValuesSpellInfo.js
  src/parser/monk/mistweaver/modules/spells/Vivify.js
  src/parser/monk/mistweaver/modules/talents/RenewingMistDuringManaTea.js
Labels: Monk

#3001 [Havoc DH] added CD to felblade
  src/parser/demonhunter/havoc/modules/Abilities.js
Labels: Demon Hunter

#2998 [BrM] Remove Breath of Fire from checklist
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/__snapshots__/CombatLogParser.test.js.snap
  src/parser/monk/brewmaster/modules/features/checklist/Component.js
  src/parser/monk/brewmaster/modules/features/checklist/Module.js
  src/parser/monk/brewmaster/modules/spells/BreathOfFire.js
Labels: Monk

#2993 [MW] New Checklist Item + Spreadsheet Import Fixes
  src/interface/others/MonkSpreadsheet.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/modules/features/Checklist/Component.js
  src/parser/monk/mistweaver/modules/features/Checklist/Module.js
  src/parser/monk/mistweaver/modules/talents/JadeSerpentStatue.js
Labels: Monk

#3018 [Feral] Jungle Fury azerite trait
  src/common/SPELLS/bfa/azeritetraits/druid.js
  src/parser/druid/feral/CHANGELOG.js
  src/parser/druid/feral/CombatLogParser.js
  src/parser/druid/feral/modules/azeritetraits/JungleFury.js
Labels: Azerite, Druid

#3010 [MW] Secret Infusion Stat Gain
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/interface/others/MonkSpreadsheet.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/SecretInfusion.js
Labels: Monk

#3007 [Havoc DH]Cycle of hatred and dark slash talents
  src/common/SPELLS/demonhunter.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/talents/CycleOfHatred.js
  src/parser/demonhunter/havoc/modules/talents/DarkSlash.js
  src/parser/demonhunter/havoc/modules/talents/Felblade.js
Labels: Demon Hunter

#3009 [Havoc DH] azerite trait furious gaze
  src/common/SPELLS/bfa/azeritetraits/__UNUSED.js
  src/common/SPELLS/bfa/azeritetraits/demonhunter.js
  src/common/SPELLS/bfa/azeritetraits/index.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/spells/azeritetraits/FuriousGaze.js
Labels: Demon Hunter

#3008 [Havoc DH] Fel Eruption and Master of the Glaives talents
  src/common/SPELLS/demonhunter.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/features/Checklist/Component.js
  src/parser/demonhunter/havoc/modules/features/Checklist/Module.js
  src/parser/demonhunter/havoc/modules/talents/FelEruption.js
  src/parser/demonhunter/havoc/modules/talents/MasterOfTheGlaives.js
Labels: Demon Hunter
