Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-05, with the labels that each got.

#3124 [Restoration Shaman] 8.1.5 Ascendance addition
  src/common/SPELLS/shaman.js
  src/common/SPELLS/talents/shaman.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CONFIG.js
  src/parser/shaman/restoration/constants.js
  src/parser/shaman/restoration/modules/Abilities.js
  src/parser/shaman/restoration/modules/features/StatValuesSpellInfo.js
  src/parser/shaman/restoration/modules/talents/Ascendance.js
Labels: Shaman

#3125 [Restoration Shaman] Track Lava Burst damage
  src/common/SPELLS/shaman.js
  src/parser/shaman/restoration/modules/core/HealingEfficiencyTracker.js
Labels: Shaman

#3122 [BrM] (finally) updated mitigation blacklist for ISB hit tracking
  src/parser/monk/brewmaster/modules/constants/AbilityBlacklist.js
Labels: Monk

#3121 [BrM] Cleaning up Mitigation Sheet, Part 1
  src/parser/monk/brewmaster/modules/features/AgilityValue.js
  src/parser/monk/brewmaster/modules/features/MitigationSheet.js
Labels: Monk

#3128 [Shaman] Added Igneous Potential Azerite Trait
  src/common/SPELLS/bfa/azeritetraits/shaman.js
  src/common/SPELLS/shaman.js
  src/parser/shaman/elemental/CHANGELOG.js
  src/parser/shaman/elemental/CombatLogParser.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/shared/azerite/IgneousPotential.js
  src/parser/shaman/shared/azerite/SynapseShock.js
Labels: Shaman

#3140 [Prot Pal] Fixed Judgment being reset too often with the CJ talent
  src/parser/paladin/protection/CHANGELOG.js
  src/parser/paladin/protection/modules/features/SpellUsable.js
Labels: Paladin, bug

#3152 fix crash in player loader when a friendly is missing
  src/interface/report/PlayerLoader.js
Labels: bug
