Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-04, with the labels that each got.

#3072 [Affliction] UI upgrade
  src/parser/shared/modules/Enemies.js
  src/parser/warlock/affliction/CHANGELOG.js
  src/parser/warlock/affliction/CombatLogParser.js
  src/parser/warlock/affliction/__snapshots__/CombatLogParser.test.js.snap
  src/parser/warlock/affliction/modules/azerite/CascadingCalamity.js
  src/parser/warlock/affliction/modules/azerite/DreadfulCalling.js
  src/parser/warlock/affliction/modules/azerite/InevitableDemise.js
  src/parser/warlock/affliction/modules/azerite/PandemicInvocation.js
  src/parser/warlock/affliction/modules/azerite/SuddenOnset.js
  src/parser/warlock/affliction/modules/azerite/WrackingBrilliance.js
  src/parser/warlock/affliction/modules/features/AlwaysBeCasting.js
  src/parser/warlock/affliction/modules/features/Darkglare.js
  src/parser/warlock/affliction/modules/features/DotUptimes/AgonyUptime.js
  src/parser/warlock/affliction/modules/features/DotUptimes/CorruptionUptime.js
  src/parser/warlock/affliction/modules/features/DotUptimes/UnstableAfflictionUptime.js
  src/parser/warlock/affliction/modules/features/DotUptimes/index.js
  src/parser/warlock/affliction/modules/soulshards/SoulShardDetails.js
  src/parser/warlock/affliction/modules/talents/AbsoluteCorruption.js
  src/parser/warlock/affliction/modules/talents/Deathbolt.js
  src/parser/warlock/affliction/modules/talents/DrainSoul.js
  src/parser/warlock/affliction/modules/talents/Haunt.js
  src/parser/warlock/affliction/modules/talents/Nightfall.js
  src/parser/warlock/affliction/modules/talents/PhantomSingularity.js
  src/parser/warlock/affliction/modules/talents/ShadowEmbrace.js
  src/parser/warlock/affliction/modules/talents/SiphonLifeUptime.js
  src/parser/warlock/affliction/modules/talents/SoulConduit.js
  src/parser/warlock/affliction/modules/talents/VileTaint.js
  src/parser/warlock/affliction/modules/talents/index.js
Labels: Warlock

#3098 [Prot Pal] fixed seraphim stats
  src/parser/shared/modules/StatTracker.js
Labels: Paladin, bug

#3103 [BrM] fixed mastery's value in the mit sheet
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/modules/features/MitigationSheet.js
Labels: Monk, bug

#3106 DH Havoc Azerite traits
  src/common/SPELLS/bfa/azeritetraits/demonhunter.js
  src/parser/demonhunter/havoc/CombatLogParser.js
  src/parser/demonhunter/havoc/modules/spells/azeritetraits/ChaoticTransformation.js
  src/parser/demonhunter/havoc/modules/spells/azeritetraits/EyesofRage.js
  src/parser/demonhunter/havoc/modules/talents/BlindFury.js
  src/parser/demonhunter/havoc/modules/talents/Demonic.js
Labels: Demon Hunter

#3107 DH Havoc formatting/wording updates and catching up on changelogs.
  src/CHANGELOG.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/CONFIG.js
  src/parser/demonhunter/havoc/modules/resourcetracker/FuryDetails.js
  src/parser/demonhunter/havoc/modules/spells/DemonBite.js
  src/parser/demonhunter/havoc/modules/spells/azeritetraits/EyesofRage.js
  src/parser/demonhunter/havoc/modules/talents/BlindFury.js
  src/parser/demonhunter/havoc/modules/talents/CycleOfHatred.js
  src/parser/demonhunter/havoc/modules/talents/DemonBlades.js
  src/parser/demonhunter/havoc/modules/talents/Demonic.js
  src/parser/demonhunter/havoc/modules/talents/DemonicAppetite.js
  src/parser/demonhunter/havoc/modules/talents/FelBarrage.js
  src/parser/demonhunter/havoc/modules/talents/FelEruption.js
  src/parser/demonhunter/havoc/modules/talents/FelMastery.js
  src/parser/demonhunter/havoc/modules/talents/Felblade.js
  src/parser/demonhunter/havoc/modules/talents/ImmolationAura.js
  src/parser/demonhunter/havoc/modules/talents/MasterOfTheGlaives.js
  src/parser/demonhunter/havoc/modules/talents/Netherwalk.js
Labels: Demon Hunter

#3109 DH Havoc Updated fury tracking
  src/common/SPELLS/demonhunter.js
  src/parser/demonhunter/havoc/CHANGELOG.js
  src/parser/demonhunter/havoc/modules/resourcetracker/FuryTracker.js
Labels: Demon Hunter
