Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2019-08, with the labels that each got.

#3250 Ever Rising Tide haste
  src/CHANGELOG.js
  src/parser/shared/modules/spells/bfa/essences/TheEverRisingTide.js
Labels: bug

#3249 [Mistweaver] Trait calculation fix
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/FontOfLife.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/UpliftedSpirits.js
  src/parser/shared/modules/helpers/CalculateTraitHealing.js
Labels: Azerite, Monk

#3259 [Restoration Shaman] Vision of Perfection
  scripts/azerite/extract.js
  src/common/AZERITE_SCALING.generated.json
  src/common/SPELLS/bfa/essences/essences.js
  src/common/stats.js
  src/common/stats.test.js
  src/parser/shaman/restoration/CHANGELOG.js
  src/parser/shaman/restoration/CombatLogParser.js
  src/parser/shaman/restoration/modules/Abilities.js
  src/parser/shaman/restoration/modules/azerite/essences/VisionOfPerfection.js
Labels: Shaman

#3265 [Azerite] Adding Loyal to the End
  src/CHANGELOG.js
  src/common/SPELLS/bfa/azeritetraits/general.js
  src/common/TraitIdMap.js
  src/parser/core/CombatLogParser.js
  src/parser/shared/modules/spells/bfa/azeritetraits/LoyalToTheEnd.js
Labels: Azerite
