Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2020-09, with the labels that each got.

#3702 [MW] Mistweaver Shadowlands Initial Cleanup
  src/common/SPELLS/bfa/azeritetraits/monk.js
  src/common/SPELLS/monk.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/mistweaver/modules/core/SpellUsable.js
  src/parser/monk/mistweaver/modules/features/Abilities.js
  src/parser/monk/mistweaver/modules/features/Buffs.js
  src/parser/monk/mistweaver/modules/features/Checklist/Component.js
  src/parser/monk/mistweaver/modules/features/CooldownThroughputTracker.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/FontOfLife.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/MistyPeaks.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/SecretInfusion.js
  src/parser/monk/mistweaver/modules/spells/azeritetraits/UpliftedSpirits.js
  src/parser/monk/mistweaver/modules/spells/essences/WayOfTheCrane.js
  src/parser/monk/mistweaver/modules/talents/ChiJi.js
  src/parser/monk/mistweaver/modules/talents/RisingMist.js
Labels: Monk, Shadowlands

#3711 [Shadowlands][WW] Removed BFA stuff and updated for 9.0
  src/common/SPELLS/monk.js
  src/common/SPELLS/talents/monk.js
  src/parser/monk/brewmaster/CombatLogParser.ts
  src/parser/monk/brewmaster/integrationTests/example.test.ts.snap
  src/parser/monk/brewmaster/modules/Abilities.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/shared/modules/spells/TouchOfDeath.js
  src/parser/monk/windwalker/CHANGELOG.js
  src/parser/monk/windwalker/CONFIG.js
  src/parser/monk/windwalker/CombatLogParser.js
  src/parser/monk/windwalker/constants.js
  src/parser/monk/windwalker/modules/Abilities.js
  src/parser/monk/windwalker/modules/features/checklist/Component.js
  src/parser/monk/windwalker/modules/spells/ComboBreaker.js
  src/parser/monk/windwalker/modules/spells/FistsofFury.js
  src/parser/monk/windwalker/modules/spells/ReverseHarm.js
  src/parser/monk/windwalker/modules/spells/TouchOfDeath.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/FuryOfXuen.js
  src/parser/monk/windwalker/modules/spells/azeritetraits/GloryOfTheDawn.js
Labels: Monk, Shadowlands

#3710 Shadowlands Blood Initial Changes for Prepatch
  src/common/SPELLS/deathknight.js
  src/common/SPELLS/talents/deathknight.js
  src/parser/deathknight/blood/CHANGELOG.js
  src/parser/deathknight/blood/CombatLogParser.js
  src/parser/deathknight/blood/integrationTests/example.test.ts.snap
  src/parser/deathknight/blood/modules/Abilities.js
  src/parser/deathknight/blood/modules/features/checklist/Component.js
  src/parser/deathknight/blood/modules/features/checklist/Module.js
  src/parser/deathknight/blood/modules/talents/RuneStrike.js
  src/parser/deathknight/unholy/modules/features/Abilities.js
  src/parser/shared/modules/StatTracker.js
Labels: Death Knight, Shadowlands

#3716 [Shadowlands][Retribution] Update Ret for 9.0 Shadowlands
  src/common/SPELLS/paladin.js
  src/common/SPELLS/talents/paladin.js
  src/parser/paladin/retribution/CHANGELOG.js
  src/parser/paladin/retribution/CombatLogParser.js
  src/parser/paladin/retribution/constants.js
  src/parser/paladin/retribution/modules/Abilities.js
  src/parser/paladin/retribution/modules/Buffs.js
  src/parser/paladin/retribution/modules/core/HammerofWrath.js
  src/parser/paladin/retribution/modules/core/Haste.js
  src/parser/paladin/retribution/modules/core/Retribution.js
  src/parser/paladin/retribution/modules/core/WakeofAshes.js
  src/parser/paladin/retribution/modules/core/azeritetraits/IndomitableJustice.js
  src/parser/paladin/retribution/modules/core/azeritetraits/LightsDecree.js
  src/parser/paladin/retribution/modules/core/azeritetraits/RelentlessInquisitor.js
  src/parser/paladin/retribution/modules/core/azeritetraits/RelentlessInquisitorStackHandler.js
  src/parser/paladin/retribution/modules/features/Checklist/Component.js
  src/parser/paladin/retribution/modules/features/Checklist/Module.js
  src/parser/paladin/retribution/modules/talents/Consecration.js
  src/parser/paladin/retribution/modules/talents/ExecutionSentence.js
  src/parser/paladin/retribution/modules/talents/Inquisition.js
Labels: Paladin, Shadowlands

#3723 [Monk] All endurance Conduits added
  src/common/SPELLS/shadowlands/conduits/monk.js
  src/common/SPELLS/shadowlands/covenants/monk.js
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/CombatLogParser.js
  src/parser/monk/shared/modules/conduits/FortifyingIngredients.js
  src/parser/monk/shared/modules/conduits/GroundingBreath.js
  src/parser/monk/shared/modules/conduits/HarmDenial.js
Labels: Monk, Shadowlands

#3729 Shadowlands blood
  src/common/SPELLS/deathknight.js
  src/common/SPELLS/talents/deathknight.js
  src/parser/deathknight/blood/CHANGELOG.js
  src/parser/deathknight/blood/CombatLogParser.js
  src/parser/deathknight/blood/integrationTests/example.test.ts.snap
  src/parser/deathknight/blood/modules/Abilities.js
  src/parser/deathknight/blood/modules/features/Ossuary.js
  src/parser/deathknight/blood/modules/features/checklist/Component.js
  src/parser/deathknight/blood/modules/features/checklist/Module.js
  src/parser/deathknight/blood/modules/talents/Heartbreaker.js
Labels: Death Knight, Shadowlands

#3624 [Core] RFC: Guild search and guild reports page
  package.json
  src/CHANGELOG.js
  src/Root.test.js.snap
  src/common/RealmList.ts
  src/common/fetchWclApi.js
  src/common/makeApiUrl.js
  src/common/makeGuildPageUrl.ts
  src/interface/App.js
  src/interface/CharacterSearch/index.ts
  src/interface/GuildPage/GuildPage.tsx
  src/interface/GuildPage/index.ts
  src/interface/GuildReports/GuildReports.scss
  src/interface/GuildReports/GuildReports.tsx
  src/interface/GuildReports/images/ally_guild_banner_bwl.jpg
  src/interface/GuildReports/images/horde_guild_banner_onyx.jpg
  src/interface/GuildReports/index.ts
  src/interface/GuildReportsList/GuildReportsList.tsx
  src/interface/GuildReportsList/index.ts
  src/interface/Header.scss
  src/interface/NameSearch/NameSearch.tsx
  src/interface/NameSearch/index.ts
  src/interface/home/ReportSelectionHeader.js
  src/interface/icons/People.js
  src/interface/icons/Person.js
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  yarn.lock
Labels: core

#3762 [MW] Integration Tests Added for MW
  src/parser/monk/mistweaver/CHANGELOG.js
  src/parser/monk/mistweaver/integrationTests/example.test.ts
  src/parser/monk/mistweaver/integrationTests/example.test.ts.snap
  src/parser/monk/mistweaver/integrationTests/example.zip
Labels: Monk
