Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2020-10, with the labels that each got.

#3918 [Brewmaster] Update Abilities
  src/parser/monk/brewmaster/CHANGELOG.js
  src/parser/monk/brewmaster/integrationTests/example.test.ts.snap
  src/parser/monk/brewmaster/modules/Abilities.ts
Labels: Monk

#3920 [Ret] Update HoW to inherit shared analyzer
  src/parser/paladin/retribution/CHANGELOG.js
  src/parser/paladin/retribution/CombatLogParser.js
  src/parser/paladin/retribution/modules/core/HammerofWrath.js
Labels: Paladin

#3919 [Prot Paladin] Added Word of Glory analyzer
  src/common/SPELLS/paladin.ts
  src/parser/paladin/protection/CHANGELOG.tsx
  src/parser/paladin/protection/CONFIG.tsx
  src/parser/paladin/protection/CombatLogParser.ts
  src/parser/paladin/protection/integrationTests/example.test.ts.snap
  src/parser/paladin/protection/modules/features/Checklist/Component.js
  src/parser/paladin/protection/modules/features/Checklist/Module.js
  src/parser/paladin/protection/modules/features/WordOfGloryTiming.js
  src/parser/paladin/protection/modules/spells/WordOfGlory.tsx
  src/parser/shared/modules/SpellUsable.test.js
  src/parser/shared/modules/StatTracker.js
Labels: Paladin

#3917 [Shadow Priest] Update for Pre-Patch
  src/CONTRIBUTORS.ts
  src/common/SPELLS/priest.ts
  src/common/SPELLS/talents/priest.js
  src/interface/images/avatars/Adoraci-avatar.jpg
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/core/CASTS_THAT_ARENT_CASTS.js
  src/parser/priest/shadow/CHANGELOG.tsx
  src/parser/priest/shadow/CONFIG.tsx
  src/parser/priest/shadow/CombatLogParser.tsx
  src/parser/priest/shadow/constants.ts
  src/parser/priest/shadow/integrationTests/example.test.ts.snap
  src/parser/priest/shadow/integrationTests/example.zip
  src/parser/priest/shadow/modules/Abilities.tsx
  src/parser/priest/shadow/modules/checklist/Component.tsx
  src/parser/priest/shadow/modules/checklist/Module.tsx
  src/parser/priest/shadow/modules/core/Channeling.tsx
  src/parser/priest/shadow/modules/core/GlobalCooldown.tsx
  src/parser/priest/shadow/modules/core/Pet.tsx
  src/parser/priest/shadow/modules/features/Buffs.tsx
  src/parser/priest/shadow/modules/features/SkippableCasts.tsx
  src/parser/priest/shadow/modules/spells/CallToTheVoid.tsx
  src/parser/priest/shadow/modules/spells/Dispersion.tsx
  src/parser/priest/shadow/modules/spells/Mindbender.tsx
  src/parser/priest/shadow/modules/spells/ShadowWordPain.tsx
  src/parser/priest/shadow/modules/spells/Voidform.tsx
  src/parser/priest/shadow/modules/spells/VoidformAverageStacks.tsx
  src/parser/priest/shadow/modules/spells/VoidformStyles.tsx
  src/parser/priest/shadow/modules/talents/AuspiciousSpirits.tsx
  src/parser/priest/shadow/modules/talents/ShadowCrash.tsx
  src/parser/priest/shadow/modules/talents/TwistOfFate.tsx
  src/parser/priest/shadow/modules/talents/VoidTorrent.tsx
  src/parser/shared/modules/Haste.js
Labels: Priest
