Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2022-12, with the labels that each got.

#5455 clean up and internationalize Guide
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/guide/CooldownGraphSubSection.tsx
  src/analysis/retail/demonhunter/havoc/guide/InitiativeExplanation.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5456 add Fury of the Aspects as Bloodlust buff
  src/CHANGELOG.tsx
  src/common/SPELLS/evoker.ts
  src/game/BLOODLUST_BUFFS.ts
Labels: core

#5448 remove analysis for SL-specific items
  src/CHANGELOG.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/DrapeOfShame.tsx
  src/parser/retail/modules/items/crafted/DarkmoonDeckVoracity.tsx
  src/parser/retail/modules/items/dungeons/BloodSpatteredScale.tsx
  src/parser/retail/modules/items/dungeons/CodexOfTheFirstTechnique.tsx
  src/parser/retail/modules/items/dungeons/InscrutableQuantumDevice.tsx
  src/parser/retail/modules/items/dungeons/OverchargedAnimaBattery.tsx
  src/parser/retail/modules/items/dungeons/ShadowgraspTotem.tsx
  src/parser/retail/modules/items/dungeons/SoullettingRuby.tsx
  src/parser/retail/modules/items/enchants/AscendedVigor.tsx
  src/parser/retail/modules/items/raid/sepulcherofthefirstones/CacheOfAcquiredTreasures.tsx
  src/parser/retail/modules/items/raid/sepulcherofthefirstones/EarthbreakersImpact.tsx
  src/parser/retail/modules/items/raid/sepulcherofthefirstones/TheFirstSigil.tsx
Labels: core

#5438 add dragonflight phials and crafted structure
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/crafted/alchemy/index.ts
  src/common/ITEMS/dragonflight/crafted/index.ts
  src/common/ITEMS/dragonflight/crafted/inscription/index.ts
  src/common/ITEMS/dragonflight/index.ts
  src/common/ITEMS/dragonflight/phials.ts
Labels: core

#5439 convert character tab to TypeScript
  src/CHANGELOG.tsx
  src/interface/report/Results/CharacterStats.tsx
  src/interface/report/Results/CharacterTab.tsx
Labels: core

#5445 fix encounter stats broken by talent rework
  src/CHANGELOG.tsx
  src/common/WCL_TYPES.ts
  src/common/getItemQualityFromLabel.ts
  src/interface/report/Results/EncounterStats.js
  src/interface/report/Results/EncounterStats.tsx
  src/interface/report/Results/ResultsContent.tsx
Labels: core

#5449 add Vault to ZONES and remove SL raids
  src/CHANGELOG.tsx
  src/game/ZONES.ts
Labels: core

#5447 deprecate access to SL Combatant info
  src/CHANGELOG.tsx
  src/parser/core/Combatant.ts
Labels: core

#5451 add support for Draconic Augment Rune
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/index.ts
  src/common/ITEMS/dragonflight/others.ts
  src/common/SPELLS/dragonflight/index.ts
  src/common/SPELLS/dragonflight/others.ts
  src/common/SPELLS/index.ts
  src/parser/retail/modules/items/AugmentRuneChecker.ts
Labels: core

#5453 add DF Engi enchants and enhancements
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: core

#5463 cooldown and CASTS_THAT_ARENT_CASTS pass for DH
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
  src/common/SPELLS/demonhunter.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Demon Hunter

#5462 add Dragonflight launch as the current "patch"
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#5465 hide Spirit Bomb statistic when there are no casts
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/VengeanceGuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/constants.ts
  src/analysis/retail/demonhunter/vengeance/modules/checklist/Component.tsx
  src/analysis/retail/demonhunter/vengeance/modules/checklist/Module.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleaveSoulsConsumed.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBombSoulsConsume.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/SoulCleaveEventLinkNormalizer.ts
  src/analysis/retail/demonhunter/vengeance/normalizers/SpiritBombEventLinkNormalizer.ts
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5467 mark Guide as default for VDH
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter

#5470 add APL for Havoc
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/apl/AplCheck.tsx
  src/analysis/retail/demonhunter/havoc/guide/CooldownGraphSubSection.tsx
  src/localization/en/messages.json
Labels: Demon Hunter

#5473 improve Guides for Havoc/Vengeance based on feedback
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/CastBreakdownSubSection.tsx
  src/analysis/retail/demonhunter/shared/guide/CastPerformanceSummary.tsx
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
  src/analysis/retail/demonhunter/shared/guide/CommonLinguiTranslations.tsx
  src/analysis/retail/demonhunter/shared/guide/ExtraComponents.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/VengeanceGuideSection.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/FuryTracker.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5474 remove SL weapon enhancements
  src/CHANGELOG.tsx
  src/parser/retail/modules/items/WeaponEnhancementChecker.tsx
Labels: core

#5475 add stats for Draconic Augment Rune
  src/CHANGELOG.tsx
  src/parser/shared/modules/StatTracker.ts
Labels: core

#5476 add support for Feral Hide Drums
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/crafted/index.ts
  src/common/ITEMS/dragonflight/crafted/leatherworking/index.ts
  src/common/SPELLS/dragonflight/crafted/index.ts
  src/common/SPELLS/dragonflight/crafted/leatherworking/index.ts
  src/common/SPELLS/dragonflight/index.ts
  src/game/BLOODLUST_BUFFS.ts
Labels: core

#5477 add support for remaining potions
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/potions.ts
  src/common/SPELLS/dragonflight/potions.ts
  src/parser/retail/modules/items/CombatPotion.ts
  src/parser/retail/modules/items/HealthPotion.ts
  src/parser/retail/modules/items/PotionChecker.tsx
Labels: core

#5478 add item/spell data for leg enhancements
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
  src/common/SPELLS/dragonflight/crafted/leatherworking/index.ts
Labels: core

#5481 localize leg enhancement checker
  src/CHANGELOG.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/shared/modules/items/LegEnhancementChecker.tsx
Labels: core

#5484 add analysis for Dragonflight foods
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/food.ts
  src/common/SPELLS/dragonflight/phials.ts
  src/parser/retail/modules/items/FoodChecker.ts
Labels: core

#5485 add stat enhancements for potions/phials
  src/CHANGELOG.tsx
  src/parser/shared/modules/StatTracker.ts
Labels: core

#5488 fix cast breakdowns showing [object Object]
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5491 update Vault boss images from Blizz post
  src/CHANGELOG.tsx
  src/game/raids/vaultoftheincarnates/BroodkeeperDiurna.ts
  src/game/raids/vaultoftheincarnates/Dathea.ts
  src/game/raids/vaultoftheincarnates/Eranog.ts
  src/game/raids/vaultoftheincarnates/KurogGrimtotem.ts
  src/game/raids/vaultoftheincarnates/PrimalCouncil.ts
  src/game/raids/vaultoftheincarnates/Raszageth.ts
  src/game/raids/vaultoftheincarnates/Sennarth.ts
  src/game/raids/vaultoftheincarnates/Terros.ts
  src/game/raids/vaultoftheincarnates/images/BroodkeeperDiurna.png
  src/game/raids/vaultoftheincarnates/images/Dathea.png
  src/game/raids/vaultoftheincarnates/images/Eranog.png
  src/game/raids/vaultoftheincarnates/images/KurogGrimtotem.png
  src/game/raids/vaultoftheincarnates/images/PrimalCouncil.png
  src/game/raids/vaultoftheincarnates/images/Raszageth.png
  src/game/raids/vaultoftheincarnates/images/Sennarth.png
  src/game/raids/vaultoftheincarnates/images/Terros.png
  src/game/raids/vaultoftheincarnates/images/broodkeeper.jpg
  src/game/raids/vaultoftheincarnates/images/dathea.jpg
  src/game/raids/vaultoftheincarnates/images/eranog.jpg
  src/game/raids/vaultoftheincarnates/images/kurog.jpg
  src/game/raids/vaultoftheincarnates/images/overview.jpg
  src/game/raids/vaultoftheincarnates/images/primalcouncil.jpg
  src/game/raids/vaultoftheincarnates/images/raszageth.jpg
  src/game/raids/vaultoftheincarnates/images/sennarth.jpg
  src/game/raids/vaultoftheincarnates/images/terros.jpg
Labels: core

#5493 add empowered cast log events
  src/CHANGELOG.tsx
  src/interface/EventsTab.js
  src/parser/core/Events.ts
Labels: core

#5503 add stat enhancements for foods except feasts
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/food.ts
  src/common/SPELLS/dragonflight/index.ts
  src/parser/retail/modules/items/FoodChecker.ts
  src/parser/shared/modules/StatTracker.ts
Labels: core

#5505 mark T28 tier set references as deprecated
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
  src/parser/core/Combatant.ts
Labels: core

#5464 Add Classic Arcane Mage
  src/analysis/classic/mage/CHANGELOG.tsx
  src/analysis/classic/mage/CombatLogParser.ts
  src/analysis/classic/mage/arcane/CHANGELOG.tsx
  src/analysis/classic/mage/arcane/CONFIG.tsx
  src/analysis/classic/mage/arcane/CombatLogParser.ts
  src/analysis/classic/mage/arcane/index.ts
  src/analysis/classic/mage/arcane/modules/checklist/Component.tsx
  src/analysis/classic/mage/arcane/modules/checklist/Module.tsx
  src/analysis/classic/mage/arcane/modules/core/GlobalCooldown.ts
  src/analysis/classic/mage/arcane/modules/features/Abilities.tsx
  src/analysis/classic/mage/arcane/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/mage/arcane/modules/features/Buffs.tsx
  src/analysis/classic/mage/arcane/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/mage/arcane/normalizers/ArcaneMissiles.tsx
  src/analysis/classic/mage/modules/Buffs.tsx
  src/analysis/classic/mage/shared/ColdSnap.tsx
  src/analysis/classic/mage/shared/Haste.ts
  src/analysis/classic/mage/shared/index.ts
  src/analysis/classic/mage/shared/lowRankSpells.ts
  src/common/SPELLS/classic/mage.ts
  src/parser/index.ts
Labels: Mage, Classic

#5517 fix echo module accuracy
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Evoker

#5518 correct effect IDs for Tailoring leg enhancements
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
Labels: core

#5519 fix Havoc Guide crashing due to bad import
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/modules/resourcetracker/FuryTracker.tsx
Labels: Demon Hunter

#5520 fix crash from no Power Siphons being cast
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/modules/talents/normalizers/PowerSiphonNormalizer.ts
Labels: Warlock

#5521 fix date in Warlock changelog
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
Labels: Warlock

#5523 fix Sub Rogue logs crashing due to Shadowstep
  src/analysis/retail/rogue/subtlety/CHANGELOG.tsx
  src/analysis/retail/rogue/subtlety/CONFIG.tsx
  src/analysis/retail/rogue/subtlety/modules/Abilities.ts
Labels: Rogue

#5525 reduce Frailty stacks for good Soul Carver
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
Labels: Demon Hunter

#5526 disable checklist for Vengeance
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/modules/checklist/Component.tsx
  src/analysis/retail/demonhunter/vengeance/modules/checklist/Module.tsx
Labels: Demon Hunter

#5528 fix Shuriken Storm CP error
  src/analysis/retail/rogue/subtlety/CHANGELOG.tsx
  src/analysis/retail/rogue/subtlety/modules/Abilities.ts
Labels: Rogue

#5530 re-enable Beast Mastery log parser
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/CONFIG.tsx
Labels: Hunter

#5531 re-enable survival hunter log parser
  src/analysis/retail/hunter/survival/CHANGELOG.tsx
  src/analysis/retail/hunter/survival/CONFIG.tsx
Labels: Hunter

#5533 properly remove defensive buffs on death
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/index.tsx
Labels: Demon Hunter

#5534 further refine VDH buff tracking
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/index.tsx
Labels: Demon Hunter

#5535 Add suggestion for Ancient Teachings of the Monestary buff uptime
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Module.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachingsoftheMonastery.tsx
Labels: Monk

#5536 Fix tft text based on talent selection
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFontCancelled.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
Labels: Monk

#5539 add new Defensives section behind opt-in
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/EnableNewDefensivesSectionToggle.tsx
  src/analysis/retail/demonhunter/vengeance/guide/useVdhFeatureFlag.ts
  src/analysis/retail/demonhunter/vengeance/modules/Buffs.ts
  src/analysis/retail/demonhunter/vengeance/modules/core/DemonicExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/DownInFlamesExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/FieryDemiseExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/DefensiveBuffLinkNormalizer.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/DefensiveBuffs.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/DemonSpikes.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/FieryBrand.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/Metamorphosis.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/components/AllCooldownUsagesList.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/components/DamageMitigationChart.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/components/Timeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/config.ts
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/core.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/VulnerabilityExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/GuideSection.tsx
  src/common/TALENTS/types.ts
  src/parser/retail/armorMitigation.ts
Labels: Demon Hunter

#5515 remove Shadowlands items
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
  src/common/ITEMS/index.ts
  src/common/ITEMS/shadowlands/crafted/alchemy/index.ts
  src/common/ITEMS/shadowlands/crafted/index.ts
  src/common/ITEMS/shadowlands/crafted/inscription/index.ts
  src/common/ITEMS/shadowlands/enchants.ts
  src/common/ITEMS/shadowlands/gems.ts
  src/common/ITEMS/shadowlands/index.ts
  src/common/ITEMS/shadowlands/legendaries/deathknight.ts
  src/common/ITEMS/shadowlands/legendaries/demonhunter.ts
  src/common/ITEMS/shadowlands/legendaries/druid.ts
  src/common/ITEMS/shadowlands/legendaries/index.ts
  src/common/ITEMS/shadowlands/legendaries/mage.ts
  src/common/ITEMS/shadowlands/legendaries/monk.ts
  src/common/ITEMS/shadowlands/legendaries/paladin.ts
  src/common/ITEMS/shadowlands/legendaries/priest.ts
  src/common/ITEMS/shadowlands/legendaries/rogue.ts
  src/common/ITEMS/shadowlands/legendaries/shaman.ts
  src/common/ITEMS/shadowlands/legendaries/warlock.ts
  src/common/ITEMS/shadowlands/legendaries/warrior.ts
  src/common/ITEMS/shadowlands/others.ts
  src/common/ITEMS/shadowlands/potions.ts
  src/common/ITEMS/shadowlands/pvp/index.ts
  src/common/ITEMS/shadowlands/tier.ts
Labels: core

#5540 regenerate talents
  scripts/talents/generate-talents.ts
  scripts/talents/spellpower_10.0.2.47187.csv
  src/CHANGELOG.tsx
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/warlock.ts
Labels: core

#5544 Check for permanent enchants on legs
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/parser/shared/modules/items/LegEnhancementChecker.tsx
Labels: core

#5549 ignore duplicate spell IDs for talents
  scripts/talents/generate-talents.ts
  scripts/talents/talent-tree-types.ts
  src/CHANGELOG.tsx
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/demonhunter.ts
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/types.ts
  src/common/TALENTS/warlock.ts
  src/common/TALENTS/warrior.ts
Labels: core

#5552 Classic Demo Warlock updates
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
Labels: Warlock, Classic

#5556 Improve accuracy of bountiful bloom module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldBlossom.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Evoker

#5557 re-order Beacon handling on fight end
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/beacons/BeaconUptime.tsx
  src/analysis/retail/paladin/shared/HolyPowerDetails.tsx
  src/analysis/retail/paladin/shared/HolyPowerTracker.ts
Labels: Paladin

#5554 Classic Unholy DK updates
  src/analysis/classic/deathknight/shared/GlobalCooldown.ts
  src/analysis/classic/deathknight/shared/index.ts
  src/analysis/classic/deathknight/unholy/CHANGELOG.tsx
  src/analysis/classic/deathknight/unholy/CONFIG.tsx
  src/analysis/classic/deathknight/unholy/CombatLogParser.ts
  src/analysis/classic/deathknight/unholy/modules/features/Abilities.ts
  src/common/SPELLS/classic/deathknight.ts
Labels: Death Knight, Classic

#5562 remove myself from maintainer for hpal
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CONFIG.tsx
Labels: Paladin

#5571 stop using Wowhead beta links
  src/CHANGELOG.tsx
  src/interface/report/Results/index.tsx
Labels: core

#5570 remove healing potions from potion checker
  src/CHANGELOG.tsx
  src/parser/retail/modules/items/PotionChecker.tsx
Labels: core

#5572 fix broken lazy-loaded statistics
  src/CHANGELOG.tsx
  src/interface/report/Results/ResultsContext.tsx
  src/interface/report/Results/index.tsx
  src/parser/ui/LazyLoadStatisticBox.tsx
Labels: core

#5573 disable Twilight Equilibrium analyzer
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/spells/TwilightEquilibrium.tsx
Labels: Priest

#5558 Classic Arcane Mage updates
  src/analysis/classic/mage/arcane/CHANGELOG.tsx
  src/analysis/classic/mage/arcane/CONFIG.tsx
  src/analysis/classic/mage/arcane/modules/features/Buffs.tsx
  src/common/ITEMS/classic/index.ts
  src/common/ITEMS/classic/trinkets.ts
  src/common/SPELLS/classic/index.ts
  src/common/SPELLS/classic/mage.ts
  src/common/SPELLS/classic/tailoring.ts
  src/game/classic/ITEM_BUFFS.ts
Labels: Mage, Classic

#5563 Classic Druid spells
  src/CHANGELOG.tsx
  src/analysis/classic/druid/CONFIG.tsx
  src/analysis/classic/druid/CombatLogParser.ts
  src/analysis/classic/druid/SPELLS.ts
  src/analysis/classic/druid/lowRankSpells.ts
  src/analysis/classic/druid/modules/Abilities.tsx
  src/analysis/classic/druid/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/shared/index.ts
  src/analysis/classic/druid/shared/lowRankSpells.ts
  src/common/SPELLS/classic/druid.ts
Labels: Druid, Classic

#5566 refactor echo linking and add consumption count to echomodule
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Evoker

#5575 fix tooltips breaking on expac switch
  src/CHANGELOG.tsx
  src/interface/report/Results/index.tsx
Labels: core

#5581 fetch character parses for VotI
  src/CHANGELOG.tsx
  src/interface/CharacterParses.tsx
  src/interface/CharacterParsesList.tsx
Labels: core

#5583 [Prevoker] exhil burst module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/ExhilBurst.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker

#5589 add FttF and Demon Soul statistics
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/constants.ts
  src/analysis/retail/demonhunter/shared/modules/spells/DemonSoulBuff.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/FodderToTheFlame.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/common/SPELLS/demonhunter.ts
Labels: Demon Hunter

#5595 wrap performance box rows in cast breakdowns
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.module.scss
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
Labels: Demon Hunter
