Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2022-11, with the labels that each got.

#5278 mark Vengeance as partially supported for 10.0.0
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter

#5283 update talent-based statistics to show rank
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/AnyMeansNecessary.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/BlindFury.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/BurningHatred.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/ChaosTheory.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/CycleOfHatred.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonBlades.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonicAppetite.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonicDeathSweep.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/ElysianDecree.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FelBarrage.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FelEruption.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FuriousGaze.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/GlaiveTempest.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/GrowingInferno.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Initiative.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/InnerDemon.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Momentum.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Netherwalk.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Ragefire.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Soulrend.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/TacticalRetreat.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/TrailofRuin.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/CharredWarblades.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/CollectiveAnguish.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/Demonic.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/DisruptingFury.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/Felblade.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/FlamesOfFury.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/MasterOfTheGlaive.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/ShatteredRestoration.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/SwallowedAnger.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/UnnaturalMalice.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/AgonizingFlames.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/BurningAlive.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/ElysianDecree.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FeastOfSouls.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FeedTheDemon.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FrailtyDebuff.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/PainbringerBuff.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulBarrier.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBombSoulsConsume.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/StokeTheFlames.tsx
Labels: Demon Hunter

#5289 [Enhancement Shaman] Cleanup changelog + small changes
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/constants.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  tsconfig.json
Labels: Shaman

#5302 updated sins of the many to new values
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/spells/SinsOfTheMany.tsx
  src/common/SPELLS/priest.ts
Labels: Priest

#5296 Enabling outlaw and fixing build errors.
  src/CONTRIBUTORS.ts
  src/analysis/retail/rogue/assassination/modules/Abilities.js
  src/analysis/retail/rogue/assassination/modules/core/ComboPoints.tsx
  src/analysis/retail/rogue/assassination/modules/features/Checklist/Component.js
  src/analysis/retail/rogue/assassination/modules/talents/StealthCasts.ts
  src/analysis/retail/rogue/outlaw/CHANGELOG.js
  src/analysis/retail/rogue/outlaw/CONFIG.js
  src/analysis/retail/rogue/outlaw/CombatLogParser.ts
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/Buffs.ts
  src/analysis/retail/rogue/outlaw/modules/core/ComboPoints.tsx
  src/analysis/retail/rogue/outlaw/modules/core/Energy.tsx
  src/analysis/retail/rogue/outlaw/modules/core/OutlawComboPointTracker.ts
  src/analysis/retail/rogue/outlaw/modules/core/OutlawEnergyCapTracker.tsx
  src/analysis/retail/rogue/outlaw/modules/core/RestlessBlades.ts
  src/analysis/retail/rogue/outlaw/modules/features/Checklist/Component.tsx
  src/analysis/retail/rogue/outlaw/modules/features/Finishers.tsx
  src/analysis/retail/rogue/outlaw/modules/features/RollTheBonesCastTracker.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/BetweenTheEyesDamageTracker.ts
  src/analysis/retail/rogue/outlaw/modules/spells/BladeFlurry.ts
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesBuffs.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesCounter.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesEfficiency.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/shadowlands/legendaries/Celerity.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/shadowlands/legendaries/GreenskinsWickers.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/shadowlands/legendaries/GuileCharm.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/shadowlands/tier28/TornadoTrigger.tsx
  src/analysis/retail/rogue/outlaw/modules/talents/BladeRush.tsx
  src/analysis/retail/rogue/shared/EnergyCapTracker.js
  src/analysis/retail/rogue/shared/IsStealth.js
  src/analysis/retail/rogue/shared/SpellEnergyCost.js
  src/analysis/retail/rogue/shared/SpellUsable.js
  src/analysis/retail/rogue/shared/constants.ts
  src/analysis/retail/rogue/shared/index.ts
  src/analysis/retail/rogue/shared/shadowlands/legendaries/InvigoratingShadowdust.tsx
  src/analysis/retail/rogue/shared/talents/Flagellation.tsx
  src/analysis/retail/rogue/shared/talents/SerratedBoneSpike.tsx
  src/analysis/retail/rogue/subtlety/CombatLogParser.tsx
  src/analysis/retail/rogue/subtlety/modules/Abilities.js
  src/common/SPELLS/rogue.ts
  tsconfig.json
Labels: Rogue

#5275 Feature/disc priest guide/evang section front end
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/guide/EvangelismAnalysis.scss
  src/analysis/retail/priest/discipline/modules/guide/EvangelismAnalysis.tsx
Labels: Priest

#5305 Added combined statistic for Omen of Clarity / Mark of Clarity
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/OmenAndMomentOfClarity.tsx
Labels: Druid

#5295 Holy priest two new talents
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/HolyWordsReductionBySpell.tsx
  src/analysis/retail/priest/holy/modules/spells/HymnBuffBenefit.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DesperateTimes.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineWord.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/SearingLight.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/index.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/RevitalizingPrayers.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/RenewedFaith.tsx
  src/common/SPELLS/priest.ts
  src/common/TALENTS/priest.ts
Labels: Priest

#5285 [Restoration Shaman] Flash Floods update to talent ranks
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/talents/FlashFlood.tsx
Labels: Shaman

#5276 [Restoration Shaman] Undercurrent
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/talents/Undercurrent.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman

#5292 First draft of FDK guide
  src/analysis/retail/deathknight/frost/CHANGELOG.tsx
  src/analysis/retail/deathknight/frost/CombatLogParser.ts
  src/analysis/retail/deathknight/frost/Guide.tsx
  src/analysis/retail/deathknight/frost/modules/features/KillingMachine.tsx
  src/analysis/retail/deathknight/frost/modules/features/RimeEfficiency.tsx
  src/analysis/retail/deathknight/frost/modules/features/RuneGraph.tsx
  src/analysis/retail/deathknight/frost/modules/runicpower/RunicPowerGraph.tsx
  src/analysis/retail/deathknight/frost/modules/runicpower/RunicPowerTracker.ts
  src/analysis/retail/deathknight/shared/RuneDetails.tsx
  src/analysis/retail/deathknight/unholy/modules/runicpower/RunicPowerTracker.ts
  src/analysis/retail/druid/balance/modules/features/AstralPowerTracker.tsx
  src/analysis/retail/paladin/shared/HolyPowerTracker.js
  src/analysis/retail/warrior/arms/modules/features/RageTracker.js
  src/analysis/retail/warrior/fury/modules/core/RageTracker.tsx
  src/analysis/retail/warrior/protection/modules/core/RageTracker.ts
  src/parser/classic/modules/resources/ManaTracker.ts
  src/parser/shared/modules/ResourceGraph.tsx
Labels: Death Knight

#5291 Make misty peaks get extended by RM
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.js
Labels: Monk

#5325 setup shared DH spellbook
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
Labels: Demon Hunter

#5340 remove bad Fury overcap suggestions
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/DisruptingFury.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/SwallowedAnger.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
Labels: Demon Hunter

#5365 add Metamorphosis support to VDH Guide
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/index.tsx
Labels: Demon Hunter

#5379 add Soul Carver cast breakdown to VDH Guide
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/VulnerabilityExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/combineQualitativePerformances.ts
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
Labels: Demon Hunter

#5395 add Immolation Aura cast efficiency to VDH Guide
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
Labels: Demon Hunter

#5396 add per-cast Immolation Aura breakdown to VDH
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/VengeanceGuideSection.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/ImmolationAuraLinker.ts
Labels: Demon Hunter

#5397 automatically minimize icons in VDH Guide
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/CastSummaryAndBreakdown.tsx
  src/analysis/retail/demonhunter/vengeance/guide/CooldownGraphSubSection.tsx
  src/analysis/retail/demonhunter/vengeance/guide/FieryDemiseExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitBasedAnalyzer.ts
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/guide/VulnerabilityExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/index.tsx
Labels: Demon Hunter

#5391 run 'lingui extract'
  src/CHANGELOG.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: core

#5398 convert Home page to TypeScript
  src/CHANGELOG.tsx
  src/interface/Home.js
  src/interface/Home.tsx
Labels: core

#5399 convert app wrapper to TypeScript
  src/CHANGELOG.tsx
  src/interface/App.js
  src/interface/App.tsx
  src/interface/actions/error.js
  src/interface/actions/internetExplorer.ts
  src/interface/reducers/error.js
  src/interface/reducers/index.ts
  src/interface/reducers/internetExplorer.ts
  src/interface/selectors/error.ts
  src/interface/selectors/internetExplorer.ts
Labels: core

#5402 fix talent overflow on character parses page
  src/CHANGELOG.tsx
  src/interface/CharacterParsesList.tsx
Labels: core

#5406 fix degradation of The Hunt due to precasts
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
Labels: Demon Hunter

#5389 add Food subsection to PreparationSection
  src/CHANGELOG.tsx
  src/interface/guide/components/GuideDivs.tsx
  src/interface/guide/components/Preparation/FoodSubSection.tsx
  src/interface/guide/components/Preparation/FoodSubSection/CurrentFoodBuff.tsx
  src/interface/guide/components/Preparation/FoodSubSection/FoodBuffPanels.tsx
  src/interface/guide/components/Preparation/FoodSubSection/RecommendedFoodBuffs.module.scss
  src/interface/guide/components/Preparation/FoodSubSection/RecommendedFoodBuffs.tsx
  src/interface/guide/components/Preparation/FoodSubSection/index.tsx
  src/interface/guide/components/Preparation/PreparationSection.tsx
  src/interface/guide/index.tsx
  src/parser/retail/modules/items/FoodChecker.ts
Labels: core

#5414 move prevoker changelog entry to correct list
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
Labels: Evoker

#5410 merge consumables sections into one SubSection
  src/CHANGELOG.tsx
  src/interface/guide/components/GuideDivs.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/FlaskPanel/index.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/FoodPanel/index.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/PotionPanel/index.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/Recommendations.module.scss
  src/interface/guide/components/Preparation/ConsumablesSubSection/Recommendations.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/index.tsx
  src/interface/guide/components/Preparation/FlaskSubSection.tsx
  src/interface/guide/components/Preparation/FoodSubSection/CurrentFoodBuff.tsx
  src/interface/guide/components/Preparation/FoodSubSection/FoodBuffPanels.tsx
  src/interface/guide/components/Preparation/FoodSubSection/RecommendedFoodBuffs.module.scss
  src/interface/guide/components/Preparation/FoodSubSection/RecommendedFoodBuffs.tsx
  src/interface/guide/components/Preparation/FoodSubSection/index.tsx
  src/interface/guide/components/Preparation/PotionSubSection.tsx
  src/interface/guide/components/Preparation/PreparationSection.tsx
  src/interface/icons/Flask.tsx
  src/interface/icons/Potion.tsx
  src/interface/icons/Soup.tsx
  src/parser/retail/modules/items/FlaskChecker.ts
Labels: core

#5400 convert NameSearch to functional component
  src/CHANGELOG.tsx
  src/interface/NameSearch.tsx
Labels: core

#5401 convert ReportLoader to functional component
  src/CHANGELOG.tsx
  src/interface/report/ReportLoader.tsx
Labels: core

#5403 update FightSelection to use hooks
  src/CHANGELOG.tsx
  src/interface/report/FightSelection.tsx
Labels: core

#5408 convert StatisticBox and LazyLoad_ to TS
  src/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
  src/analysis/retail/warlock/demonology/modules/features/SummonDemonicTyrant.tsx
  src/parser/ui/LazyLoadStatisticBox.js
  src/parser/ui/LazyLoadStatisticBox.tsx
  src/parser/ui/Statistic.tsx
  src/parser/ui/StatisticBox.tsx
Labels: core

#5412 convert ThroughputPerformance to FC
  src/CHANGELOG.tsx
  src/parser/ui/ThroughputPerformance.ts
  src/parser/ui/ThroughputPerformance.tsx
Labels: core

#5413 reduce usage of render props in Home page
  src/CHANGELOG.tsx
  src/interface/ContributorPage.tsx
  src/interface/Home.tsx
  src/interface/NewsPage.tsx
  src/interface/Search.tsx
Labels: core

#5409 migrate away from legacy context API where able
  src/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/interface/ItemInsanityGained.tsx
  src/interface/ConduitLink.tsx
  src/parser/ui/ConduitSpellText.tsx
  src/parser/ui/ItemDamageDone.tsx
  src/parser/ui/ItemDamageTaken.tsx
  src/parser/ui/ItemHealingDone.tsx
  src/parser/ui/ItemManaGained.tsx
  src/parser/ui/ItemPercentDamageDone.tsx
  src/parser/ui/ItemPercentHealingDone.tsx
  src/parser/ui/TalentSpellText.tsx
Labels: core

#5418 More Balance Druid cleanup and a Guide outline.
  src/analysis/retail/deathknight/frost/modules/features/RuneGraph.tsx
  src/analysis/retail/deathknight/frost/modules/runicpower/RunicPowerGraph.tsx
  src/analysis/retail/deathknight/frost/modules/runicpower/RunicPowerTracker.ts
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/balance/CombatLogParser.ts
  src/analysis/retail/druid/balance/Guide.tsx
  src/analysis/retail/druid/balance/modules/checklist/Module.tsx
  src/analysis/retail/druid/balance/modules/core/GlobalCooldown.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerDetails.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerGraph.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerTracker.tsx
  src/analysis/retail/druid/balance/modules/features/AstralPowerTracker.tsx
  src/analysis/retail/druid/balance/modules/features/DotUptimes.tsx
  src/parser/shared/modules/BuffCountGraph.tsx
  src/parser/shared/modules/ResourceGraph.tsx
  src/parser/shared/modules/resources/resourcetracker/ResourceTracker.ts
  src/parser/ui/convertColor.ts
Labels: Druid

#5425 convert Results to a functional component
  src/CHANGELOG.tsx
  src/interface/report/Results/ResultsContent.tsx
  src/interface/report/Results/ResultsLoadingIndicator.tsx
  src/interface/report/Results/index.tsx
  src/parser/ui/LazyLoadStatisticBox.tsx
Labels: core

#5300 blaze of light support
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/discipline/modules/spells/BlazeOfLight.tsx
Labels: Priest

#5426 reduce usage of render props in app wrapper
  src/CHANGELOG.tsx
  src/interface/App.tsx
  src/interface/CharacterPage.tsx
  src/interface/GuildPage.tsx
Labels: core

#5434 add TalentRequirement component
  src/analysis/retail/demonhunter/havoc/modules/checklist/Component.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/checklist/Component.tsx
  src/parser/shared/modules/features/Checklist/TalentCastEfficiencyRequirement.tsx
  src/parser/shared/modules/features/Checklist/TalentRequirement.tsx
Labels: Demon Hunter

#5435 add inscription weapon enhancements
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
Labels: core

#5436 add dragonflight gems
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/gems.ts
  src/common/ITEMS/dragonflight/index.ts
Labels: core

#5437 add dragonflight potions
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/index.ts
  src/common/ITEMS/dragonflight/potions.ts
Labels: core

#5441 re-organize and internationalize VDH Guide
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/FalloutSnippet.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/VengeanceGuideSection.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/CastSummaryAndBreakdown.tsx
  src/analysis/retail/demonhunter/vengeance/guide/CooldownGraphSubSection.tsx
  src/analysis/retail/demonhunter/vengeance/guide/DemonicExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/DownInFlamesExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/FieryDemiseExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/VulnerabilityExplanation.tsx
  src/analysis/retail/demonhunter/vengeance/guide/combineQualitativePerformances.test.ts
  src/analysis/retail/demonhunter/vengeance/guide/combineQualitativePerformances.ts
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/DemonicSnippet.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/GuideSection.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5443 extract CooldownExpandable to guide core
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/CastBreakdownSubSection.tsx
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/VengeanceGuideSection.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
  src/analysis/retail/druid/feral/modules/spells/Berserk.tsx
  src/analysis/retail/druid/feral/modules/spells/ConvokeSpiritsFeral.tsx
  src/analysis/retail/druid/feral/modules/spells/FeralFrenzy.tsx
  src/analysis/retail/druid/restoration/Guide.tsx
  src/analysis/retail/druid/restoration/modules/spells/ConvokeSpiritsResto.tsx
  src/analysis/retail/druid/restoration/modules/spells/Flourish.tsx
  src/analysis/retail/druid/restoration/modules/spells/Innervate.tsx
  src/analysis/retail/druid/restoration/modules/spells/Tranquility.tsx
  src/common/combineQualitativePerformances.test.ts
  src/common/combineQualitativePerformances.ts
  src/interface/guide/components/CooldownExpandable.tsx
Labels: Druid, Demon Hunter, core

#5454 add Refreshing Healing Potion support
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/index.ts
  src/common/SPELLS/dragonflight/potions.ts
  src/common/SPELLS/index.ts
  src/parser/retail/modules/items/HealthPotion.ts
Labels: core
