Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2022-10, with the labels that each got.

#5185 Update enhancement shaman spellbook
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/constants.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/NaturesGuardian.tsx
  src/analysis/retail/shaman/shared/constants.ts
Labels: Shaman

#5200 fix rsk uptime calculations for mw
  analysis/monkmistweaver/src/CHANGELOG.tsx
  analysis/monkmistweaver/src/modules/spells/RisingSunKick.tsx
Labels: Monk

#5203 Added new ExplanationAndData panel, and used it in Feral Druid Guide's 'Core Rotation' section
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/spells/AdaptiveSwarmFeral.tsx
  src/analysis/retail/druid/feral/modules/spells/Bloodtalons.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/MoonfireUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RakeUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
  src/interface/guide/components/Explanation.tsx
  src/interface/guide/components/ExplanationRow.tsx
  src/interface/guide/components/GuideDivs.tsx
Labels: Druid

#5201 Fix ATOTM rsk event handler, fix RSK uptime calculation and rename RSK damage event
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachingsoftheMonastery.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/UpliftedSpirits.tsx
  src/analysis/retail/monk/windwalker/castDamage.ts
  src/analysis/retail/monk/windwalker/constants.ts
  src/analysis/retail/monk/windwalker/modules/items/XuensBattlegear.tsx
  src/common/SPELLS/monk.ts
Labels: Monk

#5219 don't show Furious Gaze stats if untalented
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FuriousGaze.tsx
Labels: Demon Hunter, Dragonflight

#5191 more Holy paladin talent fixes
  src/CONTRIBUTORS.ts
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/modules/checklist/Component.tsx
  src/analysis/retail/paladin/holy/modules/shadowlands/tier/Tier28FourSet.tsx
  src/analysis/retail/paladin/holy/normalizers/BeaconOfVirtue.js
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/warlock/affliction/CONFIG.tsx
  src/analysis/retail/warlock/affliction/constants.ts
  src/analysis/retail/warlock/affliction/modules/core/SoulShardDetails.tsx
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/affliction/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/warlock/affliction/modules/features/Checklist/Component.tsx
  src/analysis/retail/warlock/affliction/modules/features/Checklist/Module.tsx
  src/analysis/retail/warlock/affliction/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/warlock/affliction/modules/talents/SoulConduit.tsx
  src/parser/shared/modules/DeathRecapTracker.js
Labels: Paladin

#5198 Cleanup remaining shaman spells
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Component.tsx
  src/analysis/retail/shaman/elemental/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Aftershock.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Icefury.tsx
  src/analysis/retail/shaman/elemental/modules/talents/LiquidMagmaTotem.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalFireElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalStormElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/StormElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SurgeOfPower.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/analysis/retail/shaman/restoration/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/shaman/restoration/modules/features/checklist/Component.tsx
  src/common/SPELLS/shaman.ts
  src/interface/ReportRaidBuffList.tsx
Labels: Shaman, Dragonflight

#5220 Fix EF cancellation when buffed by TFT
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFontCancelled.tsx
Labels: Monk

#5214 Add basic Dread Touch analyzer (and some spring cleaning)
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/CONFIG.tsx
  src/analysis/retail/warlock/affliction/CombatLogParser.ts
  src/analysis/retail/warlock/affliction/constants.ts
  src/analysis/retail/warlock/affliction/modules/checklist/Component.tsx
  src/analysis/retail/warlock/affliction/modules/checklist/Module.tsx
  src/analysis/retail/warlock/affliction/modules/core/GlobalCooldown.ts
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/affliction/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/warlock/affliction/modules/features/Darkglare.tsx
  src/analysis/retail/warlock/affliction/modules/features/DotUptimes.tsx
  src/analysis/retail/warlock/affliction/modules/resources/SoulShardDetails.tsx
  src/analysis/retail/warlock/affliction/modules/resources/SoulShardTracker.tsx
  src/analysis/retail/warlock/affliction/modules/spells/AbsoluteCorruption.tsx
  src/analysis/retail/warlock/affliction/modules/spells/Agony.tsx
  src/analysis/retail/warlock/affliction/modules/spells/Corruption.tsx
  src/analysis/retail/warlock/affliction/modules/spells/DrainSoul.tsx
  src/analysis/retail/warlock/affliction/modules/spells/DreadTouch.tsx
  src/analysis/retail/warlock/affliction/modules/spells/Haunt.tsx
  src/analysis/retail/warlock/affliction/modules/spells/Nightfall.tsx
  src/analysis/retail/warlock/affliction/modules/spells/PhantomSingularity.tsx
  src/analysis/retail/warlock/affliction/modules/spells/ShadowEmbrace.tsx
  src/analysis/retail/warlock/affliction/modules/spells/SiphonLife.tsx
  src/analysis/retail/warlock/affliction/modules/spells/SoulConduit.tsx
  src/analysis/retail/warlock/affliction/modules/spells/UnstableAffliction.tsx
  src/analysis/retail/warlock/affliction/modules/spells/VileTaint.tsx
  src/analysis/retail/warlock/shared/GrimoireOfSacrifice.tsx
  src/common/SPELLS/warlock.ts
Labels: Warlock

#5223 Holy priest: Updated 'Mana efficiency' tab and added support for new talent
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/EchoOfLightMastery.tsx
  src/analysis/retail/priest/holy/modules/features/HolyPriestHealingEfficiencyTracker.tsx
  src/analysis/retail/priest/holy/modules/spells/PrayerOfMending.tsx
  src/analysis/retail/priest/holy/modules/spells/Renew.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/Benediction.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/RevitalizingPrayers.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/index.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/RenewedFaith.tsx
  src/common/SPELLS/priest.ts
Labels: Priest

#5232 add Soul Fragment buff stack tracking to Guide
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/FuryGraph.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/SoulFragmentBuffStackTracker.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/SoulFragmentsGraph.tsx
  src/parser/shared/modules/BuffStackGraph.tsx
  src/parser/shared/modules/BuffStackTracker.ts
Labels: Demon Hunter

#5205 Feature/swp module
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/discipline/modules/features/PurgeTheWicked.tsx
  src/analysis/retail/priest/discipline/modules/spells/PainAndSuffering.tsx
  src/analysis/retail/priest/discipline/modules/spells/ThroesOfPain.tsx
Labels: Priest

#5240 Druid Resto Guide tooltip updates and PerformanceBoxRow populate refactor. Also some core utilities added.
  src/analysis/retail/druid/feral/modules/spells/AdaptiveSwarmFeral.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/Guide.tsx
  src/analysis/retail/druid/restoration/modules/spells/Abundance.tsx
  src/analysis/retail/druid/restoration/modules/spells/CenarionWard.tsx
  src/analysis/retail/druid/restoration/modules/spells/RegrowthAndClearcasting.tsx
  src/analysis/retail/druid/restoration/modules/spells/SoulOfTheForest.tsx
  src/analysis/retail/druid/restoration/modules/spells/Swiftmend.tsx
  src/analysis/retail/druid/restoration/modules/spells/WildGrowth.tsx
  src/analysis/retail/druid/restoration/normalizers/SwiftmendNormalizer.ts
  src/common/format.ts
  src/interface/guide/components/PerformanceBoxRow/index.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/EventCalculateLib.tsx
  src/parser/shared/modules/Combatants.ts
Labels: Druid

#5241 Added Lion's Strength statistic
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/modules/spells/LionsStrength.tsx
Labels: Druid

#5206 Preservation Evoker - Mastery Healing Module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/core/MasteryEffectiveness.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/analysis/retail/evoker/shared/modules/core/LivingFlame.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker

#5244 Added Carnivorous Instinct statistic, and re-did PerformanceBoxRows (same way as in resto)
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/core/energy/SpellEnergyCost.ts
  src/analysis/retail/druid/feral/modules/spells/AdaptiveSwarmFeral.tsx
  src/analysis/retail/druid/feral/modules/spells/CarnivorousInstinct.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/MoonfireUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RakeUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/SuddenAmbush.tsx
Labels: Druid

#5253 [EVOKER] Update list of abilities for Devastation and Preservation
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/Abilities.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/Abilities.tsx
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/analysis/retail/evoker/shared/modules/core/LivingFlame.tsx
  src/common/ITEMS/classic/cooking.ts
  src/common/ITEMS/classic/others.ts
  src/common/ITEMS/index.ts
  src/common/SPELLS/evoker.ts
  src/parser/classic/modules/items/FoodChecker.tsx
Labels: Evoker

#5255 use talent objects in changelog
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
Labels: Demon Hunter

#5263 enable Vengeance DH guide
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitBasedAnalyzer.ts
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/index.tsx
Labels: Demon Hunter

#5265 Fixed a bug where Lions Strength statistic was active at the wrong times
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/spells/LionsStrength.tsx
Labels: Druid

#5262 Fix EF cancellation detection
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFontCancelled.tsx
Labels: Monk
