Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-12, with the labels that each got.

#6525 [Classic] Trinkets
  src/CHANGELOG.tsx
  src/analysis/classic/druid/restoration/CHANGELOG.tsx
  src/analysis/classic/druid/restoration/modules/spells/Lifebloom.tsx
  src/common/ITEMS/Item.ts
  src/common/ITEMS/classic/trinkets.ts
  src/game/classic/ITEM_BUFFS.ts
Labels: Classic

#6514 [Enhancement Shaman] Update to 10.2
  src/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/Guide.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplCheck.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Tier31.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/Tier30.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/Tier31.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/TierSets.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/Cooldowns.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventOrderNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponBuffNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponGeneratorLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/ProcNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponDetails.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponGraph.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponSpenders.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponTracker.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/AshenCatalyst.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalAssault.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlast.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/LegacyOfTheFrostWitch.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/SwirlingMaelstrom.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/TempestStrikes.tsx
  src/analysis/retail/shaman/shared/constants.ts
  src/analysis/retail/shaman/shared/guide/DefensiveAndUtility.tsx
  src/analysis/retail/shaman/shared/talents/SplinteredElements.tsx
  src/common/SPELLS/shaman.ts
  src/parser/core/MajorCooldowns/MajorCooldown.tsx
  src/parser/shared/metrics/apl/range.ts
  src/parser/ui/TalentSpellText.tsx
Labels: Shaman, Dragonflight

#6510 [Fire Mage] Fix dungeon log crashes/slow loading
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/core/Combustion.tsx
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
  src/analysis/retail/mage/fire/core/HotStreak.tsx
  src/analysis/retail/mage/fire/items/CharringEmbers.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
  src/analysis/retail/mage/fire/talents/FeveredIncantation.tsx
  src/analysis/retail/mage/fire/talents/Hyperthermia.tsx
  src/analysis/retail/mage/shared/DivertedEnergy.tsx
  src/interface/report/PlayerTile.tsx
Labels: Mage, Dragonflight

#6536 [Shaman][Restoration] 10.2 - Fix Resurgence mana returns
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/spells/Resurgence.tsx
Labels: Shaman, Dragonflight

#6540 [Shadow]Fix Shadow Word: Death Max Casts, and Fix Deathspeaker's Cooldown Rest
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowWordDeath.tsx
  src/analysis/retail/priest/shadow/modules/talents/DeathAndMadness.tsx
  src/analysis/retail/priest/shadow/modules/talents/Deathspeaker.tsx
  src/parser/core/modules/Abilities.ts
  src/parser/core/modules/EventEmitter.ts
  src/parser/shared/modules/SpellUsable.ts
Labels: Priest, Dragonflight

#6550 [Classic] Mana Values
  src/CHANGELOG.tsx
  src/parser/classic/modules/ManaValues.tsx
Labels: Classic

#6552 [Classic] Affliction Warlock
  src/analysis/classic/warlock/affliction/CHANGELOG.tsx
  src/analysis/classic/warlock/affliction/CombatLogParser.ts
  src/analysis/classic/warlock/affliction/modules/features/Abilities.ts
  src/analysis/classic/warlock/affliction/modules/features/Buffs.tsx
  src/analysis/classic/warlock/shared/Haste.ts
  src/analysis/classic/warlock/shared/index.ts
  src/common/SPELLS/classic/warlock.ts
Labels: Warlock, Classic

#6556 windwalker: add t31 and make hit combo respect sotw
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/constants.ts
  src/analysis/retail/monk/windwalker/modules/dragonflight/tier/T31WWTier.tsx
  src/analysis/retail/monk/windwalker/modules/talents/Serenity.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, Dragonflight

#6559 add CDR tracking to Vengeance 4pc
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/dragonflight/tier/ScreamingTorchfiendsBrutality.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/CycleOfBinding.tsx
  src/common/format.ts
Labels: Demon Hunter

#6561 add Mutilate analysis
  src/analysis/retail/demonhunter/havoc/modules/talents/UnboundChaos.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/SigilOfFlame.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/ShiftingSands.tsx
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CombatLogParser.ts
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Mutilate.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/analysis/retail/rogue/assassination/normalizers/MutilateVanishLinkNormalizer.ts
  src/parser/core/MajorCooldowns/MajorCooldown.tsx
  src/parser/core/SpellUsage/HideGoodCastsSpellUsageSubSection.tsx
Labels: Rogue

#6562 bump Assassination to 10.2 and add Kingsbane note
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
  src/analysis/retail/rogue/assassination/Guide.tsx
Labels: Rogue

#6563 add experimental Kingsbane analysis
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CombatLogParser.ts
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/guide/ExperimentalKingsbaneContext.tsx
  src/analysis/retail/rogue/assassination/guide/useAssassinationFeatureFlag.ts
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Mutilate.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Kingsbane.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Sepsis.tsx
  src/analysis/retail/rogue/assassination/normalizers/BlindsideEventOrderNormalizer.ts
  src/analysis/retail/rogue/assassination/normalizers/KingsbaneLinkNormalizer.ts
  src/analysis/retail/rogue/shared/styled-components.ts
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Rogue

#6567 detect if 0 targets were hit by Fel Devastation
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Demon Hunter

#6564 setup PR auto-labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: core

#6571 Bugfix/disc 10.2 cleanup
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/HarshDiscipline.tsx
Labels: Priest, Dragonflight

#6573 bring over a few of the changes from the vite branch
  lingui.config.js
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/interface/DelayRender.tsx
  src/localization/I18nProvider.tsx
Labels: core, Translation

#6575 mark 10.1.5 as an old patch
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#6577 Fix ToM apl and mark rem/envm as both acceptable for ToM TFT
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplCheck.tsx
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplChoiceDescription.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
Labels: Monk, Dragonflight

#6578 add Dreaming Devotion as a max rank enchant
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/enchants.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: Dragonflight

#6579 [Augmentation] Add a few more spells to the blacklist
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
Labels: Dragonflight, Evoker

#6580 Fix yulon crash when player died
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Buffs.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/BaseCelestialAnalyzer.tsx
Labels: Monk, Dragonflight

#6576 bump lingui to 4.6.0
  .eslintrc.js
  lingui.config.ts
  package.json
  scripts/e2e/generate-configs.ts
  src/CHANGELOG.tsx
  src/analysis/classic/priest/shadow/modules/features/DevouringPlague.tsx
  src/analysis/retail/deathknight/blood/modules/features/DancingRuneWeapon.tsx
  src/analysis/retail/deathknight/unholy/modules/spells/VileInfusion.tsx
  src/analysis/retail/evoker/augmentation/modules/dragonflight/T31Augmentation4P.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Accretion.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Causality.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFont.tsx
  src/analysis/retail/warrior/arms/modules/core/Dots/DeepWoundsRefreshes.tsx
  src/analysis/retail/warrior/arms/modules/core/Dots/RendRefreshes.tsx
  src/game/ROLES.ts
  src/interface/report/Results/About.tsx
  src/localization/I18nProvider.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/isMessageDescriptor.ts
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  yarn.lock
Labels: Death Knight, Monk, Priest, Warrior, core, Dragonflight, Classic, Evoker, Translation

#6581 add intermission data to phase configs, fix instance counting
  src/CHANGELOG.tsx
  src/interface/report/hooks/useBossPhaseEvents.tsx
  src/parser/core/PhaseConfig.ts
  src/parser/core/Report.ts
Labels: core

#6584 fix issues from eslint 8 update
  .eslintrc.js
  package.json
  src/CHANGELOG.tsx
  src/parser/core/Events.ts
  yarn.lock
Labels: core
