Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-09, with the labels that each got.

#6340 update useSpellInfo to use maybeGetTalentOrSpell
  src/CHANGELOG.tsx
  src/interface/useSpellInfo.ts
Labels: core

#6347 [Classic] Guild page
  src/CHANGELOG.tsx
  src/common/makeApiUrl.ts
  src/common/makeGuildPageUrl.ts
  src/game/ZONES.ts
  src/game/classic/ZONES.ts
  src/interface/GuildPage.tsx
  src/interface/GuildReports.tsx
  src/interface/GuildReportsList.tsx
  src/interface/NameSearch.tsx
  src/interface/images/classic_guild_banner_lich_king.jpg
Labels: core, Classic

#6354 Add mana tea statistic
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Module.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RenewingMistDuringManaTea.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/monk.ts
Labels: Monk

#6355 Add SpellManaCost module to MW and change MT/CF modules accordingly
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/SpellManaCost.ts
  src/analysis/retail/monk/mistweaver/modules/spells/CloudedFocus.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
Labels: Monk

#6359 [Mistweaver] add mana tea stack breakdown module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Module.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Lifecycles.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTeaSources.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
Labels: Monk

#6364 disable M+ logs containing augvokers
  src/CHANGELOG.tsx
  src/interface/report/PlayerSelection.tsx
  src/interface/report/PlayerTile.tsx
Labels: core

#6368 [Unholy Death Knight] Fix commander of the dead spamming casts
  src/analysis/retail/deathknight/unholy/CHANGELOG.tsx
  src/analysis/retail/deathknight/unholy/modules/features/Abilities.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Death Knight

#6258 [hpal] enable mana graphs for holy paladin
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/constants.ts
  src/analysis/retail/paladin/holy/modules/features/Abilities.tsx
  src/analysis/retail/paladin/holy/modules/features/HealingPerHolyPower.tsx
  src/analysis/retail/paladin/holy/modules/features/HolyPaladinHealingEfficiencyTracker.ts
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/Daybreak.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/GlimmerOfLight.tsx
  src/analysis/retail/paladin/holy/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/paladin.ts
  src/parser/core/healingEfficiency/HealingEfficiencyBreakdown.tsx
  src/parser/shared/modules/ManaValues.tsx
  src/parser/shared/modules/SpellManaCost.js
Labels: Paladin, Dragonflight

#6377 add Shadowflame bad icon
  public/img/Icons/inv_10_elementalshardfoozles_shadowflame.jpg
  src/CHANGELOG.tsx
  src/interface/BAD_ICONS.ts
Labels: core
