Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-07, with the labels that each got.

#6156 regenerate talents
  scripts/talents/README.md
  scripts/talents/download-spellpower.ts
  scripts/talents/generate-talents.ts
  scripts/talents/spellpower_10.0.5.47777.csv
  scripts/talents/spellpower_10.1.0.50000.csv
  scripts/talents/spellpower_10.1.5.50232.csv
  src/CHANGELOG.tsx
  src/common/TALENTS/druid.ts
Labels: core

#6167 update SpellLink usage for Paladin
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CONFIG.tsx
  src/analysis/retail/paladin/holy/modules/beacons/BeaconHealingBreakdown.js
  src/analysis/retail/paladin/holy/modules/beacons/DirectBeaconHealing.tsx
  src/analysis/retail/paladin/holy/modules/beacons/FailedBeaconTransfers.tsx
  src/analysis/retail/paladin/holy/modules/beacons/MissingBeacons.tsx
  src/analysis/retail/paladin/holy/modules/checklist/Component.tsx
  src/analysis/retail/paladin/holy/modules/dragonflight/tier/T30TierSet.tsx
  src/analysis/retail/paladin/holy/modules/features/CastBehavior.tsx
  src/analysis/retail/paladin/holy/modules/features/Overhealing.tsx
  src/analysis/retail/paladin/holy/modules/spells/DevotionAuraDamageReduction.tsx
  src/analysis/retail/paladin/holy/modules/spells/FillerFlashOfLight.tsx
  src/analysis/retail/paladin/holy/modules/spells/FillerLightOfTheMartyrs.tsx
  src/analysis/retail/paladin/holy/modules/talents/AvengingCrusader.tsx
  src/analysis/retail/paladin/holy/modules/talents/CrusadersMight.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight.tsx
  src/analysis/retail/paladin/holy/modules/talents/MaraadsCastRatio.tsx
  src/analysis/retail/paladin/holy/modules/talents/MaraadsOverheal.tsx
  src/analysis/retail/paladin/holy/modules/talents/RuleOfLaw.tsx
  src/analysis/retail/paladin/holy/modules/talents/UntemperedDedication.tsx
  src/analysis/retail/paladin/protection/CHANGELOG.tsx
  src/analysis/retail/paladin/protection/CONFIG.tsx
  src/analysis/retail/paladin/protection/modules/core/AplCheck.tsx
  src/analysis/retail/paladin/protection/modules/features/AlwaysBeCasting.js
  src/analysis/retail/paladin/protection/modules/features/Checklist/Component.js
  src/analysis/retail/paladin/protection/modules/features/OvercapShieldOfTheRighteous.tsx
  src/analysis/retail/paladin/protection/modules/features/ShieldOfTheRighteous.tsx
  src/analysis/retail/paladin/protection/modules/spells/HammerOfTheRighteous.js
  src/analysis/retail/paladin/protection/modules/spells/LightOfTheProtector.js
  src/analysis/retail/paladin/protection/modules/spells/WordOfGlory.tsx
  src/analysis/retail/paladin/protection/modules/talents/BlessedHammerDamageReduction.tsx
  src/analysis/retail/paladin/protection/modules/talents/FirstAvenger.tsx
  src/analysis/retail/paladin/protection/modules/talents/MomentOfGlory.tsx
  src/analysis/retail/paladin/protection/modules/talents/RighteousProtector.tsx
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/modules/core/ArtOfWar.tsx
  src/analysis/retail/paladin/retribution/modules/core/ArtOfWarProbability.tsx
  src/analysis/retail/paladin/retribution/modules/core/Consecration.tsx
  src/analysis/retail/paladin/retribution/modules/core/ShieldOfVengeance.tsx
  src/analysis/retail/paladin/retribution/modules/core/WakeofAshes.tsx
  src/analysis/retail/paladin/retribution/modules/features/AlwaysBeCasting.js
  src/analysis/retail/paladin/retribution/modules/features/Checklist/Component.js
  src/analysis/retail/paladin/retribution/modules/talents/Crusade.tsx
  src/analysis/retail/paladin/retribution/modules/talents/EmpyreanPower.tsx
  src/analysis/retail/paladin/shared/DivinePurpose.tsx
  src/analysis/retail/paladin/shared/DuskAndDawn.tsx
  src/analysis/retail/paladin/shared/Judgment.tsx
Labels: Paladin

#6161 update Evoker use of SpellLink
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageSection.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/core/MasteryEffectiveness.tsx
  src/analysis/retail/evoker/preservation/modules/core/PreservationHealingEfficiencyDetails.tsx
  src/analysis/retail/evoker/preservation/modules/dragonflight/tier/T30TierSet.tsx
  src/analysis/retail/evoker/preservation/modules/features/Checklist/Component.tsx
  src/analysis/retail/evoker/preservation/modules/talents/CallOfYsera.tsx
  src/analysis/retail/evoker/preservation/modules/talents/CycleOfLife.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamFlight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EchoBreakdown.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldBlossom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldCommunion.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EnergyLoop.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FieldOfDreams.tsx
  src/analysis/retail/evoker/preservation/modules/talents/GracePeriod.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Ouroboros.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ResonatingSphere.tsx
  src/analysis/retail/evoker/preservation/modules/talents/SparkOfInsight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Spiritbloom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TimeLord.tsx
Labels: Evoker

#6154 [Evoker] Implemented handler for Empower Channeling
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/Abilities.tsx
  src/analysis/retail/evoker/devastation/modules/Buffs.tsx
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Dragonflight, Evoker

#6173 [Classic] Demo Warlock Guide 4
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/Guide.tsx
  src/analysis/classic/warlock/demonology/modules/checklist/Module.tsx
  src/analysis/classic/warlock/demonology/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/demonology/modules/guide/CastingSubsection.tsx
  src/analysis/classic/warlock/demonology/modules/spells/MoltenCore.tsx
Labels: Warlock, Classic

#6176 add 10.1.5 details
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
Labels: core

#6177 add missing encounters to S2 M+
  src/CHANGELOG.tsx
  src/game/ZONES.ts
Labels: core

#6178 fix Fracture Fury calculations in Guide
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/ShearFractureNormalizer.ts
Labels: Demon Hunter

#6179 update Rogue usage of SpellLink
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/assassination/modules/core/HitCountAoE.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Exsanguinate.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/Guide.tsx
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/AplCheck.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/betweenTheEyesMissing.tsx
  src/analysis/retail/rogue/outlaw/modules/core/BuilderUse.tsx
  src/analysis/retail/rogue/outlaw/modules/core/ComboPoints.tsx
  src/analysis/retail/rogue/outlaw/modules/core/Energy.tsx
  src/analysis/retail/rogue/outlaw/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/outlaw/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/rogue/outlaw/modules/features/Checklist/Component.tsx
  src/analysis/retail/rogue/outlaw/modules/features/Finishers.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/Audacity.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/Dispatch.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/Opportunity.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesBuffs.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesCounter.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesEfficiency.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/SliceAndDiceUptime.tsx
  src/analysis/retail/rogue/outlaw/modules/talents/BladeRush.tsx
  src/analysis/retail/rogue/shared/DeeperDaggers.tsx
  src/analysis/retail/rogue/shared/InstantPoison.tsx
  src/analysis/retail/rogue/shared/StealthAbilityFollowingSepsis.tsx
  src/analysis/retail/rogue/shared/shadowlands/conduits/WellPlacedSteel.tsx
  src/analysis/retail/rogue/shared/talents/Flagellation.tsx
  src/analysis/retail/rogue/subtlety/CHANGELOG.tsx
  src/analysis/retail/rogue/subtlety/modules/core/BlackPowder.tsx
  src/analysis/retail/rogue/subtlety/modules/core/CastsInShadowDance.tsx
  src/analysis/retail/rogue/subtlety/modules/core/CastsInStealthBase.tsx
  src/analysis/retail/rogue/subtlety/modules/core/ComboPoints.tsx
  src/analysis/retail/rogue/subtlety/modules/core/Energy.tsx
  src/analysis/retail/rogue/subtlety/modules/core/GeneratorFollowingVanish.tsx
  src/analysis/retail/rogue/subtlety/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/rogue/subtlety/modules/features/ShadowBladesUptime.tsx
  src/analysis/retail/rogue/subtlety/modules/features/SymbolsOfDeathUptime.tsx
  src/analysis/retail/rogue/subtlety/modules/features/VanishFindWeakness.tsx
  src/analysis/retail/rogue/subtlety/modules/features/checklist/Component.tsx
  src/analysis/retail/rogue/subtlety/modules/talents/DarkShadow/DarkShadowContribution.tsx
  src/analysis/retail/rogue/subtlety/modules/talents/TheRotten.tsx
Labels: Rogue

#6180 update Shaman usage of SpellLink
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Component.tsx
  src/analysis/retail/shaman/elemental/modules/features/Overload.js
  src/analysis/retail/shaman/elemental/modules/talents/Aftershock.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/elemental/modules/talents/LiquidMagmaTotem.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalFireElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalStormElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SurgeOfPower.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/shadowlands/legendaries/WitchDoctorsWolfBones.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/FeralSpirit.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/FireNova.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ForcefulWinds.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Hailstorm.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/NaturesGuardian.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Sundering.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/features/MasteryEffectiveness.js
  src/analysis/retail/shaman/restoration/modules/spells/ChainHeal.tsx
  src/analysis/retail/shaman/restoration/modules/spells/HealingRain.tsx
  src/analysis/retail/shaman/restoration/modules/spells/Resurgence.tsx
  src/analysis/retail/shaman/restoration/modules/spells/SpiritLinkDamageReduction.tsx
  src/analysis/retail/shaman/restoration/modules/spells/WaterShield.tsx
  src/analysis/retail/shaman/restoration/modules/talents/AncestralProtectionTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/AncestralVigor.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Downpour.tsx
  src/analysis/retail/shaman/restoration/modules/talents/EarthenWallTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Wellspring.tsx
  src/analysis/retail/shaman/shared/core/FlameShock.tsx
  src/analysis/retail/shaman/shared/talents/AstralShift.tsx
  src/analysis/retail/shaman/shared/talents/SpiritWolf.tsx
Labels: Shaman

#6187 add statistic for wasted Demon Spikes
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/constants.ts
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/DemonSpikes.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/DemonicSnippet.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/GuideSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/Metamorphosis/index.tsx
Labels: Demon Hunter

#6188 update remaining usages of spell ID in SpellLink
  packages/eslint-plugin-wowanalyzer/rules/boring-spell-value-text-spell-object.js
  packages/eslint-plugin-wowanalyzer/rules/spell-icon-spell-object.js
  packages/eslint-plugin-wowanalyzer/rules/spell-link-spell-object.js
  src/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/guide/MaelstromSubSection.tsx
  src/parser/shared/modules/features/AoESpellEfficiency.tsx
  src/parser/shared/modules/racials/dwarf/MightOfTheMountain.tsx
  src/parser/shared/modules/racials/dwarf/Stoneform.js
  src/parser/ui/TalentAggregateStatistic.tsx
  src/parser/ui/UptimeBarSubStatistic.tsx
Labels: core

#6197 update VDH for 10.1.5
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter

#6198 update HDH for 10.1.5
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
Labels: Demon Hunter

#6207 disable checklist for Havoc
  e2e/report-selection.spec.ts
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
Labels: Demon Hunter

#6209 mark 10.1.5 as active patch
  src/CHANGELOG.tsx
  src/game/VERSIONS.ts
  src/interface/report/PATCHES.ts
Labels: core

#6204 [hpal] add judgment to iol usage graph + mana gain from divine revelations
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/core/PaladinAbilityTracker.ts
  src/analysis/retail/paladin/holy/modules/features/CastBehavior.tsx
  src/analysis/retail/paladin/holy/modules/talents/DivineRevelations.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, Dragonflight

#6217 Fixed reclamation module
  src/analysis/retail/monk/mistweaver/modules/spells/ShaohaosLessons.tsx
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/GlimmerOfLight.tsx
  src/analysis/retail/paladin/holy/modules/talents/Reclamation.tsx
Labels: Paladin

#6220 first pass at Retribution Paladin guide
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CONFIG.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/analysis/retail/paladin/retribution/Guide.tsx
  src/analysis/retail/paladin/retribution/constants.tsx
  src/analysis/retail/paladin/retribution/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/retribution/modules/Buffs.ts
  src/analysis/retail/paladin/retribution/modules/core/BuilderUse.tsx
  src/analysis/retail/paladin/retribution/modules/core/Consecration.tsx
  src/analysis/retail/paladin/retribution/modules/core/CrusaderStrike.tsx
  src/analysis/retail/paladin/retribution/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/paladin/retribution/modules/features/Checklist/Component.js
  src/analysis/retail/paladin/retribution/modules/features/Checklist/Module.js
  src/analysis/retail/paladin/retribution/modules/features/CooldownThroughputTracker.tsx
  src/analysis/retail/paladin/retribution/modules/talents/ArtOfWar.tsx
  src/analysis/retail/paladin/retribution/modules/talents/ArtOfWarProbability.tsx
  src/analysis/retail/paladin/retribution/modules/talents/BladeofJustice.tsx
  src/analysis/retail/paladin/retribution/modules/talents/Crusade.tsx
  src/analysis/retail/paladin/retribution/modules/talents/FinalVerdict.tsx
  src/analysis/retail/paladin/retribution/modules/talents/HammerofWrath.tsx
  src/analysis/retail/paladin/retribution/modules/talents/ShieldOfVengeance.tsx
  src/analysis/retail/paladin/retribution/modules/talents/WakeofAshes.tsx
  src/common/SPELLS/paladin.ts
  tsconfig.json
Labels: Paladin

#6221 add resource costs to talent generation
  scripts/talents/generate-talents.ts
  scripts/talents/talent-tree-helpers.ts
  scripts/talents/talent-tree-types.ts
  src/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/common/SPELLS/Spell.ts
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/warlock.ts
Labels: core

#6213 [Classic] Realms 2
  scripts/realms/README.md
  scripts/realms/data/classicEU.json
  scripts/realms/data/classicKR.json
  scripts/realms/data/classicTW.json
  scripts/realms/data/classicUS.json
  scripts/realms/output.ts
  scripts/realms/reformatRealms.js
  src/CHANGELOG.tsx
  src/common/makeApiUrl.ts
  src/common/regions.ts
  src/game/REALMS.ts
  src/game/RealmList.ts
  src/interface/CharacterParses.tsx
Labels: core, Classic

#6226 make patch incompatibility warning more clear
  src/CHANGELOG.tsx
  src/interface/report/Results/About.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: core

#6228 [Devastation]Update patchCompatability to 10.1.5
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
Labels: Dragonflight, Evoker

#6157 [Augmentation] 10.1.5 Implementation
  public/specs/Evoker-Augmentation.jpg
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/Guide.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/index.ts
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/Buffs.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/BreathOfEon.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/ShiftingSands.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTrackerGraph.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/Cooldown.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/IntroSection.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/EmpowerNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/PrescienceNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Accretion.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/BlisteringScalesGraph.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/BlisteringScalesStackTracker.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Prescience.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/TimeSkip.tsx
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/common/SPELLS/evoker.ts
  src/game/SPECS.ts
  src/interface/report/CombatantInfoFaker.ts
  src/localization/en/messages.json
  src/parser/index.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: Dragonflight, Evoker

#6210 [hpal] add Tyr's Deliverance
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/modules/talents/TyrsDeliverance/BoundlessSalvation.tsx
  src/analysis/retail/paladin/holy/modules/talents/TyrsDeliverance/TyrsDeliverance.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, Dragonflight

#6233 [Classic] Realms 3
  scripts/realms/data/classicKR.json
  scripts/realms/output.ts
  src/CHANGELOG.tsx
  src/game/REALMS.ts
  src/game/RealmList.ts
  src/interface/GuildReports.tsx
  src/interface/Header.scss
  src/interface/NameSearch.tsx
Labels: core, Classic

#6223 Rename MappedEvent to AnyEvent, clobber old AnyEvent
  src/CHANGELOG.tsx
  src/interface/guide/components/MajorDefensives/MajorDefensiveAnalyzer.tsx
  src/parser/core/Analyzer.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/core/EventSubscriber.ts
  src/parser/core/Events.ts
  src/parser/core/modules/EventEmitter.ts
  src/parser/shared/metrics/apl/conditions/debuffMissing.test.ts
  src/parser/shared/modules/EventHistory.ts
Labels: core

#6216 [elemental] Add SK section
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/constants.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/core/SpellMaelstromCost.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/shared/core/FlameShock.tsx
  src/analysis/retail/shaman/shared/resources/MaelstromTracker.js
  src/common/SPELLS/shaman.ts
  src/parser/core/Entity.ts
  src/parser/shared/modules/Enemies.ts
  src/parser/shared/modules/earlydotrefreshes/EarlyDotRefreshes.tsx
Labels: Shaman, Dragonflight

#6243 [Classic] update enchants
  src/CHANGELOG.tsx
  src/parser/classic/modules/items/EnchantChecker.tsx
Labels: Paladin, Classic

#6250 normalize Berserkers/Blademasters Torment extra casts
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CombatLogParser.tsx
  src/analysis/retail/warrior/arms/modules/talents/BlademastersTorment.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/talents/BerserkersTorment.tsx
  src/common/SPELLS/warrior.ts
  src/interface/EventsTab.css
  src/interface/EventsTab.js
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Warrior

#6256 fix crash w/ lingui in suggestions
  src/CHANGELOG.tsx
  src/parser/core/ParseResults.tsx
Labels: core

#6251 Add ancient flame module to Preservation Evoker guide
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/Guide.tsx
  src/analysis/retail/evoker/preservation/modules/features/Abilities.tsx
  src/analysis/retail/evoker/preservation/modules/talents/AncientFlame.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Evoker

#6257 improve behavior of maybeGetTalent and maybeGetTalentOrSpell
  src/CHANGELOG.tsx
  src/common/TALENTS/maybeGetTalent.ts
  src/common/maybeGetTalentOrSpell.ts
Labels: core

#6215 Adds FlameShock guide section.
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/guide/FlameShockSubSection.tsx
  src/analysis/retail/shaman/shared/core/FlameShock.tsx
  src/parser/shared/modules/Enemies.ts
Labels: Shaman, Dragonflight
