Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-02, with the labels that each got.

#5772 improve Envenom phrasing and Animacharged
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
Labels: Rogue

#5770 Classic Spec cleanup
  src/CHANGELOG.tsx
  src/analysis/classic/rogue/CHANGELOG.tsx
  src/analysis/classic/rogue/CONFIG.tsx
  src/analysis/classic/rogue/CombatLogParser.ts
  src/analysis/classic/rogue/SPELLS.ts
  src/analysis/classic/rogue/index.ts
  src/analysis/classic/rogue/lowRankSpells.ts
  src/analysis/classic/rogue/modules/Abilities.tsx
  src/analysis/classic/rogue/modules/checklist/Component.tsx
  src/analysis/classic/rogue/modules/checklist/Module.tsx
  src/analysis/classic/rogue/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/warrior/CHANGELOG.tsx
  src/analysis/classic/warrior/CONFIG.tsx
  src/analysis/classic/warrior/CombatLogParser.ts
  src/analysis/classic/warrior/SPELLS.ts
  src/analysis/classic/warrior/index.ts
  src/analysis/classic/warrior/lowRankSpells.ts
  src/analysis/classic/warrior/modules/Abilities.tsx
  src/analysis/classic/warrior/modules/Buffs.tsx
  src/parser/index.ts
Labels: Hunter, Rogue, Warrior, Classic

#5771 Add Classic Melee template
  src/analysis/classic/_templates/melee/CHANGELOG.tsx
  src/analysis/classic/_templates/melee/CONFIG.tsx
  src/analysis/classic/_templates/melee/CombatLogParser.ts
  src/analysis/classic/_templates/melee/index.ts
  src/analysis/classic/_templates/melee/modules/checklist/Component.tsx
  src/analysis/classic/_templates/melee/modules/checklist/Module.tsx
  src/analysis/classic/_templates/melee/modules/features/Abilities.ts
  src/analysis/classic/_templates/melee/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/_templates/melee/modules/features/Buffs.tsx
  src/analysis/classic/_templates/melee/modules/features/CooldownThroughputTracker.ts
Labels: Classic

#5762 [Classic] Ulduar Raid buffs
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/index.ts
  src/common/SPELLS/classic/raids.ts
  src/parser/shared/modules/Haste.ts
Labels: core, Classic

#5763 rewrite test utilities in TypeScript
  package.json
  src/CHANGELOG.tsx
  src/parser/core/tests/TestCombatLogParser.js
  src/parser/core/tests/TestCombatLogParser.ts
  src/parser/core/tests/TestCombatant.ts
  src/parser/core/tests/constants.ts
  src/parser/core/tests/log-tools.ts
  src/parser/core/tests/snapshotTest.tsx
  tsconfig.json
  yarn.lock
Labels: core

#5788 fix Emerald Communion breaking
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldCommunion.tsx
Labels: Evoker

#5790 add Potion of Shocking Disclosure
  src/CHANGELOG.tsx
  src/parser/retail/modules/items/PotionChecker.tsx
Labels: core

#5778 Feature/classic resto druid round 2
  src/analysis/classic/druid/restoration/CHANGELOG.tsx
  src/analysis/classic/druid/restoration/CombatLogParser.ts
  src/analysis/classic/druid/restoration/Guide.tsx
  src/analysis/classic/druid/restoration/modules/SPELL_EFFECTS.ts
  src/analysis/classic/druid/restoration/modules/checklist/Component.tsx
  src/analysis/classic/druid/restoration/modules/core/HotTrackerRestoDruid.tsx
  src/analysis/classic/druid/restoration/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/restoration/modules/features/Buffs.tsx
  src/analysis/classic/druid/restoration/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/druid/restoration/modules/features/HotCountGraph.tsx
  src/analysis/classic/druid/restoration/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/classic/druid/restoration/modules/normalizers/SwiftmendNormalizer.ts
  src/analysis/classic/druid/restoration/modules/spells/Lifebloom.tsx
  src/analysis/classic/druid/restoration/modules/spells/Rejuvenation.tsx
  src/analysis/classic/druid/restoration/modules/spells/Swiftmend.tsx
  src/analysis/classic/druid/restoration/modules/spells/WildGrowth.tsx
  src/analysis/classic/druid/shared/talents/OmenOfClarity.tsx
  src/analysis/classic/druid/shared/talents/Revitalize.tsx
  src/common/SPELLS/classic/druid.ts
  src/interface/guide/components/Preparation/PreparationSection.tsx
Labels: Druid, Classic

#5830 [OUTLAW] Fan the hammer normalizer
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/CombatLogParser.ts
  src/analysis/retail/rogue/outlaw/normalizers/FanTheHammerNormalizer.ts
Labels: Rogue

#5839 improve types for FilteredDamageTracker
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/shared/CHANGELOG.tsx
  src/analysis/retail/rogue/shared/FilteredDamageTracker.ts
  src/analysis/retail/rogue/subtlety/CHANGELOG.tsx
Labels: Rogue

#5838 [Outlaw] various fixes
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/core/RestlessBlades.ts
  src/analysis/retail/rogue/outlaw/modules/features/Checklist/Component.tsx
  src/analysis/retail/rogue/outlaw/modules/features/Finishers.tsx
  src/common/SPELLS/rogue.ts
Labels: Rogue

#5828 Classic Warrior Spells
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/SPELLS/classic/warrior.ts
Labels: Warrior, Classic

#5846 fix spell ID for Bloodthirst
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/warrior.ts
Labels: Classic

#5847 fix Spirit Bomb Soul Fragment credits
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/SpiritBombEventLinkNormalizer.ts
Labels: Demon Hunter

#5835 Feature/classic survival hunter
  src/CONTRIBUTORS.ts
  src/analysis/classic/hunter/CombatLogParser.ts
  src/analysis/classic/hunter/modules/Abilities.tsx
  src/analysis/classic/hunter/modules/AlwaysBeCasting.ts
  src/analysis/classic/hunter/modules/AutoShotCooldown.ts
  src/analysis/classic/hunter/modules/Buffs.tsx
  src/analysis/classic/hunter/shared/KillShot.tsx
  src/analysis/classic/hunter/shared/SPELLS_PET.ts
  src/analysis/classic/hunter/shared/constants.ts
  src/analysis/classic/hunter/shared/index.ts
  src/analysis/classic/hunter/shared/lowRankSpells.ts
  src/analysis/classic/hunter/shared/lowRankSpellsPet.ts
  src/analysis/classic/hunter/suggestions/growl.tsx
  src/analysis/classic/hunter/survival/CHANGELOG.tsx
  src/analysis/classic/hunter/survival/CONFIG.tsx
  src/analysis/classic/hunter/survival/CombatLogParser.ts
  src/analysis/classic/hunter/survival/index.ts
  src/analysis/classic/hunter/survival/metrics/growlCasts.ts
  src/analysis/classic/hunter/survival/metrics/killCommandMaxCasts.ts
  src/analysis/classic/hunter/survival/modules/checklist/Component.tsx
  src/analysis/classic/hunter/survival/modules/checklist/Module.tsx
  src/analysis/classic/hunter/survival/modules/features/Abilities.ts
  src/analysis/classic/hunter/survival/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/hunter/survival/modules/features/Buffs.tsx
  src/analysis/classic/hunter/survival/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/hunter/survival/modules/features/DotUptimes.tsx
  src/analysis/classic/hunter/survival/modules/features/Haste.ts
  src/analysis/classic/hunter/survival/modules/spells/SerpentSting.tsx
  src/analysis/classic/hunter/survival/normalizers/KillCommandNormalizer.ts
  src/analysis/classic/hunter/survival/statistics/GoForTheThroat.tsx
  src/analysis/classic/hunter/survival/suggestions/growl.tsx
  src/analysis/classic/hunter/survival/suggestions/lowRankSpellsPet.tsx
  src/common/SPELLS/classic/hunter.ts
  src/parser/index.ts
Labels: Hunter, Classic
