Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-01, with the labels that each got.

#5586 Added support for Vault of the Incarnates 2pc
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/modules/spells/VotI2pc.tsx
Labels: Druid

#5606 fix bug with Spirit Bomb cast performance reporting
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
Labels: Demon Hunter

#5601 Add PR Template
  .github/PULL_REQUEST_TEMPLATE.md
  src/CHANGELOG.tsx
Labels: core

#5569 Classic Hunter spells
  src/CHANGELOG.tsx
  src/analysis/classic/hunter/CONFIG.tsx
  src/analysis/classic/hunter/SPELLS.ts
  src/analysis/classic/hunter/lowRankSpells.ts
  src/analysis/classic/hunter/metrics/killCommandMaxCasts.ts
  src/analysis/classic/hunter/modules/Abilities.tsx
  src/analysis/classic/hunter/modules/AlwaysBeCasting.ts
  src/analysis/classic/hunter/modules/AutoShotCooldown.ts
  src/analysis/classic/hunter/modules/Buffs.tsx
  src/analysis/classic/hunter/modules/Haste.ts
  src/analysis/classic/hunter/normalizers/KillCommandNormalizer.ts
  src/common/SPELLS/classic/hunter.ts
  src/common/SPELLS/classic/index.ts
Labels: Hunter, Classic

#5617 healing subtraction for upwelling
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Upwelling.tsx
Labels: Monk

#5587 Add Classic Templates
  src/analysis/classic/_templates/healer/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/CONFIG.tsx
  src/analysis/classic/_templates/healer/CombatLogParser.ts
  src/analysis/classic/_templates/healer/index.ts
  src/analysis/classic/_templates/healer/modules/checklist/Component.tsx
  src/analysis/classic/_templates/healer/modules/checklist/Module.tsx
  src/analysis/classic/_templates/healer/modules/features/Abilities.ts
  src/analysis/classic/_templates/healer/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/_templates/healer/modules/features/Buffs.tsx
  src/analysis/classic/_templates/healer/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/_templates/healer/modules/features/HealingEfficiencyBreakdown.tsx
  src/analysis/classic/_templates/healer/modules/features/HealingEfficiencyDetails.tsx
  src/analysis/classic/_templates/healer/modules/features/HealingEfficiencyTracker.tsx
  src/analysis/classic/_templates/shared/index.ts
  src/analysis/classic/_templates/shared/lowRankSpells.ts
  src/common/SPELLS/classic/druid.ts
Labels: Druid, core, Classic

#5594 Classic P1 Trinkets
  src/CHANGELOG.tsx
  src/analysis/classic/deathknight/unholy/CHANGELOG.tsx
  src/analysis/classic/deathknight/unholy/modules/features/Buffs.tsx
  src/analysis/classic/mage/arcane/modules/features/Buffs.tsx
  src/analysis/classic/warlock/affliction/CHANGELOG.tsx
  src/analysis/classic/warlock/affliction/modules/features/Buffs.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/modules/features/Buffs.tsx
  src/common/ITEMS/Item.ts
  src/common/ITEMS/classic/index.ts
  src/common/ITEMS/classic/trinkets.ts
  src/game/classic/ITEM_BUFFS.ts
Labels: Death Knight, Warlock, core, Classic

#5579 remove support for Wowdb tooltips
  .env
  public/index.html
  src/CHANGELOG.tsx
  src/Root.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/components/AllCooldownUsagesList.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/Shuffle/GuideSection.tsx
  src/interface/App.tsx
  src/interface/BaseTooltipProvider.ts
  src/interface/ItemLink.tsx
  src/interface/ResourceLink.tsx
  src/interface/SpellLink.tsx
  src/interface/TooltipProvider.ts
  src/interface/TooltipProviderWowdb.ts
  src/interface/TooltipProviderWowhead.ts
  src/interface/actions/tooltips.ts
  src/interface/guide/components/Apl/violations/claims.tsx
  src/interface/reducers/index.ts
  src/interface/reducers/tooltips.ts
  src/interface/report/Results/index.tsx
  src/interface/useTooltip.tsx
  src/parser/shared/metrics/apl/annotate.test.tsx
  src/store.ts
Labels: core

#5620 make weapon enhancement suggestions more readable
  src/CHANGELOG.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/shared/modules/items/WeaponEnhancementChecker.tsx
Labels: core

#5625 add Fury wasted to DH guides
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/ExtraComponents.tsx
  src/analysis/retail/demonhunter/shared/guide/FuryCapWaste.tsx
  src/analysis/retail/demonhunter/shared/guide/PerformancePercentage.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/FuryTracker.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5635 log cast event on VDH Guide box click
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
Labels: Demon Hunter

#5642 Add Classic Caster template
  src/analysis/classic/_templates/caster/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CONFIG.tsx
  src/analysis/classic/_templates/caster/CombatLogParser.ts
  src/analysis/classic/_templates/caster/index.ts
  src/analysis/classic/_templates/caster/modules/checklist/Component.tsx
  src/analysis/classic/_templates/caster/modules/checklist/Module.tsx
  src/analysis/classic/_templates/caster/modules/features/Abilities.ts
  src/analysis/classic/_templates/caster/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/_templates/caster/modules/features/Buffs.tsx
  src/analysis/classic/_templates/caster/modules/features/CooldownThroughputTracker.ts
Labels: core, Classic

#5661 Updated cooldown durations to match new DF talents (Unholy DK)
  src/CONTRIBUTORS.ts
  src/analysis/retail/deathknight/unholy/CHANGELOG.tsx
  src/analysis/retail/deathknight/unholy/modules/core/SpellUsable.ts
  src/analysis/retail/deathknight/unholy/modules/features/Abilities.tsx
  src/analysis/retail/deathknight/unholy/modules/talents/ArmyOfTheDamned.tsx
Labels: Death Knight

#5667 add 10.0.5 patch information
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/interface/report/PATCHES.ts
Labels: core

#5645 add PTR talents
  scripts/conduits/README.md
  scripts/conduits/conduitSpellScaling.js
  scripts/conduits/conduitSpells.ts
  scripts/conduits/fullConduitInfo.json
  scripts/conduits/generateConduitInfo.js
  scripts/talents/README.md
  scripts/talents/generate-talents.ts
  scripts/talents/spellpower_10.0.2.47631.csv
  scripts/talents/spellpower_10.0.5.47621.csv
  scripts/talents/talent-tree-helpers.ts
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/AplCheck/index.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/DragonRage.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/EssenceBurst.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/interface/report/PATCHES.ts
Labels: core

#5681 update Fury waste recommendations
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/apl/AplCheck.tsx
  src/analysis/retail/demonhunter/havoc/guide/DemonicExplanation.tsx
  src/analysis/retail/demonhunter/havoc/guide/InitiativeExplanation.tsx
  src/analysis/retail/demonhunter/havoc/guide/NoDemonicExplanation.tsx
  src/analysis/retail/demonhunter/havoc/modules/resourcetracker/FuryDetails.tsx
  src/analysis/retail/demonhunter/havoc/modules/resourcetracker/FuryTracker.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
  src/analysis/retail/demonhunter/havoc/normalizers/EssenceBreakNormalizer.ts
  src/analysis/retail/demonhunter/havoc/normalizers/TheHuntVengefulRetreatNormalizer.ts
  src/analysis/retail/demonhunter/shared/guide/CastBreakdownSubSection.tsx
  src/analysis/retail/demonhunter/shared/guide/FuryCapWaste.tsx
  src/analysis/retail/demonhunter/shared/guide/MajorCooldowns/CooldownUsage.tsx
  src/analysis/retail/demonhunter/shared/guide/MajorCooldowns/core.tsx
  src/analysis/retail/demonhunter/shared/guide/PerformancePercentage.tsx
  src/analysis/retail/demonhunter/shared/index.ts
  src/analysis/retail/demonhunter/shared/modules/talents/TheHunt.tsx
  src/analysis/retail/demonhunter/shared/normalizers/TheHuntNormalizer.ts
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulCarver.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/FelDevastationNormalizer.ts
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5685 add support for Alacritous Alchemist Stone
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/crafted/alchemy/index.ts
  src/common/SPELLS/dragonflight/crafted/index.ts
  src/interface/guide/components/Preparation/ConsumablesSubSection/PotionPanel/index.tsx
  src/parser/retail/modules/items/PotionChecker.tsx
Labels: core

#5695 Add font of magic module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FontOfMagic.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Evoker

#5712 bump retail patch to 10.0.5
  src/CHANGELOG.tsx
  src/game/VERSIONS.ts
  src/interface/report/PATCHES.ts
Labels: core

#5713 bump DH support to 10.0.5
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter

#5725 add Animacharged finisher tracking
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
  src/analysis/retail/rogue/assassination/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/shared/index.ts
  src/analysis/retail/rogue/shared/talents/EchoingReprimand.tsx
  src/analysis/retail/rogue/shared/talents/Reverberation.tsx
  src/analysis/retail/rogue/shared/talents/Sepsis.tsx
  src/analysis/retail/rogue/shared/talents/SerratedBoneSpike.tsx
  src/common/SPELLS/rogue.ts
Labels: Rogue

#5728 treat Animacharged finishers as perfect
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
Labels: Rogue

#5732 fix Animacharged not working for Envenom
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/modules/core/Snapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/parser/ui/UptimeBarSubStatistic.tsx
Labels: Rogue

#5735 add Garrote snapshots and improve stealth detection
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/modules/core/Snapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/common/SPELLS/rogue.ts
Labels: Rogue

#5738 fix Animacharged Rupture max duration
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/assassination/modules/core/Snapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Rogue

#5743 add Exsanguinate and Thistle Tea
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CombatLogParser.ts
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/rogue/assassination/modules/Abilities.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Exsanguinate.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/analysis/retail/rogue/shared/index.ts
  src/analysis/retail/rogue/shared/talents/ThistleTeaCastLinkNormalizer.tsx
  src/parser/core/MajorCooldowns/MajorCooldown.tsx
Labels: Rogue

#5744 make Exsanguinate check Garrote and Rupture duration
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Exsanguinate.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
Labels: Rogue

#5745 fix reference to Fury in Guide
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/shared/guide/EnergyCapWaste.tsx
Labels: Rogue

#5723 move PerformanceBoxRow to grid instead of flexbox
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/guide/CastSummaryAndBreakdown.tsx
  src/interface/guide/components/PerformanceBoxRow/PerformanceBoxRow.scss
  src/interface/guide/components/PerformanceBoxRow/index.tsx
  src/interface/guide/components/PerformanceBoxRowGrid/PerformanceBoxRowGrid.scss
  src/interface/guide/components/PerformanceBoxRowGrid/index.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: core
