Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-10, with the labels that each got.

#6380 replace most usages of maybeGetSpell
  src/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/CelestialFortune.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/core/Combatant.ts
  src/parser/core/healingEfficiency/HealingEfficiencyTracker.ts
  src/parser/core/modules/Ability.ts
  src/parser/core/modules/SpellInfo.ts
  src/parser/shared/modules/SpellManaCost.js
  src/parser/shared/modules/SpellUsable.ts
  src/parser/shared/normalizers/ApplyBuff.ts
  src/parser/shared/normalizers/PrePullCooldowns.js
Labels: core

#6397 [Classic] Discipline Priest
  src/analysis/classic/priest/discipline/CHANGELOG.tsx
  src/analysis/classic/priest/discipline/CONFIG.tsx
  src/analysis/classic/priest/discipline/CombatLogParser.ts
  src/analysis/classic/priest/discipline/index.ts
  src/analysis/classic/priest/discipline/modules/checklist/Component.tsx
  src/analysis/classic/priest/discipline/modules/checklist/Module.tsx
  src/analysis/classic/priest/discipline/modules/features/Abilities.ts
  src/analysis/classic/priest/discipline/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/discipline/modules/features/Buffs.tsx
  src/analysis/classic/priest/discipline/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/priest/discipline/modules/features/HealingEfficiencyBreakdown.tsx
  src/analysis/classic/priest/discipline/modules/features/HealingEfficiencyDetails.tsx
  src/analysis/classic/priest/discipline/modules/features/HealingEfficiencyTracker.tsx
  src/analysis/classic/priest/shared/Haste.ts
  src/analysis/classic/priest/shared/index.ts
  src/common/SPELLS/classic/priest.ts
  src/parser/index.ts
Labels: Priest, Classic

#6398 add T31 set IDs
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
Labels: core

#6399 bump retail version to 10.1.7
  src/CHANGELOG.tsx
  src/game/VERSIONS.ts
Labels: core

#6401 remove Burning Crusade raid data
  src/CHANGELOG.tsx
  src/game/raids/gruulslair/Gruul.ts
  src/game/raids/gruulslair/HighKingMaulgar.ts
  src/game/raids/gruulslair/images/GruulHeadshot.jpg
  src/game/raids/gruulslair/images/GruulsLair.jpg
  src/game/raids/gruulslair/images/HKM.jpg
  src/game/raids/gruulslair/images/HKMHeadshot.jpg
  src/game/raids/gruulslair/index.ts
  src/game/raids/index.ts
  src/game/raids/magtheridonslair/Magtheridon.ts
  src/game/raids/magtheridonslair/images/backgrounds/MagtheridonsLair.jpg
  src/game/raids/magtheridonslair/images/headshots/Magtheridon.jpg
  src/game/raids/magtheridonslair/index.ts
Labels: core

#6400 add Amirdrassil raid data
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/game/raids/amirdrassil/CouncilOfDreams.ts
  src/game/raids/amirdrassil/Fyrakk.ts
  src/game/raids/amirdrassil/Gnarlroot.ts
  src/game/raids/amirdrassil/Igira.ts
  src/game/raids/amirdrassil/Larodar.ts
  src/game/raids/amirdrassil/Nymue.ts
  src/game/raids/amirdrassil/README.md
  src/game/raids/amirdrassil/Smolderon.ts
  src/game/raids/amirdrassil/Tindral.ts
  src/game/raids/amirdrassil/Volcoross.ts
  src/game/raids/amirdrassil/backgrounds/overview.jpg
  src/game/raids/amirdrassil/headshots/CouncilOfDreams.jpg
  src/game/raids/amirdrassil/headshots/Fyrakk.jpg
  src/game/raids/amirdrassil/headshots/Gnarlroot.jpg
  src/game/raids/amirdrassil/headshots/Igira.jpg
  src/game/raids/amirdrassil/headshots/Larodar.jpg
  src/game/raids/amirdrassil/headshots/Nymue.jpg
  src/game/raids/amirdrassil/headshots/Smolderon.jpg
  src/game/raids/amirdrassil/headshots/Tindral.jpg
  src/game/raids/amirdrassil/headshots/Volcoross.jpg
  src/game/raids/amirdrassil/index.ts
  src/game/raids/index.ts
Labels: core

#6404 fix typecheck in remaining rogue files
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/modules/Buffs.ts
Labels: Rogue

#6406 update DH ability cooldowns and scaling
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/constants.ts
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/constants.ts
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/DemonSpikes.tsx
  src/analysis/retail/demonhunter/vengeance/modules/statistics/SoulFragmentsConsume.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/CycleOfBinding.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/CycleOfBindingNormalizer.ts
  src/common/SPELLS/demonhunter.ts
Labels: Demon Hunter

#6412 disable specs broken by 10.2 talent regeneration
  src/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/hunter/beastmastery/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/warlock/destruction/CONFIG.tsx
  tsconfig.json
Labels: Druid, Hunter, Monk, Paladin, Priest, Shaman, Warlock, core

#6413 improve dungeon detection utility function
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/common/isFightDungeon.ts
  src/common/isMythicPlus.ts
  src/game/DIFFICULTIES.ts
  src/interface/report/PlayerTile.tsx
Labels: core

#6394 make ICC the default classic zone
  src/CHANGELOG.tsx
  src/game/classic/ZONES.ts
  src/interface/CharacterParses.tsx
Labels: Classic

#6391 [Augmentation] Implement Breath of Eons helper module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/Guide.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Styling.scss
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.scss
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsGraph.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsSection.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.scss
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/Helpers.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/analysis/retail/evoker/shared/modules/components/ExplanationGraph.tsx
  src/analysis/retail/evoker/shared/modules/components/LazyLoadGuideSection.tsx
  src/analysis/retail/evoker/shared/modules/components/Styling.scss
  src/parser/core/Events.ts
Labels: Dragonflight, Evoker

#6384 Add tracking and analyzing of all Dragonflight weapon enchants
  public/quality/tier1.png
  public/quality/tier2.png
  public/quality/tier3.png
  public/quality/tier4.png
  public/quality/tier5.png
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/enchants.ts
  src/common/SPELLS/dragonflight/index.ts
  src/common/SPELLS/dragonflight/others.ts
  src/interface/BAD_ICONS.ts
  src/interface/QualityIcon.tsx
  src/interface/RoleIcon.tsx
  src/parser/core/Analyzer.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/enchants/BurningDevotion.tsx
  src/parser/retail/modules/items/dragonflight/enchants/BurningWrit.tsx
  src/parser/retail/modules/items/dragonflight/enchants/EarthenDevotion.tsx
  src/parser/retail/modules/items/dragonflight/enchants/EarthenWrit.tsx
  src/parser/retail/modules/items/dragonflight/enchants/FrozenDevotion.tsx
  src/parser/retail/modules/items/dragonflight/enchants/FrozenWrit.tsx
  src/parser/retail/modules/items/dragonflight/enchants/InvigoratingSporeCloud.tsx
  src/parser/retail/modules/items/dragonflight/enchants/ShadowflameWreathe.tsx
  src/parser/retail/modules/items/dragonflight/enchants/SophicDevotion.tsx
  src/parser/retail/modules/items/dragonflight/enchants/SophicWrit.tsx
  src/parser/retail/modules/items/dragonflight/enchants/SporeTender.tsx
  src/parser/retail/modules/items/dragonflight/enchants/StatProcEnchantAnalyzer.tsx
  src/parser/retail/modules/items/dragonflight/enchants/WaftingDevotion.tsx
  src/parser/retail/modules/items/dragonflight/enchants/WaftingWrit.tsx
  src/parser/retail/modules/items/dragonflight/enchants/WeaponEnchantAnalyzer.tsx
  src/parser/shared/modules/StatTracker.ts
  src/parser/shared/modules/features/STAT.tsx
Labels: Dragonflight

#6433 fix typo in Imbued Infusions suggestion
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/talents/ImbuedInfusion.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Paladin

#6439 make Soul Fragment not a cast
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Demon Hunter

#6444 add background images for Amirdrassil bosses
  src/CHANGELOG.tsx
  src/game/raids/amirdrassil/CouncilOfDreams.ts
  src/game/raids/amirdrassil/Fyrakk.ts
  src/game/raids/amirdrassil/Gnarlroot.ts
  src/game/raids/amirdrassil/Igira.ts
  src/game/raids/amirdrassil/Larodar.ts
  src/game/raids/amirdrassil/Nymue.ts
  src/game/raids/amirdrassil/Smolderon.ts
  src/game/raids/amirdrassil/Tindral.ts
  src/game/raids/amirdrassil/Volcoross.ts
  src/game/raids/amirdrassil/backgrounds/Amirdrassil.png
  src/game/raids/amirdrassil/backgrounds/CouncilOfDreams.png
  src/game/raids/amirdrassil/backgrounds/Fyrakk.png
  src/game/raids/amirdrassil/backgrounds/Gnarlroot.png
  src/game/raids/amirdrassil/backgrounds/Igira.png
  src/game/raids/amirdrassil/backgrounds/Larodar.png
  src/game/raids/amirdrassil/backgrounds/Nymue.png
  src/game/raids/amirdrassil/backgrounds/Smolderon.png
  src/game/raids/amirdrassil/backgrounds/Tindral.png
  src/game/raids/amirdrassil/backgrounds/Volcoross.png
  src/game/raids/amirdrassil/backgrounds/overview.jpg
  src/game/raids/amirdrassil/index.ts
Labels: core
