Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-08, with the labels that each got.

#6146 [Fire Mage] 10.1.5 Rework
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/fire/Checklist/Component.tsx
  src/analysis/retail/mage/fire/Checklist/Module.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/SPELLS.ts
  src/analysis/retail/mage/fire/core/Abilities.tsx
  src/analysis/retail/mage/fire/core/Buffs.tsx
  src/analysis/retail/mage/fire/core/Combustion.tsx
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
  src/analysis/retail/mage/fire/core/HotStreak.tsx
  src/analysis/retail/mage/fire/items/CharringEmbers.tsx
  src/analysis/retail/mage/fire/normalizers/SunKingsBlessingBuffs.ts
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
  src/analysis/retail/mage/fire/talents/Hyperthermia.tsx
  src/analysis/retail/mage/fire/talents/Meteor.tsx
  src/analysis/retail/mage/fire/talents/SunKingsBlessing.tsx
  src/analysis/retail/mage/fire/talents/UnleashedInferno.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/core/BrainFreeze.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/talents/IcyPropulsion.tsx
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/DivertedEnergy.tsx
  src/analysis/retail/mage/shared/QuickWitted.tsx
  src/analysis/retail/mage/shared/SharedCode.tsx
  src/analysis/retail/mage/shared/TempestBarrier.tsx
  src/analysis/retail/mage/shared/constants.tsx
  src/analysis/retail/mage/shared/index.ts
  src/common/TALENTS/mage.ts
  src/parser/shared/modules/EventHistory.ts
Labels: Mage, Dragonflight

#6276 [Shadow] Add Statistic for Ancient Madness Talent
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/spells/Voidbolt.tsx
  src/analysis/retail/priest/shadow/modules/talents/AncientMadness.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6292 [Core] Fix double processing of event links
  src/CHANGELOG.tsx
  src/parser/core/EventLinkNormalizer.ts
  src/parser/core/Events.ts
Labels: bug, core

#6142 [Project] Deduplicate yarn.lock
  src/CHANGELOG.tsx
  yarn.lock
Labels: dependencies

#6273 [Feral] Dire Fixation + 10.1.5
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/Guide.tsx
  src/analysis/retail/druid/feral/modules/spells/DireFixation.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, Dragonflight

#6262 [elemental] Add a section on the spender window
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/features/SpenderWindow.tsx
  src/analysis/retail/shaman/elemental/modules/features/shared/ThresholdPerformancePercentage.tsx
Labels: Shaman, Dragonflight

#6300 disable augvoker M+ analysis
  src/CHANGELOG.tsx
  src/common/isFightDungeon.ts
  src/interface/report/PlayerTile.tsx
Labels: core, Evoker

#6274 [Augmentation] Implement Breath of Eons module
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsGraph.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsSection.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/Section.scss
  src/analysis/retail/evoker/augmentation/modules/guide/Cooldown.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/EbonMightNormalizer.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/common/ITEMS/dragonflight/trinkets.ts
  src/common/SPELLS/dragonflight/trinkets.ts
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6301 fix combatant count in M+
  src/CHANGELOG.tsx
  src/common/uniqueBy.ts
  src/interface/report/PlayerLoader.tsx
Labels: core

#6302 add Guardian of Ancient Queens normalizer
  src/analysis/retail/paladin/protection/CHANGELOG.tsx
  src/analysis/retail/paladin/protection/CombatLogParser.ts
  src/analysis/retail/paladin/protection/normalizers/GuardianOfAncientQueens.ts
Labels: Paladin

#6306 Large update to abilities file for blood dk
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
Labels: Death Knight, Dragonflight

#6309 [elemental, core (change to a type)] Fix/improve resource graph
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/resources/MaelstromDetails.tsx
  src/analysis/retail/shaman/elemental/modules/resources/MaelstromGraph.tsx
  src/analysis/retail/shaman/elemental/modules/resources/MaelstromTracker.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/shared/index.ts
  src/analysis/retail/shaman/shared/resources/Maelstrom.js
  src/analysis/retail/shaman/shared/resources/Maelstrom.scss
  src/analysis/retail/shaman/shared/resources/MaelstromTab.js
  src/parser/shared/modules/ResourceGraph.tsx
Labels: Shaman, Dragonflight

#6316 [Classic] Haste rating buffs
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/index.ts
  src/parser/shared/modules/StatTracker.ts
Labels: Classic

#6297 [Classic] Character page
  src/CHANGELOG.tsx
  src/common/WCL_TYPES.ts
  src/common/makeCharacterPageUrl.ts
  src/game/DIFFICULTIES.ts
  src/game/classic/ZONES.ts
  src/interface/CharacterPage.tsx
  src/interface/CharacterParses.tsx
  src/interface/CharacterParsesList.tsx
  src/interface/NameSearch.tsx
Labels: core, Classic

#6318 disable Fiery Brand due to Burning Alive weirdness
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/core/MajorDefensives/config.ts
Labels: Demon Hunter, Dragonflight

#6298 update dependencies
  package.json
  patches/@wowanalyzer+react-tooltip-lite+3.1.1.patch
  src/CHANGELOG.tsx
  yarn.lock
Labels: core

#6317 [Augmentation] Implement stats for various talents
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/PrescienceNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Accretion.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Anachronism.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/BlisteringScales.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/PupilOfAlexstrasza.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/RicochetingPyroclast.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/SymbioticBloom.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/TectonicLocus.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Volcanism.tsx
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6326 [Classic] Mage LB GCD
  src/analysis/classic/mage/fire/CHANGELOG.tsx
  src/analysis/classic/mage/fire/modules/features/Abilities.ts
Labels: Mage, Classic

#6328 bump CI node version to 18.x
  .github/workflows/build.yml
Labels: core
