Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-03, with the labels that each got.

#5826 [Classic Restoration Druid] Correctly attribute revitalize when multiple rdruids in raid
  src/analysis/classic/druid/restoration/CHANGELOG.tsx
  src/analysis/classic/druid/shared/talents/Revitalize.tsx
Labels: Druid, Classic

#5841 [Classic] Demo Warlock updates
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/modules/checklist/Component.tsx
  src/analysis/classic/warlock/demonology/modules/checklist/Module.tsx
  src/analysis/classic/warlock/demonology/modules/features/Buffs.tsx
  src/analysis/classic/warlock/demonology/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/demonology/modules/spells/ShadowMastery.tsx
  src/analysis/classic/warlock/shared/GlobalCooldown.ts
  src/analysis/classic/warlock/shared/index.ts
  src/common/SPELLS/classic/warlock.ts
Labels: Warlock, Classic

#5646 add playwright tests for validation
  .env
  .eslintignore
  .github/workflows/build.yml
  .gitignore
  e2e/.gitignore
  e2e/configs.test.tsx
  e2e/fixtures.ts
  e2e/home.spec.ts
  e2e/poms/fight-selection-page.ts
  e2e/poms/home-page.ts
  e2e/poms/player-selection-page.ts
  e2e/poms/report-page.ts
  e2e/report-selection.spec.ts
  package.json
  playwright.config.ts
  scripts/e2e/README.md
  scripts/e2e/generate-configs-bootstrap.js
  scripts/e2e/generate-configs.ts
  src/CHANGELOG.tsx
  src/analysis/classic/priest/shadow/modules/checklist/Component.tsx
  src/analysis/classic/priest/shadow/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/shadow/modules/features/ShadowWordPain.tsx
  src/analysis/classic/priest/shadow/modules/features/Shadowfiend.tsx
  src/analysis/retail/deathknight/shared/RuneTracker.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/paladin/retribution/CONFIG.tsx
  src/common/makeWclApiUrl.ts
  src/interface/AppLayout.tsx
  src/interface/ContributorButton.tsx
  src/interface/Modal.tsx
  src/interface/Portal.tsx
  src/interface/PortalTarget.tsx
  src/interface/actions/modals.ts
  src/interface/reducers/openModals.ts
  src/interface/report/Results/Header.tsx
  src/interface/report/SupportCheckerIssue.tsx
  src/interface/selectors/openModals.ts
  src/parser/shared/metrics/resourceWasted.ts
  yarn.lock
Labels: core

#5875 fix combatants not being dispatched
  src/CHANGELOG.tsx
  src/interface/report/PlayerLoader.tsx
  src/parser/core/Combatant.ts
Labels: core

#5879 [Restoration Shaman] Add Ancestral Reach Module
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/core/RiptideAttributor.ts
  src/analysis/retail/shaman/restoration/modules/talents/AncestralReach.tsx
  src/analysis/retail/shaman/restoration/modules/talents/PrimordialWave.tsx
  src/analysis/retail/shaman/restoration/modules/talents/UnleashLife.tsx
  src/analysis/retail/shaman/restoration/normalizers/ChainHealNormalizer.ts
Labels: Shaman

#5881 Classic P2 trinkets
  src/CHANGELOG.tsx
  src/common/ITEMS/classic/trinkets.ts
Labels: core, Classic

#5882 [Outlaw] Guide apl update
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/CombatLogParser.ts
  src/analysis/retail/rogue/outlaw/Guide.tsx
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/AplCheck.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/betweenTheEyesMissing.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/Dispatch.tsx
  src/analysis/retail/rogue/outlaw/normalizers/CastLinkNormalizer.ts
Labels: Rogue

#5887 re-add Immolation Aura cast effic
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/guide/CooldownGraphSubSection.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/common/combineQualitativePerformances.ts
Labels: Demon Hunter

#5849 [Classic] Update role support on player loader
  src/CHANGELOG.tsx
  src/interface/report/PlayerLoader.tsx
Labels: core, Classic

#5895 small tweaks to Havoc Guide
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
  src/common/SPELLS/demonhunter.ts
Labels: Demon Hunter

#5899 Havoc Guide updates
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/constants.ts
  src/analysis/retail/demonhunter/havoc/guide/DemonicExplanation.tsx
  src/analysis/retail/demonhunter/havoc/guide/InitiativeExplanation.tsx
  src/analysis/retail/demonhunter/havoc/guide/NoDemonicExplanation.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/ThrowGlaive/AcceleratingBladeExplanation.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/ThrowGlaive/analyzer.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/ThrowGlaive/index.ts
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EyeBeam/DemonicExplanation.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EyeBeam/FuriousGazeExplanation.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EyeBeam/analyzer.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EyeBeam/index.ts
  src/analysis/retail/demonhunter/havoc/modules/talents/Momentum.tsx
  src/analysis/retail/demonhunter/havoc/normalizers/EyeBeamNormalizer.ts
  src/analysis/retail/demonhunter/havoc/normalizers/FuriousGazeNormalizer.ts
  src/analysis/retail/demonhunter/shared/guide/CommonComponents.tsx
  src/interface/guide/components/ExplanationRow.tsx
  src/parser/core/MajorCooldowns/CooldownUsage.tsx
Labels: Demon Hunter

#5909 [Prevoker] stasis cast efficiency suggestion
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/features/Abilities.tsx
Labels: Evoker

#5912 explain Blind Fury's Fury waste contrib
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/guide/FuryCapWaste.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter

#5914 update default log
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter

#5798 windwalker: add initial APL
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Component.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Module.tsx
Labels: Monk

#5916 Classic Fire Mage stub
  src/analysis/classic/mage/fire/CHANGELOG.tsx
  src/analysis/classic/mage/fire/CONFIG.tsx
  src/analysis/classic/mage/fire/CombatLogParser.ts
  src/analysis/classic/mage/fire/index.ts
  src/analysis/classic/mage/fire/modules/checklist/Component.tsx
  src/analysis/classic/mage/fire/modules/checklist/Module.tsx
  src/analysis/classic/mage/fire/modules/features/Abilities.ts
  src/analysis/classic/mage/fire/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/mage/fire/modules/features/Buffs.tsx
  src/analysis/classic/mage/fire/modules/features/CooldownThroughputTracker.ts
  src/common/SPELLS/classic/mage.ts
  src/parser/index.ts
Labels: Mage, Classic

#5913 Update Balance Druid downtime suggestion for clarity
  src/CONTRIBUTORS.ts
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/modules/features/AlwaysBeCasting.tsx
Labels: Druid

#5922 Classic Rogue spells
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/index.ts
  src/common/SPELLS/classic/rogue.ts
Labels: Rogue, Classic

#5902 Arcane harmony stats
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneHarmony.tsx
Labels: Mage

#5897 [Outlaw] Core rotation section with finisher subsection
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/Guide.tsx
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/Buffs.ts
  src/analysis/retail/rogue/outlaw/modules/apl/AplCheck.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/betweenTheEyesMissing.tsx
  src/analysis/retail/rogue/outlaw/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/BetweenTheEyes.tsx
  src/analysis/retail/rogue/outlaw/modules/talents/BladeRush.tsx
  src/analysis/retail/rogue/outlaw/normalizers/CastLinkNormalizer.ts
Labels: Rogue

#5923 add T30 set IDs
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
Labels: core

#5925 add "Hide Good Casts" toggle
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/SigilOfFlame.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/interface/guide/components/HideGoodCastsToggle.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/MajorCooldowns/CooldownUsage.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
  src/parser/core/SpellUsage/core.tsx
Labels: Rogue, Demon Hunter, core

#5924 add patch info for 10.0.7
  src/CHANGELOG.tsx
  src/game/VERSIONS.ts
  src/game/ZONES.ts
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
Labels: core

#5938 bump to 10.0.7
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
Labels: Rogue, Demon Hunter

#5870 Mistweaver 10.0.7 Updates
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/LegacyOfWisdom.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/MistyPeaks.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ShaohaosLessons.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/monk.ts
  src/common/TALENTS/monk.ts
Labels: Monk

#5952 [Monk] Talent Updates for 10.0.7
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/features/HotCountGraph.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/BaseCelestialAnalyzer.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/common/TALENTS/monk.ts
Labels: Monk

#5944 10.0.7 Holy Priest Updates
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineWord.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/BurningVehemence.tsx
Labels: Priest

#5932 Radiant spark analysis
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/talents/RadiantSpark.tsx
Labels: Mage

#5961 Holy Priest Divine Image Support
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineImage.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/Enlightenment.tsx
Labels: Priest

#5959 [Classic] Ulduar raid images
  src/CHANGELOG.tsx
  src/game/raids/index.ts
  src/game/raids/ulduar/Algalon.ts
  src/game/raids/ulduar/Auriaya.ts
  src/game/raids/ulduar/FlameLeviathan.ts
  src/game/raids/ulduar/Freya.ts
  src/game/raids/ulduar/GeneralVezax.ts
  src/game/raids/ulduar/Hodir.ts
  src/game/raids/ulduar/Ignis.ts
  src/game/raids/ulduar/IronCouncil.ts
  src/game/raids/ulduar/Kologarn.ts
  src/game/raids/ulduar/Mimiron.ts
  src/game/raids/ulduar/Razorscale.ts
  src/game/raids/ulduar/Thorim.ts
  src/game/raids/ulduar/XT002.ts
  src/game/raids/ulduar/YoggSaron.ts
  src/game/raids/ulduar/images/Algalon.jpg
  src/game/raids/ulduar/images/AlgalonHeadshot.jpg
  src/game/raids/ulduar/images/Auriaya.jpg
  src/game/raids/ulduar/images/AuriayaHeadshot.jpg
  src/game/raids/ulduar/images/FlameLeviathan.jpg
  src/game/raids/ulduar/images/FlameLeviathanHeadshot.jpg
  src/game/raids/ulduar/images/Freya.jpg
  src/game/raids/ulduar/images/FreyaHeadshot.jpg
  src/game/raids/ulduar/images/GeneralVezax.jpg
  src/game/raids/ulduar/images/GeneralVezaxHeadshot.jpg
  src/game/raids/ulduar/images/Hodir.jpg
  src/game/raids/ulduar/images/HodirHeadshot.jpg
  src/game/raids/ulduar/images/Ignis.jpg
  src/game/raids/ulduar/images/IgnisHeadshot.jpg
  src/game/raids/ulduar/images/IronCouncil.jpg
  src/game/raids/ulduar/images/IronCouncilHeadshot.jpg
  src/game/raids/ulduar/images/Kologarn.jpg
  src/game/raids/ulduar/images/KologarnHeadshot.jpg
  src/game/raids/ulduar/images/Mimiron.jpg
  src/game/raids/ulduar/images/MimironHeadshot.jpg
  src/game/raids/ulduar/images/Razorscale.jpg
  src/game/raids/ulduar/images/RazorscaleHeadshot.jpg
  src/game/raids/ulduar/images/Thorim.jpg
  src/game/raids/ulduar/images/ThorimHeadshot.jpg
  src/game/raids/ulduar/images/Ulduar.jpg
  src/game/raids/ulduar/images/XT002.jpg
  src/game/raids/ulduar/images/XT002Headshot.jpg
  src/game/raids/ulduar/images/Yogg.jpg
  src/game/raids/ulduar/images/YoggHeadshot.jpg
  src/game/raids/ulduar/index.ts
Labels: Classic

#5956 Arcane Mage - Arcane Surge doesnt show on Timeline
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
Labels: Mage

#5957 Arcane Mage - Arcane power rename to Arcane Surge
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/Checklist/Module.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/ManaChart/TabComponent/ManaLevelGraph.js
  src/analysis/retail/mage/arcane/core/ArcaneSurgeActiveTime.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeCasts.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeMana.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgePreReqs.tsx
  src/analysis/retail/mage/arcane/normalizers/ArcaneSurge.ts
Labels: Mage

#5933 Arcane Mage - Show percentage of good Touch Uses
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneEcho.tsx
Labels: Mage

#5963 mark 10.0.5 logs as not current
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#5966 fix Blessing of Seasons icons
  public/img/Icons/ability_ardenweald_paladin_autumn.jpg
  public/img/Icons/ability_ardenweald_paladin_spring.jpg
  public/img/Icons/ability_ardenweald_paladin_summer.jpg
  public/img/Icons/ability_ardenweald_paladin_winter.jpg
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/common/SPELLS/paladin.ts
  src/interface/BAD_ICONS.ts
Labels: Paladin

#5964 Improve accuracy of veil of pride module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/LegacyOfWisdom.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/SheilunsGift.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/VeilOfPride.tsx
Labels: Monk

#5969 add ability to use PTR tooltips
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/interface/report/Results/index.tsx
Labels: core

#5935 Classic Assassination Rogue stub
  src/analysis/classic/rogue/assassination/CHANGELOG.tsx
  src/analysis/classic/rogue/assassination/CONFIG.tsx
  src/analysis/classic/rogue/assassination/CombatLogParser.ts
  src/analysis/classic/rogue/assassination/index.ts
  src/analysis/classic/rogue/assassination/modules/checklist/Component.tsx
  src/analysis/classic/rogue/assassination/modules/checklist/Module.tsx
  src/analysis/classic/rogue/assassination/modules/features/Abilities.ts
  src/analysis/classic/rogue/assassination/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/rogue/assassination/modules/features/Buffs.tsx
  src/analysis/classic/rogue/assassination/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/rogue/shared/index.ts
  src/analysis/classic/rogue/shared/lowRankSpells.ts
  src/common/SPELLS/classic/rogue.ts
  src/parser/index.ts
Labels: Rogue, Classic

#5962 refactor SpellUsageSubSection
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/SigilOfFlame.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/SoulCleave.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Envenom.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/RuptureUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/CrimsonTempestUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/analysis/retail/rogue/outlaw/modules/core/FinisherUse.tsx
  src/parser/core/MajorCooldowns/CooldownUsage.tsx
  src/parser/core/SpellUsage/HideGoodCastsSpellUsageSubSection.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
  src/parser/core/SpellUsage/core.tsx
Labels: core
