Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-05, with the labels that each got.

#6026 [Resto Shaman] Add Tier 30 module and bump resto to 10.1.0
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/dragonflight/Tier30.tsx
  src/analysis/retail/shaman/restoration/normalizers/Tier30Normalizer.ts
  src/common/ITEMS/shaman.ts
Labels: Shaman

#6029 [Resto Shaman] Guide First Pass
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/Guide.tsx
  src/analysis/retail/shaman/restoration/modules/spells/HealingRain.tsx
  src/analysis/retail/shaman/restoration/modules/talents/CloudburstTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/EarthenWallTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/PrimordialWave.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Riptide.tsx
  src/analysis/retail/shaman/restoration/modules/talents/UnleashLife.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Wellspring.tsx
Labels: Shaman

#6038 add 10.1 patch info
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#6007 [Classic] Demo Warlock Guide
  src/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/Guide.tsx
  src/analysis/classic/warlock/demonology/constants.ts
  src/analysis/classic/warlock/demonology/modules/features/CurseUptime.tsx
  src/analysis/classic/warlock/demonology/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Corruption.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Immolate.tsx
  src/analysis/classic/warlock/demonology/modules/spells/ShadowMastery.tsx
  src/parser/ui/PerformanceLabel.tsx
  src/parser/ui/UptimeBarSubStatistic.tsx
Labels: Warlock, Classic

#6043 fix playwright tests broken by patch 10.1
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
Labels: core

#5998 [Hunter] Tier 29 BM tier, general housekeeping and bugfixes
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/CombatLogParser.ts
  src/analysis/retail/hunter/beastmastery/constants.ts
  src/analysis/retail/hunter/beastmastery/modules/Abilities.tsx
  src/analysis/retail/hunter/beastmastery/modules/core/SpellUsable.tsx
  src/analysis/retail/hunter/beastmastery/modules/guide/sections/resources/ResourceUseSection.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T29BMTier2P.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T29BMTier4P.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/BarbedShot.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/BeastCleave.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/Bloodshed.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DireBeast.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DireCommand.tsx
  src/analysis/retail/hunter/beastmastery/normalizers/BarbedShotNormalizer.ts
  src/analysis/retail/hunter/marksmanship/CombatLogParser.ts
  src/analysis/retail/hunter/marksmanship/constants.ts
  src/analysis/retail/hunter/marksmanship/modules/Abilities.tsx
  src/analysis/retail/hunter/marksmanship/modules/resources/MarksmanshipFocusCapTracker.tsx
  src/analysis/retail/hunter/marksmanship/modules/spells/RapidFire.tsx
  src/analysis/retail/hunter/marksmanship/modules/spells/Trueshot.tsx
  src/analysis/retail/hunter/shared/index.ts
  src/analysis/retail/hunter/shared/talents/TranquilizingShot.tsx
  src/analysis/retail/hunter/survival/CombatLogParser.ts
  src/analysis/retail/hunter/survival/constants.ts
  src/analysis/retail/hunter/survival/modules/Abilities.tsx
  src/analysis/retail/hunter/survival/modules/resources/SurvivalFocusCapTracker.tsx
  src/analysis/retail/hunter/survival/modules/spells/ButcheryCarve.tsx
  src/analysis/retail/hunter/survival/modules/spells/WildfireBomb.tsx
  src/analysis/retail/hunter/survival/modules/talents/BirdOfPrey.tsx
  src/analysis/retail/hunter/survival/modules/talents/Bloodseeker.tsx
  src/analysis/retail/hunter/survival/modules/talents/TipOfTheSpear.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireInfusion/PheromoneBomb.tsx
  src/common/SPELLS/hunter.ts
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Hunter, Dragonflight

#6033 [Classic] Enhancement Shaman
  src/analysis/classic/shaman/enhancement/CHANGELOG.tsx
  src/analysis/classic/shaman/enhancement/CONFIG.tsx
  src/analysis/classic/shaman/enhancement/CombatLogParser.ts
  src/analysis/classic/shaman/enhancement/index.ts
  src/analysis/classic/shaman/enhancement/modules/checklist/Component.tsx
  src/analysis/classic/shaman/enhancement/modules/checklist/Module.tsx
  src/analysis/classic/shaman/enhancement/modules/core/GlobalCooldown.ts
  src/analysis/classic/shaman/enhancement/modules/features/Abilities.ts
  src/analysis/classic/shaman/enhancement/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/shaman/enhancement/modules/features/Buffs.tsx
  src/analysis/classic/shaman/enhancement/modules/features/CooldownThroughputTracker.ts
  src/common/SPELLS/classic/shaman.ts
  src/parser/index.ts
Labels: Shaman, Classic

#6047 Evoker guide pt 2
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/Guide.tsx
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/CycleOfLife.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldCommunion.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Ouroboros.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.scss
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6039 WW: New Serenity/Non-Serenity APLs, cooldown/ability tracking fixes
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
  src/analysis/retail/monk/windwalker/modules/apl/serenityDurationRemaining.tsx
  src/analysis/retail/monk/windwalker/modules/core/DanceOfChiJiNormalizer.tsx
  src/analysis/retail/monk/windwalker/modules/core/SpellUsable.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Component.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Module.tsx
  src/analysis/retail/monk/windwalker/modules/spells/BlackoutKick.tsx
  src/analysis/retail/monk/windwalker/modules/spells/FistsofFury.tsx
  src/analysis/retail/monk/windwalker/modules/talents/Serenity.tsx
  src/analysis/retail/monk/windwalker/modules/talents/XuensBattlegear.tsx
  src/common/SPELLS/monk.ts
  src/parser/shared/metrics/apl/conditions/hasResource.tsx
  src/parser/shared/metrics/apl/index.test.ts
  src/parser/shared/metrics/apl/index.ts
  src/parser/shared/modules/Haste.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: Monk, Dragonflight

#6057 fix Kazzara displaying as Magmorax
  src/CHANGELOG.tsx
  src/game/raids/aberrus/Kazarra.ts
  src/game/raids/aberrus/Kazzara.ts
  src/game/raids/aberrus/Magmorax.ts
  src/game/raids/aberrus/backgrounds/Kazzara.jpg
  src/game/raids/aberrus/headshots/Kazzara.jpg
  src/game/raids/aberrus/index.ts
Labels: core

#6023 set default zone to Aberrus (33)
  src/CHANGELOG.tsx
  src/interface/CharacterParses.tsx
Labels: Dragonflight

#6058 (WW): Remove pandemic window from Faeline Stomp APL
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
Labels: Monk, Dragonflight

#6060 add season 2 dungeon images
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/game/raids/aberrus/index.ts
  src/game/raids/mythicplusseasontwo/BrackenhideHollow.ts
  src/game/raids/mythicplusseasontwo/Freehold.ts
  src/game/raids/mythicplusseasontwo/HallsOfInfusion.ts
  src/game/raids/mythicplusseasontwo/NeltharionsLair.ts
  src/game/raids/mythicplusseasontwo/Neltharus.ts
  src/game/raids/mythicplusseasontwo/Uldaman.ts
  src/game/raids/mythicplusseasontwo/Underrot.ts
  src/game/raids/mythicplusseasontwo/VortexPinnacle.ts
  src/game/raids/mythicplusseasontwo/backgrounds/BrackenhideHollow.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Freehold.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/HallsOfInfusion.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/NeltharionsLair.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Neltharus.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Uldaman.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Underrot.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/VortexPinnacle.jpg
Labels: core

#6063 fix Echo of Neltharion display
  src/CHANGELOG.tsx
  src/game/raids/aberrus/EchoOfNeltharion.ts
Labels: core

#6049 [Classic] ToGC raid images
  src/CHANGELOG.tsx
  src/game/raids/index.ts
  src/game/raids/trialofthegrandcrusader/Anubarak.ts
  src/game/raids/trialofthegrandcrusader/FactionChampions.ts
  src/game/raids/trialofthegrandcrusader/LordJaraxxus.ts
  src/game/raids/trialofthegrandcrusader/NorthrendBeasts.ts
  src/game/raids/trialofthegrandcrusader/ValkyrTwins.ts
  src/game/raids/trialofthegrandcrusader/images/Anubarak.jpg
  src/game/raids/trialofthegrandcrusader/images/AnubarakHeadshot.jpg
  src/game/raids/trialofthegrandcrusader/images/FactionChampions.jpg
  src/game/raids/trialofthegrandcrusader/images/FactionChampionsHeadshot.jpg
  src/game/raids/trialofthegrandcrusader/images/LordJaraxxus.jpg
  src/game/raids/trialofthegrandcrusader/images/LordJaraxxusHeadshot.jpg
  src/game/raids/trialofthegrandcrusader/images/NorthrendBeasts.jpg
  src/game/raids/trialofthegrandcrusader/images/NorthrendBeastsHeadshot.jpg
  src/game/raids/trialofthegrandcrusader/images/ValkyrTwins.jpg
  src/game/raids/trialofthegrandcrusader/images/ValkyrTwinsHeadshot.jpg
  src/game/raids/trialofthegrandcrusader/index.ts
Labels: Classic

#6061 shard playwright tests
  .github/workflows/build.yml
  src/CHANGELOG.tsx
Labels: core

#6067 fix multiple rank talent tooltip links
  scripts/talents/generate-talents.ts
  scripts/talents/talent-tree-types.ts
  src/CHANGELOG.tsx
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/demonhunter.ts
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/types.ts
  src/common/TALENTS/warlock.ts
  src/common/TALENTS/warrior.ts
  src/interface/SpellLink.tsx
  src/interface/useTooltip.tsx
  src/parser/core/Combatant.ts
  src/parser/ui/TalentSpellText.tsx
Labels: core

#6062 [Shadow] Updates for more 10.1 talent changes
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/checklist/Component.tsx
  src/analysis/retail/priest/shadow/modules/features/Buffs.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/resources/InsanityUsage.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowyInsight.tsx
  src/analysis/retail/priest/shadow/modules/talents/AuspiciousSpirits.tsx
  src/analysis/retail/priest/shadow/modules/talents/DeathAndMadness.tsx
  src/analysis/retail/priest/shadow/modules/talents/Deathspeaker.tsx
  src/analysis/retail/priest/shadow/modules/talents/Dispersion.tsx
  src/analysis/retail/priest/shadow/modules/talents/IdolOfCthun.tsx
  src/analysis/retail/priest/shadow/modules/talents/IdolOfYoggSaron.tsx
  src/analysis/retail/priest/shadow/modules/talents/IdolOfYshaarj.tsx
  src/analysis/retail/priest/shadow/modules/talents/InescapableTorment.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindDevourer.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/ShadowCrash.tsx
  src/analysis/retail/priest/shadow/modules/talents/VampiricEmbrace.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTorrent.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6048 [Classic] Demo Warlock Guide 2
  src/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/Guide.tsx
  src/analysis/classic/warlock/demonology/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/warlock/demonology/modules/features/CancelledCasts.tsx
  src/analysis/classic/warlock/demonology/modules/features/CurseUptime.tsx
  src/analysis/classic/warlock/demonology/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/demonology/modules/guide/CastingSubsection.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Corruption.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Immolate.tsx
  src/analysis/classic/warlock/demonology/modules/spells/ShadowMastery.tsx
  src/localization/en/messages.json
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/shared/modules/CancelledCasts.tsx
  src/parser/shared/modules/DebuffUptime.tsx
  src/parser/ui/PerformanceLabel.tsx
Labels: Warlock, core, Classic

#6054 [Classic] Realms
  scripts/realms/README.md
  scripts/realms/data/classicEU.json
  scripts/realms/data/classicKR.json
  scripts/realms/data/classicTW.json
  scripts/realms/data/classicUS.json
  scripts/realms/output.js
  scripts/realms/reformatRealms.js
  src/CHANGELOG.tsx
Labels: core, Classic

#6059 [Classic] Character Thumbnails
  src/CHANGELOG.tsx
  src/common/character.ts
  src/common/makeApiUrl.ts
  src/game/Expansion.ts
  src/interface/actions/characters.ts
  src/interface/makeAnalyzerUrl.ts
  src/interface/report/PlayerTile.tsx
Labels: core, Classic

#6042 Aegis of Wrath module
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/Aberrus2p.tsx
  src/analysis/retail/priest/discipline/modules/spells/AegisOfWrath.tsx
  src/analysis/retail/priest/discipline/modules/spells/CrystallineReflection.tsx
  src/analysis/retail/priest/discipline/modules/spells/PowerWordShield.tsx
  src/analysis/retail/priest/discipline/modules/spells/RadiantProvidence.tsx
Labels: Priest, Dragonflight

#6083 add support for Unbound Chaos
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/constants.ts
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/UnboundChaos.tsx
  src/analysis/retail/demonhunter/havoc/normalizers/UnboundChaosNormalizer.ts
  src/analysis/retail/demonhunter/shared/modules/talents/SigilOfFlame.tsx
  src/parser/core/SpellUsage/core.tsx
Labels: Demon Hunter, core

#6086 fix Lambent Armor Kit showing as weak
  src/CHANGELOG.tsx
  src/parser/retail/modules/items/LegEnhancementChecker.tsx
Labels: core

#6103 fix Evangelism crash
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/guide/EvangelismAnalysis.tsx
Labels: Priest
