Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-04, with the labels that each got.

#5975 remove unnecessary console.log
  src/CHANGELOG.tsx
  src/game/raids/index.ts
Labels: core

#5976 Blood DK Guide - Death Strike section
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/analysis/retail/deathknight/blood/modules/spells/BloodShield/BloodShield.tsx
  src/analysis/retail/deathknight/blood/modules/spells/BloodShield/normalizer.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/DeathStrikeSection.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/index.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/normalizer.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/explainSCK.tsx
  src/analysis/retail/monk/brewmaster/modules/core/MajorDefensives/core.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/index.tsx
  src/interface/guide/components/Apl/violations/claims.tsx
  src/interface/guide/components/CastReasonBreakdownTableContents.tsx
  src/interface/guide/index.tsx
Labels: Death Knight

#5974 [Classic] Add phases to Ulduar bosses
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/raids.ts
  src/game/raids/ulduar/Freya.ts
  src/game/raids/ulduar/Mimiron.ts
  src/game/raids/ulduar/Razorscale.ts
  src/game/raids/ulduar/YoggSaron.ts
Labels: Classic

#5978 [Classic] Healthstone Checker
  src/CHANGELOG.tsx
  src/analysis/classic/warlock/affliction/CHANGELOG.tsx
  src/analysis/classic/warlock/affliction/modules/features/Abilities.ts
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/modules/features/Abilities.ts
  src/analysis/classic/warlock/shared/lowRankSpells.ts
  src/common/SPELLS/classic/warlock.ts
  src/parser/classic/CombatLogParser.ts
  src/parser/classic/modules/items/HealthstoneChecker.tsx
Labels: Warlock, core, Classic

#5981 fix ordering of Essence Break window
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
Labels: Demon Hunter

#5988 [Classic] Frost Death Knight stub
  src/analysis/classic/deathknight/frost/CHANGELOG.tsx
  src/analysis/classic/deathknight/frost/CONFIG.tsx
  src/analysis/classic/deathknight/frost/CombatLogParser.ts
  src/analysis/classic/deathknight/frost/index.ts
  src/analysis/classic/deathknight/frost/modules/checklist/Component.tsx
  src/analysis/classic/deathknight/frost/modules/checklist/Module.tsx
  src/analysis/classic/deathknight/frost/modules/features/Abilities.ts
  src/analysis/classic/deathknight/frost/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/deathknight/frost/modules/features/Buffs.tsx
  src/analysis/classic/deathknight/frost/modules/features/CooldownThroughputTracker.ts
  src/parser/index.ts
Labels: Death Knight, Classic

#5989 Aberrus disc 4p module
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/HarshDiscipline.tsx
  src/analysis/retail/priest/discipline/modules/spells/Indemnity.tsx
  src/analysis/retail/priest/discipline/modules/spells/RadiantProvidence.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#5991 [Classic] Raid Buffs
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/druid.ts
  src/common/SPELLS/classic/paladin.ts
  src/common/SPELLS/classic/priest.ts
  src/common/SPELLS/classic/rogue.ts
  src/common/SPELLS/classic/shaman.ts
  src/common/SPELLS/classic/warlock.ts
  src/interface/ReportRaidBuffList.tsx
  src/interface/report/PlayerLoader.tsx
Labels: core, Classic

#5992 Druid Feral - 10.0.7 + Guide Updates
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/feral/Guide.tsx
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/spells/Berserk.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/RakeUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
Labels: Druid, Dragonflight

#6000 add Aberrus encounter details
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/game/raids/aberrus/AmalgamationChamber.ts
  src/game/raids/aberrus/AssaultOfTheZaqali.ts
  src/game/raids/aberrus/EchoOfNeltharion.ts
  src/game/raids/aberrus/ForgottenExperiments.ts
  src/game/raids/aberrus/Kazarra.ts
  src/game/raids/aberrus/Magmorax.ts
  src/game/raids/aberrus/README.md
  src/game/raids/aberrus/Rashok.ts
  src/game/raids/aberrus/Sarkareth.ts
  src/game/raids/aberrus/Zskarn.ts
  src/game/raids/aberrus/backgrounds/AmalgamationChamber.jpg
  src/game/raids/aberrus/backgrounds/AssaultOfTheZaqali.jpg
  src/game/raids/aberrus/backgrounds/EchoOfNeltharion.jpg
  src/game/raids/aberrus/backgrounds/ForgottenExperiments.jpg
  src/game/raids/aberrus/backgrounds/Kazarra.jpg
  src/game/raids/aberrus/backgrounds/Magmorax.jpg
  src/game/raids/aberrus/backgrounds/Rashok.jpg
  src/game/raids/aberrus/backgrounds/Sarkareth.jpg
  src/game/raids/aberrus/backgrounds/Zskarn.jpg
  src/game/raids/aberrus/backgrounds/overview.jpg
  src/game/raids/aberrus/headshots/AmalgamationChamber.jpg
  src/game/raids/aberrus/headshots/AssaultOfTheZaqali.jpg
  src/game/raids/aberrus/headshots/EchoOfNeltharion.jpg
  src/game/raids/aberrus/headshots/ForgottenExperiments.jpg
  src/game/raids/aberrus/headshots/Kazarra.jpg
  src/game/raids/aberrus/headshots/Magmorax.jpg
  src/game/raids/aberrus/headshots/Rashok.jpg
  src/game/raids/aberrus/headshots/Sarkareth.jpg
  src/game/raids/aberrus/headshots/Zskarn.jpg
  src/game/raids/aberrus/index.ts
  src/game/raids/index.ts
Labels: core

#5996 added aberrus 2p.
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/Aberrus2p.tsx
Labels: Priest, Dragonflight

#5997 [Classic] Priest spells
  src/CHANGELOG.tsx
  src/analysis/classic/priest/shadow/modules/features/ShadowWordPain.tsx
  src/common/SPELLS/classic/priest.ts
Labels: Priest, Classic

#5999 [Classic] Ret Paladin stub
  src/analysis/classic/paladin/retribution/CHANGELOG.tsx
  src/analysis/classic/paladin/retribution/CONFIG.tsx
  src/analysis/classic/paladin/retribution/CombatLogParser.ts
  src/analysis/classic/paladin/retribution/index.ts
  src/analysis/classic/paladin/retribution/modules/checklist/Component.tsx
  src/analysis/classic/paladin/retribution/modules/checklist/Module.tsx
  src/analysis/classic/paladin/retribution/modules/features/Abilities.ts
  src/analysis/classic/paladin/retribution/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/retribution/modules/features/Buffs.tsx
  src/analysis/classic/paladin/retribution/modules/features/CooldownThroughputTracker.ts
  src/common/SPELLS/classic/paladin.ts
  src/parser/index.ts
Labels: Paladin, Classic

#6006 [Druid Guardian] - Updated for Dragonflight, implemented Guide
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/Guide.tsx
  src/analysis/retail/druid/guardian/modules/Abilities.js
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/guardian/modules/Ability.js
  src/analysis/retail/druid/guardian/modules/core/defensives/Barkskin.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/Pulverize.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/RageOfTheSleeper.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/SurvivalInstincts.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/config.ts
  src/analysis/retail/druid/guardian/modules/core/rage/RageDetails.tsx
  src/analysis/retail/druid/guardian/modules/core/rage/RageGraph.tsx
  src/analysis/retail/druid/guardian/modules/core/rage/RageTracker.tsx
  src/analysis/retail/druid/guardian/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/druid/guardian/modules/features/AntiFillerSpam.js
  src/analysis/retail/druid/guardian/modules/features/Checklist/Component.tsx
  src/analysis/retail/druid/guardian/modules/features/Checklist/Module.tsx
  src/analysis/retail/druid/guardian/modules/features/FrenziedRegenGoEProcs.js
  src/analysis/retail/druid/guardian/modules/spells/ConvokeSpiritsGuardian.tsx
  src/analysis/retail/druid/guardian/modules/spells/Earthwarden.js
  src/analysis/retail/druid/guardian/modules/spells/Incarnation.js
  src/analysis/retail/druid/guardian/modules/spells/IronFur.js
  src/analysis/retail/druid/guardian/modules/spells/Ironfur.tsx
  src/analysis/retail/druid/guardian/modules/spells/IronfurGuideSection.tsx
  src/analysis/retail/druid/guardian/modules/talents/Pulverize.js
  src/analysis/retail/druid/shared/core/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/spells/Shuffle/GuideSection.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/Shuffle/index.tsx
  src/common/SPELLS/druid.ts
  src/interface/guide/components/DamageTakenPointChart.tsx
  src/interface/guide/components/MajorDefensives/DamageMitigationChart.tsx
  src/interface/guide/components/MajorDefensives/Timeline.tsx
  src/parser/retail/modules/isArmorMitigated.ts
Labels: Druid

#6009 [Classic] Potions updates
  src/CHANGELOG.tsx
  src/common/ITEMS/classic/index.ts
  src/common/ITEMS/classic/potions.ts
  src/common/SPELLS/classic/potions.ts
  src/interface/guide/components/Preparation/ConsumablesSubSection/PotionPanel/index.tsx
  src/interface/guide/components/Preparation/ConsumablesSubSection/index.tsx
  src/localization/en/messages.json
  src/parser/classic/CombatLogParser.ts
  src/parser/classic/modules/items/CombatPotionChecker.tsx
  src/parser/classic/modules/items/PotionChecker.tsx
  src/parser/retail/modules/items/PotionChecker.tsx
Labels: core, Classic

#6010 Fixed a bug where Pulverize uses weren't being correctly detected
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/Pulverize.tsx
Labels: bug, Druid, Dragonflight

#6011 add M+ dungeon pull filter
  src/CHANGELOG.tsx
  src/interface/report/Results/DungeonPullSelector.tsx
  src/interface/report/Results/Header.tsx
  src/interface/report/Results/index.tsx
  src/interface/report/index.tsx
  src/parser/core/Fight.ts
Labels: core

#6012 fix crashes related to Empyrean Power
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/constants.tsx
  src/analysis/retail/paladin/retribution/modules/talents/EmpyreanPower.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin

#6008 tier 30 support for holy priest
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier29/Tier29HolyPriest2Set.tsx
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier29/Tier29HolyPriest4Set.tsx
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier30/Tier30HolyPriest4Set.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6003 [Shadow] Improve Void Bolt spellusable tracking and Max Cast calculations
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/spells/Voidbolt.tsx
  src/analysis/retail/priest/shadow/modules/spells/Voidform.tsx
  src/parser/shared/modules/Enemies.ts
  src/parser/shared/modules/helpers/ExecuteHelper.ts
  src/parser/ui/CastEfficiencyBar.tsx
  src/parser/ui/CooldownBar.scss
  src/parser/ui/CooldownBar.tsx
Labels: Priest, Dragonflight

#6014 [Mistweaver] Fix clouded focus mana tracking and update module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachings.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CloudedFocus.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ShaohaosLessons.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/SheilunsGift.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Unison.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/UpliftedSpirits.tsx
  src/analysis/retail/monk/shared/SaveThemAll.tsx
Labels: Monk

#6017 [Mistweaver] Bug Fixes & Updated Guide for 10.1
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/BaseCelestialAnalyzer.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CalmingCoalescence.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Revival.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
Labels: Monk
