Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-06, with the labels that each got.

#6087 track WFT as raid buff
  src/CHANGELOG.tsx
  src/interface/ReportRaidBuffList.tsx
  src/interface/ReportRaidBuffListItem.tsx
Labels: core

#6064 Add classic balance druid
  src/CONTRIBUTORS.ts
  src/analysis/classic/druid/balance/CHANGELOG.tsx
  src/analysis/classic/druid/balance/CONFIG.tsx
  src/analysis/classic/druid/balance/CombatLogParser.ts
  src/analysis/classic/druid/balance/index.ts
  src/analysis/classic/druid/balance/modules/checklist/Component.tsx
  src/analysis/classic/druid/balance/modules/checklist/Module.tsx
  src/analysis/classic/druid/balance/modules/features/Abilities.ts
  src/analysis/classic/druid/balance/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/balance/modules/features/Buffs.tsx
  src/analysis/classic/druid/balance/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/druid/balance/modules/features/FillerUsage.tsx
  src/common/SPELLS/classic/druid.ts
  src/parser/index.ts
Labels: Druid, Classic

#6110 [Mistweaver] Add Essence Font Proc Ratio and Fix RSK Resets
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFont.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
Labels: Monk, Dragonflight

#6109 [Shadow] Improve VoidBolt CD tracking
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/spells/Voidbolt.tsx
Labels: Priest, Dragonflight

#6117 fix Collective Anguish DPS calculation
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/CollectiveAnguish.tsx
  src/common/SPELLS/demonhunter.ts
Labels: Demon Hunter

#6118 remove deprecated ID usage in articles
  src/CHANGELOG.tsx
  src/articles/2018-01-31-1st-Anniversary/index.tsx
  src/articles/2018-08-03-DevotionAura/index.tsx
Labels: core

#6124 Add Voice of the Silent Star tracking
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/others.ts
  src/common/SPELLS/dragonflight/others.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/VoiceOfTheSilentStar.tsx
Labels: core

#6129 update SpellLink#id usage in DH
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/havoc/modules/checklist/Component.tsx
  src/analysis/retail/demonhunter/havoc/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/BladeDance.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/Blur.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/DemonBite.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/BlindFury.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/BurningHatred.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonBlades.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonicAppetite.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/DemonicDeathSweep.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/EssenceBreak.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FelBarrage.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/FelEruption.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Initiative.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Momentum.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/TacticalRetreat.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/Felblade.tsx
  src/analysis/retail/demonhunter/shared/modules/talents/FlamesOfFury.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/guide/HitTimeline.tsx
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/DemonSpikes/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/ShearFracture.tsx
  src/analysis/retail/demonhunter/vengeance/modules/statistics/SoulsOvercap.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FieryBrand/index.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FrailtyDebuff.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SoulBarrier.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/VoidReaver/index.tsx
Labels: Demon Hunter

#6106 Devastation/10.1 rotation updates
  src/CONTRIBUTORS.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/Abilities.tsx
  src/analysis/retail/evoker/devastation/modules/AplCheck/index.tsx
  src/analysis/retail/evoker/devastation/modules/Buffs.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/DragonRage.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/ShatteringStar.tsx
  src/analysis/retail/evoker/devastation/modules/dragonflight/tier/T30DevaTier4P.tsx
  src/analysis/retail/evoker/devastation/modules/features/CancelledCasts.tsx
  src/analysis/retail/evoker/devastation/modules/features/CooldownThroughputTracker.tsx
  src/analysis/retail/evoker/devastation/modules/guide/Cooldown.tsx
  src/analysis/retail/evoker/devastation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageSection.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/normalizers/EssenceBurstNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/ArcaneIntensity.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Catalyze.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Causality.tsx
  src/analysis/retail/evoker/devastation/modules/talents/EngulfingBlaze.tsx
  src/analysis/retail/evoker/devastation/modules/talents/EyeOfInfinity.tsx
  src/analysis/retail/evoker/devastation/modules/talents/HeatWave.tsx
  src/analysis/retail/evoker/devastation/modules/talents/HonedAggression.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Iridescence.tsx
  src/analysis/retail/evoker/devastation/modules/talents/LayWaste.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Scintillation.tsx
  src/analysis/retail/evoker/devastation/modules/talents/SpellweaversDominance.tsx
  src/analysis/retail/evoker/devastation/modules/talents/TitanicWrath.tsx
  src/analysis/retail/evoker/devastation/modules/talents/Volatility.tsx
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/common/SPELLS/evoker.ts
  src/interface/images/avatars/Vollmer-avatar.png
  src/parser/shared/modules/helpers/Probability.tsx
Labels: Dragonflight, Evoker

#6132 remove eslint disable from Probability
  src/CHANGELOG.tsx
  src/parser/shared/modules/helpers/Probability.tsx
Labels: core

#6150 update realms
  scripts/realms/data/EU.json
  scripts/realms/data/KR.json
  scripts/realms/data/TW.json
  scripts/realms/data/US.json
  scripts/realms/data/classicEU.json
  scripts/realms/data/classicKR.json
  scripts/realms/data/classicTW.json
  scripts/realms/data/classicUS.json
  scripts/realms/output.ts
  scripts/realms/reformatRealms.js
  src/CHANGELOG.tsx
  src/game/REALMS.ts
Labels: core

#6145 improve custom ESLint rules
  .eslintrc.js
  package.json
  packages/eslint-plugin-wowanalyzer/index.js
  packages/eslint-plugin-wowanalyzer/rules/boring-spell-value-text-spell-object.js
  packages/eslint-plugin-wowanalyzer/rules/lingui-t-macro-outside-jsx.js
  packages/eslint-plugin-wowanalyzer/rules/module-spread-parent-dependencies.js
  packages/eslint-plugin-wowanalyzer/rules/spell-icon-spell-object.js
  packages/eslint-plugin-wowanalyzer/rules/spell-link-spell-object.js
  src/CHANGELOG.tsx
  yarn.lock
Labels: core

#6153 update warlock guide links
  src/CONTRIBUTORS.ts
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/CONFIG.tsx
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/destruction/CHANGELOG.tsx
  src/analysis/retail/warlock/destruction/CONFIG.tsx
Labels: Warlock
