Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2023-11, with the labels that each got.

#6471 add log changes in 10.2 warning
  src/CHANGELOG.tsx
  src/interface/report/FightSelection.tsx
  src/interface/report/LogChangesIn102Warning.tsx
  src/interface/report/PatchChecker.tsx
  src/interface/report/PlayerLoader.tsx
  src/interface/report/context/FightContext.tsx
  src/interface/report/context/PatchContext.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: core

#6472 [Classic] Fix Ranking ids
  src/CHANGELOG.tsx
  src/game/SPECS.ts
Labels: Classic

#6476 Druid Guardian - 10.2 support
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/Guide.tsx
  src/analysis/retail/druid/guardian/modules/spells/Mangle.tsx
  src/analysis/retail/druid/guardian/modules/spells/Moonfire.jsx
  src/analysis/retail/druid/guardian/modules/spells/Moonfire.tsx
  src/analysis/retail/druid/guardian/modules/spells/Thrash.jsx
  src/analysis/retail/druid/guardian/modules/spells/Thrash.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
Labels: Druid, Dragonflight

#6470 [Classic] Protection Paladin
  src/analysis/classic/paladin/protection/CHANGELOG.tsx
  src/analysis/classic/paladin/protection/CONFIG.tsx
  src/analysis/classic/paladin/protection/CombatLogParser.ts
  src/analysis/classic/paladin/protection/index.ts
  src/analysis/classic/paladin/protection/modules/checklist/Component.tsx
  src/analysis/classic/paladin/protection/modules/checklist/Module.tsx
  src/analysis/classic/paladin/protection/modules/features/Abilities.ts
  src/analysis/classic/paladin/protection/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/protection/modules/features/Buffs.tsx
  src/analysis/classic/paladin/protection/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/paladin/protection/modules/spells/HolyShield.tsx
  src/common/SPELLS/classic/index.ts
  src/common/SPELLS/classic/misc.ts
  src/parser/classic/modules/items/engineering/Bombs.tsx
  src/parser/index.ts
Labels: Paladin, Classic

#6478 Druid Balance - filled out most of the Guide, removed the old Checklist, updated spells for 10.2
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/balance/CombatLogParser.ts
  src/analysis/retail/druid/balance/Guide.tsx
  src/analysis/retail/druid/balance/constants.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/balance/modules/checklist/Component.tsx
  src/analysis/retail/druid/balance/modules/checklist/Module.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerTracker.tsx
  src/analysis/retail/druid/balance/modules/features/DotUptimes.tsx
  src/analysis/retail/druid/balance/modules/features/FillerUsage.tsx
  src/analysis/retail/druid/balance/modules/features/SpenderUsage.tsx
  src/analysis/retail/druid/balance/modules/spells/Eclipse.tsx
  src/analysis/retail/druid/balance/modules/spells/NewMoon.tsx
  src/analysis/retail/druid/balance/modules/spells/RattleTheStars.tsx
  src/analysis/retail/druid/balance/modules/spells/Starlord.tsx
  src/analysis/retail/druid/balance/modules/spells/Starsurge.tsx
  src/analysis/retail/druid/guardian/Guide.tsx
  src/analysis/retail/druid/guardian/modules/core/rage/RageTracker.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/shared/modules/resources/resourcetracker/ResourceTracker.ts
  src/parser/ui/UptimeBar.tsx
  src/parser/ui/UptimeStackBar.tsx
Labels: Druid, Dragonflight

#6477 [Shadow] Add Tier 31 Four Piece.
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/guide/ResourceSubsection.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowWordDeath.tsx
  src/analysis/retail/priest/shadow/modules/talents/DeathAndMadness.tsx
  src/analysis/retail/priest/shadow/modules/talents/Deathspeaker.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier29ShadowPriest4Set.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier31ShadowPriest4Set.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier31ShadowPriest4SetNormalizer.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6429 [Augmentation] Implement 10.2 support
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/Buffs.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/dragonflight/T31Augmentation4P.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/Helpers.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6495 add backgrounds for remaining S3 dungeons
  src/CHANGELOG.tsx
  src/game/raids/mythicplusseasonthree/Everbloom.ts
  src/game/raids/mythicplusseasonthree/GalakrondsFall.ts
  src/game/raids/mythicplusseasonthree/MurozondsRise.ts
  src/game/raids/mythicplusseasonthree/ThroneOfTheTides.ts
  src/game/raids/mythicplusseasonthree/backgrounds/DawnOfTheInfinite.png
  src/game/raids/mythicplusseasonthree/backgrounds/Everbloom.png
  src/game/raids/mythicplusseasonthree/backgrounds/ThroneOfTheTides.png
Labels: core

#6496 fix Fel Devastation cooldown
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
Labels: Demon Hunter

#6463 i18n: Translation to Portuguese of the pages News, Specs, Premium, and About
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/localization/pt/messages.json
Labels: Translation

#6489 [Augmentation] Added functionality to find optimal buff targets for Breath Helper
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/modules/Styling.scss
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
Labels: Dragonflight, Evoker

#6502 regenerate talents
  scripts/talents/generate-talents.ts
  src/CHANGELOG.tsx
  src/common/TALENTS/druid.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/shaman.ts
Labels: core

#6505 update Spirit Bomb guidance for 10.2
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SpiritBomb.tsx
  src/common/SPELLS/demonhunter.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Demon Hunter

#6491 [Disc] Train of Thought analyzer
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/TrainOfThought.tsx
Labels: Priest, Dragonflight

#6515 Discipline Priest - Fixed channel tracking for Dark Reprimand and Ultimate Penitence
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Priest, Dragonflight

#6513 [Devastation] Update Disintegrate guide section
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
Labels: Dragonflight, Evoker

#6507 [Classic] Shadow Priest updates
  src/analysis/classic/priest/shadow/CHANGELOG.tsx
  src/analysis/classic/priest/shadow/CONFIG.tsx
  src/analysis/classic/priest/shadow/modules/features/Abilities.ts
Labels: Priest, Classic

#6499 Rsham T31
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/Guide.tsx
  src/analysis/retail/shaman/restoration/modules/dragonflight/Tier31.tsx
  src/analysis/retail/shaman/restoration/normalizers/CastLinkNormalizer.ts
  src/common/ITEMS/shaman.ts
  src/interface/images/avatars/Ypp-avatar.png
Labels: Shaman, Dragonflight

#6451 update Sentry setup to use @sentry/react
  .github/workflows/build.yml
  package.json
  public/index.html
  src/CHANGELOG.tsx
  src/common/errorLogger.ts
  src/common/typeGuards.ts
  src/index.tsx
  src/interface/App.tsx
  src/interface/ErrorBoundary.tsx
  src/interface/useSpellInfo.ts
  src/parser/core/modules/EventEmitter.ts
  src/react-app-env.d.ts
  src/store.ts
  types/jpg.d.ts
  types/png.d.ts
  types/sentry.d.ts
  types/svg.d.ts
  yarn.lock
Labels: dependencies

#6533 update Sentry release naming
  .github/workflows/build.yml
  src/CHANGELOG.tsx
  src/index.tsx
Labels: core
