Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-02, with the labels that each got.

#6638 Updates on Frost Mage Guide (Orb, SP, Flurry, Prep)
  src/CONTRIBUTORS.ts
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/core/BrainFreeze.tsx
  src/analysis/retail/mage/frost/talents/CometStorm.tsx
  src/analysis/retail/mage/frost/talents/Flurry.tsx
  src/analysis/retail/mage/frost/talents/FlurryEvent.ts
  src/analysis/retail/mage/frost/talents/FrostShiftingPower.tsx
  src/analysis/retail/mage/frost/talents/FrozenOrb.tsx
Labels: Mage, Dragonflight

#6642 Druid Guardian - fixed an issue where maul ability definition is disabled when Raze is talented (Raze no longer replaces Maul as of 10.1.5)
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/modules/Abilities.ts
Labels: Druid, Dragonflight

#6644 add spells to casts that aren't casts for havoc
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/common/SPELLS/demonhunter.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Demon Hunter, core, Dragonflight

#6639 [Evoker] Implement Source of Magic & Potent Mana modules
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/PotentMana.tsx
  src/analysis/retail/evoker/shared/modules/talents/SourceOfMagic.tsx
  src/common/SPELLS/evoker.ts
  src/parser/ui/ItemDamageDone.tsx
Labels: core, Dragonflight, Evoker

#6643 Monk Mistweaver - fixed an issue where Mana Tea channel doesn't show properly on timeline / active time
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Monk, Dragonflight, Classic

#6645 fix crash caused by bad ad provider links
  src/CHANGELOG.tsx
  src/interface/Ad.tsx
  src/interface/Home.tsx
  src/interface/report/Results/Header.tsx
Labels: core

#6646 mark 10.2.0 as not current
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#6647 inspect more stack trace lines for external scripts
  src/CHANGELOG.tsx
  src/interface/RootErrorBoundary.tsx
Labels: core

#6648 Fix crash in source of magic module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/talents/SourceOfMagic.tsx
Labels: Dragonflight, Evoker

#6651 Retribution Paladin 10.2.5 fixes
  src/CONTRIBUTORS.ts
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/analysis/retail/paladin/retribution/constants.tsx
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/retribution/modules/core/Consecration.tsx
  src/analysis/retail/paladin/retribution/modules/talents/ArtOfWar.tsx
  src/analysis/retail/paladin/retribution/modules/talents/ArtOfWarProbability.tsx
  src/analysis/retail/paladin/retribution/modules/talents/FinalVerdict.tsx
  src/analysis/retail/paladin/shared/DuskAndDawn.tsx
  src/analysis/retail/paladin/shared/SealOfAlacrity.tsx
  src/common/SPELLS/paladin.ts
  src/parser/shared/modules/Haste.ts
Labels: Paladin, Dragonflight, Classic

#6654 Add timestamps for spell cast time to stasis module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
Labels: Dragonflight, Evoker

#6640 Adding Glacial Spike, Brain Freeze and Fingers of Frost to Frost Mage Guide
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/checklist/Module.tsx
  src/analysis/retail/mage/frost/core/BrainFreeze.tsx
  src/analysis/retail/mage/frost/core/FingersOfFrost.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/talents/Flurry.tsx
  src/analysis/retail/mage/frost/talents/GlacialSpike.tsx
Labels: Mage, Dragonflight

#6649 Add "Shield Size" line item to Celestial Brew breakdown
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/CelestialBrew/index.tsx
  src/interface/guide/components/MajorDefensives/AllCooldownUsagesList.tsx
  src/interface/guide/components/MajorDefensives/MajorDefensiveAnalyzer.tsx
  src/interface/guide/components/MajorDefensives/MitigationSegments.tsx
Labels: Monk, core, Dragonflight

#6658 Fixes on Frost mage
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/talents/CometStorm.tsx
  src/analysis/retail/mage/frost/talents/RayOfFrost.tsx
  src/analysis/retail/mage/frost/talents/ShiftingPowerFrost.tsx
Labels: Mage, Dragonflight

#6652 [Hunter] Workaround for Volcoross having weird events
  src/analysis/retail/evoker/augmentation/modules/talents/BlisteringScalesStackTracker.tsx
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/modules/guide/sections/rotation/FrenzyBuffStackTracker.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/BarbedShot.tsx
  src/parser/shared/modules/BuffStackTracker.ts
Labels: Hunter, Dragonflight, Classic, Evoker

#6659 Demo update to 10.2.5 with tier set
  src/analysis/retail/warlock/affliction/CombatLogParser.ts
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/dragonflight/tier/T31AmirdrassilDemonology.tsx
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/modules/features/LegionStrike.tsx
  src/analysis/retail/warlock/demonology/modules/features/SummonDemonicTyrant.tsx
  src/analysis/retail/warlock/demonology/modules/features/T31AmirdrassilDemonology.tsx
  src/analysis/retail/warlock/destruction/CombatLogParser.ts
  src/analysis/retail/warlock/destruction/modules/features/Abilities.ts
  src/analysis/retail/warlock/shared/Abilities.ts
  src/analysis/retail/warlock/shared/DemonicCirclesCreated.tsx
  src/analysis/retail/warlock/shared/index.ts
  src/analysis/retail/warlock/shared/talents/DarkPact.tsx
  src/analysis/retail/warlock/shared/talents/DemonicCircle.tsx
Labels: Warlock, Dragonflight

#6661 switch to assets.rpglogs.com for WoW Icons
  scripts/talents/generate-talents.ts
  src/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
  src/common/SPELLS/others.ts
  src/common/SPELLS/warlock.ts
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/druid.ts
  src/interface/BAD_ICONS.ts
  src/interface/Icon.tsx
  src/parser/shared/metrics/apl/annotate.test.tsx.snap
Labels: Death Knight, Druid, Warlock, core, Dragonflight, Classic
