Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-08, with the labels that each got.

#6916 [MW] Tuning Changes
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/spells/JadeBond.tsx
Labels: Monk, The War Within

#6900 Update Enhancement and Elemental to 11.0.0
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/apl/AplCheck.tsx
  src/analysis/retail/shaman/elemental/guide/Cooldowns.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/guide/FlameShockSubSection.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Component.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Module.tsx
  src/analysis/retail/shaman/elemental/modules/core/LavaSurge.tsx
  src/analysis/retail/shaman/elemental/modules/core/SpellMaelstromCost.tsx
  src/analysis/retail/shaman/elemental/modules/features/SpenderWindow.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/elemental/modules/talents/ElectrifiedShocks.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Icefury.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SkybreakersFieryDemise.tsx
  src/analysis/retail/shaman/elemental/modules/talents/StormElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SurgeOfPower.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
  src/analysis/retail/shaman/enhancement/modules/checklist/Component.tsx
  src/analysis/retail/shaman/enhancement/modules/checklist/Module.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/MaelstromUsage.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponDetails.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/WindfuryTotem.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/features/EarthShieldBreakdown.tsx
  src/analysis/retail/shaman/restoration/modules/spells/LavaSurge.ts
  src/analysis/retail/shaman/restoration/modules/talents/FlashFlood.tsx
  src/analysis/retail/shaman/shared/Abilities.tsx
  src/analysis/retail/shaman/shared/Buffs.tsx
  src/analysis/retail/shaman/shared/constants.ts
  src/analysis/retail/shaman/shared/guide/DefensiveAndUtility.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/Tempest.tsx
  src/analysis/retail/shaman/shared/talents/SurgingShields.tsx
  src/common/SPELLS/others.ts
  src/common/SPELLS/shaman.ts
  src/interface/ReportRaidBuffList.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/core/modules/Ability.ts
Labels: Shaman, core, The War Within

#6908 Enable Frost Mage for TWW
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/core/WintersChillEvent.tsx
  src/analysis/retail/mage/frost/talents/ThermalVoid.tsx
Labels: Mage, The War Within

#6913 [Classic] Cata P1 Trinkets
  src/CHANGELOG.tsx
  src/common/ITEMS/classic/trinkets.ts
Labels: Classic

#6903 Druid / Elune's Chosen - Added support for Lunation
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CombatLogParser.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/shared/spells/Lunation.tsx
Labels: Druid, The War Within

#6914 Druid Guardian - utility refactors and also a Swipe module
  src/analysis/retail/druid/feral/Guide.tsx
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/druid/feral/modules/Buffs.ts
  src/analysis/retail/druid/feral/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/druid/feral/modules/spells/Bloodtalons.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/Guide.tsx
  src/analysis/retail/druid/guardian/constants.ts
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/guardian/modules/core/rage/RageTracker.tsx
  src/analysis/retail/druid/guardian/modules/features/Gore.jsx
  src/analysis/retail/druid/guardian/modules/spells/Gore.tsx
  src/analysis/retail/druid/guardian/modules/spells/Swipe.tsx
  src/analysis/retail/druid/restoration/modules/Abilities.tsx
  src/analysis/retail/druid/shared/core/Abilities.ts
  src/analysis/retail/druid/shared/heroTree.ts
  src/common/SPELLS/druid.ts
  src/common/abilitiesConstants.ts
  src/common/hastedCooldown.ts
Labels: Druid, core, The War Within

#6918 [Classic] Cata Eng items
  src/CHANGELOG.tsx
  src/common/SPELLS/Spell.ts
  src/common/SPELLS/classic/engineering.ts
  src/parser/classic/CombatLogParser.ts
  src/parser/classic/modules/items/engineering/Bombs.tsx
  src/parser/classic/modules/items/engineering/FragBelt.tsx
  src/parser/classic/modules/items/engineering/HyperspeedAccelerators.tsx
  src/parser/classic/modules/items/engineering/SynapseSprings.tsx
Labels: Classic, The War Within

#6920 remove supported specs from tsconfig
  src/analysis/retail/shaman/elemental/guide/MaelstromSubSection.tsx
  tsconfig.json
Labels: Shaman, The War Within

#6915 [Shadow] Update for War Within Prepatch
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/talents/AncientMadness.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkAscension.tsx
  src/analysis/retail/priest/shadow/modules/talents/DistortedReality.tsx
  src/analysis/retail/priest/shadow/modules/talents/Manipulation.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindMelt.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/analysis/retail/priest/shadow/modules/talents/ShadowCrash.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTouched.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier29ShadowPriest4Set.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier30ShadowPriest.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier31ShadowPriest4Set.tsx
  src/analysis/retail/priest/shadow/modules/tier/Tier31ShadowPriest4SetNormalizer.tsx
  src/analysis/retail/priest/shared/Mindgames.tsx
  src/analysis/retail/priest/shared/index.ts
  tsconfig.json
Labels: Priest, The War Within

#6924 [Classic] Cata Priest spells
  src/CHANGELOG.tsx
  src/analysis/classic/priest/discipline/modules/features/Abilities.ts
  src/analysis/classic/priest/discipline/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/shadow/modules/features/Abilities.ts
  src/analysis/classic/priest/shared/Haste.ts
  src/common/SPELLS/classic/priest.ts
  src/interface/ReportRaidBuffList.tsx
Labels: Priest, core, Classic

#6917 clean up lingering Shadowlands and Dragonflight stuff
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/GrowingInferno.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/SigilOfSpite.tsx
  src/analysis/retail/druid/guardian/modules/spells/ConvokeSpiritsGuardian.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/WalkWithTheOx.tsx
  src/analysis/retail/monk/windwalker/modules/talents/FaelineHarmony.tsx
  src/analysis/retail/rogue/shared/DeeperDaggers.tsx
  src/analysis/retail/warrior/protection/modules/spells/Thunderlord.tsx
  src/game/ZONES.ts
  src/game/raids/index.ts
  src/game/raids/nerubarpalace/index.ts
  src/game/shadowlands/COVENANTS.ts
  src/game/shadowlands/SOULBINDS.ts
  src/interface/report/CombatantInfoFaker.ts
  src/interface/report/PATCHES.ts
  src/interface/report/Results/ReportStatistics.tsx
  src/parser/ui/STATISTIC_CATEGORY.ts
Labels: Druid, Monk, Priest, Rogue, Warrior, Demon Hunter, core, The War Within

#6926 adjust the Active Time section for Arms War to have lower downtime
  src/analysis/classic/warrior/arms/CHANGELOG.tsx
  src/analysis/classic/warrior/arms/CombatLogParser.ts
  src/analysis/classic/warrior/arms/Guide.tsx
  src/analysis/classic/warrior/arms/modules/features/AlwaysBeCasting.ts
Labels: Warrior, Classic

#6928 Fix Classic Arcane Mage active time estimation
  src/CHANGELOG.tsx
  src/analysis/classic/druid/shared/Haste.ts
  src/analysis/classic/hunter/marksman/modules/features/Haste.ts
  src/analysis/classic/hunter/survival/modules/features/Haste.ts
  src/analysis/classic/mage/arcane/CHANGELOG.tsx
  src/analysis/classic/mage/arcane/modules/Abilities.tsx
  src/analysis/classic/mage/arcane/normalizers/ArcaneMissiles.tsx
  src/analysis/classic/mage/shared/Haste.ts
  src/analysis/classic/priest/shared/Haste.ts
  src/analysis/classic/warlock/shared/Haste.ts
  src/analysis/retail/paladin/protection/modules/core/Haste.tsx
  src/analysis/retail/shaman/elemental/modules/core/Haste.tsx
  src/common/SPELLS/classic/mage.ts
  src/common/SPELLS/classic/misc.ts
  src/parser/shared/modules/Haste.ts
  src/parser/shared/modules/StatTracker.ts
Labels: Druid, Hunter, Mage, Paladin, Priest, Shaman, Warlock, Classic, The War Within

#6919 Druid Guardian - added Offensive Cooldowns section to Guide
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/Guide.tsx
  src/analysis/retail/druid/guardian/constants.ts
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/guardian/modules/core/defensives/Barkskin.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/config.ts
  src/analysis/retail/druid/guardian/modules/core/rage/RageTracker.tsx
  src/analysis/retail/druid/guardian/modules/features/MitigationCheck.jsx
  src/analysis/retail/druid/guardian/modules/features/RageWasted.jsx
  src/analysis/retail/druid/guardian/modules/spells/Barkskin.tsx
  src/analysis/retail/druid/guardian/modules/spells/Berserk.tsx
  src/analysis/retail/druid/guardian/modules/spells/Incarnation.jsx
  src/analysis/retail/druid/guardian/modules/spells/Pulverize.tsx
  src/analysis/retail/druid/guardian/modules/spells/RageOfTheSleeper.tsx
  src/analysis/retail/druid/guardian/modules/spells/SurvivalInstincts.tsx
  src/analysis/retail/druid/restoration/modules/Abilities.tsx
  src/analysis/retail/druid/shared/core/Abilities.ts
  src/common/SPELLS/druid.ts
  src/interface/guide/components/CooldownExpandable.tsx
  src/parser/shared/modules/Haste.ts
  src/parser/shared/modules/SpellUsable.tsx
  src/parser/shared/modules/resources/resourcetracker/ResourceTracker.ts
Labels: Druid, core, The War Within

#6929 [Shadow] Update for 11.0.2 Changes
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/resources/InsanityUsage.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTorrent.tsx
Labels: Priest, The War Within

#6930 [TWW] Initial support for Resto Shaman
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/shared/talents/EarthShield.tsx
Labels: Shaman, The War Within

#6927 [Classic] Templates Config
  src/analysis/classic/_templates/caster/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CONFIG.tsx
  src/analysis/classic/_templates/healer/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/CONFIG.tsx
  src/analysis/classic/_templates/melee/CHANGELOG.tsx
  src/analysis/classic/_templates/melee/CONFIG.tsx
Labels: Classic

#6939 [Arcane Mage] Rearrange Touch Resource Gain
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/normalizers/TouchOfTheMagi.ts
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
Labels: Mage, The War Within

#6940 [Hunter][BeastMastery] Update references to Kill Command Talent
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/constants.ts
  src/analysis/retail/hunter/beastmastery/modules/Abilities.tsx
  src/analysis/retail/hunter/beastmastery/modules/checklist/Component.tsx
  src/analysis/retail/hunter/beastmastery/modules/core/SpellUsable.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T30BMTier4P.tsx
  src/analysis/retail/hunter/beastmastery/modules/resources/Focus.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/CobraShot.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DireBeast.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DireCommand.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DirePack.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/KillerCobra.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/KillerInstinct.tsx
  src/analysis/retail/hunter/beastmastery/normalizers/DireCommandNormalizer.ts
Labels: Hunter, The War Within

#6925 Hpal DF Deprecation
  src/CONTRIBUTORS.ts
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CONFIG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/constants.ts
  src/analysis/retail/paladin/holy/modules/checklist/Component.tsx
  src/analysis/retail/paladin/holy/modules/checklist/Module.tsx
  src/analysis/retail/paladin/holy/modules/dragonflight/tier/T30TierSet.tsx
  src/analysis/retail/paladin/holy/modules/features/Abilities.tsx
  src/analysis/retail/paladin/holy/modules/features/AlwaysBeCasting.ts
  src/analysis/retail/paladin/holy/modules/features/CastBehavior.tsx
  src/analysis/retail/paladin/holy/modules/features/HealingPerHolyPower.tsx
  src/analysis/retail/paladin/holy/modules/features/HolyPaladinHealingEfficiencyTracker.ts
  src/analysis/retail/paladin/holy/modules/spells/FillerLightOfTheMartyrs.tsx
  src/analysis/retail/paladin/holy/modules/spells/InefficientLightOfTheMartyrs.tsx
  src/analysis/retail/paladin/holy/modules/talents/CrusadersMight.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/Daybreak.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/GlimmerOfLight.tsx
  src/analysis/retail/paladin/holy/modules/talents/GlimmerOfLight/LightsProtection.tsx
  src/analysis/retail/paladin/holy/modules/talents/ImbuedInfusion.tsx
  src/analysis/retail/paladin/holy/modules/talents/MaraadsCastRatio.tsx
  src/analysis/retail/paladin/holy/modules/talents/MaraadsOverheal.tsx
  src/analysis/retail/paladin/holy/modules/talents/UntemperedDedication.tsx
  src/analysis/retail/paladin/holy/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/paladin.ts
  tsconfig.json
Labels: Paladin, Classic, The War Within

#6937 Affliction warlock updates - 10/08/2024
  src/CONTRIBUTORS.ts
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/CONFIG.tsx
  src/analysis/retail/warlock/affliction/CombatLogParser.ts
  src/analysis/retail/warlock/affliction/constants.ts
  src/analysis/retail/warlock/affliction/modules/checklist/Component.tsx
  src/analysis/retail/warlock/affliction/modules/checklist/Module.tsx
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/affliction/modules/features/DotUptimes.tsx
  src/analysis/retail/warlock/affliction/modules/spells/AbsoluteCorruption.tsx
  src/analysis/retail/warlock/affliction/modules/spells/DreadTouch.tsx
  src/analysis/retail/warlock/affliction/modules/spells/InevitableDemise.tsx
  src/analysis/retail/warlock/affliction/modules/spells/PandemicInvocation.tsx
  src/analysis/retail/warlock/affliction/modules/spells/ShadowEmbrace.tsx
  src/analysis/retail/warlock/affliction/modules/spells/SiphonLife.tsx
  src/analysis/retail/warlock/affliction/modules/spells/WrathOfConsumption.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/modules/features/Checklist/Component.tsx
  src/analysis/retail/warlock/demonology/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/warlock/demonology/modules/guide/CooldownsSubsection.tsx
  src/analysis/retail/warlock/demonology/modules/pets/DemoPets/PetSummonHandler.ts
  src/analysis/retail/warlock/demonology/modules/talents/NetherPortal.tsx
  src/analysis/retail/warlock/demonology/modules/talents/ShadowsBite.tsx
  src/analysis/retail/warlock/demonology/modules/talents/TheHoundmastersStratagem.tsx
  src/analysis/retail/warlock/shared/Abilities.ts
  src/common/SPELLS/warlock.ts
  tsconfig.json
Labels: Warlock, The War Within

#6947 [BDK] fix crash in CastEfficiency when Rapid Decomp is not selected
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
Labels: Death Knight, The War Within

#6934 [Devastation] Add Always Be Casting guide section
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/Guide.tsx
  src/analysis/retail/evoker/devastation/modules/guide/CoreSection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/EssenceGraphSection.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Classic, Evoker, The War Within

#6941 [Aug/Deva] Implement Mass Disintegrate/Eruption module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/MassDisintegrate.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6942 [Aug/Deva] Implement Might of the black dragonflight module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/MightOfTheBlackDragonflight.tsx
Labels: Evoker, The War Within

#6943 [Aug/Deva] Implement Melt Armor module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/MeltArmor.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6949 add patch 11.0.2
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/common/stringWithAutocompleteOptions.ts
  src/game/VERSIONS.ts
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
Labels: core

#6950 deleted mind game references from holy priest
  src/CONTRIBUTORS.ts
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  tsconfig.json
Labels: Priest, The War Within

#6951 [Devastation] Implement 11.0.2 talent change
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/talents/TitanicWrath.tsx
Labels: Evoker, The War Within

#6948 [RSHAM] add statistic for nature's swiftness mana save
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/talents/NaturesSwiftness.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman, The War Within

#6962 Druid - marked all specs ready for 11.0.2.
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
Labels: Druid, The War Within

#6945 [Classic] Cata Shadow Priest
  src/analysis/classic/priest/shadow/CHANGELOG.tsx
  src/analysis/classic/priest/shadow/CONFIG.tsx
  src/analysis/classic/priest/shadow/CombatLogParser.ts
  src/analysis/classic/priest/shadow/index.ts
  src/analysis/classic/priest/shadow/modules/Abilities.ts
  src/analysis/classic/priest/shadow/modules/Buffs.tsx
  src/analysis/classic/priest/shadow/modules/checklist/Component.tsx
  src/analysis/classic/priest/shadow/modules/checklist/Module.tsx
  src/analysis/classic/priest/shadow/modules/core/GlobalCooldown.tsx
  src/analysis/classic/priest/shadow/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/shadow/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/priest/shadow/modules/features/Shadowfiend.tsx
  src/analysis/classic/priest/shadow/modules/spells/DevouringPlague.tsx
  src/analysis/classic/priest/shadow/modules/spells/ShadowWordPain.tsx
  src/analysis/classic/priest/shadow/modules/spells/Shadowfiend.tsx
  src/analysis/classic/priest/shadow/modules/spells/VampiricTouch.tsx
  src/common/SPELLS/classic/priest.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: Priest, core, Classic, The War Within

#6946 [Restoration Shaman] Removed Dragonflight Tier set files and references
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/dragonflight/Season4Tier.tsx
  src/analysis/retail/shaman/restoration/modules/dragonflight/Tier30.tsx
  src/analysis/retail/shaman/restoration/modules/dragonflight/Tier31.tsx
  src/analysis/retail/shaman/restoration/modules/talents/CloudburstTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/PrimordialWave.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Riptide.tsx
  src/analysis/retail/shaman/restoration/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/shaman/restoration/normalizers/Tier30Normalizer.ts
  src/common/ITEMS/shaman.ts
  tsconfig.json
Labels: Shaman, The War Within

#6960 [Arms Warrior] Enabled spec and fixed some abilities and cooldowns
  src/CONTRIBUTORS.ts
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CONFIG.tsx
  src/analysis/retail/warrior/arms/modules/Abilities.tsx
  src/analysis/retail/warrior/arms/modules/talents/Skullsplitter.tsx
  tsconfig.json
Labels: Warrior, The War Within

#6957 [Restoration Shaman] Added mana saved from Spiritwalker's Tidal Totem statistic
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/talents/NaturesSwiftness.tsx
  src/analysis/retail/shaman/restoration/modules/talents/SpiritwalkersTidalTotem.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman, The War Within

#6963 [Classic] Templates Config
  src/analysis/classic/_templates/caster/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CONFIG.tsx
  src/analysis/classic/_templates/healer/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/CONFIG.tsx
  src/analysis/classic/_templates/melee/CHANGELOG.tsx
  src/analysis/classic/_templates/melee/CONFIG.tsx
Labels: Classic

#6953 [Aug/Deva] Implement Unrelenting Siege module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/UnrelentingSiege.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6955 [Aug/Deva] Implement Diverted Power module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/DivertedPower.tsx
Labels: Evoker, The War Within

#6958 [Arcane Mage] The War Within Update Part 2
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/Checklist/Module.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/Guide.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/core/ArcaneChargeTracker.tsx
  src/analysis/retail/mage/arcane/core/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/core/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurge.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/core/CooldownThroughputTracker.jsx
  src/analysis/retail/mage/arcane/guide/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneSurge.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneTempo.tsx
  src/analysis/retail/mage/arcane/guide/PresenceOfMind.tsx
  src/analysis/retail/mage/arcane/guide/ShiftingPower.tsx
  src/analysis/retail/mage/arcane/guide/SiphonStorm.tsx
  src/analysis/retail/mage/arcane/guide/Supernova.tsx
  src/analysis/retail/mage/arcane/guide/TouchOfTheMagi.tsx
  src/analysis/retail/mage/arcane/normalizers/ArcaneCharges.ts
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/normalizers/TouchOfTheMagi.ts
  src/analysis/retail/mage/arcane/talents/PresenceOfMind.tsx
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/Supernova.tsx
  src/analysis/retail/mage/shared/constants.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Mage, core, The War Within

#6961 [Holy Paladin] Initial The War Within port and Guide v1
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CONFIG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/paladin/holy/guide/Guide.tsx
  src/analysis/retail/paladin/holy/modules/beacons/BeaconUptime.tsx
  src/analysis/retail/paladin/holy/modules/core/HolyPowerGraph.ts
  src/analysis/retail/paladin/holy/modules/talents/BeaconOfVirtue.tsx
  src/analysis/retail/paladin/holy/modules/talents/BlessingOfTheSeasons.tsx
  src/analysis/retail/paladin/holy/modules/talents/CrusadersMight.tsx
  src/analysis/retail/paladin/holy/modules/talents/HolyPrism.tsx
  src/analysis/retail/paladin/holy/modules/talents/HolyShock.tsx
  src/analysis/retail/paladin/holy/modules/talents/ImbuedInfusion.tsx
Labels: Paladin, The War Within

#6966 [Classic] Cata Demo Warlock
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/modules/Abilities.ts
  src/analysis/classic/warlock/demonology/modules/spells/Metamorphosis.tsx
  src/analysis/classic/warlock/shared/GlobalCooldown.ts
  src/analysis/classic/warlock/shared/index.ts
  src/common/SPELLS/classic/raids.ts
  src/parser/shared/modules/Haste.ts
Labels: Warlock, Classic

#6970 [Restoration Shaman] Talent updates
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/features/TalentStatisticBox.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Downpour.tsx
  src/analysis/retail/shaman/shared/talents/StoneBulwarkTotem.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman, The War Within

#6971 [Restoration Shaman] Hotfix : Cloudburst Totem module crashing if cast prepull
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/talents/CloudburstTotem.tsx
Labels: Shaman, The War Within

#6972 [Resto Shaman] Bump supported version to 11.0.2 and set Guide view as default
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
Labels: Shaman, The War Within

#6968 Mage Arcane - guide cleanup stuff + Arcane Tempo improvements
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/Guide.tsx
  src/analysis/retail/mage/arcane/core/Abilities.tsx
  src/analysis/retail/mage/arcane/core/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneTempo.tsx
  src/analysis/retail/mage/arcane/guide/SiphonStorm.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneTempo.tsx
  src/analysis/retail/mage/arcane/talents/SiphonStorm.tsx
  src/analysis/retail/mage/shared/constants.tsx
  src/interface/guide/components/CastEfficiencyPanel.tsx
Labels: Mage, core, The War Within

#6974 Update Preservation Patch Compatibility
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/TitansGift.tsx
Labels: Evoker, The War Within

#6977 Druid Feral - CastSummaryAndBreakdown in guide + minor improvements
  src/analysis/retail/demonhunter/shared/guide/CommonLinguiTranslations.tsx
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/RakeUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
  src/analysis/retail/druid/feral/modules/spells/SuddenAmbush.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/BarbedShot.tsx
  src/interface/guide/components/CastSummaryAndBreakdown.tsx
  src/interface/guide/components/GradiatedPerformanceBar.tsx
Labels: Druid, Hunter, Demon Hunter, core, The War Within

#6978 Druid Feral - Convoke tracker should detect Ravages
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/spells/RampantFerocity.tsx
  src/analysis/retail/druid/shared/spells/ConvokeSpirits.tsx
Labels: Druid, The War Within

#6973 [Holy Paladin] Talent updates
  src/CONTRIBUTORS.ts
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/constants.ts
  src/analysis/retail/paladin/holy/modules/talents/OverflowingLight.tsx
  src/common/SPELLS/paladin.ts
  src/interface/images/avatars/Tex-avatar.jpg
Labels: Paladin, core, The War Within

#6976 [Classic] Cata Druid spells
  src/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/modules/features/Abilities.ts
  src/analysis/classic/_templates/healer/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/balance/CombatLogParser.ts
  src/analysis/classic/druid/balance/modules/features/Abilities.ts
  src/analysis/classic/druid/feral/CombatLogParser.ts
  src/analysis/classic/druid/feral/modules/features/Abilities.ts
  src/analysis/classic/druid/restoration/CombatLogParser.ts
  src/analysis/classic/druid/restoration/modules/features/Abilities.ts
  src/analysis/classic/druid/restoration/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/shared/index.ts
  src/analysis/classic/druid/shared/lowRankSpells.ts
  src/common/SPELLS/classic/druid.ts
  src/interface/ReportRaidBuffList.tsx
Labels: Druid, core, Classic

#6982 [Resto Shaman] Tidewaters talent statistic
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/features/TalentStatisticBox.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Tidewaters.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman, The War Within

#6975 [Resto Shaman] Surging totem
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/Guide.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/analysis/retail/shaman/restoration/modules/spells/HealingRain.test.jsx
  src/analysis/retail/shaman/restoration/modules/spells/HealingRain.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/SurgingTotem.tsx
  src/analysis/retail/shaman/restoration/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/shaman.ts
  src/localization/en/messages.json
Labels: Shaman, The War Within

#6983 add foundational support for Retribution Paladin in Cata
  src/analysis/classic/paladin/holy/CombatLogParser.ts
  src/analysis/classic/paladin/holy/modules/core/Haste.ts
  src/analysis/classic/paladin/holy/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/holy/modules/features/Buffs.tsx
  src/analysis/classic/paladin/retribution/CHANGELOG.tsx
  src/analysis/classic/paladin/retribution/CONFIG.tsx
  src/analysis/classic/paladin/retribution/CombatLogParser.ts
  src/analysis/classic/paladin/retribution/modules/checklist/Component.tsx
  src/analysis/classic/paladin/retribution/modules/checklist/Module.tsx
  src/analysis/classic/paladin/retribution/modules/features/Abilities.ts
  src/analysis/classic/paladin/retribution/modules/features/Buffs.tsx
  src/analysis/classic/paladin/retribution/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/paladin/shared/JudgmentsOfThePure.ts
  src/common/SPELLS/classic/paladin.ts
Labels: Paladin, Classic

#6986 remove report Redux reducer
  src/CHANGELOG.tsx
  src/interface/NavigationBar.tsx
  src/interface/reducers/navigation.ts
  src/interface/report/FightSelection.tsx
  src/interface/report/ReportLoader.tsx
  src/interface/selectors/fight.ts
  src/interface/selectors/report.ts
  src/store.ts
Labels: core

#6980 Spellslinger Frost apl
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/apl/SpellslingerAplCheck.tsx
Labels: Mage, The War Within

#6984 [Frost Spellslinger] Spellfrost Teachings support
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/SPELLS.ts
  src/analysis/retail/mage/frost/talents/SpellfrostTeachings.ts
Labels: Mage, The War Within

#6987 Necessary fixes to let Fury parser run
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
  src/analysis/retail/warrior/fury/modules/Abilities.ts
  src/analysis/retail/warrior/fury/modules/talents/ChampionsSpear.tsx
  src/common/SPELLS/warrior.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Warrior, core, The War Within

#6990 [Core] Update stat rating to conversions
  src/CHANGELOG.tsx
  src/parser/shared/modules/StatTracker.ts
Labels: Classic, The War Within

#6989 [Resto Shaman] Downpour targets & lives saved statistic
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/features/TalentStatisticBox.tsx
  src/analysis/retail/shaman/restoration/modules/talents/AncestralVigor.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Downpour.tsx
  src/analysis/retail/shaman/restoration/modules/talents/UnleashLife.tsx
  src/localization/en/messages.json
Labels: Shaman, The War Within

#6967 Implementing Archon/Oracle
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/Abilities.ts
  src/analysis/retail/priest/holy/modules/spells/CircleOfHealing.tsx
  src/analysis/retail/priest/holy/modules/spells/PrayerOfHealing.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/AnsweredPrayers.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightweaver.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/AngelsMercy.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/Halo.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/HealingChorus.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/AssuredSafetyHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleCore/RenewAttributor.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleCore/RenewTracker.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleValues.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreemptiveCareHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfInsight.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfPiety.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfSolace.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreventiveMeasuresHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/ProphetsWillHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/index.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/GuardianAngel.tsx
  src/analysis/retail/priest/holy/modules/talents/index.ts
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/priest/shared/ProtectiveLight.tsx
  src/common/SPELLS/priest.ts
  src/game/SPECS.ts
Labels: Priest, core, The War Within

#6993 [Classic] Cata Healer Template
  src/analysis/classic/_templates/healer/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/CombatLogParser.ts
  src/analysis/classic/_templates/healer/modules/Abilities.ts
  src/analysis/classic/_templates/healer/modules/Buffs.tsx
  src/analysis/classic/_templates/healer/modules/features/AlwaysBeCasting.tsx
Labels: Classic

#6991 Archon Hero Tree
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ArchonValues.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EmpoweredSurgesHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCompressionHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCycleHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ManifestedPowerHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/PerfectedFormHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/PowerSurgeAndDivineHaloHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ResonantEnergyHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/index.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/AssuredSafetyHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleValues.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreemptiveCareHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfInsight.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfPiety.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfSolace.tsx
  src/analysis/retail/priest/holy/modules/talents/index.ts
Labels: Priest, The War Within

#6994 [Classic] Cata Disc Priest
  src/CHANGELOG.tsx
  src/analysis/classic/priest/discipline/CHANGELOG.tsx
  src/analysis/classic/priest/discipline/CONFIG.tsx
  src/analysis/classic/priest/discipline/CombatLogParser.ts
  src/analysis/classic/priest/discipline/index.ts
  src/analysis/classic/priest/discipline/modules/Abilities.ts
  src/analysis/classic/priest/discipline/modules/Buffs.tsx
  src/analysis/classic/priest/discipline/modules/checklist/Component.tsx
  src/analysis/classic/priest/discipline/modules/checklist/Module.tsx
  src/analysis/classic/priest/discipline/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/discipline/modules/normalizers/Penance.tsx
  src/analysis/classic/priest/shared/Haste.ts
  src/common/ITEMS/classic/trinkets.ts
  src/common/SPELLS/classic/misc.ts
  src/common/SPELLS/classic/potions.ts
  src/common/SPELLS/classic/priest.ts
  src/parser/classic/modules/items/CombatPotionChecker.tsx
  src/parser/classic/modules/items/PotionChecker.tsx
  src/parser/shared/modules/racials/bloodelf/ArcaneTorrent.ts
Labels: Priest, Classic, The War Within
