Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-05, with the labels that each got.

#6749 [Fire Mage] Season 4 Tier
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/items/CharringEmbers.tsx
Labels: Mage, Dragonflight

#6748 Updating demo tier to df s4
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/modules/dragonflight/tier/T31AmirdrassilDemonology.tsx
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/destruction/modules/features/Abilities.ts
  src/analysis/retail/warlock/shared/Abilities.ts
Labels: Warlock, Dragonflight

#6747 [Shadow] Add statistics for several Shadow Talents.
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/talents/DarkEvangelism.tsx
  src/analysis/retail/priest/shadow/modules/talents/DistortedReality.tsx
  src/analysis/retail/priest/shadow/modules/talents/Maddening Touch.tsx
  src/analysis/retail/priest/shadow/modules/talents/Mastermind.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindMelt.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindsEye.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTouched.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6756 Improve cache busting via Refresh button
  src/CHANGELOG.tsx
  src/common/fetchWclApi.ts
  src/game/ZONES.ts
  src/interface/CharacterParses.tsx
Labels: core

#6755 [Evoker] Leaping Flames include absorbed healing
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/LeapingFlames.tsx
Labels: Dragonflight, Evoker

#6758 fix FoF clipping detection
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/normalizers/FistsOfFuryNormalizer.tsx
Labels: Monk, Dragonflight

#6757 [Shadow] Add Statistics for Dark Ascension and Shadowform, and fix Psychic Link
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/modules/spells/Shadowform.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkAscension.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
Labels: Priest, Dragonflight

#6754 [Devastation] Volatility module rework
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/abilities/Pyre.tsx
  src/analysis/retail/evoker/devastation/modules/guide/IntroSection.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/Volatility.tsx
Labels: Dragonflight, Evoker

#6760 add damage mitigated statistic for Enduring Dreadplate
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/trinkets.ts
  src/common/SPELLS/dragonflight/trinkets.ts
  src/game/HIT_TYPES.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/EnduringDreadplate.tsx
Labels: core, Dragonflight

#6761 add patch 10.2.7
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/deathknight/frost/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/game/VERSIONS.ts
  src/game/ZONES.ts
  src/interface/report/PATCHES.ts
Labels: Death Knight, Druid, Mage, Monk, Priest, Shaman, Warlock, Demon Hunter, core, Dragonflight, Evoker

#6762 Preservation Awakened Tierset
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/dragonflight/tier/AwakenedTierSet.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6759 [Devastation] Scintillation module rework
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/EternitySurgeNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/Scintillation.tsx
  src/analysis/retail/evoker/devastation/modules/talents/SpellweaversDominance.tsx
  src/parser/core/EventCalculateLib.tsx
Labels: core, Dragonflight, Evoker

#6753 [Discipline] Add Amirdrassil 4p Smite to places & Misc Fixes
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/discipline/modules/Abilities.ts
  src/analysis/retail/priest/discipline/modules/features/Checklist/Component.tsx
  src/analysis/retail/priest/discipline/modules/spells/BlazeOfLight/BlazeOfLight.tsx
  src/analysis/retail/priest/discipline/modules/spells/BlazeOfLight/BlazeOfLightSourceDonut.tsx
  src/analysis/retail/priest/discipline/modules/spells/HeavensWrath.tsx
  src/analysis/retail/priest/discipline/modules/spells/TrainOfThought.tsx
  src/analysis/retail/priest/discipline/modules/spells/TwilightEquilibrium/TwilightEquilibrium.tsx
  src/analysis/retail/priest/discipline/modules/spells/VoidSummoner.tsx
  src/analysis/retail/priest/discipline/modules/spells/WordsOfThePious.tsx
Labels: Priest, Dragonflight

#6763 ignore failed to fetch errors in sentry
  src/index.tsx
Labels: core

#6764 Druid - added detection of Season 4 set for Feral and Resto modules
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/druid/feral/modules/spells/ConvokeSpiritsFeral.tsx
  src/analysis/retail/druid/feral/modules/spells/FeralFrenzy.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/dragonflight/Tier31.tsx
Labels: Druid, Dragonflight

#6766 [Fire Mage] Meteor Fix
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/Checklist/Component.tsx
  src/analysis/retail/mage/fire/talents/Meteor.tsx
  src/analysis/retail/mage/fire/talents/MeteorCombustion.tsx
Labels: Mage, Dragonflight

#6765 [Devastation] Rework Shattering Star module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/ShatterStarGuide.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/ShatteringStar.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/common/ITEMS/evoker.ts
Labels: Dragonflight, Evoker

#6769 fix spelling of Ravenholdt
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
Labels: Rogue, Dragonflight

#6768 [Enhancement Shaman] Fix Elemental Blast analyzer overly pedantic
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlast.tsx
Labels: Shaman, Dragonflight

#6770 [Frost Mage] Overcapped Fingers of Frost Procs
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/core/FingersOfFrost.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
Labels: Mage, Dragonflight

#6771 update GitHub Actions versions
  .github/workflows/build.yml
  src/CHANGELOG.tsx
Labels: core

#6772 update upload-artifact to v4
  .github/workflows/build.yml
Labels: core

#6773 Bug fixes to Time of Need module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TimeOfNeed.tsx
Labels: Dragonflight, Evoker

#6776 [Bugfix] Add Cataclysm 4.4.0 as a patch
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#6778 update k-values for DF S4
  src/CHANGELOG.tsx
  src/parser/retail/armorMitigation.ts
Labels: Dragonflight
