Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-12, with the labels that each got.

#7197 [DH] fix Demonsurge wasted analysis
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/hero/felscarred/Demonsurge/analyzer.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
Labels: Demon Hunter, The War Within

#7180 Update/Add CDR logic
  src/analysis/retail/hunter/marksmanship/CHANGELOG.tsx
  src/analysis/retail/hunter/marksmanship/constants.ts
  src/analysis/retail/hunter/marksmanship/modules/Abilities.tsx
  src/analysis/retail/hunter/marksmanship/modules/talents/AimedShot.tsx
  src/analysis/retail/hunter/marksmanship/modules/talents/LockAndLoad.tsx
  src/analysis/retail/hunter/shared/talents/WailingArrow.tsx
  src/parser/shared/modules/Haste.ts
Labels: Hunter, Classic, The War Within

#7200 [Shadow] Fix Power Infusion Casts with Twins of the Sun Priestess.
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shared/TwinsOfTheSunPriestess.tsx
Labels: Priest, The War Within

#7201 Maelstrom Weapon Buff Normalizer should start at 2nd event
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromRefreshBuffNormalizer.tsx
Labels: Shaman, The War Within

#7198 [Discipline] Add Voidblast to a few talents
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/spells/ShadowCovenant/ShadowCovenant.tsx
  src/analysis/retail/priest/discipline/modules/spells/TrainOfThought.tsx
  src/analysis/retail/priest/discipline/modules/spells/VoidSummoner.tsx
  src/analysis/retail/priest/discipline/modules/spells/WordsOfThePious.tsx
Labels: Priest, The War Within

#7203 update report URL parsing to handle new WCL URL format
  src/CHANGELOG.tsx
  src/interface/ReportSelecter.tsx
  src/interface/ReportSelector.test.jsx
Labels: core

#7204 [Mistweaver] Removed Guidance todo from Vivify cast breakdown
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
Labels: Monk, The War Within

#7205 [Warrior] [Fury] Revamp Fury modules for The War Within
  src/CONTRIBUTORS.ts
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/core/RageDetails.tsx
  src/analysis/retail/warrior/fury/modules/features/checklist/Component.tsx
  src/analysis/retail/warrior/fury/modules/features/checklist/Module.tsx
  src/analysis/retail/warrior/fury/modules/spells/Bloodbath.tsx
  src/analysis/retail/warrior/fury/modules/spells/CrushingBlow.tsx
  src/analysis/retail/warrior/fury/modules/spells/MissedRampage.tsx
  src/analysis/retail/warrior/fury/modules/spells/SlayerExecute.tsx
  src/common/SPELLS/warrior.ts
Labels: Monk, Warrior, The War Within

#7207 [Outlaw] Remove Sepsis/Shadow Step talent references & Update Grappling Hook ability
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/constants.ts
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/features/Checklist/Component.tsx
Labels: Rogue, The War Within

#7206 Add basic Mereldar's Toll analysis
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/thewarwithin/trinkets/MereldarsToll.tsx
Labels: core, The War Within

#7208 Initial Chronowarden support for Aug
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/Reverberations.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/MassDisintegrate.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7210 [Classic] Update Guild Image
  src/CHANGELOG.tsx
  src/interface/GuildReports.tsx
  src/interface/images/classic_guild_banner.jpg
  src/interface/images/classic_guild_banner_lich_king.jpg
Labels: core

#7211 [Augmentation] Add Reverberation damage to Molten Embers statistics
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/MoltenEmbers.tsx
  src/analysis/retail/evoker/shared/constants.ts
Labels: Evoker, The War Within

#7209 [Augmentation] Add Momentum Shift, Primacy, and Nerub-ar 2pc
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Accretion.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/MomentumShift.tsx
  src/analysis/retail/evoker/augmentation/modules/thewarwithin/T32Augmentation2P.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/Primacy.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7212 Update guide section
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/Buffs.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/dragonflight/T31Augmentation4P.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/MoltenEmbers.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within
