Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-04, with the labels that each got.

#6696 [Frost Mage] Adding statistics for Chain Reaction Talent
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/SPELLS.ts
  src/analysis/retail/mage/frost/core/IceLance.tsx
  src/analysis/retail/mage/frost/talents/ChainReaction.tsx
Labels: Mage, Dragonflight

#6697 [Mage] Error corrections: Alter Time - Ice Cold
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
Labels: Mage, Dragonflight

#6692 [Core] Update Nymue spellids and add PrePullCooldowns dependency to Channeling normalizer
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/trinkets.ts
  src/parser/retail/modules/items/dragonflight/NymuesUnravelingSpindle.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Dragonflight, Classic

#6693 [Evoker] Implement Living Flame prepull normalizer
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/LivingFlamePrePullNormalizer.ts
Labels: Dragonflight, Evoker

#6695 [Frost Mage] Thermal void update
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/talents/ThermalVoid.tsx
Labels: Mage, Dragonflight

#6701 fix EventsTab omitting some events
  src/CHANGELOG.tsx
  src/interface/EventsTab.tsx
Labels: core

#6698 [Mage] minor fixes - Invisibility and console log
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/talents/GlacialSpike.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Mage, core, Dragonflight

#6702 [Shadow] Fix Error in Mind Spike & Mind Flay Insanity
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
Labels: Priest, Dragonflight

#6700 [Frost Mage] Cryopathy talent
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/SPELLS.ts
  src/analysis/retail/mage/frost/talents/Cryopathy.tsx
  src/analysis/retail/mage/frost/talents/RayOfFrost.tsx
  src/common/TALENTS/mage.ts
Labels: Mage, Dragonflight

#6703 [Evoker] Empower Normalization
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/EmpowerNormalizer.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/Abilities.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/features/Abilities.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/analysis/retail/evoker/shared/modules/features/GlobalCooldown.ts
  src/analysis/retail/evoker/shared/modules/features/SpellUsable.ts
  src/analysis/retail/evoker/shared/modules/normalizers/EmpowerNormalizer.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: Dragonflight, Classic, Evoker

#6699 [Fire Mage] Add Guide to Fire Mage
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/Guide.tsx
  src/analysis/retail/mage/fire/core/Buffs.tsx
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
  src/analysis/retail/mage/fire/core/HotStreak.tsx
  src/analysis/retail/mage/fire/guide/Combustion.tsx
  src/analysis/retail/mage/fire/guide/HeatingUp.tsx
  src/analysis/retail/mage/fire/guide/HotStreak.tsx
  src/analysis/retail/mage/fire/guide/SunKingsBlessing.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
  src/analysis/retail/mage/fire/talents/SunKingsBlessing.tsx
Labels: Mage, Dragonflight

#6704 fix Fury warnings in M+ content
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/resourcetracker/FuryTracker.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/metric.ts
Labels: Demon Hunter, core, Dragonflight

#6705 [Fire Mage] Guide Crash Fix + Flame Accelerant
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/core/Buffs.tsx
  src/analysis/retail/mage/fire/core/Combustion.tsx
  src/analysis/retail/mage/fire/guide/HeatingUp.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
Labels: Mage, Dragonflight

#6706 properly support classic character rankings search
  public/specs/Rogue-Combat.jpg
  src/CHANGELOG.tsx
  src/game/SPECS.ts
  src/interface/CharacterParses.tsx
Labels: core

#6707 [Fire Mage] Feel the Burn Adjustments
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
Labels: Mage, Dragonflight

#6708 partially rollback Fury waste changes
  src/analysis/retail/demonhunter/shared/guide/FuryCapWaste.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/metric.ts
Labels: Demon Hunter, core, Dragonflight

#6710 Fix chain light damage calculation
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponSpenders.tsx
Labels: Shaman, Dragonflight

#6713 update dependencies
  package.json
  src/CHANGELOG.tsx
  yarn.lock
Labels: core

#6716 update paths used by Sentry for error reporting
  playwright.config.ts
  src/CHANGELOG.tsx
  src/index.tsx
Labels: core

#6717 Druid Balance: fixed an issue where CA/Incarn casts weren't being detected while Oribital Strike is talented
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/Guide.tsx
  src/analysis/retail/druid/balance/constants.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, Dragonflight

#6721 fix mana level chart
  src/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/index.tsx
  src/interface/report/ConfigContext.tsx
  src/interface/report/index.tsx
  src/interface/useGoogleAnalytics.ts
  src/parser/Config.ts
  src/parser/shared/modules/resources/mana/ManaLevelChartComponent.tsx
Labels: Monk, core, Dragonflight, Classic

#6724 fix broken condition in brewmaster apl
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
Labels: Monk, Dragonflight

#6727 use setup-node yarn cache
  .github/workflows/build.yml
Labels: core

#6726 [Shadow] Remove Checklist view and update Qualitative Performance Values
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/checklist/Component.tsx
  src/analysis/retail/priest/shadow/modules/checklist/Module.tsx
  src/analysis/retail/priest/shadow/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/priest/shadow/modules/features/CancelledCasts.tsx
  src/analysis/retail/priest/shadow/modules/resources/InsanityUsage.tsx
  src/analysis/retail/priest/shadow/modules/spells/DevouringPlague.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowWordPain.tsx
  src/analysis/retail/priest/shadow/modules/spells/VampiricTouch.tsx
  src/analysis/retail/priest/shadow/modules/talents/AuspiciousSpirits.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkEvangelism.tsx
  src/analysis/retail/priest/shadow/modules/talents/DeathAndMadness.tsx
  src/analysis/retail/priest/shadow/modules/talents/Deathspeaker.tsx
  src/analysis/retail/priest/shadow/modules/talents/Dispersion.tsx
  src/analysis/retail/priest/shadow/modules/talents/IdolOfCthun.tsx
  src/analysis/retail/priest/shadow/modules/talents/InescapableTorment.tsx
  src/analysis/retail/priest/shadow/modules/talents/InsidiousIre.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindDevourer.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/ShadowCrash.tsx
  src/analysis/retail/priest/shadow/modules/talents/ShadowyInsight.tsx
  src/analysis/retail/priest/shadow/modules/talents/UnfurlingDarkness.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTorrent.tsx
  src/interface/BAD_ICONS.ts
Labels: Priest, core, Dragonflight

#6691 [Holy] 10.2.6 Changes
  src/CONTRIBUTORS.ts
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/core/SpellManaCost.tsx
  src/analysis/retail/priest/holy/modules/features/HolyPriestHealingEfficiencyTracker.tsx
  src/analysis/retail/priest/holy/modules/spells/Renew.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordChastise.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSalvation.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSanctify.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSerenity.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineWord.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/HolyWordSalvation.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightwell.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Pontifex.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/ResonantWords.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/index.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/Benediction.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/HealingChorus.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/PrayerfulLitany.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, core, Dragonflight, Classic, Evoker, Translation

#6729 [Shadow] Update ShadowyApparitions and add statistics for the talents Tormented Spirits and Phantasmal Pathogen
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/spells/ShadowyApparitions.tsx
  src/analysis/retail/priest/shadow/modules/talents/AuspiciousSpirits.tsx
  src/analysis/retail/priest/shadow/modules/talents/PhantasmalPathogen.tsx
  src/analysis/retail/priest/shadow/modules/talents/TormentedSpirits.tsx
Labels: Priest, Dragonflight

#6731 Frost mage guide default
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/core/WintersChillEvent.tsx
  src/analysis/retail/mage/frost/talents/ShiftingPowerFrost.tsx
Labels: Mage, Dragonflight

#6730 [Priest] Smaller fixes
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/Abilities.ts
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/modules/Abilities.ts
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
Labels: Priest, Dragonflight

#6733 add normalizer to add source/target/attackerIsFriendly events
  src/CHANGELOG.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/Events.ts
  src/parser/core/FriendlyCompatNormalizer.ts
  src/parser/shared/normalizers/EnergizeCompat.ts
Labels: core, Dragonflight, Classic

#6725 [Augmentation] Season 4 prep and a bit of cleanup
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/BreathOfEon.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/ShiftingSands.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsSection.tsx
  src/analysis/retail/evoker/augmentation/modules/dragonflight/T31Augmentation4P.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelperInfoLabel.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/IntroSection.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/PrescienceNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Accretion.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Anachronism.tsx
  src/analysis/retail/evoker/augmentation/modules/util/abilityFilter.ts
Labels: Dragonflight, Evoker

#6732 [Devastation] Season 4 prep
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/Buffs.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/DragonRage.tsx
  src/analysis/retail/evoker/devastation/modules/dragonflight/tier/T30DevaTier.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageSection.tsx
Labels: Dragonflight, Evoker

#6739 bump for season 4 start
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/game/raids/vaultoftheincarnates/BroodkeeperDiurna.ts
  src/game/raids/vaultoftheincarnates/Dathea.ts
  src/game/raids/vaultoftheincarnates/Eranog.ts
  src/game/raids/vaultoftheincarnates/KurogGrimtotem.ts
  src/game/raids/vaultoftheincarnates/PrimalCouncil.ts
  src/game/raids/vaultoftheincarnates/Raszageth.ts
  src/game/raids/vaultoftheincarnates/Sennarth.ts
  src/game/raids/vaultoftheincarnates/Terros.ts
  src/game/raids/vaultoftheincarnates/backgrounds/broodkeeper.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/dathea.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/eranog.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/kurog.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/overview.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/primalcouncil.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/raszageth.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/sennarth.jpg
  src/game/raids/vaultoftheincarnates/backgrounds/terros.jpg
  src/game/raids/vaultoftheincarnates/headshots/BroodkeeperDiurna.jpg
  src/game/raids/vaultoftheincarnates/headshots/Dathea.jpg
  src/game/raids/vaultoftheincarnates/headshots/Eranog.jpg
  src/game/raids/vaultoftheincarnates/headshots/KurogGrimtotem.jpg
  src/game/raids/vaultoftheincarnates/headshots/PrimalCouncil.jpg
  src/game/raids/vaultoftheincarnates/headshots/Raszageth.jpg
  src/game/raids/vaultoftheincarnates/headshots/Sennarth.jpg
  src/game/raids/vaultoftheincarnates/headshots/Terros.jpg
  src/game/raids/vaultoftheincarnates/index.ts
  src/interface/report/PATCHES.ts
Labels: Death Knight, Druid, Mage, Monk, Priest, Shaman, Warlock, Demon Hunter, core, Dragonflight, Evoker

#6740 Add fated tier id to t31 module for mw
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T31MWTier.tsx
Labels: Monk, Dragonflight

#6719 [Evoker] Leaping Flames module rework and Essence Burst normalization
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/EbonMightNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/PrescienceNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Anachronism.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/PupilOfAlexstrasza.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/normalizers/EssenceBurstNormalizer.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/preservation/normalizers/EBRefreshNormalizer.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstRefreshNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/LeapingFlamesNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/LeapingFlames.tsx
Labels: Dragonflight, Evoker

#6742 windwalker: bump spec support
  src/analysis/retail/monk/windwalker/CONFIG.tsx
Labels: Monk, Dragonflight

#6738 Support DF S3 and S4 tier sets for enhancement
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplCheck.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/DragonflightS3AndS4.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/Season3And4Tier.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/TierSets.tsx
  src/common/TALENTS/shaman.ts
Labels: Mage, Shaman, Dragonflight

#6736 [Frost] Refresh for S4
  src/analysis/retail/deathknight/frost/CHANGELOG.tsx
  src/analysis/retail/deathknight/frost/CONFIG.tsx
  src/analysis/retail/deathknight/frost/CombatLogParser.ts
  src/analysis/retail/deathknight/frost/modules/Abilities.tsx
  src/analysis/retail/deathknight/frost/modules/features/KillingMachine.tsx
  src/analysis/retail/deathknight/shared/talents/SoulReaper.tsx
  src/analysis/retail/deathknight/unholy/CombatLogParser.ts
  src/analysis/retail/deathknight/unholy/modules/features/Abilities.tsx
  src/common/SPELLS/deathknight.ts
  src/common/TALENTS/deathknight.ts
  src/interface/BAD_ICONS.ts
Labels: Death Knight, core, Dragonflight

#6741 fix bug in ancient flame module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/AncientFlame.tsx
Labels: Dragonflight, Evoker

#6745 [Mistweaver] bump mw report to s4
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
Labels: Monk, Dragonflight

#6735 Improve performance box row CSS
  src/CHANGELOG.tsx
  src/interface/guide/components/MajorDefensives/AllCooldownUsagesList.tsx
  src/interface/guide/components/PerformanceBoxRow/PerformanceBoxRow.scss
Labels: core

#6743 fix for the fix for source/targetIsFriendly
  src/CHANGELOG.tsx
  src/parser/core/CombatLogParser.test.jsx
  src/parser/core/FriendlyCompatNormalizer.ts
  src/parser/shared/modules/Enemies.ts
Labels: core, Dragonflight, Classic

#6744 [Shadow] Add Statistics for Psychic Link
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/talents/PhantasmalPathogen.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, Dragonflight

#6746 [Mistweaver] Fix fort brew spell id for mistweaver
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
Labels: Monk, Dragonflight
