Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-01, with the labels that each got.

#6585 [Fire Mage] Living Bomb, Meteor, Combustion Active Time
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/SPELLS.ts
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/LivingBomb.tsx
  src/analysis/retail/mage/fire/talents/MeteorCombustion.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
Labels: Mage, Dragonflight, Classic

#6587 remove Shadowlands food and augment rune support
  src/CHANGELOG.tsx
  src/common/SPELLS/shadowlands/others.ts
  src/parser/retail/modules/items/FoodChecker.ts
  src/parser/shared/modules/StatTracker.ts
Labels: Dragonflight, Classic

#6589 Fixed a bug where the 2nd clearcasting stack wasn't properly being counted as a gained proc
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/spells/RegrowthAndClearcasting.tsx
Labels: Druid, Dragonflight

#6590 [Fire Mage] Flame Accelerant & Fireball During Combust
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/Checklist/Component.tsx
  src/analysis/retail/mage/fire/SPELLS.ts
  src/analysis/retail/mage/fire/core/Combustion.tsx
Labels: Mage, Dragonflight

#6592 add uptime graph to Guides
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/constants.ts
  src/analysis/retail/demonhunter/havoc/modules/spells/ThrowGlaive/AcceleratingBladeExplanation.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
Labels: Demon Hunter, Dragonflight

#6591 Add statistics for Echoing Tyrstone trinket.
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/others.ts
  src/common/SPELLS/dragonflight/trinkets.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/core/effectMultiplierTables.generated.jsx
  src/parser/core/stats.jsx
  src/parser/core/statsMultiplierTables.generated.jsx
  src/parser/retail/modules/items/dragonflight/EchoingTyrstone.tsx
Labels: core, Dragonflight

#6593 [Frost Mage] Event Links + Core Rewrite
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/checklist/Component.tsx
  src/analysis/retail/mage/frost/checklist/Module.tsx
  src/analysis/retail/mage/frost/core/Abilities.tsx
  src/analysis/retail/mage/frost/core/BrainFreeze.tsx
  src/analysis/retail/mage/frost/core/FingersOfFrost.tsx
  src/analysis/retail/mage/frost/core/IceLance.tsx
  src/analysis/retail/mage/frost/core/IcyVeins.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/core/apl.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/frost/talents/ColdFront.tsx
  src/analysis/retail/mage/frost/talents/CometStorm.tsx
  src/analysis/retail/mage/frost/talents/GlacialSpike.tsx
  src/analysis/retail/mage/frost/talents/RayOfFrost.tsx
  src/analysis/retail/mage/frost/talents/WaterElemental.tsx
Labels: Mage, Dragonflight

#6594 [Warlock] Fix an issue where it was trying to access a talent spell inside regular spells object
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/modules/pets/PETS.ts
  src/analysis/retail/warlock/demonology/modules/pets/normalizers/PrepullPetNormalizer.ts
Labels: Warlock, Dragonflight

#6595 [Frost Mage] Fix Crash in Winter's Chill
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
Labels: Mage, Dragonflight

#6597 add basic support for Fyr'alath
  public/img/Icons/inv_axe_2h_fyrakk_d_01_shadowflame.jpg
  src/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/Guide.tsx
  src/common/ITEMS/dragonflight/others.ts
  src/common/SPELLS/dragonflight/others.ts
  src/interface/BAD_ICONS.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/Fyralath.tsx
Labels: Paladin, core, Dragonflight

#6586 [Evoker] Improved accuracy of EssenceTracker module
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/Guide.tsx
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/guide/EssenceGraph/EssenceGraphSection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/EssenceGraphSection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/PerformancePercentage.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/features/EssenceDetails.tsx
  src/analysis/retail/evoker/preservation/modules/features/EssenceTracker.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/core/essence/EssenceGraph.ts
  src/analysis/retail/evoker/shared/modules/core/essence/EssenceTracker.ts
  src/analysis/retail/evoker/shared/modules/core/essence/SpellEssenceCost.ts
  src/parser/shared/modules/resources/resourcetracker/ResourceTracker.ts
Labels: Dragonflight, Classic, Evoker

#6596 [Enhancement] APL and Elemental Blast performance adjustments
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Tier31.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlast.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/parser/core/SpellUsage/core.tsx
Labels: Shaman, core, Dragonflight

#6600 add Dreamwalker's Healing Potion
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/ITEMS/dragonflight/potions.ts
  src/common/SPELLS/dragonflight/potions.ts
  src/parser/retail/modules/items/HealthPotion.ts
Labels: Dragonflight

#6603 add Potion of Withering Dreams support
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/potions.ts
  src/common/SPELLS/dragonflight/potions.ts
  src/parser/retail/modules/items/HealthPotion.ts
Labels: Dragonflight

#6598 [Augmentation] Update Buff Helper module to support new logic for Prescience Helper WA
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelperInfoLabel.tsx
Labels: Dragonflight, Evoker

#6588 add patch 10.2.5
  src/CHANGELOG.tsx
  src/game/VERSIONS.ts
  src/interface/report/PATCHES.ts
Labels: core

#6605 Bump Pres Evoker to 10.2.5 and fix some stasis bugs
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
  src/common/SPELLS/evoker.ts
  src/parser/Config.ts
Labels: core, Dragonflight, Evoker

#6604 Guide mode for frost mage
  src/CONTRIBUTORS.ts
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/Guide.tsx
Labels: Mage, Dragonflight

#6608 bump DH support for 10.2.5
  e2e/poms/report-page.ts
  e2e/report-selection.spec.ts
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/interface/Modal.tsx
  src/interface/report/PATCHES.ts
  src/interface/report/SupportCheckerIssue.tsx
  src/interface/report/SupportCheckerSpecOutOfDate.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: Demon Hunter, core, Dragonflight

#6613 update DH example logs for 10.2.5
  e2e/report-selection.spec.ts
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
Labels: Demon Hunter, Dragonflight

#6609 update talents for patch 10.2.5
  scripts/talents/generate-talents.ts
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplCheck.tsx
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplChoiceDescription.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
  src/analysis/retail/monk/mistweaver/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachings.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFont.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/FaelineStompHealing.ts
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/shared/JadefireStomp.tsx
  src/analysis/retail/monk/shared/index.ts
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/castDamage.ts
  src/analysis/retail/monk/windwalker/constants.ts
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Module.tsx
  src/analysis/retail/monk/windwalker/modules/spells/ChiBurst.tsx
  src/analysis/retail/warrior/arms/modules/Abilities.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/Abilities.ts
  src/analysis/retail/warrior/fury/modules/talents/ChampionsSpear.tsx
  src/analysis/retail/warrior/protection/CHANGELOG.tsx
  src/analysis/retail/warrior/protection/modules/Abilities.ts
  src/analysis/retail/warrior/protection/modules/features/Checklist/Component.tsx
  src/analysis/retail/warrior/protection/normalizers/RageGenerationNormalizer.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/warrior.ts
Labels: Monk, Paladin, Shaman, Warrior, Dragonflight, Evoker

#6612 [Enhancement] 10.2.5 support
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/modules/dragonflight/Tier30.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/LegacyOfTheFrostWitch.tsx
Labels: Shaman, Dragonflight

#6614 [Shadow] Update Shadow for 10.2.5
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/modules/talents/InescapableTorment.tsx
Labels: Priest, Dragonflight

#6615 [Augmentation & Devastation] Bump to 10.2.5
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
Labels: Dragonflight, Evoker

#6568 [Arcane Mage] Arcane Mage Rework
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/Checklist/Module.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeActiveTime.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeCasts.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgePreReqs.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/normalizers/ArcaneCharges.ts
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/talents/ArcaneEcho.tsx
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
Labels: Mage, Dragonflight

#6617 remove integration-test from GHA
  .github/workflows/build.yml
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
Labels: Mage, core, Dragonflight

#6618 update brew to 10.2.5
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
Labels: Monk, Dragonflight

#6620 bump mw to 10.2.5
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
Labels: Monk, Dragonflight

#6622 Bumped support of all druid specs to from 10.2 to 10.2.5
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
Labels: Druid, Dragonflight

#6623 updated empowered weapon id
  src/common/TALENTS/deathknight.ts
Labels: Death Knight, Dragonflight

#6616 Frost mage Guide - Icy Veins - Ray of Frost - Comet Storm
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/core/IcyVeins.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/frost/talents/CometStorm.tsx
  src/analysis/retail/mage/frost/talents/RayOfFrost.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/AplChoiceDescription.tsx
  src/parser/ui/SpellSeq.tsx
Labels: Mage, Monk, core, Dragonflight

#6625 Frost Mage: Fixed an issue where Comet Storm and Ray of Frost guide subsections were active even when player doesn't have those talents
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
Labels: Mage, Dragonflight

#6626 Attribute Lifebind healing in grace period module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/GracePeriod.tsx
Labels: Dragonflight, Evoker

#6627 [Fire Mage] Meteor During Combustion Fix
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/MeteorCombustion.tsx
Labels: Mage, Dragonflight

#6628 module for essence burst sources
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Dragonflight, Evoker

#6632 Added ray of frost to Channeling.ts. Solves WoWAnalyzer#6631
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Mage, Dragonflight, Classic

#6633 Fix jadefire stomp crash
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, Dragonflight

#6634 fix chi harmony icon
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, Dragonflight

#6635 [Augmentation] Show 4 default targets for Buff Helper MRT note instead of 2.
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
Labels: Dragonflight, Evoker

#6636 Fix bug in eb source module for spark
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Dragonflight, Evoker

#6601 Misc. Compatibility updates to handle new server
  src/common/WCL_TYPES.ts
  src/game/SPECS.ts
  src/interface/CharacterParses.tsx
  src/interface/makeAnalyzerUrl.ts
  src/interface/report/Results/EncounterStats.tsx
  src/interface/report/Results/Header.tsx
  src/interface/report/Results/PlayerInfo.tsx
  src/parser/shared/modules/features/RaidHealthTab/TabComponent/Graph.jsx
  src/parser/ui/ThroughputPerformance.tsx
Labels: core, Dragonflight, Classic

#6630 Winter's Chill guide Frost mage
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/SPELLS.ts
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/core/WintersChillEvent.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
  src/interface/images/avatars/raistlinn-avatar.png
Labels: Mage, core, Dragonflight

#6637 Fix a bunch of stuff in Eb Source Module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/preservation/normalizers/EBRefreshNormalizer.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/LivingFlameNormalizer.ts
  src/parser/retail/modules/items/dragonflight/ElementalLariat.tsx
Labels: Dragonflight, Evoker
