Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-07, with the labels that each got.

#6844 [Retail][Resto Shaman] Season 4 Tier Set
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/analysis/retail/shaman/restoration/modules/dragonflight/Season4Tier.tsx
  src/common/SPELLS/shaman.ts
  src/parser/core/EventCalculateLib.tsx
  src/parser/core/Events.ts
Labels: Shaman, core, Dragonflight

#6852 [Mistweaver / Windwalker] Add Celestial Conduit
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/features/CooldownThroughputTracker.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/constants.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/normalizers/CelestialConduitNormalizer.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/normalizers/ConduitOfTheCelestialsEventLinks.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/HeartOfTheJadeSerpent.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/RestoreBalance.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/UnityWithin.tsx
  src/analysis/retail/monk/shared/hero/conduit/ConduitOfTheCelestialsEventLinks.ts
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6849 [Classic] Cata Warlock Demonology
  src/analysis/classic/_templates/caster/CombatLogParser.ts
  src/analysis/classic/_templates/caster/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/_templates/shared/constants.ts
  src/analysis/classic/warlock/affliction/modules/checklist/Component.tsx
  src/analysis/classic/warlock/affliction/modules/features/Abilities.ts
  src/analysis/classic/warlock/affliction/modules/features/Buffs.tsx
  src/analysis/classic/warlock/affliction/modules/spells/CurseOfAgony.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/Guide.tsx
  src/analysis/classic/warlock/demonology/modules/Abilities.ts
  src/analysis/classic/warlock/demonology/modules/Buffs.tsx
  src/analysis/classic/warlock/demonology/modules/checklist/Component.tsx
  src/analysis/classic/warlock/demonology/modules/checklist/Module.tsx
  src/analysis/classic/warlock/demonology/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/warlock/demonology/modules/features/CancelledCasts.tsx
  src/analysis/classic/warlock/demonology/modules/features/CurseUptime.tsx
  src/analysis/classic/warlock/demonology/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/demonology/modules/guide/CastingSubsection.tsx
  src/analysis/classic/warlock/demonology/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Corruption.tsx
  src/analysis/classic/warlock/demonology/modules/spells/CurseOfAgony.tsx
  src/analysis/classic/warlock/demonology/modules/spells/CurseOfDoom.tsx
  src/analysis/classic/warlock/demonology/modules/spells/CurseOfTheElements.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Immolate.tsx
  src/analysis/classic/warlock/demonology/modules/spells/MoltenCore.tsx
  src/analysis/classic/warlock/demonology/modules/spells/ShadowMastery.tsx
  src/analysis/classic/warlock/destruction/modules/Abilities.ts
  src/analysis/classic/warlock/shared/Spellstone.tsx
  src/analysis/classic/warlock/shared/constants.ts
  src/analysis/classic/warlock/shared/index.ts
  src/common/SPELLS/classic/warlock.ts
  src/interface/ReportRaidBuffList.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Warlock, core, Classic

#6851 [Classic] Cata Mage Spells
  src/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/modules/Abilities.ts
  src/analysis/classic/mage/arcane/CombatLogParser.ts
  src/analysis/classic/mage/arcane/modules/features/Abilities.tsx
  src/analysis/classic/mage/arcane/modules/features/Buffs.tsx
  src/analysis/classic/mage/fire/CombatLogParser.ts
  src/analysis/classic/mage/fire/modules/features/Abilities.ts
  src/analysis/classic/mage/fire/modules/features/Buffs.tsx
  src/analysis/classic/mage/shared/index.ts
  src/analysis/classic/mage/shared/lowRankSpells.ts
  src/common/SPELLS/classic/mage.ts
Labels: Mage, Classic

#6854 update talents for TWW
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/core/Abilities.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgePreReqs.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/talents/ArcaneOrb.tsx
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/shared/GloriousIncandescense.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
  src/analysis/retail/mage/shared/constants.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplCheck.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
  src/analysis/retail/monk/mistweaver/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ChiBurst.tsx
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/demonhunter.ts
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/warlock.ts
  src/common/TALENTS/warrior.ts
  src/interface/ReportRaidBuffList.tsx
  tsconfig.json
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, core, Evoker, The War Within

#6855 [Classic] Foundations Updates
  src/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CombatLogParser.ts
  src/analysis/classic/_templates/caster/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/modules/features/AlwaysBeCasting.tsx
  src/interface/guide/foundation/FoundationCooldownSection.tsx
  src/interface/guide/foundation/FoundationDowntimeSection.tsx
  src/interface/guide/foundation/FoundationHealerManaSection.tsx
Labels: Warlock, core, Classic

#6853 Add support for Classic Unholy DK
  src/CHANGELOG.tsx
  src/analysis/classic/deathknight/blood/CHANGELOG.tsx
  src/analysis/classic/deathknight/blood/CombatLogParser.ts
  src/analysis/classic/deathknight/blood/modules/features/Abilities.ts
  src/analysis/classic/deathknight/shared/ArmyOfTheDead.ts
  src/analysis/classic/deathknight/shared/GlobalCooldown.ts
  src/analysis/classic/deathknight/unholy/CHANGELOG.tsx
  src/analysis/classic/deathknight/unholy/CONFIG.tsx
  src/analysis/classic/deathknight/unholy/CombatLogParser.ts
  src/analysis/classic/deathknight/unholy/modules/checklist/Component.tsx
  src/analysis/classic/deathknight/unholy/modules/checklist/Module.tsx
  src/analysis/classic/deathknight/unholy/modules/features/Abilities.ts
  src/common/SPELLS/classic/deathknight.ts
  src/parser/shared/modules/GlobalCooldown.tsx
  src/parser/shared/modules/StatTracker.ts
  src/parser/ui/ActiveTimeGraph.tsx
Labels: Death Knight, core, Dragonflight, Classic

#6856 enable brewmaster in tww
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/BrewAplSummary.tsx
  src/analysis/retail/monk/brewmaster/modules/core/BrewCDR.tsx
  src/analysis/retail/monk/brewmaster/modules/core/MajorDefensives/ZenMeditation.tsx
  src/analysis/retail/monk/brewmaster/modules/core/SharedBrews.ts
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/index.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/BlackoutCombo/BlackoutComboSection.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/CelestialBrew/index.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/RushingJadeWind.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/Attenuation.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/BonedustBrew/index.ts
  src/analysis/retail/monk/brewmaster/modules/talents/BonedustBrew/normalizer.tsx
  tsconfig.json
Labels: Monk, The War Within

#6859 rewrite PremiumPage in TypeScript
  src/CHANGELOG.tsx
  src/interface/PremiumPage.jsx
  src/interface/PremiumPage.tsx
  src/interface/reducers/user.ts
Labels: core

#6850 [Pres] Implement Chronowarden Modules
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/BronzeEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/GreenEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/RedEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/Chronoflame.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/DoubleTime.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/Reverberations.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/ThreadsOfFate.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6860 Add debug annotations for core GCD module
  src/CHANGELOG.tsx
  src/parser/shared/modules/GlobalCooldown.tsx
  src/parser/shared/modules/SpellUsable.tsx
Labels: Dragonflight, Classic

#6861 [Classic] Demo Warlock Fabricate Prepull cast events
  src/CONTRIBUTORS.ts
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/modules/Buffs.tsx
Labels: Warlock, Classic

#6864 add a fast path to `Entity.hasBuff` to improve runtime
  src/CHANGELOG.tsx
  src/parser/core/Entity.ts
  src/parser/shared/modules/DeathRecapTracker.jsx
  src/parser/shared/modules/Entities.ts
Labels: core, Dragonflight, Classic

#6862 Druid Feral / Guardian / Resto - updated data / talents for TWW
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/Guide.tsx
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/druid/feral/modules/core/energy/EnergyTracker.ts
  src/analysis/retail/druid/feral/modules/core/energy/SpellEnergyCost.ts
  src/analysis/retail/druid/feral/modules/dragonflight/Tier29.tsx
  src/analysis/retail/druid/feral/modules/spells/Berserk.tsx
  src/analysis/retail/druid/feral/modules/spells/Bloodtalons.tsx
  src/analysis/retail/druid/feral/modules/spells/CarnivorousInstinct.tsx
  src/analysis/retail/druid/feral/modules/spells/ConvokeSpiritsFeral.tsx
  src/analysis/retail/druid/feral/modules/spells/DireFixation.tsx
  src/analysis/retail/druid/feral/modules/spells/FeralFrenzy.tsx
  src/analysis/retail/druid/feral/modules/spells/LionsStrength.tsx
  src/analysis/retail/druid/feral/modules/spells/OmenAndMomentOfClarity.tsx
  src/analysis/retail/druid/feral/modules/spells/RagingFury.tsx
  src/analysis/retail/druid/feral/modules/spells/Sabertooth.tsx
  src/analysis/retail/druid/feral/modules/spells/TasteForBlood.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/guardian/constants.ts
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/guardian/modules/core/defensives/Barkskin.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/Pulverize.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/RageOfTheSleeper.tsx
  src/analysis/retail/druid/guardian/modules/core/defensives/SurvivalInstincts.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/Abilities.tsx
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotAttributor.ts
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotTrackerRestoDruid.tsx
  src/analysis/retail/druid/restoration/modules/dragonflight/Tier29.tsx
  src/analysis/retail/druid/restoration/modules/dragonflight/Tier30.tsx
  src/analysis/retail/druid/restoration/modules/dragonflight/Tier31.tsx
  src/analysis/retail/druid/restoration/modules/spells/AdaptiveSwarmResto.tsx
  src/analysis/retail/druid/restoration/modules/spells/LuxuriantSoil.tsx
  src/analysis/retail/druid/restoration/modules/spells/Nurturing Dormancy.tsx
  src/analysis/retail/druid/restoration/modules/spells/VerdantInfusion.tsx
  src/analysis/retail/druid/shared/core/Abilities.ts
  src/analysis/retail/druid/shared/spells/AdaptiveSwarm.ts
  src/common/SPELLS/druid.ts
  src/parser/Config.ts
  src/parser/shared/modules/Haste.ts
Labels: Druid, core, Classic, The War Within

#6868 [Classic] Cata Shaman Spells
  src/CHANGELOG.tsx
  src/analysis/classic/shaman/enhancement/CombatLogParser.ts
  src/analysis/classic/shaman/enhancement/modules/core/GlobalCooldown.ts
  src/analysis/classic/shaman/enhancement/modules/features/Abilities.ts
  src/analysis/classic/shaman/restoration/CombatLogParser.ts
  src/analysis/classic/shaman/restoration/modules/checklist/Component.tsx
  src/analysis/classic/shaman/restoration/modules/features/Abilities.ts
  src/analysis/classic/shaman/restoration/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/shaman/restoration/modules/spells/ChainHeal.tsx
  src/analysis/classic/shaman/shared/TotemTracker.tsx
  src/analysis/classic/shaman/shared/index.ts
  src/analysis/classic/shaman/shared/lowRankSpells.ts
  src/analysis/classic/shaman/shared/totems/totemConstants.ts
  src/common/SPELLS/classic/shaman.ts
Labels: Shaman, Classic

#6870 [Classic] Cata Warlock Affliction
  src/analysis/classic/warlock/affliction/CHANGELOG.tsx
  src/analysis/classic/warlock/affliction/CONFIG.tsx
  src/analysis/classic/warlock/affliction/CombatLogParser.ts
  src/analysis/classic/warlock/affliction/modules/Abilities.ts
  src/analysis/classic/warlock/affliction/modules/Buffs.tsx
  src/analysis/classic/warlock/affliction/modules/checklist/Component.tsx
  src/analysis/classic/warlock/affliction/modules/checklist/Module.tsx
  src/analysis/classic/warlock/affliction/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/warlock/affliction/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/warlock/affliction/modules/features/DotUptimes.tsx
  src/analysis/classic/warlock/affliction/modules/spells/Corruption.tsx
  src/analysis/classic/warlock/affliction/modules/spells/CurseOfAgony.tsx
  src/analysis/classic/warlock/affliction/modules/spells/DrainSoul.tsx
  src/analysis/classic/warlock/affliction/modules/spells/Haunt.tsx
  src/analysis/classic/warlock/affliction/modules/spells/UnstableAffliction.tsx
  src/analysis/classic/warlock/shared/Haste.ts
  src/common/SPELLS/classic/warlock.ts
Labels: Warlock, Classic

#6872 re-add padding to foundation guide
  src/CHANGELOG.tsx
  src/interface/guide/Para.tsx
  src/interface/guide/foundation/FoundationCooldownSection.tsx
  src/interface/guide/foundation/FoundationDowntimeSection.tsx
  src/interface/guide/foundation/FoundationHealerManaSection.tsx
Labels: core

#6873 remove some dead code i found while reviewing pnpm switch
  .env.local.example
  Dockerfile.dev
  README.md
  docker-compose.yml
  package.json
  src/common/makeWclApiUrl.ts
Labels: core

#6869 Fixed issue showing ResourceGraph natural regeneration
  src/CHANGELOG.tsx
  src/parser/shared/modules/ResourceGraph.tsx
Labels: Dragonflight, Classic

#6874 [Augmentation] Implement Molten Embers
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/augmentation/modules/Buffs.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/SandsOfTime.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTrackerGraph.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/Cooldown.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/MoltenEmbers.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/TimeSkip.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/ShatteringStar.tsx
  src/analysis/retail/evoker/devastation/modules/guide/Cooldown.tsx
  src/analysis/retail/evoker/devastation/modules/talents/SpellweaversDominance.tsx
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/common/SPELLS/evoker.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: Classic, Evoker, The War Within

#6875 [Classic] Cata Racials
  src/CHANGELOG.tsx
  src/analysis/classic/hunter/marksman/modules/features/Abilities.ts
  src/analysis/classic/hunter/survival/modules/features/Abilities.ts
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/common/SPELLS/classic/racials.ts
  src/interface/report/hooks/useCharacterProfile.ts
  src/parser/classic/CombatLogParser.ts
  src/parser/shared/modules/racials/bloodelf/ArcaneTorrent.ts
Labels: Hunter, Priest, core, Dragonflight, Classic

#6878 [Classic] Cata Fire Mage
  src/analysis/classic/mage/fire/CHANGELOG.tsx
  src/analysis/classic/mage/fire/CONFIG.tsx
  src/analysis/classic/mage/fire/CombatLogParser.ts
  src/analysis/classic/mage/fire/modules/Abilities.ts
  src/analysis/classic/mage/fire/modules/Buffs.tsx
  src/analysis/classic/mage/fire/modules/checklist/Component.tsx
  src/analysis/classic/mage/fire/modules/checklist/Module.tsx
  src/analysis/classic/mage/fire/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/mage/fire/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/mage/shared/Haste.ts
  src/common/SPELLS/classic/mage.ts
  src/common/SPELLS/classic/warlock.ts
  src/parser/shared/modules/Haste.ts
Labels: Mage, Warlock, Dragonflight, Classic

#6876 [Devastation] Implement Scorching Embers module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/talents/ScorchingEmbers.tsx
Labels: Evoker, The War Within

#6879 [Augmentation] Implement Rumbling Earth module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/RumblingEarth.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/EmpowerNormalizer.ts
Labels: Evoker, The War Within

#6880 add foundation support for Cata Survival Hunter
  src/analysis/classic/hunter/marksman/CombatLogParser.ts
  src/analysis/classic/hunter/marksman/modules/features/Abilities.ts
  src/analysis/classic/hunter/marksman/modules/features/Buffs.tsx
  src/analysis/classic/hunter/marksman/suggestions/growl.tsx
  src/analysis/classic/hunter/shared/KillShot.tsx
  src/analysis/classic/hunter/shared/KillShotNormalizer.ts
  src/analysis/classic/hunter/shared/SpellUsable.ts
  src/analysis/classic/hunter/shared/index.ts
  src/analysis/classic/hunter/shared/lowRankSpells.ts
  src/analysis/classic/hunter/shared/lowRankSpellsPet.ts
  src/analysis/classic/hunter/shared/metrics/growlCasts.ts
  src/analysis/classic/hunter/shared/normalizers/KillCommandNormalizer.ts
  src/analysis/classic/hunter/survival/CHANGELOG.tsx
  src/analysis/classic/hunter/survival/CONFIG.tsx
  src/analysis/classic/hunter/survival/CombatLogParser.ts
  src/analysis/classic/hunter/survival/metrics/growlCasts.ts
  src/analysis/classic/hunter/survival/modules/features/Abilities.ts
  src/analysis/classic/hunter/survival/modules/features/Buffs.tsx
  src/analysis/classic/hunter/survival/modules/spells/ExplosiveShot.tsx
  src/analysis/classic/hunter/survival/modules/spells/LockAndLoad.tsx
  src/analysis/classic/hunter/survival/suggestions/growl.tsx
  src/common/SPELLS/classic/hunter.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Hunter, core, Classic

#6883 [Classic] Cata Shaman Elemental
  src/analysis/classic/shaman/elemental/CHANGELOG.tsx
  src/analysis/classic/shaman/elemental/CONFIG.tsx
  src/analysis/classic/shaman/elemental/CombatLogParser.ts
  src/analysis/classic/shaman/elemental/index.ts
  src/analysis/classic/shaman/elemental/modules/Abilities.ts
  src/analysis/classic/shaman/elemental/modules/Buffs.tsx
  src/analysis/classic/shaman/elemental/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/shaman/elemental/modules/features/CooldownThroughputTracker.ts
  src/common/SPELLS/classic/shaman.ts
  src/parser/index.ts
Labels: Shaman, core, Classic

#6881 [Evoker] Update spell book and talent modifiers for Pre-patch
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/Abilities.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
Labels: Evoker, The War Within

#6884 [Classic] Cata Paladin Spells
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/analysis/classic/paladin/holy/CombatLogParser.ts
  src/analysis/classic/paladin/holy/modules/checklist/Component.tsx
  src/analysis/classic/paladin/holy/modules/features/Abilities.ts
  src/analysis/classic/paladin/holy/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/holy/modules/features/HolyShock.tsx
  src/analysis/classic/paladin/protection/CombatLogParser.ts
  src/analysis/classic/paladin/protection/modules/features/Abilities.ts
  src/analysis/classic/paladin/retribution/CombatLogParser.ts
  src/analysis/classic/paladin/retribution/modules/checklist/Component.tsx
  src/analysis/classic/paladin/retribution/modules/features/Abilities.ts
  src/analysis/classic/paladin/retribution/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/retribution/modules/features/Buffs.tsx
  src/analysis/classic/paladin/shared/index.ts
  src/analysis/classic/paladin/shared/lowRankSpells.ts
  src/analysis/classic/priest/holy/modules/features/Abilities.ts
  src/common/SPELLS/classic/paladin.ts
  src/interface/ReportRaidBuffList.tsx
Labels: Paladin, Priest, core, Classic

#6887 [Mistweaver] Talent changes and Tier Rework
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/TearOfMorning.tsx
  src/analysis/retail/monk/mistweaver/modules/tier/T32TierSet.tsx
Labels: Monk, The War Within

#6886 [Deva/Aug] Implement Imminent Destruction module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/abilities/EssenceBurst.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/TitanicWrath.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/talents/SparkOfInsight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TitansGift.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/EssenceBurstEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/ImminentDestruction.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6888 [Pres] Update Preservation tierset to reworked effect
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/tier/T32TierSet.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/BronzeEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/GreenEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/RedEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/TierEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
Labels: Evoker, The War Within

#6885 Druid Resto - more TWW data updates
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotTrackerRestoDruid.tsx
  src/analysis/retail/druid/restoration/modules/spells/Abundance.tsx
  src/analysis/retail/druid/restoration/modules/spells/VerdantInfusion.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#6891 [Mistweaver] bump patch support and example report
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
Labels: Monk, The War Within

#6889 Druid Balance - reactivate for TWW, a couple stat reworks to modernize + make correct for TWW
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/balance/CombatLogParser.ts
  src/analysis/retail/druid/balance/Guide.tsx
  src/analysis/retail/druid/balance/constants.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/balance/modules/core/Buffs.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerDetails.tsx
  src/analysis/retail/druid/balance/modules/core/astralpower/AstralPowerTracker.tsx
  src/analysis/retail/druid/balance/modules/features/FillerUsage.tsx
  src/analysis/retail/druid/balance/modules/spells/CelestialAlignment.tsx
  src/analysis/retail/druid/balance/modules/spells/Eclipse.tsx
  src/analysis/retail/druid/balance/modules/spells/FriendOfTheFae.tsx
  src/analysis/retail/druid/balance/modules/spells/GatheringStarstuff.tsx
  src/analysis/retail/druid/balance/modules/spells/NewMoon.tsx
  src/analysis/retail/druid/balance/modules/spells/SoulOfTheForest.tsx
  src/analysis/retail/druid/balance/modules/spells/Starlord.tsx
  src/analysis/retail/druid/balance/modules/spells/Starweaver.tsx
  src/analysis/retail/druid/balance/modules/spells/SunderedFirmament.tsx
  src/analysis/retail/druid/balance/modules/spells/TouchTheCosmos.tsx
  src/analysis/retail/druid/balance/modules/spells/TwinMoons.tsx
  src/analysis/retail/druid/balance/modules/spells/WaningTwilight.tsx
  src/analysis/retail/druid/balance/modules/spells/WildMushroom.tsx
  src/analysis/retail/druid/balance/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/druid/shared/spells/ConvokeSpirits.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#6892 update talent data for prepatch
  scripts/talents/generate-talents.ts
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/warlock.ts
Labels: Death Knight, Hunter, Mage, Paladin, Shaman, Warlock, Evoker, The War Within

#6893 use WCL's built-in pagination rather than our 5m-page system
  src/interface/report/hooks/useEvents.ts
  src/interface/report/index.tsx
  src/interface/selectors/url/report/getPlayerName.ts
Labels: core

#6896 [Mistweaver] Fix mending proliferation
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/MendingProliferation.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6897 fix partial support on spec page
  src/CHANGELOG.tsx
  src/interface/SpecListItem.tsx
Labels: core

#6898 [Mistweaver] Add ppm to zen pulse
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
Labels: Monk, The War Within

#6899 [Mistweaver] Logging Cleanup
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
Labels: Monk, The War Within

#6902 Fixed an issue where spec maintainer wasn't showing on the spec list for fully maintained specs
  src/CHANGELOG.tsx
  src/interface/SpecListItem.tsx
Labels: core

#6901 [Classic] Cata Frost Mage
  src/analysis/classic/mage/frost/CHANGELOG.tsx
  src/analysis/classic/mage/frost/CONFIG.tsx
  src/analysis/classic/mage/frost/CombatLogParser.ts
  src/analysis/classic/mage/frost/index.ts
  src/analysis/classic/mage/frost/modules/Abilities.ts
  src/analysis/classic/mage/frost/modules/Buffs.tsx
  src/analysis/classic/mage/frost/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/mage/frost/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/mage/frost/modules/spells/ColdSnap.tsx
  src/analysis/classic/mage/shared/index.ts
  src/common/SPELLS/classic/mage.ts
  src/parser/index.ts
Labels: Mage, core, Classic

#6907 Remove old scripts
  package.json
  pnpm-lock.yaml
  scripts/setup
  scripts/test-tools/README.md
  scripts/test-tools/download-log.cjs
Labels: core

#6906 handle report not found errors
  src/CHANGELOG.tsx
  src/common/fetchWclApi.ts
Labels: core

#6857 adds npc ablities on the timeline module.
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/interface/DragScroll.scss
  src/interface/DragScroll.tsx
  src/interface/report/Results/Timeline/Casts.scss
  src/interface/report/Results/Timeline/Component.jsx
  src/interface/report/Results/Timeline/EnemyCasts.tsx
  src/interface/report/Results/Timeline/Timeline.scss
  src/interface/report/Results/TimelineTab.tsx
Labels: core

#6905 [Arcane Mage] The War Within Update
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/Checklist/Module.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/Guide.tsx
  src/analysis/retail/mage/arcane/ManaChart/TabComponent/ManaLevelGraph.jsx
  src/analysis/retail/mage/arcane/ManaChart/TabComponent/index.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/core/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurge.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeMana.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgePreReqs.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/core/Clearcasting.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneSurge.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneTempo.tsx
  src/analysis/retail/mage/arcane/guide/Clearcasting.tsx
  src/analysis/retail/mage/arcane/guide/NetherPrecision.tsx
  src/analysis/retail/mage/arcane/guide/ShiftingPower.tsx
  src/analysis/retail/mage/arcane/guide/SiphonStorm.tsx
  src/analysis/retail/mage/arcane/guide/TouchOfTheMagi.tsx
  src/analysis/retail/mage/arcane/normalizers/ArcaneCharges.ts
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/talents/ArcaneBombardment.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneEcho.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneTempo.tsx
  src/analysis/retail/mage/arcane/talents/NetherPrecision.tsx
  src/analysis/retail/mage/arcane/talents/ShiftingPower.tsx
  src/analysis/retail/mage/arcane/talents/SiphonStorm.tsx
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
  src/interface/report/Results/Overview.tsx
  src/parser/shared/modules/Haste.ts
Labels: Mage, core, Classic, The War Within

#6909 [core] Fix Active Time double dipping on channels
  src/CHANGELOG.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
Labels: Classic, The War Within

#6904 Enable Blood DK in TWW
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
  src/analysis/retail/deathknight/blood/modules/core/BoneShieldOrderNormalizer.tsx
  src/analysis/retail/deathknight/blood/modules/core/DeathsCaress.tsx
  src/analysis/retail/deathknight/blood/modules/features/AplCheck.tsx
  src/analysis/retail/deathknight/blood/modules/features/BoneShieldTimesByStacks.ts
  src/analysis/retail/deathknight/blood/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/deathknight/blood/modules/features/MitigationCheck.ts
  src/analysis/retail/deathknight/blood/modules/features/RuneWaste.tsx
  src/analysis/retail/deathknight/blood/modules/features/checklist/Component.tsx
  src/analysis/retail/deathknight/blood/modules/features/checklist/Module.tsx
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/analysis/retail/deathknight/blood/modules/runicpower/RunicPowerTracker.ts
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/DeathStrikeSection.tsx
  src/common/SPELLS/deathknight.ts
  tsconfig.json
Labels: Death Knight, The War Within

#6912 [Mistweaver] Add missing talents to statistic breakdown
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ChiHarmony.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CraneStyle.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/LotusInfusion.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/MendingProliferation.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/TearOfMorning.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
Labels: Monk, The War Within

#6910 Core - Fixed an issue where pre-pull channels could cause wildly incorrect Active Time value
  src/CHANGELOG.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Classic, The War Within

#6911 Mage Arcane - rewrote Shifting Power guide section to do more checks and to have a per-cast breakdown
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/guide/ShiftingPower.tsx
  src/analysis/retail/mage/arcane/talents/ShiftingPower.tsx
  src/parser/shared/modules/Enemies.ts
Labels: Mage, Classic, The War Within
