Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-06, with the labels that each got.

#6779 [Classic] Cata Enchants
  src/CHANGELOG.tsx
  src/parser/classic/modules/items/EnchantChecker.tsx
Labels: core, Classic

#6775 [Devastation] Update APL Check
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/AplCheck/AplCheck.tsx
  src/analysis/retail/evoker/devastation/modules/AplCheck/conditions.tsx
  src/analysis/retail/evoker/devastation/modules/AplCheck/rules.tsx
Labels: Dragonflight, Evoker

#6777 Fixed Power Siphon statistic
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/talents/PowerSiphon.tsx
  src/analysis/retail/warlock/demonology/modules/talents/normalizers/PowerSiphonBuffCastNormalizer.ts
  src/common/SPELLS/warlock.ts
Labels: Warlock, Dragonflight

#6781 [Classic] Cata Flasks
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/alchemy.ts
  src/common/SPELLS/index.ts
  src/parser/classic/modules/items/FlaskChecker.ts
Labels: core, Classic

#6780 [Discipline] Fix bug with Harsh Discipline Reporting
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/spells/Penance.jsx
Labels: Priest, Dragonflight

#6782 Add BDK Rotation section
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/modules/features/AplCheck.tsx
  src/analysis/retail/deathknight/blood/modules/features/RuneWaste.tsx
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/common/SPELLS/deathknight.ts
  src/interface/guide/components/Apl/violations/claims.tsx
Labels: Death Knight, core, Dragonflight

#6783 use addInefficientCastReason everywhere possible
  .eslintrc.cjs
  packages/eslint-plugin-wowanalyzer/index.js
  packages/eslint-plugin-wowanalyzer/rules/event-meta-inefficient-cast.js
  src/CHANGELOG.tsx
  src/analysis/classic/druid/balance/modules/features/FillerUsage.tsx
  src/analysis/retail/deathknight/blood/components/ResourceWasteProblemRenderer.tsx
  src/analysis/retail/deathknight/blood/modules/features/MarrowrendUsage.tsx
  src/analysis/retail/deathknight/blood/modules/features/Ossuary.tsx
  src/analysis/retail/demonhunter/havoc/modules/spells/BladeDance.tsx
  src/analysis/retail/demonhunter/vengeance/modules/spells/ShearFracture.tsx
  src/analysis/retail/druid/balance/modules/features/FillerUsage.tsx
  src/analysis/retail/druid/balance/modules/features/SpenderUsage.tsx
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/HitCountAoE.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/CobraShot.tsx
  src/analysis/retail/hunter/marksmanship/modules/talents/AimedShot.tsx
  src/analysis/retail/hunter/survival/modules/talents/MongooseBite.tsx
  src/analysis/retail/hunter/survival/modules/talents/RaptorStrike.tsx
  src/analysis/retail/mage/fire/talents/SearingTouch.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/PurifyingBrew.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/ScaldingBrew.tsx
  src/analysis/retail/monk/windwalker/modules/core/SpellUsable.tsx
  src/analysis/retail/monk/windwalker/modules/spells/BlackoutKick.tsx
  src/analysis/retail/monk/windwalker/modules/talents/DanceOfChiJi.tsx
  src/analysis/retail/paladin/holy/modules/spells/FillerFlashOfLight.tsx
  src/analysis/retail/paladin/holy/modules/spells/FillerLightOfTheMartyrs.tsx
  src/analysis/retail/paladin/holy/modules/spells/InefficientLightOfTheMartyrs.tsx
  src/analysis/retail/paladin/holy/modules/talents/CrusadersMight.tsx
  src/analysis/retail/paladin/holy/modules/talents/ImbuedInfusion.tsx
  src/analysis/retail/paladin/retribution/modules/core/CrusaderStrike.tsx
  src/analysis/retail/paladin/retribution/modules/talents/BladeofJustice.tsx
  src/analysis/retail/paladin/retribution/modules/talents/Crusade.tsx
  src/analysis/retail/paladin/retribution/modules/talents/HammerofWrath.tsx
  src/analysis/retail/paladin/retribution/modules/talents/WakeofAshes.tsx
  src/analysis/retail/rogue/shared/FilteredDamageTracker.ts
  src/analysis/retail/rogue/shared/StealthAbilityFollowingSepsis.tsx
  src/analysis/retail/shaman/elemental/modules/features/SubOptimalChainLightning.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SurgeOfPower.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ChainLightning.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Sundering.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ThorimsInvocation.tsx
  src/analysis/retail/shaman/restoration/modules/spells/HealingWave.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Wellspring.tsx
  src/analysis/retail/warrior/arms/modules/core/Bladestorm.tsx
  src/analysis/retail/warrior/arms/modules/core/Overpower.tsx
  src/analysis/retail/warrior/arms/modules/core/Slam.tsx
  src/analysis/retail/warrior/arms/modules/core/SweepingStrikes.tsx
  src/analysis/retail/warrior/fury/modules/spells/Whirlwind.tsx
  src/analysis/retail/warrior/protection/modules/spells/BoomingVoice.tsx
  src/analysis/retail/warrior/protection/modules/spells/ShieldBlock.tsx
  src/interface/report/Results/Timeline/Casts.tsx
  src/parser/core/EventMetaLib.tsx
  src/parser/core/Events.ts
  src/parser/core/HitCountAoE.tsx
  src/parser/shared/metrics/apl/annotate.tsx
  src/parser/shared/modules/earlydotrefreshes/EarlyDotRefreshes.tsx
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Rogue, Shaman, Warrior, Demon Hunter, core, Dragonflight, Classic

#6785 [Classic] Cata Food Buffs
  src/CHANGELOG.tsx
  src/common/ITEMS/classic/cooking.ts
  src/parser/classic/modules/items/FoodChecker.tsx
Labels: core, Classic

#6788 temporary workaround for wcl talent breakage
  src/CHANGELOG.tsx
  src/interface/CharacterParsesList.tsx
Labels: core

#6790 [Classic] Cata Potions
  src/CHANGELOG.tsx
  src/common/ITEMS/classic/potions.ts
  src/common/SPELLS/classic/potions.ts
  src/parser/classic/modules/items/CombatPotionChecker.tsx
  src/parser/classic/modules/items/PotionChecker.tsx
Labels: core, Classic

#6789 Improve support for Fyr'alath by tracking channel
  src/CHANGELOG.tsx
  src/common/SPELLS/dragonflight/others.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/Fyralath.tsx
  src/parser/shared/normalizers/FyralathNormalizer.ts
Labels: core, Dragonflight, Classic

#6791 [Mistweaver] Initial The War Within Mistweaver Module Cleanup
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotAttributor.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/core/SpellManaCost.ts
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplCheck.tsx
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplChoiceDescription.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T29MWTier.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T31MWTier.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Component.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Module.tsx
  src/analysis/retail/monk/mistweaver/modules/features/EssenceFontHealingBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/features/HotCountGraph.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MasteryStats.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/mistweaver/modules/features/RisingMistBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachings.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/BaseCelestialAnalyzer.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CloudedFocus.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFont.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFontTargetsHit.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EssenceFontUniqueTargets.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/FontOfLife.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadefireStompHealing.ts
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Revival.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Upwelling.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/HotApplicationNormalizer.tsx
  src/analysis/retail/monk/mistweaver/normalizers/HotRemovalNormalizer.tsx
  src/analysis/retail/monk/shared/JadefireStomp.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6792 fully fix talent entries on retail character parse lists
  src/common/TALENTS/getTalentFromEntry.ts
  src/interface/CharacterParsesList.tsx
Labels: core, Dragonflight

#6795 Update The War Within Branch labeler.yml
  .github/labeler.yml
Labels: core

#6796 [Core] Update max mana in manatracker.ts
  src/CHANGELOG.tsx
  src/parser/core/healingEfficiency/ManaTracker.ts
Labels: core

#6797 [Mistweaver] Add Lotus Infusion Module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/LotusInfusion.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6787 Add debug annotations view
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/modules/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/core/BrewCDR.tsx
  src/analysis/retail/monk/brewmaster/modules/core/SharedBrews.ts
  src/analysis/retail/monk/brewmaster/modules/talents/BonedustBrew/index.ts
  src/interface/App.tsx
  src/interface/DebugAnnotationsTab.tsx
  src/interface/report/Results/About.tsx
  src/interface/report/Results/NavigationBar.tsx
  src/interface/report/Results/ResultsContent.tsx
  src/parser/core/Analyzer.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/core/modules/DebugAnnotations.ts
  src/parser/shared/modules/SpellUsable.test.jsx
  src/parser/shared/modules/SpellUsable.ts
  src/parser/shared/modules/SpellUsable/SpellUsableDebugDescription.tsx
Labels: Monk, core, Dragonflight, Classic

#6800 [Mistweaver] Crane Style, Mastery and Event Link Updates
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/dragonflight/T31HealingBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/items/AmalgamsSeventhSpineSources.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MasteryStats.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CraneStyle.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadeBond.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/VivaciousVivify.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EnvelopingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/GustOfMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/ManaTeaEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/RenewingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/VivifyEventLinks.ts
  src/analysis/retail/monk/shared/JadefireStomp.tsx
Labels: Monk, The War Within

#6799 Enable Arcane Mage & Mage Class for TWW
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
  src/analysis/retail/mage/arcane/Checklist/Module.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/ManaChart/ManaValues.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/Abilities.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgeMana.tsx
  src/analysis/retail/mage/arcane/core/ArcaneSurgePreReqs.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/core/CooldownThroughputTracker.jsx
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/talents/ArcaneEcho.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneFamiliar.tsx
  src/analysis/retail/mage/arcane/talents/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/talents/RadiantSpark.tsx
  src/analysis/retail/mage/arcane/talents/RuleOfThrees.tsx
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/ArcaneIntellect.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
  src/analysis/retail/mage/shared/TimeAnomaly.tsx
  src/analysis/retail/mage/shared/constants.tsx
  src/game/BLOODLUST_BUFFS.ts
  tsconfig.json
Labels: Mage, core, The War Within

#6803 Add Panacea module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/Panacea.tsx
Labels: Dragonflight, Evoker

#6802 [Mistweaver] More Talent Updates
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Component.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Checklist/Module.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistyPeaksHealingBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AncientTeachings.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ChiBurst.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EnvelopingBreath.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadeSerpentStatue.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ManaTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RefreshingJadeWind.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/SheilunsGift.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/SoothingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/SpinningCraneKick.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/VivaciousVivify.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/YulonsWhisper.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EnvelopingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/VivifyEventLinks.ts
  src/common/SPELLS/monk.ts
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, core, Dragonflight, Classic, Evoker, The War Within

#6804 [tww] re-enable pres and cleanup checklist
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/core/AlwaysBeCasting.tsx
  src/analysis/retail/evoker/preservation/modules/features/Checklist/Component.tsx
  src/analysis/retail/evoker/preservation/modules/features/Checklist/Module.tsx
  src/analysis/retail/evoker/preservation/modules/features/EssenceDetails.tsx
  src/analysis/retail/evoker/preservation/modules/talents/CallOfYsera.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamFlight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldBlossom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldCommunion.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  tsconfig.json
Labels: Evoker, The War Within

#6807 Fix bug in stasis module for TA
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
Labels: Dragonflight, Evoker

#6808 Add hero talents statistic category
  src/CHANGELOG.tsx
  src/parser/ui/STATISTIC_CATEGORY.ts
Labels: core

#6809 Add T32 tier set ids
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
Labels: core

#6806 [pres] cleanup old tier sets
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/core/HotAttributor.ts
  src/analysis/retail/evoker/preservation/modules/dragonflight/tier/AwakenedTierSet.tsx
  src/analysis/retail/evoker/preservation/modules/dragonflight/tier/T30TierSet.tsx
  src/analysis/retail/evoker/preservation/modules/dragonflight/tier/T31TierSet.tsx
  src/analysis/retail/evoker/preservation/modules/talents/AncientFlame.tsx
  src/analysis/retail/evoker/preservation/modules/talents/CallOfYsera.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EchoTypeBreakdown.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldBlossom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FieldOfDreams.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FontOfMagic.tsx
  src/analysis/retail/evoker/preservation/modules/talents/GracePeriod.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifespark.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ResonatingSphere.tsx
  src/analysis/retail/evoker/preservation/modules/talents/SparkOfInsight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Spiritbloom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TimeOfNeed.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6810 [pres] Split up EventLinkNormalizer into sub files
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/core/HotAttributor.ts
  src/analysis/retail/evoker/preservation/modules/talents/AncientFlame.tsx
  src/analysis/retail/evoker/preservation/modules/talents/CallOfYsera.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EchoTypeBreakdown.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldBlossom.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FieldOfDreams.tsx
  src/analysis/retail/evoker/preservation/modules/talents/FontOfMagic.tsx
  src/analysis/retail/evoker/preservation/modules/talents/GracePeriod.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifespark.tsx
  src/analysis/retail/evoker/preservation/modules/talents/SparkOfInsight.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TimeOfNeed.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/BronzeEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/CastLinkNormalizer.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/EchoEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/EssenceBurstEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/GreenEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/GroupingEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/RedEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
Labels: Evoker, The War Within

#6817 [Mistweaver] Fix vivify cast entries bug caused by vivacious vivification change.
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
Labels: Monk, The War Within

#6818 temporarily disable the report selection tests til we have a properly supported spec
  e2e/report-selection.spec.ts
  src/analysis/retail/mage/arcane/Checklist/Component.tsx
Labels: Mage, The War Within

#6805 Enable Fire Mage for The War Within
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/fire/Checklist/Component.tsx
  src/analysis/retail/mage/fire/Checklist/Module.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/SPELLS.ts
  src/analysis/retail/mage/fire/core/Abilities.tsx
  src/analysis/retail/mage/fire/core/Buffs.tsx
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
  src/analysis/retail/mage/fire/core/HotStreak.tsx
  src/analysis/retail/mage/fire/guide/HeatingUp.tsx
  src/analysis/retail/mage/fire/guide/HotStreak.tsx
  src/analysis/retail/mage/fire/items/CharringEmbers.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
  src/analysis/retail/mage/fire/talents/ImprovedScorch.tsx
  src/analysis/retail/mage/fire/talents/LivingBomb.tsx
  src/analysis/retail/mage/fire/talents/Meteor.tsx
  src/analysis/retail/mage/fire/talents/PhoenixFlames.tsx
  src/analysis/retail/mage/fire/talents/SearingTouch.tsx
  src/analysis/retail/mage/fire/talents/ShiftingPowerUsage.tsx
  src/analysis/retail/mage/fire/talents/SunKingsBlessing.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/ExcessFire.tsx
  src/analysis/retail/mage/shared/ExcessFrost.tsx
  src/analysis/retail/mage/shared/FlameAndFrost.tsx
  src/analysis/retail/mage/shared/GloriousIncandescense.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
  src/parser/shared/modules/Haste.ts
  tsconfig.json
Labels: Mage, Classic, The War Within

#6811 Implement T32 Prevoker tier
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/tier/T32TierSet.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/BronzeEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/CastLinkNormalizer.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/TierEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6819 re-enable Demon Hunter and E2E tests
  .github/workflows/build.yml
  .idea/compiler.xml
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/guide/CooldownGraphSubSection.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/AnyMeansNecessary.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/SigilOfSpite.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/constants.ts
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/Guide.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/CycleOfBinding.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/SigilOfSpite.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/CycleOfBindingNormalizer.ts
  src/common/SPELLS/demonhunter.ts
  src/game/VERSIONS.ts
  src/game/ZONES.ts
  src/interface/report/PATCHES.ts
  tsconfig.json
Labels: Demon Hunter, core, The War Within

#6824 [Mistweaver] Tier 32 Module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/tier/T32TierSet.tsx
Labels: Monk, The War Within

#6825 [Mistweaver] Cleanup old tier sets
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/dragonflight/T31HealingBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T29MWTier.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T30MWTier.tsx
  src/analysis/retail/monk/mistweaver/modules/dragonflight/tier/T31MWTier.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ChiHarmony.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6822 [Classic] Cata Caster Template
  src/analysis/classic/_templates/caster/CHANGELOG.tsx
  src/analysis/classic/_templates/caster/CONFIG.tsx
  src/analysis/classic/_templates/caster/CombatLogParser.ts
  src/analysis/classic/_templates/caster/Guide.tsx
  src/analysis/classic/_templates/caster/constants.ts
  src/analysis/classic/_templates/caster/modules/Abilities.ts
  src/analysis/classic/_templates/caster/modules/Buffs.tsx
  src/analysis/classic/_templates/caster/modules/checklist/Component.tsx
  src/analysis/classic/_templates/caster/modules/checklist/Module.tsx
  src/analysis/classic/_templates/caster/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/_templates/healer/CombatLogParser.ts
  src/analysis/classic/_templates/melee/CombatLogParser.ts
  src/analysis/classic/_templates/shared/index.ts
  src/analysis/classic/_templates/shared/lowRankSpells.ts
Labels: Classic

#6829 Increase time window for linking t32 heal events
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/TierEventLinks.ts
Labels: Evoker, The War Within

#6826 bump tww talents + re-enable resource inclusion
  scripts/talents/generate-talents.ts
  scripts/talents/talent-tree-types.ts
  src/analysis/retail/hunter/beastmastery/CONFIG.tsx
  src/analysis/retail/hunter/marksmanship/CONFIG.tsx
  src/analysis/retail/hunter/survival/CONFIG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
  src/common/TALENTS/deathknight.ts
  src/common/TALENTS/demonhunter.ts
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/shaman.ts
  src/common/TALENTS/warlock.ts
  src/common/TALENTS/warrior.ts
  tsconfig.json
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, Evoker, The War Within

#6827 [Mistweaver] Talent Updates v3
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/features/RisingMistBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AverageTimeBetweenRSKs.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/DancingMists.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RapidDiffusion.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RefreshingJadeWind.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/YulonsWhisper.tsx
  src/analysis/retail/monk/mistweaver/modules/tier/T32TierSet.tsx
  src/analysis/retail/monk/shared/TeachingsOfTheMonestary.tsx
Labels: Monk, The War Within

#6820 Add basic support for Cata BDK
  src/analysis/classic/_templates/melee/modules/features/Abilities.ts
  src/analysis/classic/deathknight/blood/CHANGELOG.tsx
  src/analysis/classic/deathknight/blood/CONFIG.tsx
  src/analysis/classic/deathknight/blood/CombatLogParser.ts
  src/analysis/classic/deathknight/blood/index.ts
  src/analysis/classic/deathknight/blood/modules/checklist/Component.tsx
  src/analysis/classic/deathknight/blood/modules/checklist/Module.tsx
  src/analysis/classic/deathknight/blood/modules/features/Abilities.ts
  src/analysis/classic/deathknight/blood/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/deathknight/blood/modules/features/Buffs.tsx
  src/analysis/classic/deathknight/blood/modules/features/CooldownThroughputTracker.ts
  src/analysis/classic/deathknight/frost/modules/features/Abilities.ts
  src/analysis/classic/deathknight/unholy/modules/features/Abilities.ts
  src/common/SPELLS/classic/deathknight.ts
  src/parser/index.ts
  src/parser/shared/modules/features/Checklist/GenericCastEfficiencyRequirement.tsx
Labels: Death Knight, core, Dragonflight, Classic

#6823 [evoker] implement engulf for pres/dev
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/EchoBreakdown.tsx
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/Engulf.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6831 Remove rewind from engulf
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/constants.ts
Labels: Evoker, The War Within

#6830 [evoker] implement expanded lungs for flameshaper
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/ExpandedLungs.tsx
Labels: Evoker, The War Within

#6833 [pres] add engulf to echo tracking and some echo cleanup
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/Echo.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EchoBreakdown.tsx
  src/analysis/retail/evoker/preservation/modules/talents/EssenceBurst.tsx
  src/analysis/retail/evoker/preservation/modules/tier/T32TierSet.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/EchoEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
Labels: Evoker, The War Within

#6834 [evoker] implement fan the flames
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/FanTheFlames.tsx
Labels: Evoker, The War Within

#6836 Update cycle spells for flameshaper
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/CycleOfLife.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6821 [pres] Implement Titans Gift module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/TitansGift.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/GreenEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
Labels: Death Knight, Druid, Hunter, Mage, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, Evoker, The War Within

#6837 Add Consume flame to expanded lungs
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/ExpandedLungs.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#6839 [flameshaper] implement red hot
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/FanTheFlames.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/RedHot.tsx
Labels: Evoker, The War Within

#6840 [Shadow] Fix Inaccurate Active Time
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/core/GlobalCooldown.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Priest, Dragonflight, Classic

#6843 [Mistweaver] Update healing Efficiency Metrics and add Heart of the Jade Serpent CDR
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/shared/hero/conduit/HeartOfTheJadeSerpent.tsx
  src/common/SPELLS/monk.ts
  tsconfig.json
Labels: Monk, The War Within

#6845 look shortly before a hit for shuffle buff on overkill
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/Shuffle/index.tsx
Labels: Monk, Dragonflight

#6846 [Mistweaver] Update Tear of Morning Add Restore Balance
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EnvelopingMists.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/TearOfMorning.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EnvelopingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/analysis/retail/monk/shared/hero/conduit/ConduitOfTheCelestialsEventLinks.ts
  src/analysis/retail/monk/shared/hero/conduit/RestoreBalance.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#6847 [evoker] Update Devastation periodic IDs for Engulf
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/constants.ts
Labels: Evoker, The War Within
