Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-03, with the labels that each got.

#6663 added checklist support for iridal dreambinder nymues and belorrelos
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/others.ts
  src/common/ITEMS/dragonflight/trinkets.ts
  src/common/SPELLS/dragonflight/others.ts
  src/common/SPELLS/dragonflight/trinkets.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/dragonflight/BelorrelosTheSuncaller.tsx
  src/parser/retail/modules/items/dragonflight/Dreambinder.tsx
  src/parser/retail/modules/items/dragonflight/Iridal.tsx
  src/parser/retail/modules/items/dragonflight/NymuesUnravelingSpindle.tsx
Labels: core, Dragonflight

#6662 [Core] Adjust tertiary stat penalty
  src/CHANGELOG.tsx
  src/parser/shared/modules/StatTracker.ts
Labels: Dragonflight, Classic

#6665 add an ICON_RENAME map to handle mismatching PW:R names
  src/CHANGELOG.tsx
  src/interface/BAD_ICONS.ts
  src/interface/Icon.tsx
Labels: core

#6668 [Evoker] Fix an issue with Potent Magic module when no Source of Magic was active
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/talents/PotentMana.tsx
  src/analysis/retail/evoker/shared/modules/talents/SourceOfMagic.tsx
Labels: Dragonflight, Evoker

#6667 [Devastation] Improve clarity for Disintegrate graph module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
Labels: Dragonflight, Evoker

#6670 [Fire Mage] Heating Up
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
Labels: Mage, Dragonflight

#6671 Update disc priest modules to be compatible with the current patch
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
Labels: Priest, Dragonflight

#6673 bump muted text opacity
  src/CHANGELOG.tsx
  src/interface/Theme.scss
  src/interface/guide/components/MajorDefensives/AllCooldownUsagesList.tsx
Labels: core

#6675 bump phase selector opacity
  src/CHANGELOG.tsx
  src/interface/report/Results/Header.scss
Labels: core

#6676 fix overflow on cooldown bars with phase selected
  src/CHANGELOG.tsx
  src/parser/ui/CooldownBar.scss
Labels: core

#6666 Adding defensive usage guide to demo warlock
  src/analysis/retail/warlock/affliction/CombatLogParser.ts
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/Guide.tsx
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/destruction/CombatLogParser.ts
  src/analysis/retail/warlock/destruction/modules/features/Abilities.ts
  src/analysis/retail/warlock/shared/Abilities.ts
  src/analysis/retail/warlock/shared/Defensives.tsx
  src/analysis/retail/warlock/shared/index.ts
  src/analysis/retail/warlock/shared/spells/DarkPact.tsx
  src/analysis/retail/warlock/shared/spells/DemonicCircle.tsx
  src/analysis/retail/warlock/shared/spells/UnendingResolve.tsx
  src/interface/guide/components/MajorDefensives/AllCooldownUsagesList.tsx
  src/interface/guide/components/MajorDefensives/MajorDefensiveAnalyzer.tsx
Labels: Warlock, core, Dragonflight

#6677 [Mistweaver] bump sample report for mw
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
Labels: Monk, Dragonflight

#6674 Fix getBuffStacks method
  src/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/parser/core/Entity.ts
Labels: Mage, core, Dragonflight

#6672 [Preservation] Implemented Time of Need module
  src/CONTRIBUTORS.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/modules/talents/TimeOfNeed.tsx
  src/analysis/retail/evoker/preservation/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/evoker.ts
  src/interface/images/avatars/Harrek-avatar.png
Labels: core, Dragonflight, Evoker

#6680 Bring BDK to 10.2.5
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
  src/analysis/retail/deathknight/blood/modules/core/RuneForgeChecker.tsx
  src/analysis/retail/deathknight/blood/modules/features/DeathStrikeTiming.tsx
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/analysis/retail/deathknight/blood/modules/runicpower/RunicPowerDetails.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/DeathStrikeSection.tsx
  src/parser/shared/modules/features/SelfHealTimingGraph.jsx
Labels: Death Knight, Dragonflight, Classic

#6684 remove support for Shadowlands tier sets
  src/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/modules/talents/Bonestorm.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/modules/shadowlands/tier/Tier28FourSet.tsx
  src/analysis/retail/shaman/enhancement/modules/shadowlands/tier/Tier28TwoSet.tsx
  src/analysis/retail/warrior/fury/modules/Abilities.ts
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
Labels: Death Knight, Shaman, Warrior, core, Dragonflight

#6687 add Dragonflight season 4 dungeons
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/game/raids/index.ts
  src/game/raids/mythicplusseasonfour/AlgetharAcademy.ts
  src/game/raids/mythicplusseasonfour/AzureVault.ts
  src/game/raids/mythicplusseasonfour/BrackenhideHollow.ts
  src/game/raids/mythicplusseasonfour/HallsOfInfusion.ts
  src/game/raids/mythicplusseasonfour/Neltharus.ts
  src/game/raids/mythicplusseasonfour/NokhudOffensive.ts
  src/game/raids/mythicplusseasonfour/README.md
  src/game/raids/mythicplusseasonfour/RubyLifePools.ts
  src/game/raids/mythicplusseasonfour/Uldaman.ts
  src/game/raids/mythicplusseasonfour/index.ts
Labels: core

#6688 add patch 10.2.6
  e2e/report-selection.spec.ts
  scripts/talents/generate-talents.ts
  src/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/windwalker/modules/talents/DanceOfChiJi.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/modules/core/HolyWordsReductionBySpell.tsx
  src/analysis/retail/priest/holy/modules/spells/Renew.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordBase.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/EmpoweredRenew.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/HarmoniousApparatus.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/RapidRecovery.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/index.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/common/TALENTS/druid.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/priest.ts
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
Labels: Death Knight, Druid, Mage, Monk, Priest, Shaman, Warlock, Demon Hunter, core, Dragonflight, Evoker

#6685 update dependencies in next branch
  .github/labeler.yml
  package.json
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/TimeOfNeed.tsx
  yarn.lock
Labels: core, Dragonflight, Evoker

#6681 [Core] Potential solution to casts and channels on timeline overlapping eachother
  src/CHANGELOG.tsx
  src/parser/core/Events.ts
  src/parser/shared/normalizers/Channeling.ts
Labels: core, Dragonflight, Classic

#6689 switch to react-virtualized-auto-sizer
  package.json
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/DeathStrikeSection.tsx
  src/analysis/retail/deathknight/shared/RuneDetails.tsx
  src/analysis/retail/evoker/shared/modules/components/ExplanationGraph.tsx
  src/analysis/retail/hunter/shared/FocusCapTracker.tsx
  src/analysis/retail/monk/brewmaster/modules/features/StaggerPoolGraph.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/InvokeNiuzao/chart.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/index.tsx
  src/analysis/retail/monk/mistweaver/modules/features/REMGraph.tsx
  src/analysis/retail/monk/windwalker/modules/features/MoTCGraph.tsx
  src/analysis/retail/warrior/protection/modules/features/BigHitGraph.tsx
  src/interface/EventsTab.jsx
  src/interface/guide/components/MajorDefensives/DamageMitigationChart.tsx
  src/interface/guide/components/MajorDefensives/Timeline.tsx
  src/parser/shared/modules/BuffCountGraph.tsx
  src/parser/shared/modules/BuffStackGraph.tsx
  src/parser/shared/modules/ResourceGraph.tsx
  src/parser/shared/modules/features/RaidHealthTab/TabComponent/RaidHealthChart.jsx
  src/parser/shared/modules/features/SelfHealTimingGraph.jsx
  src/parser/shared/modules/resources/mana/ManaUsageGraph.tsx
  src/parser/shared/modules/throughput/DamageDone.tsx
  src/parser/shared/modules/throughput/DamageTaken.tsx
  src/parser/shared/modules/throughput/HealingDone.tsx
  src/parser/ui/ActiveTimeGraph.tsx
  src/parser/ui/FooterChart.tsx
  src/parser/ui/ManaLevelGraph.tsx
  src/parser/ui/OneVariableBinomialChart.tsx
  yarn.lock
Labels: Death Knight, Hunter, Monk, Warrior, core, Dragonflight, Classic, Evoker

#6690 rewrite EventsTab in TypeScript
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/interface/EventsTab.jsx
  src/interface/EventsTab.tsx
Labels: core
