Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-09, with the labels that each got.

#6995 Update Brewmaster for 11.0
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/constants.tsx
  src/analysis/retail/monk/brewmaster/modules/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/AplChoiceDescription.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/BrewAplSummary.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/explainSCK.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/explainSpendCooldowns.tsx
  src/analysis/retail/monk/brewmaster/modules/core/StaggerFabricator.ts
  src/analysis/retail/monk/brewmaster/modules/items/Tier29/FourSet.tsx
  src/analysis/retail/monk/brewmaster/modules/items/WarWithinS1TierSet.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/BreathOfFire/normalizer.ts
  src/analysis/retail/monk/brewmaster/modules/talents/AnvilStave.tsx
  src/common/SPELLS/monk.ts
  src/common/format.ts
  src/interface/SpellIcon.tsx
  src/interface/guide/components/Apl/index.tsx
Labels: Monk, core, The War Within

#6998 [DH] add Aldrachi Reaver and Fel-scarred spells
  src/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/modules/Abilities.tsx
  src/analysis/retail/demonhunter/shared/normalizers/ConsumingFireNormalizer.ts
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/guide/useVdhFeatureFlag.ts
  src/analysis/retail/demonhunter/vengeance/modules/Abilities.tsx
  src/analysis/retail/demonhunter/vengeance/modules/dragonflight/tier/ScreamingTorchfiendsBrutality.tsx
  src/common/SPELLS/demonhunter.ts
  src/parser/classic/CombatLogParser.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/shared/modules/AbilitiesMissing.jsx
  src/parser/shared/modules/SpellUsable.tsx
Labels: Demon Hunter, core, Classic, The War Within

#6979 I have once again rewritten ABC
  src/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/features/AlwaysBeCasting.ts
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/shared/modules/AlwaysBeCastingHealing.tsx
Labels: Paladin, Classic, The War Within

#6997 Druid Resto - fixed numbers for Photo module and overhauled Abundance module
  src/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/spells/Abundance.tsx
  src/analysis/retail/druid/restoration/modules/spells/Photosynthesis.tsx
  src/analysis/retail/druid/restoration/modules/spells/Regenesis.tsx
  src/parser/core/Entity.ts
  src/parser/shared/modules/DeathRecapTracker.jsx
Labels: Druid, core, Classic, The War Within

#7001 [Aug/Deva] Implement Extended Battle module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/ExtendedBattle.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7003 [Aug/Deva] Implement Slipstream module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/Slipstream.tsx
Labels: Evoker, The War Within

#7000 [Classic] Cata Rogue Spells
  src/CHANGELOG.tsx
  src/analysis/classic/rogue/assassination/CombatLogParser.ts
  src/analysis/classic/rogue/assassination/modules/features/Abilities.ts
  src/analysis/classic/rogue/shared/index.ts
  src/analysis/classic/rogue/shared/lowRankSpells.ts
  src/common/SPELLS/classic/rogue.ts
Labels: Rogue, Classic

#7005 Holy priest constants overhaul
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier29/Tier29HolyPriest2Set.tsx
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier29/Tier29HolyPriest4Set.tsx
  src/analysis/retail/priest/holy/modules/dragonflight/tier/tier30/Tier30HolyPriest4Set.tsx
  src/analysis/retail/priest/holy/modules/spells/CircleOfHealing.tsx
  src/analysis/retail/priest/holy/modules/spells/GuardianSpirit.tsx
  src/analysis/retail/priest/holy/modules/spells/HymnBuffBenefit.tsx
  src/analysis/retail/priest/holy/modules/spells/PrayerOfHealing.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ArchonValues.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EmpoweredSurgesHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCompressionHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCycleHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/PerfectedFormHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ResonantEnergyHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/AnsweredPrayers.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DesperateTimes.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineWord.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightweaver.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Pontifex.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/ResonantWords.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/Enlightenment.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/EverlastingLight.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/HealingChorus.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/PrayerfulLitany.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleCore/RenewTracker.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/OracleValues.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreemptiveCareHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfInsight.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfPiety.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfSolace.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreventiveMeasuresHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/ProphetsWillHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/Afterlife.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/BurningVehemence.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/GuardianAngel.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/RenewedFaith.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/SanctifiedPrayers.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Priest, The War Within

#6996 Wrote EchoOfLight Attributor
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/Abilities.ts
  src/analysis/retail/priest/holy/modules/core/EchoOfLightAttributor.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Priest, The War Within

#7010 [core] fix character search showing UNKNOWN
  src/CHANGELOG.tsx
  src/game/Expansion.ts
  src/interface/guide/components/Preparation/PreparationSection.tsx
Labels: core

#7009 Holy word cdr rewrite
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/HolyWordCDR.tsx
  src/analysis/retail/priest/holy/modules/core/HolyWordCDRBySpell.tsx
  src/analysis/retail/priest/holy/modules/core/HolyWordWastedAmounts.tsx
  src/analysis/retail/priest/holy/modules/core/HolyWordsReductionBySpell.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordBase.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordChastise.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSalvation.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSanctify.tsx
  src/analysis/retail/priest/holy/modules/spells/holyword/HolyWordSerenity.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCycleHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/index.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Apotheosis.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/HarmoniousApparatus.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/LightOfTheNaaru.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/index.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Priest, The War Within

#7004 [Evoker] Update MajorDefensive module for Lifecinders & Hardened Scales
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/modules/MajorDefensives/ObsidianScales.tsx
  src/analysis/retail/evoker/shared/modules/MajorDefensives/RenewingBlaze.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/DefensiveCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/DefensiveNormalizer.ts
Labels: Evoker, The War Within

#7002 [Aug/Deva] Implement Wingleader module
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/scalecommander/Wingleader.tsx
  src/parser/core/Events.ts
Labels: core, Evoker, The War Within

#7013 [Augmentation] Update Ability Filter for Helper Modules for TWW S1
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/util/abilityFilter.ts
Labels: Evoker, The War Within

#7012 [Devastation] Cleanup for TWW S1
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/Guide.tsx
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/ShatteringStar.tsx
  src/analysis/retail/evoker/devastation/modules/dragonflight/tier/T30DevaTier.tsx
  src/analysis/retail/evoker/devastation/modules/dragonflight/tier/T31DevaTier.tsx
  src/analysis/retail/evoker/devastation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageSection.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageWindows.tsx
  src/analysis/retail/evoker/devastation/modules/guide/styling.scss
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/Causality.tsx
Labels: Evoker, The War Within

#7015 Fix revival loading for jade bond
  src/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/parser/ui/QualitativePerformance.ts
Labels: Monk, core, The War Within

#6992 [Enhancement] Hero talents & other misc improvements
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/constants.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplCheck.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplSelector.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/DragonflightS3AndS4.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerStorm.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/Cooldowns.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventOrderNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromRefreshBuffNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponBuffNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponCastNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponGeneratorLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponResourceNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/constants.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponBreakdown.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponSpenders.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponTracker.tsx
  src/analysis/retail/shaman/enhancement/modules/shadowlands/legendaries/SeedsOfRampantGrowth.tsx
  src/analysis/retail/shaman/enhancement/modules/shadowlands/legendaries/WitchDoctorsWolfBones.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ChainLightning.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalAssault.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlast.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/FeralSpirit.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Hailstorm.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/LegacyOfTheFrostWitch.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/StaticAccumulation.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Stormflurry.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/SwirlingMaelstrom.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ThorimsInvocation.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/WitchDoctorsAncestry.tsx
  src/analysis/retail/shaman/shared/Abilities.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/StormbringerTab.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/Tempest.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/TempestGraph.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/normalizers/StormbringerEventLinkNormalizer.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/normalizers/StormbringerEventOrderNormalizer.tsx
  src/analysis/retail/shaman/shared/talents/SplinteredElements.tsx
  src/common/SPELLS/shaman.ts
  src/game/RESOURCE_TYPES.ts
  src/interface/EventsTab.css
  src/interface/EventsTab.tsx
  src/parser/core/MajorCooldowns/CooldownUsage.tsx
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
  src/parser/shared/metrics/apl/conditions/index.tsx
  src/parser/shared/metrics/apl/conditions/repeatableBuffPresent.tsx
  src/parser/shared/modules/Haste.ts
  src/parser/shared/modules/resources/resourcetracker/ResourceBreakdown.tsx
Labels: Shaman, core, Classic, The War Within

#7014 Holy word cdr rewrite
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/HolyWordCDRBySpell.tsx
Labels: Priest, The War Within

#7011 Eol attrib implementation
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/EchoOfLightDisplay.tsx
  src/analysis/retail/priest/holy/modules/core/EchoOfLightMastery.tsx
  src/analysis/retail/priest/holy/modules/spells/HolyNova.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EmpoweredSurgesHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EnergyCompressionHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/PerfectedFormHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/PowerSurgeAndDivineHaloHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/ResonantEnergyHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DesperateTimes.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineImage.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/DivineWord.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/HolyWordSalvation.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightweaver.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightwell.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Pontifex.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/ResonantWords.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/BindingHeals.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/DivineStar.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/Halo.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/EverlastingLight.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/HealingChorus.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/PrayerfulLitany.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/TrailOfLight.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfPiety.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PreventiveMeasuresHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/CosmicRipple.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/RenewedFaith.tsx
  src/analysis/retail/priest/holy/modules/talents/TopRow/SanctifiedPrayers.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7019 Eol attrib implementation
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/HolyWordSalvation.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/DivineStar.tsx
  src/analysis/retail/priest/holy/modules/talents/Classwide/Halo.tsx
Labels: Priest, The War Within

#7021 [core] add support for Earthen characters
  src/CHANGELOG.tsx
  src/game/RACES.ts
Labels: core

#7022 do not attempt to render a probability chart when no proc attempts occurred
  src/CHANGELOG.tsx
  src/parser/shared/modules/helpers/Probability.tsx
Labels: Classic, The War Within

#7017 [Classic] Cata DK Spells
  src/CHANGELOG.tsx
  src/analysis/classic/deathknight/frost/CombatLogParser.ts
  src/analysis/classic/deathknight/frost/modules/checklist/Component.tsx
  src/analysis/classic/deathknight/frost/modules/features/Abilities.ts
  src/analysis/classic/deathknight/frost/modules/features/Buffs.tsx
  src/analysis/classic/deathknight/shared/GlobalCooldown.ts
  src/analysis/classic/deathknight/shared/index.ts
  src/analysis/classic/deathknight/shared/lowRankSpells.ts
  src/analysis/classic/deathknight/unholy/modules/features/Abilities.ts
  src/common/SPELLS/classic/deathknight.ts
  src/interface/ReportRaidBuffList.tsx
Labels: Death Knight, core, Classic

#7018 Add zen pulse guide section
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/VivaciousVivify.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
Labels: Monk, The War Within

#7027 11.0.2 support for Elemental and Enhancement
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/constants.tsx
  src/analysis/retail/shaman/elemental/guide/Cooldowns.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/elemental/modules/features/SpenderWindow.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/elemental/modules/talents/FlashOfLightning.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/Cooldowns.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventOrderNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponResourceNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ThorimsInvocation.tsx
  src/analysis/retail/shaman/shared/guide/DefensiveAndUtility.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/Tempest.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/normalizers/StormbringerEventLinkNormalizer.tsx
  src/common/SPELLS/shaman.ts
  src/game/RESOURCE_TYPES.ts
Labels: Shaman, core, The War Within

#7030 add engulf to stasis
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/constants.ts
Labels: Evoker, The War Within

#7031 Update Source of Magic mana pool size
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/talents/SourceOfMagic.tsx
Labels: Evoker, The War Within

#7020 Add Strength of the Black Ox guide section
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/heroTalents/StrengthOfTheBlackOx.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/HeroTalentEventLinks.ts
Labels: Monk, The War Within

#7032 [Resto Shaman] Fix Unleash Life for Downpour casts
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/talents/UnleashLife.tsx
  src/analysis/retail/shaman/restoration/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/shaman/restoration/normalizers/UnleashLifeNormalizer.ts
Labels: Shaman, The War Within

#7026 Druid Feral - updated guide text to indicate finishers should always be used with 5 CPs. Fixed a typo in Rip breakdown text
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/Guide.tsx
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/spells/FerociousBite.tsx
  src/analysis/retail/druid/feral/modules/spells/RipUptimeAndSnapshots.tsx
Labels: Druid, The War Within

#7023 Druid Resto: Added ability to track 'base extensions' of HoTs to HotTracker, and implemented some stats with this
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/modules/Abilities.tsx
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotAttributor.ts
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotTrackerRestoDruid.tsx
  src/analysis/retail/druid/restoration/modules/spells/Germination.tsx
  src/analysis/retail/druid/restoration/modules/spells/ThrivingVegetation.tsx
  src/analysis/retail/druid/restoration/normalizers/CastLinkNormalizer.ts
  src/parser/shared/modules/HotTracker.ts
Labels: Druid, Classic, The War Within

#7034 Holy priest updates
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/HolyWordCDR.tsx
  src/analysis/retail/priest/holy/modules/spells/GuardianSpirit.tsx
  src/analysis/retail/priest/holy/modules/spells/HymnBuffBenefit.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/Enlightenment.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7039 [Augmentation] Update Buff Helper note format for Frame Glows WA
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
Labels: Evoker, The War Within

#7035 [Core] Update spellAvailable to properly adjust behaviour to inverse
  src/CHANGELOG.tsx
  src/parser/shared/metrics/apl/conditions/spellAvailable.tsx
Labels: Classic, The War Within

#7024 Druid Resto - removed mana saved info from ToL as it was causing problems
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/spells/Reforestation.tsx
  src/analysis/retail/druid/restoration/modules/spells/TreeOfLife.tsx
Labels: Druid, The War Within

#7028 Add jb section to revival guide
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Revival.tsx
Labels: Monk, The War Within

#7044 [Elemental] Adding Farseer guide section
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/constants.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/ElementalPrepullNormalizer.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/EventOrderNormalizer.tsx
  src/analysis/retail/shaman/elemental/modules/talents/FlashOfLightning.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/WitchDoctorsAncestry.tsx
  src/analysis/retail/shaman/shared/Abilities.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/StormbringerTab.tsx
  src/common/SPELLS/shaman.ts
  src/interface/EventsTab.tsx
  src/parser/core/Events.ts
  src/parser/shared/modules/resources/resourcetracker/ResourceTracker.ts
Labels: Shaman, core, The War Within

#7033 spec/windwalker: initial tww compatibility
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/castDamage.ts
  src/analysis/retail/monk/windwalker/constants.ts
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/Buffs.tsx
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
  src/analysis/retail/monk/windwalker/modules/apl/serenityDurationRemaining.tsx
  src/analysis/retail/monk/windwalker/modules/features/CooldownThroughputTracker.tsx
  src/analysis/retail/monk/windwalker/modules/features/MoTCGraph.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Component.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Module.tsx
  src/analysis/retail/monk/windwalker/modules/resources/EnergyCapTracker.jsx
  src/analysis/retail/monk/windwalker/modules/spells/BlackoutKick.tsx
  src/analysis/retail/monk/windwalker/modules/spells/ChiBurst.tsx
  src/analysis/retail/monk/windwalker/modules/spells/ComboStrikes.tsx
  src/analysis/retail/monk/windwalker/modules/spells/FistsofFury.tsx
  src/analysis/retail/monk/windwalker/modules/spells/StrikeoftheWindlord.tsx
  src/analysis/retail/monk/windwalker/modules/spells/TouchOfKarma.tsx
  src/analysis/retail/monk/windwalker/modules/talents/Serenity.tsx
  src/common/SPELLS/monk.ts
  tsconfig.json
Labels: Monk, The War Within

#7037 Add Mana Tea check to Strength of the Black Ox
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/heroTalents/StrengthOfTheBlackOx.tsx
Labels: Monk, The War Within

#7049 [Mage] Add Warning Banners
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
Labels: Mage, The War Within

#7047 Warrior bug fixes and minor improvements
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/Abilities.ts
  src/analysis/retail/warrior/fury/modules/normalizers/ColdSteelHotBlood.ts
  src/analysis/retail/warrior/fury/modules/spells/Recklessness.tsx
  src/analysis/retail/warrior/fury/modules/talents/MeatCleaver.tsx
  src/analysis/retail/warrior/fury/modules/talents/RecklessAbandon.tsx
  src/analysis/retail/warrior/shared/modules/normalizers/rage/GenerateRageEventsNormalizer.ts
  src/analysis/retail/warrior/shared/modules/normalizers/rage/RageAttributeNormalizer.ts
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/index.ts
  src/common/SPELLS/thewarwithin/raids/index.ts
  src/common/SPELLS/thewarwithin/raids/nerubar-palace.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/common/SPELLS/warrior.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/thewarwithin/trinkets/SignetOfThePriory.ts
Labels: Warrior, core, The War Within

#7041 Holy priest 4pc
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/HolyWordCDR.tsx
  src/analysis/retail/priest/holy/modules/core/HolyWordCDRBySpell.tsx
  src/analysis/retail/priest/holy/modules/spells/GuardianSpirit.tsx
  src/analysis/retail/priest/holy/modules/spells/HymnBuffBenefit.tsx
  src/analysis/retail/priest/holy/modules/tww/HolyTWW4pcS1.tsx
  src/analysis/retail/priest/holy/modules/tww/HolyTWW4pcS1Display.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7036 Fix Yulon cd duration
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/core/HotAttributor.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/features/CooldownThroughputTracker.tsx
Labels: Monk, The War Within

#7052 Updating enhancement APL
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/Guide.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerStorm.tsx
  src/analysis/retail/shaman/enhancement/modules/core/SpellUsable.tsx
  src/analysis/retail/shaman/enhancement/modules/spells/Stormbringer.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalSpirits.tsx
  src/game/RESOURCE_TYPES.ts
Labels: Shaman, core, The War Within

#7054 [Shared] Request data once on click in LazyLoadStatisticBox
  src/CHANGELOG.tsx
  src/parser/ui/LazyLoadStatisticBox.tsx
Labels: core

#7055 Updated Farseer's Call of the Ancestor usage module
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/shared/Abilities.tsx
Labels: Shaman, The War Within

#7057 Fix a crash that occurs when invalid data is fed to `Probability` helpers
  src/CHANGELOG.tsx
  src/parser/core/Events.ts
  src/parser/shared/modules/helpers/Probability.tsx
Labels: core, Classic, The War Within

#7053 [hpal] new spells + beacon config
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/constants.ts
  src/analysis/retail/paladin/holy/modules/beacons/BeaconHealSource.ts
  src/analysis/retail/paladin/holy/modules/beacons/BeaconTransferFactor.ts
  src/analysis/retail/paladin/holy/modules/features/Abilities.tsx
  src/analysis/retail/paladin/shared/constants.ts
  src/common/SPELLS/paladin.ts
Labels: Paladin, The War Within

#7045 [Shared] Update all consumables for The War Within
  src/CHANGELOG.tsx
  src/common/ITEMS/Item.ts
  src/common/ITEMS/dragonflight/enchants.ts
  src/common/ITEMS/dragonflight/gems.ts
  src/common/ITEMS/dragonflight/phials.ts
  src/common/ITEMS/dragonflight/potions.ts
  src/common/ITEMS/thewarwithin/enchants.ts
  src/common/ITEMS/thewarwithin/index.ts
  src/common/ITEMS/thewarwithin/potions.ts
  src/common/SPELLS/thewarwithin/flasks.ts
  src/common/SPELLS/thewarwithin/food.ts
  src/common/SPELLS/thewarwithin/index.ts
  src/common/SPELLS/thewarwithin/potions.ts
  src/interface/ItemLink.tsx
  src/interface/guide/components/Preparation/EnchantmentSubSection/index.tsx
  src/interface/guide/components/Preparation/EnhancementSubSection/index.tsx
  src/interface/guide/components/Preparation/PreparationSection.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/retail/modules/items/AugmentRuneChecker.ts
  src/parser/retail/modules/items/CombatPotion.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
  src/parser/retail/modules/items/FlaskChecker.ts
  src/parser/retail/modules/items/FoodChecker.ts
  src/parser/retail/modules/items/HealthPotion.ts
  src/parser/retail/modules/items/PotionChecker.tsx
  src/parser/retail/modules/items/WeaponEnhancementChecker.tsx
  src/parser/shared/modules/items/EnchantChecker.tsx
  src/parser/shared/modules/items/WeaponEnhancementChecker.tsx
Labels: core, Classic, The War Within

#7060 [Elemental] Updating Farseer Call of the Ancestor analysis when multiple ancestors overlap
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/constants.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/EventLinkNormalizer.tsx
Labels: Shaman, The War Within

#7058 Add Chronoflame support to Leaping Flame module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/LeapingFlamesNormalizer.ts
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7063 spec/assassination: initial tww compatibility
  src/CONTRIBUTORS.ts
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
  src/analysis/retail/rogue/assassination/CombatLogParser.ts
  src/analysis/retail/rogue/assassination/Guide.tsx
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/modules/Abilities.tsx
  src/analysis/retail/rogue/assassination/modules/spells/Mutilate.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Kingsbane.tsx
  src/analysis/retail/rogue/assassination/modules/talents/Sepsis.tsx
  src/analysis/retail/rogue/assassination/normalizers/KingsbaneLinkNormalizer.ts
  src/analysis/retail/rogue/shared/StealthAbilityFollowingSepsis.tsx
  src/analysis/retail/rogue/shared/index.ts
  src/analysis/retail/rogue/shared/talents/Sepsis.tsx
  src/analysis/retail/rogue/shared/talents/SerratedBoneSpike.tsx
  src/common/SPELLS/rogue.ts
  tsconfig.json
Labels: Rogue, The War Within

#7067 add void blast to weal and woe
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/spells/WealAndWoe.tsx
  src/analysis/retail/priest/discipline/normalizers/DamageCastLink.ts
Labels: Priest, The War Within

#7069 [Enhancement Shaman] Updating Enhancement APL
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplSelector.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerStorm.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/parser/shared/metrics/apl/conditions/repeatableBuffPresent.tsx
Labels: Shaman, Classic, The War Within

#7068 fix field name in `fetchTable` to match backend
  src/CHANGELOG.tsx
  src/common/fetchWclApi.ts
Labels: core

#7064 Add Celestial Conduit to major cooldowns section of MW/WW guide
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/constants.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/HeartOfTheJadeSerpent.tsx
Labels: Monk, The War Within

#7072 Druid Guardian - readded defensives buffs list, and included Lunar Beam in defensives list
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CombatLogParser.tsx
  src/analysis/retail/druid/guardian/modules/Abilities.ts
  src/analysis/retail/druid/guardian/modules/Buffs.ts
Labels: Druid, The War Within

#7075 fix crash in celestial conduit when player didnt cast unity within
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7076 fix crash in celestial conduit when player didnt cast unity within
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7073 [DH] add Demonsurge statistic support
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/normalizers/EyeBeamNormalizer.ts
  src/analysis/retail/demonhunter/shared/CHANGELOG.tsx
  src/analysis/retail/demonhunter/shared/constants.ts
  src/analysis/retail/demonhunter/shared/modules/hero/felscarred/Demonsurge/analyzer.tsx
  src/analysis/retail/demonhunter/shared/modules/hero/felscarred/Demonsurge/eventLinkNormalizer.ts
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CombatLogParser.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/FelDevastation.tsx
  src/analysis/retail/demonhunter/vengeance/normalizers/FelDevastationLinkNormalizer.ts
  src/analysis/retail/demonhunter/vengeance/normalizers/FelDevastationNormalizer.ts
Labels: Demon Hunter, The War Within

#7062 [Core]/[Shaman] Weapon Enhancement Checker
  src/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/common/ITEMS/dragonflight/enchants.ts
  src/common/ITEMS/shaman.ts
  src/parser/retail/modules/items/WeaponEnhancementChecker.tsx
  src/parser/shared/modules/items/WeaponEnhancementChecker.tsx
Labels: Shaman, Classic, The War Within

#7046 [Common] Statistic for tauren crit racial, add all active racials to spellbook
  src/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/Abilities.ts
  src/analysis/retail/paladin/holy/CombatLogParser.ts
  src/analysis/retail/paladin/holy/modules/racials/CritRacial.ts
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/common/SPELLS/racials.ts
  src/game/RACES.ts
  src/game/raids/index.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/core/Combatant.ts
  src/parser/shared/modules/StatTracker.ts
  src/parser/shared/modules/racials/CritRacial.tsx
  src/parser/shared/modules/racials/OtherRacials.ts
Labels: Druid, Paladin, Shaman, core, Classic, The War Within

#7061 Hpriest
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CombatLogParser.tsx
  src/analysis/retail/priest/holy/constants.ts
  src/analysis/retail/priest/holy/modules/core/EchoOfLightAttributor.tsx
  src/analysis/retail/priest/holy/modules/spells/GuardianSpirit.tsx
  src/analysis/retail/priest/holy/modules/spells/HymnBuffBenefit.tsx
  src/analysis/retail/priest/holy/modules/talents/Archon/EmpoweredSurgesHoly.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/CrisisManagement.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/PrismaticEchoes.tsx
  src/analysis/retail/priest/holy/modules/talents/MiddleRow/index.tsx
  src/analysis/retail/priest/holy/modules/talents/Oracle/PremonitionOfPiety.tsx
Labels: Priest, The War Within

#7074 TWW Character Profile - Enchants and Gems
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/gems.ts
  src/common/ITEMS/thewarwithin/index.ts
  src/interface/report/Results/enchantIdMap.ts
Labels: core

#7077 Fix another crash in celestial conduit
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7078 Fix Celestial Conduit event linking
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/normalizers/ConduitOfTheCelestialsEventLinks.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7082 feature: TWW Surging Totem PrePull Normalizer
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/analysis/retail/shaman/restoration/normalizers/SurgingTotemPrePullNormalizer.ts
  src/interface/report/Results/enchantIdMap.ts
Labels: Shaman, core, The War Within

#7086 [Elemental] Added usage guide for Primal Elementals
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalElementalist.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalFireElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalStormElemental.tsx
  src/common/NPCS/NPC.ts
  src/common/NPCS/index.ts
  src/common/NPCS/shaman.ts
Labels: Shaman, The War Within

#7087 [Enhancement] Fixing APL for elementalist, consolidating to single APL file
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/AplSelector.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Stormbringer.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerElementalist.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/StormbringerStorm.tsx
Labels: Shaman, The War Within

#7084 fix: Disc priest changelog
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
Labels: Priest, The War Within

#7070 spec/Beast Master: Initial TWW compability
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/CONFIG.tsx
  src/analysis/retail/hunter/beastmastery/CombatLogParser.ts
  src/analysis/retail/hunter/beastmastery/constants.ts
  src/analysis/retail/hunter/beastmastery/modules/Abilities.tsx
  src/analysis/retail/hunter/beastmastery/modules/checklist/Component.tsx
  src/analysis/retail/hunter/beastmastery/modules/guide/sections/rotation/RotationSection.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T29BMTier2P.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T29BMTier4P.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T30BMTier2P.tsx
  src/analysis/retail/hunter/beastmastery/modules/items/T30BMTier4P.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/CobraShot.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/DirePack.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/OneWithThePack.tsx
  src/analysis/retail/hunter/beastmastery/modules/talents/Stampede.tsx
  src/analysis/retail/hunter/marksmanship/constants.ts
  src/analysis/retail/hunter/shared/constants.ts
  src/analysis/retail/hunter/shared/index.ts
  src/analysis/retail/hunter/shared/talents/AMurderOfCrows.tsx
  src/analysis/retail/hunter/shared/talents/BornToBeWild.tsx
  src/analysis/retail/hunter/shared/talents/DeathChakrams.tsx
  src/analysis/retail/hunter/shared/talents/KillShot.tsx
  src/analysis/retail/hunter/shared/talents/SerpentSting.tsx
  src/analysis/retail/hunter/shared/talents/SteelTrap.tsx
  src/analysis/retail/hunter/survival/constants.ts
  tsconfig.json
Labels: Hunter, The War Within

#7083 6938 add support hero talents
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/modules/features/Abilities.ts
  src/analysis/retail/warlock/affliction/modules/spells/AbsoluteCorruption.tsx
  src/analysis/retail/warlock/affliction/modules/spells/Corruption.tsx
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/modules/pets/CONSTANTS.ts
  src/analysis/retail/warlock/demonology/modules/pets/PETS.ts
  src/analysis/retail/warlock/demonology/modules/talents/DiabolicRitual.tsx
  src/analysis/retail/warlock/demonology/modules/talents/DiabolicRitualEmpowers.tsx
  src/analysis/retail/warlock/destruction/CHANGELOG.tsx
  src/analysis/retail/warlock/destruction/modules/features/Abilities.ts
  src/analysis/retail/warlock/destruction/modules/features/ImmolateUptime.tsx
  src/common/SPELLS/warlock.ts
Labels: Warlock, The War Within

#7094 Fix crash in Celestial Conduit when it doesn't heal any targets
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7091 [Elemental & Enhancement[
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SurgeOfPower.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/parser/retail/modules/items/thewarwithin/embellishments/DarkmoonSigilAscension.tsx
  src/parser/shared/modules/resources/resourcetracker/ResourceBreakdown.tsx
  src/parser/ui/QualitativePerformance.ts
Labels: Shaman, core, Classic, The War Within

#7093 7079 Affliction warlock - FIX shadow embrace
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/modules/spells/ShadowEmbrace.tsx
  src/common/SPELLS/warlock.ts
Labels: Warlock, The War Within

#7096 Added spelldata for TWW spellthreads and added them to EnchantChecker
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/enchants.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: The War Within

#7097 [Classic] Cata Firelands Raid
  src/CHANGELOG.tsx
  src/game/classic/ZONES.ts
  src/game/raids/cata_firelands/Alysrazor.ts
  src/game/raids/cata_firelands/Baleroc.ts
  src/game/raids/cata_firelands/Bethtilac.ts
  src/game/raids/cata_firelands/LordRhyolith.ts
  src/game/raids/cata_firelands/MajordomoStaghelm.ts
  src/game/raids/cata_firelands/Ragnaros.ts
  src/game/raids/cata_firelands/Shannox.ts
  src/game/raids/cata_firelands/images/AlysrazorHeadshot.jpg
  src/game/raids/cata_firelands/images/BalerocHeadshot.jpg
  src/game/raids/cata_firelands/images/BethtilacHeadshot.jpg
  src/game/raids/cata_firelands/images/CataImpossibleOdds.jpg
  src/game/raids/cata_firelands/images/LordRhyolithHeadshot.jpg
  src/game/raids/cata_firelands/images/MajordomoStaghelmHeadshot.jpg
  src/game/raids/cata_firelands/images/RagnarosHeadshot.jpg
  src/game/raids/cata_firelands/images/ShannoxHeadshot.jpg
  src/game/raids/cata_firelands/index.ts
  src/game/raids/index.ts
Labels: Classic

#7080 fix: TWW Fix in the premium login component
  src/CHANGELOG.tsx
  src/interface/PremiumLoginPanel.tsx
Labels: core
