Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-11, with the labels that each got.

#7169 [Mistweaver] Improve accuracy of Mistwrap module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/spells/EnvelopingBreath.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/EnvelopingMists.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/MistWrap.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/MistyPeaks.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ShaohaosLessons.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
Labels: Monk, The War Within

#7170 [Frost Death Knight] Frost updates for 1105
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
  src/analysis/retail/deathknight/frost/CHANGELOG.tsx
  src/analysis/retail/deathknight/frost/CONFIG.tsx
  src/analysis/retail/deathknight/frost/modules/Abilities.tsx
  src/analysis/retail/deathknight/frost/modules/features/KillingMachine.tsx
  src/analysis/retail/deathknight/frost/modules/talents/HornOfWinter.tsx
  src/common/TALENTS/deathknight.ts
Labels: Death Knight, The War Within

#7056 Improve tracking of cooldowns and haste for Fury (and arms)
  package.json
  pnpm-lock.yaml
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CONFIG.tsx
  src/analysis/retail/warrior/arms/CombatLogParser.tsx
  src/analysis/retail/warrior/arms/modules/Abilities.ts
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/buffdebuff/Enrage.tsx
  src/analysis/retail/warrior/fury/modules/core/Haste.ts
  src/analysis/retail/warrior/fury/modules/features/Buffs.ts
  src/analysis/retail/warrior/fury/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/warrior/fury/modules/features/SpellUsable.ts
  src/analysis/retail/warrior/fury/modules/normalizers/EnrageBeforeBloodthirst.ts
  src/analysis/retail/warrior/fury/modules/normalizers/EnrageRefresh.ts
  src/analysis/retail/warrior/fury/modules/spells/Recklessness.tsx
  src/analysis/retail/warrior/fury/modules/spells/Whirlwind.tsx
  src/analysis/retail/warrior/fury/modules/talents/AngerManagement.tsx
  src/analysis/retail/warrior/fury/modules/talents/BerserkersTorment.tsx
  src/analysis/retail/warrior/fury/modules/talents/ChampionsSpear.tsx
  src/analysis/retail/warrior/fury/modules/talents/HackAndSlash.tsx
  src/analysis/retail/warrior/fury/modules/talents/SuddenDeath.tsx
  src/analysis/retail/warrior/protection/modules/Abilities.ts
  src/analysis/retail/warrior/shared/modules/normalizers/rage/GenerateRageEventsNormalizer.ts
  src/analysis/retail/warrior/shared/modules/talents/ChampionsMight.tsx
  src/analysis/retail/warrior/shared/modules/talents/ChampionsSpear.tsx
  src/common/SPELLS/warrior.ts
  src/parser/core/BuffRefreshNormalizer.test.ts
  src/parser/core/BuffRefreshNormalizer.ts
  src/parser/shared/modules/DistanceMoved.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Warrior, core, Classic, The War Within

#7168 [Shadow] Add Support and Statistics for Shadow Archon Hero Talent Tree
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/spells/Voidform.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/Concentrated Infusion.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/EmpoweredSurges.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/EnergyCompression.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/EnergyCycle.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/ManifestedPower.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/PerfectedForm.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/ResonantEnergy.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/SustainedPotency.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/TormentedSpirits.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7165 [Classic] Demono doomguard quality section
  src/analysis/classic/mage/arcane/modules/Buffs.tsx
  src/analysis/classic/warlock/demonology/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/CONFIG.tsx
  src/analysis/classic/warlock/demonology/CombatLogParser.ts
  src/analysis/classic/warlock/demonology/Guide.tsx
  src/analysis/classic/warlock/demonology/guide/DoomguardSection.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Doomguard.tsx
  src/common/SPELLS/classic/enchanting.ts
  src/common/SPELLS/classic/engineering.ts
  src/common/SPELLS/classic/index.ts
  src/common/SPELLS/classic/tailoring.ts
  src/common/SPELLS/classic/warlock.ts
Labels: Mage, Warlock, Classic

#7173 [Mistweaver] Missed rushing wind kick references
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/constants.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/HeartOfTheJadeSerpent.tsx
Labels: Monk, The War Within

#7174 Added Two Trinkets to TWW (Mad Queens Mandate & Ovinax Mercurial Egg)
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/parser/retail/modules/items/thewarwithin/trinkets/MadQueensMandate.ts
  src/parser/retail/modules/items/thewarwithin/trinkets/OvinaxMercurialEgg.ts
Labels: The War Within

#7177 [Shadow] Add Basic Support for New Spells Added by Voidweaver Hero Talents.
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/core/Pet.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/spells/Shadowfiend.tsx
  src/analysis/retail/priest/shadow/modules/talents/Archon/EnergyCompression.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkAscension.tsx
  src/analysis/retail/priest/shadow/modules/talents/IdolOfYshaarj.tsx
  src/analysis/retail/priest/shadow/modules/talents/InescapableTorment.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/EntropicRift.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/VoidBlast.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7163 feat(warrior/protection): Added Burst of Power talent as a reset trigger for Shield Slam
  src/analysis/retail/warrior/protection/CHANGELOG.tsx
  src/analysis/retail/warrior/protection/CombatLogParser.ts
  src/analysis/retail/warrior/protection/modules/talents/BurstOfPower.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within

#7178 Updated Hunter MM Tier Set + Ran Update Script
  scripts/talents/generate-talents.ts
  src/CHANGELOG.tsx
  src/analysis/retail/hunter/marksmanship/CHANGELOG.tsx
  src/analysis/retail/hunter/marksmanship/CombatLogParser.ts
  src/analysis/retail/hunter/marksmanship/modules/checklist/Module.tsx
  src/analysis/retail/hunter/marksmanship/modules/items/MMTier2P.tsx
  src/analysis/retail/hunter/marksmanship/modules/items/MMTier4P.tsx
  src/analysis/retail/hunter/marksmanship/modules/items/T29MMTier4P.tsx
  src/analysis/retail/hunter/marksmanship/modules/spells/PreciseShots.tsx
  src/analysis/retail/hunter/marksmanship/modules/talents/EagletalonsTrueFocus.tsx
  src/common/SPELLS/hunter.ts
  src/common/TALENTS/hunter.ts
Labels: Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, Evoker, The War Within

#7181 Enhancement 11.0.5
  scripts/talents/generate-talents.ts
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/guide/FlameShockSubSection.tsx
  src/analysis/retail/shaman/elemental/modules/Abilities.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/elemental/modules/talents/FlashOfLightning.tsx
  src/analysis/retail/shaman/elemental/modules/talents/SkybreakersFieryDemise.tsx
  src/analysis/retail/shaman/elemental/modules/talents/StormElemental.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Stormkeeper.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/constants.ts
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Stormbringer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponResourceNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/spells/Stormsurge.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalAssault.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalSpirits.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/SwirlingMaelstrom.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ThorimsInvocation.tsx
  src/analysis/retail/shaman/shared/Abilities.tsx
  src/common/SPELLS/shaman.ts
  src/common/TALENTS/shaman.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Shaman, core, The War Within

#7186 [Augmentation] Fix nil issue with Breath of Eons module when a buff target has missing combatant info
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
Labels: Evoker, The War Within

#7187 [Devastation] Update Shattering Star & Eternity Surge when using TWW1 4pc
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/Abilities.tsx
Labels: Evoker, The War Within

#7189 Crash lightning was too high in APL, VB missing GCD
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Stormbringer.tsx
Labels: Shaman, The War Within

#7184 Druid Balance - fixed an issue where Celestial Alignment wouldn't show in Cooldowns Tab when Orbital Strike is chosen
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/balance/modules/features/CooldownThroughputTracker.tsx
Labels: Druid, The War Within

#7185 Druid Resto - Updated HarmoniusBlooming and Mastery module to account for talent now 1 point with the effect of the old 2 pointer
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/core/Mastery.ts
  src/analysis/retail/druid/restoration/modules/spells/HarmoniusBlooming.tsx
Labels: Druid, The War Within

#7188 update talents for 11.0.5
  scripts/talents/generate-talents.ts
  src/analysis/retail/hunter/beastmastery/constants.ts
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/features/Abilities.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/shared/DuskAndDawn.tsx
  src/analysis/retail/paladin/shared/SealOfAlacrity.tsx
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CombatLogParser.ts
  src/analysis/retail/rogue/assassination/constants.tsx
  src/analysis/retail/rogue/assassination/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/rogue/assassination/modules/Abilities.tsx
  src/analysis/retail/rogue/assassination/modules/core/Snapshots.tsx
  src/analysis/retail/rogue/assassination/modules/spells/GarroteUptimeAndSnapshots.tsx
  src/analysis/retail/rogue/assassination/normalizers/SepsisLinkNormalizer.ts
  src/analysis/retail/rogue/shared/constants.ts
  src/common/TALENTS/demonhunter.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/hunter.ts
  src/common/TALENTS/mage.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/rogue.ts
  src/common/TALENTS/warlock.ts
  src/common/TALENTS/warrior.ts
  src/interface/BAD_ICONS.ts
  src/interface/SpellIcon.tsx
Labels: Hunter, Mage, Paladin, Priest, Rogue, Warlock, Warrior, Demon Hunter, core, Evoker, The War Within

#7179 Hpriest
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/constants.ts
Labels: Priest, The War Within

#7193 [Fire Mage] The War Within Update
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/fire/Checklist/Component.tsx
  src/analysis/retail/mage/fire/Checklist/Module.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/Guide.tsx
  src/analysis/retail/mage/fire/SPELLS.ts
  src/analysis/retail/mage/fire/core/Combustion.tsx
  src/analysis/retail/mage/fire/core/CombustionActiveTime.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
  src/analysis/retail/mage/fire/core/HotStreak.tsx
  src/analysis/retail/mage/fire/guide/Combustion.tsx
  src/analysis/retail/mage/fire/guide/FeelTheBurn.tsx
  src/analysis/retail/mage/fire/guide/HeatingUp.tsx
  src/analysis/retail/mage/fire/guide/HotStreak.tsx
  src/analysis/retail/mage/fire/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/fire/talents/FeelTheBurn.tsx
  src/analysis/retail/mage/shared/constants.tsx
Labels: Mage, The War Within

#7191 add support for San'layn Blood DK
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/components/ResourceWasteProblemRenderer.tsx
  src/analysis/retail/deathknight/blood/modules/features/RuneWaste.tsx
  src/analysis/retail/deathknight/blood/modules/runicpower/RunicPowerTracker.ts
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/DeathStrikeSection.tsx
  src/analysis/retail/deathknight/blood/modules/talents/EssenceOfTheBloodQueen.ts
  src/analysis/retail/deathknight/blood/modules/talents/VampiricStrike.tsx
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/BlackoutCombo/BlackoutComboSection.tsx
  src/common/SPELLS/deathknight.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/shared/modules/Haste.ts
Labels: Death Knight, Monk, core, Classic, The War Within

#7190 Feature Survival Guides
  src/analysis/retail/hunter/shared/HowlOfThePack.tsx
  src/analysis/retail/hunter/shared/talents/ExplosiveShot.tsx
  src/analysis/retail/hunter/shared/talents/KillShot.tsx
  src/analysis/retail/hunter/shared/talents/SurvivalOfTheFittest.tsx
  src/analysis/retail/hunter/survival/CHANGELOG.tsx
  src/analysis/retail/hunter/survival/CONFIG.tsx
  src/analysis/retail/hunter/survival/CombatLogParser.ts
  src/analysis/retail/hunter/survival/modules/apl/AplCheck.tsx
  src/analysis/retail/hunter/survival/modules/guide/Guide.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/defensives/DamageTaken.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/defensives/Exhiliration.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/intro/IntroSection.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/resources/FocusGraph.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/resources/ResourceUseSection.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/rotation/ActiveTime.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/rotation/Cooldown.tsx
  src/analysis/retail/hunter/survival/modules/guide/sections/rotation/RotationSection.tsx
  src/analysis/retail/hunter/survival/modules/talents/Butchery.tsx
  src/analysis/retail/hunter/survival/modules/talents/FlankingStrike.tsx
  src/analysis/retail/hunter/survival/modules/talents/FuryOfTheEagle.tsx
  src/analysis/retail/hunter/survival/modules/talents/RaptorStrike.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireBomb.tsx
  src/analysis/retail/hunter/survival/normalizers/CastLinkNormalizer.ts
  src/common/SPELLS/hunter.ts
  src/parser/core/CombatLogParser.tsx
Labels: Hunter, core, The War Within

#7195 [Arcane Mage] 11.0.5 Update
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/core/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneMissiles.tsx
Labels: Mage, The War Within

#7194 frost_mage: fix typo in comet storm cast info
  src/CONTRIBUTORS.ts
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/talents/CometStorm.tsx
Labels: Mage, The War Within

#7196 [Augmentation] Update Molten Embers multipliers & add guide section
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/MoltenEmbers.tsx
Labels: Evoker, The War Within
