Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2024-10, with the labels that each got.

#7095 added consume flame to guide
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/Guide.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ConsumeFlame.tsx
Labels: Evoker, The War Within

#7099 Improve Consume Flame guide section
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/Guide.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ConsumeFlame.tsx
  src/common/TALENTS/evoker.ts
Labels: Evoker, The War Within

#7100 Add support for Flameshaper to Stasis module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
Labels: Evoker, The War Within

#7101 Update consume flame wording
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ConsumeFlame.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Stasis.tsx
Labels: Evoker, The War Within

#7102 [Enhancement] Guide updates
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/Guide.tsx
  src/analysis/retail/shaman/enhancement/common.ts
  src/analysis/retail/shaman/enhancement/constants.ts
  src/analysis/retail/shaman/enhancement/modules/guide/Cooldowns.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalSpirits.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/parser/core/SpellUsage/core.tsx
  src/parser/ui/QualitativePerformance.ts
Labels: Shaman, core, The War Within

#7105 feature(TTW-7104): Individual character Log Header
  src/CHANGELOG.tsx
  src/common/WCL_TYPES.ts
  src/game/CLASSES.ts
  src/interface/CharacterParses.tsx
  src/interface/GuildReports.tsx
  src/interface/report/Results/Header.scss
  src/interface/report/Results/PlayerInfo.scss
  src/interface/report/Results/PlayerInfo.tsx
Labels: core

#7098 Warlock - Re-enabled Demonology + Destruction + Demonic Healthstone support
  src/analysis/retail/warlock/affliction/CHANGELOG.tsx
  src/analysis/retail/warlock/affliction/CONFIG.tsx
  src/analysis/retail/warlock/affliction/modules/checklist/Component.tsx
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/destruction/CHANGELOG.tsx
  src/analysis/retail/warlock/destruction/CONFIG.tsx
  src/analysis/retail/warlock/destruction/modules/features/Checklist/Component.tsx
  src/common/SPELLS/others.ts
  src/common/TALENTS/warlock.ts
  src/parser/retail/modules/items/Healthstone.ts
Labels: Warlock, The War Within

#7089 feature(TTW): Spymaster's Web Trinket
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/thewarwithin/trinkets/SpymastersWeb.tsx
Labels: core, The War Within

#7108 [Augmentation] Fix some edgecases for Breath of Eons module
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/breahtofeons/BreathOfEonsRotational.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
Labels: Evoker, The War Within

#7109 [Evoker] Fix an issue with MajorDefensive module when recieving Renewing Blaze externally
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/DefensiveNormalizer.ts
Labels: Evoker, The War Within

#6871 Druid - Control of the Dream
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CombatLogParser.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/shared/spells/ControlOfTheDream.tsx
Labels: Druid, The War Within

#7107 [Holy Paladin] Uptime issues fix
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/modules/features/Abilities.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, The War Within

#7116 fix(TTW): Character Tab Regional Errors
  src/CHANGELOG.tsx
  src/interface/CharacterParses.tsx
  src/interface/report/Results/PlayerInfo.tsx
Labels: core

#7115 Remove BDK rotational analysis and handle Deathbringer effects
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CONFIG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/modules/Abilities.ts
  src/analysis/retail/deathknight/blood/modules/features/AplCheck.tsx
  src/analysis/retail/deathknight/blood/modules/features/MarrowrendUsage.tsx
  src/analysis/retail/deathknight/blood/modules/features/RuneWaste.tsx
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/UsageSection.tsx
  src/analysis/retail/deathknight/blood/modules/spells/DeathStrike/index.tsx
  src/analysis/retail/deathknight/shared/ExterminateCostNormalizer.ts
  src/common/SPELLS/deathknight.ts
Labels: Death Knight, The War Within

#7113 [Arcane Mage] Update for The War Within (Again)
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/SPELLS.ts
  src/analysis/retail/mage/arcane/core/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/core/ArcaneChargeTracker.tsx
  src/analysis/retail/mage/arcane/core/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/core/Buffs.tsx
  src/analysis/retail/mage/arcane/core/Clearcasting.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneBarrage.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneMissiles.tsx
  src/analysis/retail/mage/arcane/guide/ArcaneOrb.tsx
  src/analysis/retail/mage/arcane/guide/Clearcasting.tsx
  src/analysis/retail/mage/arcane/guide/NetherPrecision.tsx
  src/analysis/retail/mage/arcane/normalizers/ArcaneCharges.ts
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/talents/NetherPrecision.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
  src/parser/ui/ManaStyles.tsx
Labels: Mage, core, The War Within

#7122 [Enhancement] Fixing crash in Static Accumulation module
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/Abilities.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/MaelstromUsage.tsx
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponDetails.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/StaticAccumulation.tsx
  src/analysis/retail/shaman/shared/hero/stormbringer/StormbringerTab.tsx
Labels: Shaman, The War Within

#7126 [Unholy DK] Correct GCD and Cooldown for AMS
  src/analysis/retail/deathknight/unholy/CHANGELOG.tsx
  src/analysis/retail/deathknight/unholy/modules/Abilities.tsx
Labels: Death Knight, The War Within

#7114 [Survival Hunter] Enable Spec for TWW
  src/analysis/retail/hunter/shared/talents/KillShot.tsx
  src/analysis/retail/hunter/survival/CHANGELOG.tsx
  src/analysis/retail/hunter/survival/CONFIG.tsx
  src/analysis/retail/hunter/survival/CombatLogParser.ts
  src/analysis/retail/hunter/survival/constants.ts
  src/analysis/retail/hunter/survival/modules/Abilities.tsx
  src/analysis/retail/hunter/survival/modules/Buffs.tsx
  src/analysis/retail/hunter/survival/modules/checklist/Component.tsx
  src/analysis/retail/hunter/survival/modules/checklist/Module.tsx
  src/analysis/retail/hunter/survival/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/hunter/survival/modules/resources/Focus.tsx
  src/analysis/retail/hunter/survival/modules/resources/SurvivalFocusCapTracker.tsx
  src/analysis/retail/hunter/survival/modules/talents/AlphaPredator.tsx
  src/analysis/retail/hunter/survival/modules/talents/BirdOfPrey.tsx
  src/analysis/retail/hunter/survival/modules/talents/Bloodseeker.tsx
  src/analysis/retail/hunter/survival/modules/talents/Butchery.tsx
  src/analysis/retail/hunter/survival/modules/talents/ButcheryCarve.tsx
  src/analysis/retail/hunter/survival/modules/talents/CoordinatedAssault.tsx
  src/analysis/retail/hunter/survival/modules/talents/FlankingStrike.tsx
  src/analysis/retail/hunter/survival/modules/talents/FrenzyStrikes.tsx
  src/analysis/retail/hunter/survival/modules/talents/GuerrillaTactics.tsx
  src/analysis/retail/hunter/survival/modules/talents/HydrasBite.tsx
  src/analysis/retail/hunter/survival/modules/talents/KillCommand.tsx
  src/analysis/retail/hunter/survival/modules/talents/MongooseBite.tsx
  src/analysis/retail/hunter/survival/modules/talents/RaptorStrike.tsx
  src/analysis/retail/hunter/survival/modules/talents/RuthlessMarauder.tsx
  src/analysis/retail/hunter/survival/modules/talents/TipOfTheSpear.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireBomb.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireInfusion/PheromoneBomb.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireInfusion/ShrapnelBomb.tsx
  src/analysis/retail/hunter/survival/modules/talents/WildfireInfusion/VolatileBomb.tsx
  src/common/SPELLS/hunter.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Hunter, core, The War Within

#7127 Hide Circle of Healing analysis if not talented
  src/CONTRIBUTORS.ts
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/Guide.tsx
Labels: Priest, The War Within

#7124 Add Coalesence module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/shared/hero/MasterOfHarmony/constants.ts
  src/analysis/retail/monk/shared/hero/MasterOfHarmony/talents/Coalesence.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7129 [Death Knight] Update Frost analysis for TWW
  src/analysis/retail/deathknight/blood/CHANGELOG.tsx
  src/analysis/retail/deathknight/blood/CombatLogParser.ts
  src/analysis/retail/deathknight/blood/modules/features/MarrowrendUsage.tsx
  src/analysis/retail/deathknight/blood/modules/features/RuneWaste.tsx
  src/analysis/retail/deathknight/frost/CHANGELOG.tsx
  src/analysis/retail/deathknight/frost/CONFIG.tsx
  src/analysis/retail/deathknight/frost/CombatLogParser.ts
  src/analysis/retail/deathknight/frost/modules/Abilities.tsx
  src/analysis/retail/deathknight/frost/modules/features/CooldownThroughputTracker.ts
  src/analysis/retail/deathknight/frost/modules/features/RuneForgeChecker.tsx
  src/analysis/retail/deathknight/frost/modules/features/SpellUsable.ts
  src/analysis/retail/deathknight/frost/modules/talents/BreathOfSindragosa.tsx
  src/analysis/retail/deathknight/shared/ExterminateCostNormalizer.ts
  src/analysis/retail/deathknight/shared/index.ts
  src/analysis/retail/deathknight/shared/runeforges/RuneOfHysteria.tsx
  src/analysis/retail/deathknight/unholy/CombatLogParser.ts
  src/analysis/retail/deathknight/unholy/modules/Abilities.tsx
  src/common/SPELLS/deathknight.ts
  src/interface/BAD_ICONS.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Death Knight, core, The War Within

#7117 attempt to remove user (ip) information before sending to sentry
  src/index.tsx
Labels: core

#7118 [Resto Shaman[ Fix another pre-pull error with Surging Totem.
  .gitignore
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/talents/totemic/SurgingTotem.tsx
  src/analysis/retail/shaman/restoration/normalizers/SurgingTotemPrePullNormalizer.ts
  src/common/NPCS/shaman.ts
Labels: Shaman, The War Within

#7119 [Mistweaver] fix(TTW): Fix a crash for Celestial Conduit
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7125 feature(TWW): Treacherous Transmitter trinket
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/thewarwithin/trinkets/TreacherousTransmitter.ts
Labels: core, The War Within

#7130 [Arcane Mage] Additional Fixes
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/guide/ArcaneSurge.tsx
  src/analysis/retail/mage/arcane/guide/TouchOfTheMagi.tsx
  src/analysis/retail/mage/arcane/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/mage/arcane/normalizers/NetherPrecision.ts
  src/analysis/retail/mage/arcane/talents/TouchOfTheMagi.tsx
Labels: Mage, The War Within

#7131 [Enhancement] Fixing prepull buffs and maelstrom level
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/ElementalSpiritsPrepullNormalizer.ts
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponResourceNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalSpirits.tsx
  src/parser/retail/modules/items/thewarwithin/embellishments/DarkmoonSigilAscension.tsx
Labels: Shaman, The War Within

#7111 Refactor HealingValue and DamageValue to avoid accidentally excluding absorbed damage/healing in stats
  src/CHANGELOG.tsx
  src/analysis/classic/druid/restoration/modules/spells/Rejuvenation.tsx
  src/analysis/classic/druid/restoration/modules/spells/WildGrowth.tsx
  src/analysis/classic/warlock/affliction/modules/spells/DrainSoul.tsx
  src/analysis/retail/demonhunter/shared/modules/spells/ImmolationAura/index.tsx
  src/analysis/retail/druid/feral/modules/spells/AdaptiveSwarm.tsx
  src/analysis/retail/druid/feral/modules/spells/Berserk.tsx
  src/analysis/retail/druid/guardian/modules/spells/Earthwarden.jsx
  src/analysis/retail/druid/restoration/modules/core/Mastery.ts
  src/analysis/retail/druid/restoration/modules/spells/Flourish.tsx
  src/analysis/retail/druid/restoration/modules/spells/Rejuvenation.tsx
  src/analysis/retail/druid/restoration/modules/spells/ThrivingVegetation.tsx
  src/analysis/retail/druid/restoration/modules/spells/Verdancy.tsx
  src/analysis/retail/druid/restoration/modules/spells/WildGrowth.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/windwalker/modules/talents/JadeIgnition.tsx
  src/analysis/retail/paladin/holy/modules/beacons/BeaconHealingDone.tsx
  src/analysis/retail/paladin/holy/modules/features/MasteryEffectiveness.tsx
  src/analysis/retail/paladin/holy/modules/features/Overhealing.tsx
  src/analysis/retail/priest/discipline/modules/features/AtonementHealingDone.tsx
  src/analysis/retail/priest/holy/modules/core/EchoOfLightMastery.tsx
  src/analysis/retail/priest/holy/modules/features/HolyPriestHealingEfficiencyTracker.tsx
  src/analysis/retail/priest/holy/modules/spells/HolyNova.tsx
  src/analysis/retail/priest/shadow/modules/talents/VampiricEmbrace.tsx
  src/analysis/retail/rogue/subtlety/modules/talents/DarkShadow/DarkShadowContribution.tsx
  src/analysis/retail/shaman/restoration/modules/core/HealingEfficiencyTracker.ts
  src/analysis/retail/shaman/restoration/modules/features/MasteryEffectiveness.jsx
  src/analysis/retail/warlock/affliction/modules/spells/DrainSoul.tsx
  src/analysis/retail/warlock/affliction/modules/spells/PhantomSingularity.tsx
  src/analysis/retail/warlock/affliction/modules/spells/VileTaint.tsx
  src/analysis/retail/warlock/destruction/modules/talents/Cataclysm.tsx
  src/analysis/retail/warlock/destruction/modules/talents/Inferno.tsx
  src/analysis/retail/warlock/destruction/modules/talents/Shadowburn.tsx
  src/analysis/retail/warlock/destruction/modules/talents/SoulConduit.tsx
  src/analysis/retail/warlock/destruction/modules/talents/SoulFire.tsx
  src/analysis/retail/warlock/shared/GrimoireOfSacrifice.tsx
  src/analysis/retail/warrior/arms/modules/talents/Cleave.tsx
  src/analysis/retail/warrior/arms/modules/talents/SecondWind.tsx
  src/analysis/retail/warrior/arms/modules/talents/Skullsplitter.tsx
  src/analysis/retail/warrior/arms/modules/talents/StormBolt.tsx
  src/parser/core/healingEfficiency/HealingEfficiencyTracker.ts
  src/parser/shared/modules/AbilityTracker.ts
  src/parser/shared/modules/DamageValue.jsx
  src/parser/shared/modules/DamageValue.tsx
  src/parser/shared/modules/HealingValue.jsx
  src/parser/shared/modules/HealingValue.tsx
  src/parser/shared/modules/features/BaseHealerStatValues.tsx
  src/parser/shared/modules/throughput/DamageDone.tsx
  src/parser/shared/modules/throughput/DamageTaken.tsx
  src/parser/shared/modules/throughput/HealingDone.tsx
Labels: Druid, Monk, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Demon Hunter, core, Classic, The War Within

#7132 correct PoH and a few other things in the guide
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/Guide.tsx
  src/analysis/retail/priest/holy/modules/spells/PrayerOfHealing.tsx
Labels: Priest, The War Within

#7133 fix talent error that is spamming sentry + remove redux state from sentry upload
  src/CHANGELOG.tsx
  src/interface/report/Results/PlayerInfoTalent.tsx
  src/interface/report/Results/PlayerInfoTalents.tsx
  src/interface/useSpellInfo.ts
  src/parser/core/Events.ts
  src/store.ts
Labels: core

#7134 [Mistweaver] Fixed Uplifted
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Revival.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/UpliftedSpirits.tsx
Labels: Monk, The War Within

#7135 Fixed an issue where HealingDone and DamageDone weren't properly tallying values
  src/CHANGELOG.tsx
  src/parser/shared/modules/throughput/DamageDone.tsx
  src/parser/shared/modules/throughput/HealingDone.tsx
Labels: Classic, The War Within

#7137 update text for blackout combo section to reflect actual BoF behavior
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/BlackoutCombo/BlackoutComboSection.tsx
Labels: Monk, The War Within

#7138 Add linting to avoid missing keys, and fix all existing problems regarding missing keys
  .eslintrc.cjs
  src/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/spells/Swiftmend.tsx
  src/analysis/retail/druid/shared/spells/ControlOfTheDream.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DragonRageWindows.tsx
  src/analysis/retail/priest/discipline/modules/features/AtonementHealingBreakdown.tsx
  src/analysis/retail/rogue/subtlety/modules/core/GeneratorFollowingVanish.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/ElementalBlastGuide.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/LegacyOfTheFrostWitch.tsx
  src/analysis/retail/warrior/arms/modules/talents/AngerManagement.tsx
  src/parser/classic/modules/items/FoodChecker.tsx
  src/parser/retail/modules/items/thewarwithin/embellishments/DarkmoonSigilAscension.tsx
  src/parser/shared/metrics/apl/annotate.tsx
Labels: Druid, Priest, Rogue, Shaman, Warrior, Classic, Evoker, The War Within

#7136 Fix resto shaman ability cooldown times
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
Labels: Shaman, The War Within

#7123 [Core] Updating item level scaling data
  lingui.config.ts
  package.json
  pnpm-lock.yaml
  scripts/scaling/scaling-import.ts
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/parser/core/effectMultiplierTables.generated.jsx
  src/parser/core/stats.jsx
  src/parser/core/stats.test.jsx
  src/parser/core/stats.ts
  src/parser/core/statsMultiplierTables.generated.jsx
  src/parser/core/statsMultiplierTables/combat-rating-multipliers.generated.json
  src/parser/core/statsMultiplierTables/effect-points.generated.json
  src/parser/core/statsMultiplierTables/rand-points.generated.json
  src/parser/retail/modules/items/thewarwithin/trinkets/SpymastersWeb.tsx
  src/parser/shared/modules/Haste.ts
  src/parser/shared/modules/StatTracker.ts
  vite.config.ts
Labels: core, Classic, The War Within

#7141 [ci] pin runners to ubuntu 22.04
  .github/workflows/build.yml
Labels: core

#7142 fix: Lightweaver heals not consuming buff showing as bad cast.
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightweaver.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Priest, The War Within

#7139 Add Aspect of Harmony guide for MW
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/heroTalents/AspectOfHarmony.tsx
  src/analysis/retail/monk/shared/hero/MasterOfHarmony/talents/AspectOfHarmonyBase.tsx
  src/common/SPELLS/monk.ts
  src/parser/ui/QualitativePerformance.ts
Labels: Monk, core, The War Within

#7140 [Shadow] Update guide view recommendations to be more accurate
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/modules/features/DotUptimes.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/spells/DevouringPlague.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowWordDeath.tsx
  src/analysis/retail/priest/shadow/modules/spells/ShadowWordPain.tsx
  src/analysis/retail/priest/shadow/modules/spells/VampiricTouch.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkEvangelism.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindFlayInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/MindSpikeInsanity.tsx
  src/analysis/retail/priest/shadow/modules/talents/UnfurlingDarkness.tsx
Labels: Priest, The War Within

#7144 Fury cap revised for FS VDH
  src/CONTRIBUTORS.ts
  src/analysis/retail/demonhunter/shared/constants.ts
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/modules/talents/Fracture.tsx
Labels: Demon Hunter, The War Within

#7145 [Shadow] Add statistic for TWW season 1 tier set
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/modules/tier/ShadowTierTWWS1.tsx
  src/common/SPELLS/priest.ts
  src/parser/shared/modules/Haste.ts
Labels: Priest, Classic, The War Within

#7149 [Arcane Mage] Updated Warning
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CONFIG.tsx
  src/analysis/retail/mage/arcane/Guide.tsx
Labels: Mage, The War Within

#7151 Improve Consume Flame module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/ConsumeFlame.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/RedEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
Labels: Evoker, The War Within

#7148 feat: attribute binding heals and trail of light healing to lightweaver
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/Lightweaver.tsx
  src/analysis/retail/priest/holy/normalizers/CastLinkNormalizer.ts
Labels: Priest, The War Within

#7152 [Evoker] Update CastLinks to account for extra combatlog delays introduced in 11.0.5
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/DefensiveCastLinkNormalizer.ts
Labels: Evoker, The War Within

#7150 Update MW for 11.0.5
  scripts/talents/generate-talents.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplCheck.tsx
  src/analysis/retail/monk/mistweaver/modules/core/apl/AplChoiceDescription.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
  src/analysis/retail/monk/mistweaver/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyDetails.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/mistweaver/modules/features/REMGraph.tsx
  src/analysis/retail/monk/mistweaver/modules/features/RisingMistBreakdown.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AverageTimeBetweenRSKs.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/BaseCelestialAnalyzer.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CraneStyle.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadefireTeachings.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/NourishingChi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/PoolOfMists.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RapidDiffusion.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingMist.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/UpliftedSpirits.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Vivify.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/GustOfMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/RenewingMistEventLinks.ts
  src/common/SPELLS/monk.ts
  src/common/TALENTS/monk.ts
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/Config.ts
Labels: Monk, core, Evoker, The War Within

#7154 [Mistweaver] Fixed Calming Coalescence and Jadefire Teachings
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/spells/CalmingCoalescence.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadefireTeachings.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7155 [Mistweaver] Added Rushing Wind Kick
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/spells/AverageTimeBetweenRSKs.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/CalmingCoalescence.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RushingWindKick.ts
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7143 [Frostfire Mage] fix frostfire bolt winters chill precast
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/SPELLS.ts
  src/analysis/retail/mage/frost/core/WintersChill.tsx
  src/analysis/retail/mage/frost/normalizers/CastLinkNormalizer.ts
Labels: Mage, The War Within

#7128 Resonant Words guide subsection
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/Guide.tsx
  src/analysis/retail/priest/holy/modules/talents/BottomRow/ResonantWords.tsx
Labels: Priest, The War Within

#7153 feat(warrior/protection): Added minimal compatibility
  src/CONTRIBUTORS.ts
  src/analysis/retail/warrior/protection/CHANGELOG.tsx
  src/analysis/retail/warrior/protection/CONFIG.tsx
  src/analysis/retail/warrior/protection/CombatLogParser.ts
  src/analysis/retail/warrior/protection/modules/Abilities.ts
  src/analysis/retail/warrior/protection/modules/core/Haste.ts
  src/analysis/retail/warrior/protection/modules/features/Checklist/Component.tsx
  src/analysis/retail/warrior/protection/modules/items/tier30/ProtFourPiece.tsx
  src/analysis/retail/warrior/protection/modules/items/tier30/ProtTwoPiece.tsx
  src/analysis/retail/warrior/protection/modules/spells/RavagerHitCheck.tsx
  src/analysis/retail/warrior/protection/modules/spells/Thunderlord.tsx
  src/analysis/retail/warrior/protection/normalizers/RageGenerationNormalizer.ts
  tsconfig.json
Labels: Warrior, The War Within

#7146 [Frost Mage] Apl updates for 11.0.5
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/apl/FrostAplCommons.tsx
  src/analysis/retail/mage/frost/apl/FrostfireAplCheck.tsx
  src/analysis/retail/mage/frost/apl/SpellslingerAplCheck.tsx
  src/parser/shared/metrics/apl/conditions/debuffStacks.tsx
  src/parser/shared/metrics/apl/conditions/index.tsx
Labels: Mage, Classic, The War Within

#7157 fix: atonement sources module
  src/CONTRIBUTORS.ts
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/modules/features/AtonementHealingDone.tsx
Labels: Priest, The War Within

#7158 Balance Druid 11.0.5 fixes
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/balance/Guide.tsx
  src/analysis/retail/druid/balance/constants.ts
  src/analysis/retail/druid/balance/modules/Abilities.tsx
  src/analysis/retail/druid/balance/modules/features/FillerUsage.tsx
  src/analysis/retail/druid/balance/modules/spells/Eclipse.tsx
  src/analysis/retail/druid/feral/modules/spells/OmenAndMomentOfClarity.tsx
  src/analysis/retail/druid/shared/spells/Lunation.tsx
  src/common/TALENTS/druid.ts
Labels: Druid, The War Within

#7159 windwalker: fix mastery not tracking SEF / WDP correctly
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/monk/windwalker/constants.ts
Labels: Monk, The War Within

#7160 windwalker: remove FSK from mastery tracking
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/constants.ts
Labels: Monk, The War Within

#7147 Reworked Lifebind module
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/constants.ts
  src/analysis/retail/evoker/preservation/modules/talents/EmeraldCommunion.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Lifebind.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/RedEventLinks.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/constants.ts
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/helpers.ts
Labels: Evoker, The War Within

#7164 feat(annotation-debugger): Added header for annotation rows and fixed minor rendering issues
  src/CHANGELOG.tsx
  src/interface/DebugAnnotationsTab.tsx
Labels: core

#7166 [Mistweaver] Update Rushing Wind Kick talent value for patch notes
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
Labels: Monk, The War Within

#7167 [Mistweaver] Add Rushing Wind Kick to the talent healing summary
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/AverageTimeBetweenRSKs.tsx
Labels: Monk, The War Within

#7156 [Preservation] Update Spiritbloom Guide
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/Guide.tsx
  src/analysis/retail/evoker/preservation/modules/talents/Spiritbloom.tsx
Labels: Evoker, The War Within

#7161 Druid 11.0.5
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/Guide.tsx
  src/analysis/retail/druid/restoration/modules/Abilities.tsx
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotTrackerRestoDruid.tsx
  src/analysis/retail/druid/restoration/modules/spells/RenewingSurge.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#7162 feat(warrior/protection): Added TWW1 2P Season 1 tier set effect.
  src/analysis/retail/warrior/protection/CHANGELOG.tsx
  src/analysis/retail/warrior/protection/CombatLogParser.ts
  src/analysis/retail/warrior/protection/modules/items/WarWithin2PS1TierSet.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within
