Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-09, with the labels that each got.

#7460 [Shadow] Update Suggestions when using Archon Hero Talents
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/spells/Voidform.tsx
  src/analysis/retail/priest/shadow/modules/talents/PsychicLink.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTorrent.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidVolley.tsx
Labels: Priest, The War Within

#7467 Coalescence now correctly amps Ancient Teachings and Awakened Jadefire
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/shared/hero/MasterOfHarmony/talents/Coalesence.tsx
Labels: Monk, The War Within

#7470 Remove Dimensius mechanic from Eons calculations
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/modules/util/abilityFilter.ts
Labels: Evoker, The War Within

#7474 use average instead of median for support stats.
  src/common/server-metrics.ts
  src/interface/routes/support-stats.tsx
Labels: core
