Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-06, with the labels that each got.

#7369 [Core] Add WCL user sign-in & private logs support
  src/CHANGELOG.tsx
  src/common/fetchWclApi.ts
  src/interface/PremiumLoginPanel.tsx
  src/interface/reducers/user.ts
  src/interface/report/PlayerLoader.tsx
  src/interface/report/ReportLoader.tsx
  src/interface/report/handleApiError.tsx
  src/interface/report/hooks/useEvents.ts
  src/interface/report/index.tsx
  src/interface/routes/premium.scss
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
Labels: core

#7367 issue6969 tww-warlock adds houndmasters gambit and wicked maw/shadowtouched
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/talents/TheHoundmastersGambit.tsx
  src/analysis/retail/warlock/demonology/modules/talents/WickedMaw.tsx
Labels: Warlock, The War Within

#7372 Revisited Horrific Visions Enchant suggestions
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/enchants.ts
  src/interface/report/Results/PlayerInfo.tsx
  src/interface/report/Results/enchantIdMap.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: core, The War Within

#7379 Update Spellthread enchant mapping
  src/CHANGELOG.tsx
  src/interface/report/Results/enchantIdMap.ts
Labels: core

#7378 Fix Soul Strike overcapping tracking for Demonology Warlock
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/demonology/modules/resources/SoulShardTracker.tsx
  src/analysis/retail/warlock/demonology/modules/talents/SoulStrike.tsx
Labels: Warlock, The War Within

#7377 Update patch compatibility and remove warning message for frost mage
  src/CONTRIBUTORS.ts
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
Labels: Mage, The War Within

#7386 Revert "Fix Soul Strike overcapping tracking for Demonology Warlock"
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/demonology/modules/resources/SoulShardTracker.tsx
  src/analysis/retail/warlock/demonology/modules/talents/SoulStrike.tsx
Labels: Warlock, The War Within

#7387 Correct Soul Shard tracking and update Soul Strike implementation
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/demonology/modules/talents/SoulStrike.tsx
Labels: Warlock, The War Within

#7391 windwalker: add slicing winds and update patch support
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/spells/SlicingWinds.tsx
Labels: Monk, The War Within

#7390 [Core] Don't use indices to loop through penaltythresholds for StatTracker
  src/parser/shared/modules/StatTracker.ts
Labels: Classic, The War Within

#7393 [Unholy] Update Unholy Death Knight Buffs for Patch 11.1.5
  src/analysis/retail/deathknight/unholy/CHANGELOG.tsx
  src/analysis/retail/deathknight/unholy/modules/Buffs.tsx
Labels: Death Knight, The War Within
