Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-02, with the labels that each got.

#7223 [Mistweaver] Update Thunder Focus Tea for 11.1
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
Labels: Monk, The War Within

#7224 small bugfixes (WW, MW)
  src/analysis/retail/monk/brewmaster/modules/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/core/MajorDefensives/DefensiveBuffs.tsx
  src/analysis/retail/monk/brewmaster/modules/core/MajorDefensives/FortifyingBrew.tsx
  src/analysis/retail/monk/brewmaster/modules/core/SharedBrews.ts
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/features/Abilities.tsx
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7225 fix Mana Usage chart
  src/CHANGELOG.tsx
  src/parser/shared/modules/resources/mana/ManaUsageChartComponent.tsx
Labels: Classic, The War Within

#7226 Update Resto Shaman for 11.0.7
  src/CONTRIBUTORS.ts
  src/analysis/retail/paladin/holy/CHANGELOG.tsx
  src/analysis/retail/paladin/holy/CONFIG.tsx
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CombatLogParser.tsx
  src/analysis/retail/shaman/restoration/Guide.tsx
  src/analysis/retail/shaman/restoration/constants.ts
  src/analysis/retail/shaman/restoration/modules/Abilities.ts
  src/analysis/retail/shaman/restoration/modules/core/HealingEfficiencyTracker.ts
  src/analysis/retail/shaman/restoration/modules/core/RiptideTracker.tsx
  src/analysis/retail/shaman/restoration/modules/features/CastBehavior.tsx
  src/analysis/retail/shaman/restoration/modules/features/TalentStatisticBox.tsx
  src/analysis/retail/shaman/restoration/modules/spells/ManaTideTotem.tsx
  src/analysis/retail/shaman/restoration/modules/spells/Resurgence.tsx
  src/analysis/retail/shaman/restoration/modules/spells/WaterShield.tsx
  src/analysis/retail/shaman/restoration/modules/talents/CoalescingWater.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Deluge.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Downpour.tsx
  src/analysis/retail/shaman/restoration/modules/talents/EarthenWallTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/NaturesSwiftness.tsx
  src/analysis/retail/shaman/restoration/modules/talents/PrimalTideCore.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Torrent.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Undulation.tsx
  src/analysis/retail/shaman/restoration/modules/talents/UnleashLife.tsx
  src/analysis/retail/shaman/restoration/modules/talents/WhiteWater.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/AmplificationCore.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/ImbuementMastery.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/LivelyTotems.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/Oversurge.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/Reactivity.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/SurgingTotem.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/TotemicRebound.tsx
  src/analysis/retail/shaman/restoration/modules/tier/TWW1TierSet.tsx
  src/analysis/retail/shaman/restoration/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/shaman/shared/talents/EarthShield.tsx
  src/common/SPELLS/shaman.ts
  src/interface/images/avatars/squided.png
  src/localization/en/messages.json
Labels: Paladin, Priest, Shaman, core, The War Within

#7228 fix display issue with dungeon pull selection
  src/CHANGELOG.tsx
  src/interface/report/Results/DungeonPullSelector.tsx
Labels: core

#7230 [Items] Tier 2 set IDs
  src/CHANGELOG.tsx
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
Labels: core

#7229 Resto shaman torrent fix
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/talents/Torrent.tsx
Labels: Shaman, The War Within

#7231 Druid Resto - added support for TWW S2 tier set
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotAttributor.ts
  src/analysis/retail/druid/restoration/modules/items/TWW2TierSet.tsx
  src/analysis/retail/druid/restoration/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/druid/restoration/normalizers/TWW2TierSetNormalizer.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#7232 Druid Feral - added support for TWW S2 tier set
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/modules/items/TWW2TierSet.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#7233 [Classic] Dragon Soul Raid
  src/CHANGELOG.tsx
  src/game/classic/ZONES.ts
  src/game/raids/cata_dragon_soul/Blackhorn.ts
  src/game/raids/cata_dragon_soul/DeathwingMadness.ts
  src/game/raids/cata_dragon_soul/DeathwingSpine.ts
  src/game/raids/cata_dragon_soul/Hagara.ts
  src/game/raids/cata_dragon_soul/Morchok.ts
  src/game/raids/cata_dragon_soul/Ultraxion.ts
  src/game/raids/cata_dragon_soul/Yorsahj.ts
  src/game/raids/cata_dragon_soul/Zonozz.ts
  src/game/raids/cata_dragon_soul/images/BlackhornHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/DeathwingMadnessHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/DeathwingSpineHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/DeathwingWallpaper.jpg
  src/game/raids/cata_dragon_soul/images/HagaraHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/MorchokHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/UltraxionHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/YorsahjHeadshot.jpg
  src/game/raids/cata_dragon_soul/images/ZonozzHeadshot.jpg
  src/game/raids/cata_dragon_soul/index.ts
  src/game/raids/index.ts
Labels: Classic

#7236 set up Undermine and M+ S2
  src/game/raids/builders.ts
  src/game/raids/index.ts
  src/game/raids/mythicplusseasontwo/CinderbrewMeadery.ts
  src/game/raids/mythicplusseasontwo/DarkflameCleft.ts
  src/game/raids/mythicplusseasontwo/MechagonWorkshop.ts
  src/game/raids/mythicplusseasontwo/Motherlode.ts
  src/game/raids/mythicplusseasontwo/OperationFloodgate.ts
  src/game/raids/mythicplusseasontwo/PrioryOfTheSacredFlame.ts
  src/game/raids/mythicplusseasontwo/Rookery.ts
  src/game/raids/mythicplusseasontwo/TheaterOfPain.ts
  src/game/raids/mythicplusseasontwo/backgrounds/CinderbrewMeadery.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/DarkflameCleft.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Floodgate.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/MechagonWorkshop.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Motherlode.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Priory.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/Rookery.jpg
  src/game/raids/mythicplusseasontwo/backgrounds/TheaterOfPain.jpg
  src/game/raids/mythicplusseasontwo/index.ts
  src/game/raids/undermine/Cauldron.ts
  src/game/raids/undermine/Gallywix.ts
  src/game/raids/undermine/MugZee.ts
  src/game/raids/undermine/OneArmedBandit.ts
  src/game/raids/undermine/RikReverb.ts
  src/game/raids/undermine/Sprocketmonger.ts
  src/game/raids/undermine/Stix.ts
  src/game/raids/undermine/Vexie.ts
  src/game/raids/undermine/backgrounds/Cauldron.jpg
  src/game/raids/undermine/backgrounds/Sprocketmonger.jpg
  src/game/raids/undermine/backgrounds/Stix.jpg
  src/game/raids/undermine/backgrounds/Undermine.jpg
  src/game/raids/undermine/backgrounds/Vexie.jpg
  src/game/raids/undermine/index.ts
  src/interface/report/Results/Header.tsx
  src/interface/report/Results/HeaderBackground.tsx
Labels: core

#7238 [Evoker] Update for 11.1
  scripts/talents/generate-talents.ts
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/constants.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/talents/Iridescence.tsx
  src/analysis/retail/evoker/devastation/modules/talents/TitanicWrath.tsx
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/Abilities.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/FanTheFlames.tsx
  src/common/TALENTS/evoker.ts
Labels: Evoker, The War Within

#7237 [Warrior] [Arms] Update Arms APL for 11.1
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/modules/checklist/Component.tsx
  src/analysis/retail/warrior/arms/modules/core/AplCheck.tsx
  src/analysis/retail/warrior/arms/modules/core/Dots/RendRefreshes.tsx
  src/analysis/retail/warrior/arms/modules/core/Execute/MortalStrike.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within

#7234 Update Aug for 11.1
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/ShiftingSands.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/guide/CoreRotation.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/SymbioticBloom.tsx
  src/analysis/retail/evoker/augmentation/modules/thewarwithin/T32Augmentation2P.tsx
  src/analysis/retail/evoker/augmentation/modules/thewarwithin/T33Augmentation4P.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/EssenceBurstCastLinkNormalizer.ts
  src/common/TALENTS/evoker.ts
Labels: Evoker, The War Within

#7240 [Warrior] [Fury] Update Recommendations for 11.1
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/core/RageDetails.tsx
  src/analysis/retail/warrior/fury/modules/features/checklist/Component.tsx
  src/analysis/retail/warrior/fury/modules/normalizers/RageGenerationEventLinkNormalizer.tsx
  src/analysis/retail/warrior/fury/modules/normalizers/UnhingedBloodthirstNormalizer.tsx
  src/analysis/retail/warrior/fury/modules/spells/Bloodbath.tsx
  src/analysis/retail/warrior/fury/modules/spells/CrushingBlow.tsx
  src/analysis/retail/warrior/fury/modules/spells/MissedRampage.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within

#7241 Frost Mage APLs 11.1 update
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/apl/FrostAplCommons.tsx
  src/analysis/retail/mage/frost/apl/FrostfireAplCheck.tsx
  src/analysis/retail/mage/frost/apl/SpellslingerAplCheck.tsx
Labels: Mage, The War Within
