Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-07, with the labels that each got.

#7399 Fix to innervate when ally casts it on player
  src/CONTRIBUTORS.ts
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/spells/Innervate.tsx
Labels: Druid, The War Within

#7402 Druid Resto - added active time section, updates to Innervate, fixes to Dreamstate
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/Guide.tsx
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/spells/Dreamstate.tsx
  src/analysis/retail/druid/restoration/modules/spells/Innervate.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
Labels: Druid, Classic, The War Within

#7401 [Warrior] [Arms] [Fury] Fix Sudden Death buff events
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CombatLogParser.tsx
  src/analysis/retail/warrior/arms/modules/core/AplCheck.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/shared/modules/normalizers/SuddenDeathBuffNormalizer.tsx
Labels: Warrior, The War Within

#7404 [Elemental] Disable MotE for M+
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/talents/MasterOfTheElements.tsx
Labels: Shaman, The War Within

#7405 show missed purifies at the end of a fight, not just at the final purify
  scripts/lint-baseline/baseline.json
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/analyzer.ts
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/index.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/StormstoutsLastKeg.tsx
Labels: Monk, The War Within

#7403 Add buff filter to timeline
  src/CHANGELOG.tsx
  src/common/SPELLS/hunter.ts
  src/game/BLOODLUST_BUFFS.ts
  src/interface/icons/Cog.tsx
  src/interface/report/Results/Timeline/AuraConfiguration.scss
  src/interface/report/Results/Timeline/AuraConfiguration.tsx
  src/interface/report/Results/Timeline/Auras.jsx
  src/interface/report/Results/Timeline/Component.jsx
  src/interface/report/Results/TimelineTab.tsx
Labels: Hunter, core, The War Within

#7406 windwalker: correctly set patch support to 11.1.7
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
Labels: Monk, The War Within

#7408 [Classic] MoP Death Knight Spells
  src/CHANGELOG.tsx
  src/common/SPELLS/classic/deathknight.ts
Labels: Death Knight, Classic

#7410 add patch and raid data for tww s3
  src/common/ITEMS/dragonflight/tier.ts
  src/game/TIERS.ts
  src/game/raids/index.ts
  src/game/raids/manaforge-omega/Dimensius.ts
  src/game/raids/manaforge-omega/ForgeweaverAraz.ts
  src/game/raids/manaforge-omega/Fractillus.ts
  src/game/raids/manaforge-omega/Loomithar.ts
  src/game/raids/manaforge-omega/NexusKingSalhadaar.ts
  src/game/raids/manaforge-omega/PlexusSentinel.ts
  src/game/raids/manaforge-omega/SoulHunters.ts
  src/game/raids/manaforge-omega/SoulbinderNaazindhri.ts
  src/game/raids/manaforge-omega/backgrounds/ManaforgeOmega.jpg
  src/game/raids/manaforge-omega/index.ts
  src/game/raids/mythicplusseasonthree/AraKara.ts
  src/game/raids/mythicplusseasonthree/Dawnbreaker.ts
  src/game/raids/mythicplusseasonthree/EcoDomeAldani.ts
  src/game/raids/mythicplusseasonthree/HallsOfAtonement.ts
  src/game/raids/mythicplusseasonthree/OperationFloodgate.ts
  src/game/raids/mythicplusseasonthree/PrioryOfTheSacredFlame.ts
  src/game/raids/mythicplusseasonthree/TazaveshGambit.ts
  src/game/raids/mythicplusseasonthree/TazaveshStreets.ts
  src/game/raids/mythicplusseasonthree/backgrounds/AraKara.jpg
  src/game/raids/mythicplusseasonthree/backgrounds/Dawnbreaker.jpg
  src/game/raids/mythicplusseasonthree/backgrounds/EcoDomeAldani.jpg
  src/game/raids/mythicplusseasonthree/backgrounds/HallsOfAtonement.jpg
  src/game/raids/mythicplusseasonthree/backgrounds/Tazavesh.jpg
  src/game/raids/mythicplusseasonthree/index.ts
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: core, The War Within

#7416 add consumables for MoP
  src/CHANGELOG.tsx
  src/analysis/classic/warlock/demonology/modules/spells/Doomguard.tsx
  src/common/ITEMS/Item.ts
  src/common/ITEMS/classic/cooking.ts
  src/common/ITEMS/classic/potions.ts
  src/common/SPELLS/classic/food.ts
  src/common/SPELLS/classic/potions.ts
  src/interface/guide/components/Preparation/ConsumablesSubSection/index.tsx
  src/parser/classic/modules/items/CombatPotionChecker.tsx
  src/parser/classic/modules/items/FlaskChecker.ts
  src/parser/classic/modules/items/FoodChecker.tsx
  src/parser/classic/modules/items/PotionChecker.tsx
  src/parser/shared/modules/StatTracker.ts
Labels: Warlock, core, Classic, The War Within

#7407 [manny] demo warlock updates
  src/CONTRIBUTORS.ts
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/Guide.tsx
  src/analysis/retail/warlock/demonology/modules/features/AlwaysBeCasting.tsx
  src/analysis/retail/warlock/demonology/modules/features/SummonDemonicTyrant.tsx
  src/analysis/retail/warlock/demonology/modules/talents/SummonVilefiend.tsx
  src/analysis/retail/warlock/demonology/modules/thewarwithin/tier/TWW2TierSet.tsx
  src/common/SPELLS/warlock.ts
  src/interface/images/avatars/leftyxiv-avatar.png
Labels: Warlock, core, The War Within
