Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-08, with the labels that each got.

#7418 Retribution bugfixes
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CONFIG.tsx
  src/analysis/retail/paladin/retribution/Guide.tsx
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/retribution/modules/core/Consecration.tsx
  src/analysis/retail/paladin/shared/DivinePurpose.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, The War Within

#7420 Update frost mage apls for 11.2.0
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/apl/FrostfireAplCheck.tsx
  src/analysis/retail/mage/frost/apl/SpellslingerAplCheck.tsx
Labels: Mage, The War Within

#7424 Update prep section for 11.2
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/socketBonusId.ts
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: The War Within

#7425 add rotation section for MoP Brewmaster
  src/analysis/classic/monk/brewmaster/CHANGELOG.tsx
  src/analysis/classic/monk/brewmaster/CombatLogParser.ts
  src/analysis/classic/monk/brewmaster/Guide.tsx
  src/analysis/classic/monk/brewmaster/gen.ts
  src/analysis/classic/monk/brewmaster/modules/features/AplCheck.tsx
  src/analysis/classic/monk/shared/RushingJadeWindLinkNormalizer.tsx
  src/common/SPELLS/classic/monk.ts
  src/interface/App.scss
  src/parser/shared/metrics/apl/conditions/hasTalent.tsx
Labels: Monk, core, Classic, The War Within

#7426 Update to patch 11.2
  src/CHANGELOG.tsx
  src/interface/report/PATCHES.ts
Labels: core

#7427 [Warrior] [Arms] [Fury] Add support for 11.2 changes
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CONFIG.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
  src/analysis/retail/warrior/fury/modules/spells/MissedRampage.tsx
  src/analysis/retail/warrior/fury/modules/spells/SlayerExecute.tsx
Labels: Warrior, The War Within

#7429 Update from S.A.D. to Technomancer's Gift
  src/CHANGELOG.tsx
  src/common/ITEMS/thewarwithin/others.ts
  src/parser/retail/modules/items/GemChecker.tsx
Labels: The War Within

#7432 bump VERSIONS to 11.2.0
  src/game/VERSIONS.ts
Labels: core

#7435 Mistweaver healing amp fixes
  src/CONTRIBUTORS.ts
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/spells/MendingProliferation.tsx
  src/analysis/retail/monk/shared/hero/MasterOfHarmony/talents/Coalesence.tsx
  src/common/SPELLS/monk.ts
  src/common/TALENTS/monk.ts
Labels: Monk, The War Within

#7436 Update Chi Harmony coefficient
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
Labels: Monk, The War Within

#7433 [Resto Druid] Added simple statistic for Root Network, and added Symbiotic Blooms to HoT graph
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/druid/restoration/CombatLogParser.ts
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/features/HotCountGraph.tsx
  src/analysis/retail/druid/restoration/modules/spells/RootNetwork.tsx
  src/common/SPELLS/druid.ts
Labels: Druid, The War Within

#7437 minor brewmaster updates
  src/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/AplChoiceDescription.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/AspectOfHarmony.tsx
Labels: Monk, The War Within

#7438 Update Vivacious Vivification text
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/VivaciousVivify.tsx
Labels: Monk, The War Within

#7442 Add haste logic for conduit tier set
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/tier/T34Tier.ts
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7444 update KS prio in Breath-less builds
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
Labels: Monk, The War Within

#7445 [Evoker] Bump Deva to 11.2, update Aug example report and Flameshaper multipliers
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/shared/constants.ts
Labels: Evoker, The War Within

#7446 add spell-lists:create script + doc
  package.json
  scripts/spell-lists/README.md
  scripts/spell-lists/generate-list.ts
  scripts/spell-lists/internal.ts
  scripts/spell-lists/update-all-lists.ts
Labels: core

#7447 [Ret] Guide updates
  scripts/lint-baseline/baseline.json
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/analysis/retail/paladin/retribution/Guide.tsx
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/retribution/modules/talents/Expurgation.tsx
  src/analysis/retail/paladin/retribution/normalizers/DivineHammerNormalizer.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, The War Within

#7428 11.2 demo updates
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/CONFIG.tsx
  src/analysis/retail/warlock/demonology/CombatLogParser.ts
  src/analysis/retail/warlock/demonology/modules/features/SummonDemonicTyrant.tsx
  src/analysis/retail/warlock/demonology/modules/tier/TWW3DiabolistTierSet.tsx
  src/analysis/retail/warlock/demonology/modules/tier/TWW3SoulHarvesterTierSet.tsx
  src/common/SPELLS/warlock.ts
Labels: Warlock, core, The War Within

#7451 add ability to toggle movement warning
  src/CHANGELOG.tsx
  src/interface/report/Results/Timeline/AuraConfiguration.tsx
  src/interface/report/Results/Timeline/configuration/AuraConfiguration.module.scss
  src/interface/report/Results/Timeline/configuration/AuraConfiguration.tsx
  src/interface/report/Results/Timeline/configuration/GeneralConfiguration.module.scss
  src/interface/report/Results/Timeline/configuration/GeneralConfiguration.tsx
  src/interface/report/Results/Timeline/configuration/TimelineConfiguration.module.scss
  src/interface/report/Results/Timeline/configuration/TimelineConfiguration.tsx
  src/interface/report/Results/TimelineTab.tsx
Labels: core

#7449 add vengeance section for Classic MoP Brewmaster
  src/analysis/classic/monk/brewmaster/CHANGELOG.tsx
  src/analysis/classic/monk/brewmaster/Guide.tsx
  src/analysis/classic/monk/brewmaster/modules/features/AplCheck.tsx
  src/common/SPELLS/classic/misc.ts
  src/interface/guide/foundation/FoundationDowntimeSectionV2.tsx
  src/interface/timeline-diagram/TimelineDiagram.tsx
  src/parser/classic/CombatLogParser.ts
  src/parser/classic/modules/Vengeance.tsx
Labels: Monk, core, Classic

#7452 [Ret] More guide updates and Statistics fixes
  src/analysis/retail/paladin/retribution/CHANGELOG.tsx
  src/analysis/retail/paladin/retribution/CONFIG.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/analysis/retail/paladin/retribution/Guide.tsx
  src/analysis/retail/paladin/retribution/modules/Abilities.tsx
  src/analysis/retail/paladin/retribution/modules/talents/WakeOfAshes.tsx
  src/analysis/retail/paladin/retribution/normalizers/WakeOfAshesNormalizer.tsx
  src/analysis/retail/paladin/shared/DuskAndDawn.tsx
  src/common/SPELLS/paladin.ts
Labels: Paladin, The War Within

#7454 import glyphs in mop spell gen
  pnpm-lock.yaml
  scripts/lint-baseline/baseline.json
  scripts/spell-lists/internal.ts
  src/analysis/classic/deathknight/blood/spell-list_DeathKnight_Blood.classic.ts
  src/analysis/classic/hunter/survival/spell-list_Hunter_Survival.classic.ts
  src/analysis/classic/monk/brewmaster/spell-list_Monk_Brewmaster.classic.ts
  src/analysis/classic/monk/mistweaver/gen.ts
  src/analysis/classic/monk/mistweaver/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/monk/mistweaver/spell-list_Monk_Mistweaver.classic.ts
  src/analysis/classic/monk/shared/Jab.ts
  src/analysis/classic/monk/windwalker/spell-list_Monk_Windwalker.classic.ts
  src/analysis/classic/warrior/arms/spell-list_Warrior_Arms.classic.ts
  src/common/SPELLS/classic/monk.ts
  src/parser/core/Combatant.ts
  src/parser/core/Events.ts
  src/parser/core/modules/genAbilities.ts
Labels: Death Knight, Hunter, Monk, Warrior, core, Classic
