Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-04, with the labels that each got.

#7311 [Enhacement] Enchants incorrectly identified as cheap
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CombatLogParser.tsx
  src/analysis/retail/shaman/enhancement/modules/core/EnchantChecker.tsx
  src/parser/retail/modules/items/EnchantChecker.tsx
Labels: Shaman, The War Within

#7307 [Discipline] More updates for 11.1
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/constants.ts
  src/analysis/retail/priest/discipline/modules/Abilities.ts
  src/analysis/retail/priest/discipline/modules/features/AtonementHealingBreakdown.tsx
  src/analysis/retail/priest/discipline/modules/features/EncroachingShadows.tsx
  src/analysis/retail/priest/discipline/modules/spells/BlazeOfLight/BlazeOfLight.tsx
  src/analysis/retail/priest/discipline/modules/spells/BlazeOfLight/BlazeOfLightSourceDonut.tsx
  src/analysis/retail/priest/discipline/modules/spells/Lenience.tsx
  src/analysis/retail/priest/discipline/modules/spells/PainAndSuffering.tsx
  src/analysis/retail/priest/discipline/modules/spells/Penance.jsx
  src/analysis/retail/priest/discipline/modules/spells/ShadowCovenant/ShadowCovSourceDonut.tsx
  src/analysis/retail/priest/discipline/modules/spells/ShadowCovenant/ShadowCovenant.tsx
  src/analysis/retail/priest/discipline/modules/spells/ThroesOfPain.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7312 [Shadow] Update Void Blast and Mind Blast Cast Efficiency with Void Weaver Hero Talent
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/modules/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/priest/shadow/modules/talents/ShadowyInsight.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/VoidBlast.tsx
Labels: Priest, The War Within

#7314 windwalker: add celestial conduit to mastery tracking
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/constants.ts
Labels: Monk, The War Within

#7316 [Devastation] Update Guide section for Disintegrate
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
Labels: Evoker, The War Within

#7317 [Devastation] Fix consumption tracking for Jackpot! module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
Labels: Evoker, The War Within

#7315 frost mage: correct glacial spike shatter evaluation
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/core/FingersOfFrost.tsx
  src/analysis/retail/mage/frost/talents/GlacialSpike.tsx
Labels: Mage, The War Within

#7319 [Havoc] changed momentum talent to exergy
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/analysis/retail/demonhunter/havoc/CombatLogParser.tsx
  src/analysis/retail/demonhunter/havoc/Guide.tsx
  src/analysis/retail/demonhunter/havoc/constants.ts
  src/analysis/retail/demonhunter/havoc/modules/Abilities.tsx
  src/analysis/retail/demonhunter/havoc/modules/talents/Exergy.tsx
  src/common/SPELLS/demonhunter.ts
Labels: Demon Hunter, The War Within

#7318 foundation support for protection paladin in 11.1
  src/analysis/retail/paladin/protection/CHANGELOG.tsx
  src/analysis/retail/paladin/protection/CONFIG.tsx
  src/analysis/retail/paladin/protection/CombatLogParser.ts
  src/analysis/retail/paladin/protection/Guide.tsx
  src/analysis/retail/paladin/protection/modules/Abilities.tsx
  src/analysis/retail/paladin/protection/modules/core/Defensives/config.tsx
  src/analysis/retail/paladin/protection/modules/core/Defensives/index.tsx
  src/analysis/retail/paladin/protection/modules/core/ProtPaladinT304P.tsx
  src/analysis/retail/paladin/protection/modules/features/Checklist/Component.jsx
  src/analysis/retail/paladin/protection/modules/features/Checklist/Module.jsx
  src/analysis/retail/paladin/protection/modules/features/SpellUsable.tsx
  src/analysis/retail/paladin/protection/modules/talents/GrandCrusader.tsx
  src/analysis/retail/paladin/protection/modules/talents/MomentOfGlory.tsx
  src/analysis/retail/paladin/protection/modules/talents/Valiance.tsx
  src/analysis/retail/paladin/shared/HammerOfLight.tsx
  src/common/ITEMS/paladin.ts
  src/common/SPELLS/paladin.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/retail/modules/items/WeaponEnhancementChecker.tsx
  src/parser/shared/modules/Haste.ts
  src/parser/shared/modules/helpers/ExecuteHelper.ts
Labels: Paladin, core, Classic, The War Within

#7320 add some Brewmaster APL rules to better reflect real-world play
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7321 TFT checklist changes
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ThunderFocusTea.tsx
Labels: Monk, The War Within

#7323 Add uptime text to RWK module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/RisingSunKick.tsx
Labels: Monk, The War Within

#7325 [Devastation] Update Empower performance evaluation for Jackpot! module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/tier/TWW2TierSet.tsx
Labels: Evoker, The War Within

#7324 Update Outlaw Rogue for 11.1
  src/analysis/retail/rogue/outlaw/CHANGELOG.tsx
  src/analysis/retail/rogue/outlaw/CONFIG.tsx
  src/analysis/retail/rogue/outlaw/CombatLogParser.ts
  src/analysis/retail/rogue/outlaw/Guide.tsx
  src/analysis/retail/rogue/outlaw/constants.ts
  src/analysis/retail/rogue/outlaw/modules/Abilities.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/AplCheck.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/HiddenOpportunityRotation.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/KeepItRollingRotation.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/comboPointAmount.tsx
  src/analysis/retail/rogue/outlaw/modules/apl/notInSubterfugeSoon.tsx
  src/analysis/retail/rogue/outlaw/modules/core/BuilderUse.tsx
  src/analysis/retail/rogue/outlaw/modules/core/FinisherUse.tsx
  src/analysis/retail/rogue/outlaw/modules/core/RestlessBlades.ts
  src/analysis/retail/rogue/outlaw/modules/features/Finishers.tsx
  src/analysis/retail/rogue/outlaw/modules/features/SpellUsable.ts
  src/analysis/retail/rogue/outlaw/modules/spells/Audacity.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/AudacityDamageTracker.ts
  src/analysis/retail/rogue/outlaw/modules/spells/Opportunity.tsx
  src/analysis/retail/rogue/outlaw/modules/spells/OpportunityDamageTracker.ts
  src/analysis/retail/rogue/outlaw/modules/spells/RollTheBonesBuffs.tsx
  src/analysis/retail/rogue/outlaw/modules/talents/AdrenalineRush.tsx
  src/analysis/retail/rogue/outlaw/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/rogue/outlaw/normalizers/OpportunityRefreshNormalizer.ts
  src/analysis/retail/rogue/subtlety/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Conditions.tsx
  src/common/SPELLS/rogue.ts
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
  src/parser/shared/metrics/apl/conditions/hasResource.tsx
  src/parser/shared/normalizers/Channeling.ts
Labels: Rogue, Shaman, core, Classic, The War Within

#7326 [Core] Add patch 11.1.5
  e2e/poms/fight-selection-page.ts
  e2e/poms/player-selection-page.ts
  e2e/poms/report-page.ts
  e2e/report-selection.spec.ts
  src/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/paladin/protection/CONFIG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/rogue/subtlety/CONFIG.tsx
  src/analysis/retail/warrior/arms/CONFIG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
  src/game/VERSIONS.ts
  src/interface/report/PATCHES.ts
  src/parser/Config.ts
Labels: Druid, Monk, Paladin, Priest, Rogue, Warrior, core, Evoker, The War Within

#7331 update supported specs example reports to TWW reports
  src/analysis/retail/demonhunter/havoc/CHANGELOG.tsx
  src/analysis/retail/demonhunter/havoc/CONFIG.tsx
  src/analysis/retail/demonhunter/vengeance/CHANGELOG.tsx
  src/analysis/retail/demonhunter/vengeance/CONFIG.tsx
  src/analysis/retail/druid/balance/CHANGELOG.tsx
  src/analysis/retail/druid/balance/CONFIG.tsx
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CONFIG.tsx
  src/analysis/retail/druid/guardian/CHANGELOG.tsx
  src/analysis/retail/druid/guardian/CONFIG.tsx
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/hunter/beastmastery/CHANGELOG.tsx
  src/analysis/retail/hunter/beastmastery/CONFIG.tsx
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CONFIG.tsx
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CONFIG.tsx
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CONFIG.tsx
  src/analysis/retail/priest/holy/CHANGELOG.tsx
  src/analysis/retail/priest/holy/CONFIG.tsx
  src/analysis/retail/rogue/assassination/CHANGELOG.tsx
  src/analysis/retail/rogue/assassination/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/CONFIG.tsx
  src/analysis/retail/warrior/protection/CHANGELOG.tsx
  src/analysis/retail/warrior/protection/CONFIG.tsx
Labels: Druid, Hunter, Mage, Priest, Rogue, Shaman, Warrior, Demon Hunter, The War Within

#7327 Preparation Gem Subsection
  public/img/Icons/equipment_empty_gem_socket.jpg
  src/CHANGELOG.tsx
  src/CONTRIBUTORS.ts
  src/common/ITEMS/index.ts
  src/common/ITEMS/thewarwithin/index.ts
  src/common/ITEMS/thewarwithin/others.ts
  src/common/ITEMS/thewarwithin/socketBonusId.ts
  src/game/GEAR_SLOTS.ts
  src/game/GEAR_SLOTS.tsx
  src/interface/BAD_ICONS.ts
  src/interface/CharacterParses.tsx
  src/interface/ItemLink.tsx
  src/interface/guide/components/Preparation/GemSubSection/GemBoxRow.module.scss
  src/interface/guide/components/Preparation/GemSubSection/GemBoxRow.tsx
  src/interface/guide/components/Preparation/GemSubSection/index.tsx
  src/interface/guide/components/Preparation/PreparationSection.tsx
  src/interface/images/avatars/ceric-avatar.jpg
  src/interface/report/Results/PlayerInfoGear.tsx
  src/localization/de/messages.json
  src/localization/en/messages.json
  src/localization/es/messages.json
  src/localization/fr/messages.json
  src/localization/it/messages.json
  src/localization/ko/messages.json
  src/localization/pl/messages.json
  src/localization/pt/messages.json
  src/localization/ru/messages.json
  src/localization/zh/messages.json
  src/parser/classic/modules/items/EnchantChecker.tsx
  src/parser/core/CombatLogParser.tsx
  src/parser/core/Events.ts
  src/parser/core/itemHelper.ts
  src/parser/retail/modules/features/Checklist/PreparationRuleAnalyzer.ts
  src/parser/retail/modules/items/GemChecker.tsx
  src/parser/shared/modules/items/EnchantChecker.tsx
  src/parser/shared/modules/items/GemChecker.tsx
Labels: core, Classic, The War Within

#7333 [MW] Fix zen pulse bug with wasted buff count
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ZenPulse.tsx
Labels: Monk, The War Within

#7335 [Elemental/Enhancement] Update to 11.1.5
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/hero/farseer/CallOfTheAncestors.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/CONFIG.tsx
  src/analysis/retail/shaman/enhancement/modules/apl/Stormbringer.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/PrimordialStorm.tsx
  src/analysis/retail/shaman/shared/shared.tsx
Labels: Shaman, The War Within

#7332 Streamline how Gem Recommendations work
  src/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/interface/guide/components/Preparation/GemSubSection/index.tsx
  src/interface/guide/components/Preparation/PreparationSection.tsx
  src/parser/shared/modules/items/GemChecker.tsx
Labels: Monk, core, Classic, The War Within

#7337 Azjol nerub special case
  src/CHANGELOG.tsx
  src/interface/makeAnalyzerUrl.ts
Labels: core

#7342 brewmaster apl update for chi burst
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
Labels: Monk, The War Within

#7341 Recommended Gems now shown to User.
  src/CHANGELOG.tsx
  src/interface/guide/components/Preparation/GemSubSection/GemBoxRow.module.scss
  src/interface/guide/components/Preparation/GemSubSection/index.tsx
Labels: core

#7343 add rotational analysis for Templar Protection Paladin
  src/analysis/retail/paladin/protection/CHANGELOG.tsx
  src/analysis/retail/paladin/protection/Guide.tsx
  src/analysis/retail/paladin/protection/modules/Abilities.tsx
  src/analysis/retail/paladin/protection/modules/core/AplCheck.tsx
  src/common/SPELLS/paladin.ts
  src/parser/shared/metrics/apl/ChecklistRule.tsx
Labels: Paladin, Classic, The War Within

#7330 [Mage-All Specs] Major Defensives Guide section
  src/analysis/retail/mage/arcane/CHANGELOG.tsx
  src/analysis/retail/mage/arcane/CombatLogParser.ts
  src/analysis/retail/mage/arcane/Guide.tsx
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/CombatLogParser.ts
  src/analysis/retail/mage/fire/Guide.tsx
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/CombatLogParser.ts
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/shared/Abilities.tsx
  src/analysis/retail/mage/shared/MirrorImage.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
  src/analysis/retail/mage/shared/defensives/DefensivesGuide.tsx
  src/analysis/retail/mage/shared/defensives/GreaterInvisibility.tsx
  src/analysis/retail/mage/shared/defensives/IceBlock.tsx
  src/analysis/retail/mage/shared/defensives/IceCold.tsx
  src/analysis/retail/mage/shared/defensives/MirrorImage.tsx
  src/analysis/retail/mage/shared/index.ts
Labels: Mage, The War Within

#7340 browser support for recording some error metrics
  scripts/lint-baseline/baseline.json
  src/common/server-metrics.ts
  src/interface/report/context/PatchContext.tsx
  src/interface/report/hooks/useEventParser.ts
  src/parser/Config.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/shared/modules/SpellUsable.tsx
Labels: core, Classic, The War Within

#7349 add guide section for shado-pan brewmaster
  scripts/lint-baseline/baseline.json
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/AplChoiceDescription.tsx
  src/analysis/retail/monk/brewmaster/modules/core/EnergyGraph.tsx
  src/analysis/retail/monk/brewmaster/modules/core/EnergyTracker.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/ShadowFlurryStrikes.tsx
  src/common/SPELLS/monk.ts
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Monk, core, The War Within
