Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-05, with the labels that each got.

#7350 Fix crash in new Shado-Pan module
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/ShadowFlurryStrikes.tsx
Labels: Monk, The War Within

#7345 All Gems Showing fix
  scripts/lint-baseline/baseline.json
  src/CHANGELOG.tsx
  src/common/ITEMS/gemsUtils.ts
  src/common/ITEMS/thewarwithin/gems.ts
  src/interface/ItemIcon.tsx
  src/interface/report/Results/PlayerInfo.scss
  src/interface/report/Results/PlayerInfoGems.tsx
  src/parser/core/Events.ts
  src/parser/core/EventsItems.ts
  src/parser/shared/modules/items/GemChecker.tsx
Labels: core, Classic, The War Within

#7351 aspect of harmony section for Brewmaster
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/talents/AspectOfHarmony.tsx
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7355 Mage: add HYPERTHERMIA_BUFF for heating up.
  src/CONTRIBUTORS.ts
  src/analysis/retail/mage/fire/CHANGELOG.tsx
  src/analysis/retail/mage/fire/core/HeatingUp.tsx
Labels: Mage, The War Within

#7356 Improve Jade Empowerment Module
  src/CONTRIBUTORS.ts
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadeEmpowerment.tsx
  src/common/SPELLS/monk.ts
  src/interface/images/avatars/swirl-avatar.jpg
Labels: Monk, core, The War Within

#7357 Fix Jade Empowerment Refresh Event
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadeEmpowerment.tsx
Labels: Monk, The War Within

#7360 Fix Critical Hits for Healing and Damage
  src/CHANGELOG.tsx
  src/parser/shared/modules/AbilityTracker.ts
Labels: Classic, The War Within

#7354 [Warrior] [Arms] [Fury] Remove Storm Bolt suggestion and fix Brutal Finish buff application event
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/modules/Abilities.ts
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/Abilities.ts
  src/analysis/retail/warrior/fury/modules/normalizers/BrutalFinishBuffNormalizer.tsx
Labels: Warrior, The War Within

#7363 Update talents for patch 11.1.5
  scripts/talents/generate-talents.ts
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/shared/constants.ts
  src/common/TALENTS/evoker.ts
  src/common/TALENTS/monk.ts
  src/common/TALENTS/paladin.ts
  src/common/TALENTS/priest.ts
  src/common/TALENTS/shaman.ts
Labels: Monk, Paladin, Priest, Shaman, Evoker, The War Within

#7362 TWW Warlock - Doom Update
  src/CONTRIBUTORS.ts
  src/analysis/retail/warlock/demonology/CHANGELOG.tsx
  src/analysis/retail/warlock/demonology/modules/features/Abilities.ts
  src/analysis/retail/warlock/demonology/modules/talents/Doom.tsx
  src/common/SPELLS/warlock.ts
Labels: Warlock, The War Within
