Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-03, with the labels that each got.

#7242 Druid Resto - supported 11.1 changes to Mastery and marked updated for 11.1
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/CONFIG.tsx
  src/analysis/retail/druid/restoration/constants.ts
  src/analysis/retail/druid/restoration/modules/core/Mastery.ts
  src/analysis/retail/druid/restoration/modules/features/AverageHots.tsx
  src/game/SPECS.ts
  src/game/VERSIONS.ts
  src/parser/Config.ts
Labels: Druid, core, The War Within

#7227 New Downtime Foundation section for Melee specs
  src/CHANGELOG.tsx
  src/analysis/classic/deathknight/blood/CombatLogParser.ts
  src/analysis/classic/deathknight/blood/modules/features/Abilities.ts
  src/analysis/classic/warrior/arms/Guide.tsx
  src/analysis/retail/deathknight/blood/modules/guide/index.tsx
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/paladin/retribution/CombatLogParser.ts
  src/game/raids/builders.ts
  src/game/raids/cata_dragon_soul/Blackhorn.ts
  src/game/raids/cata_dragon_soul/DeathwingMadness.ts
  src/game/raids/cata_dragon_soul/DeathwingSpine.ts
  src/game/raids/cata_dragon_soul/Hagara.ts
  src/game/raids/cata_dragon_soul/Morchok.ts
  src/game/raids/cata_dragon_soul/Ultraxion.ts
  src/game/raids/cata_dragon_soul/Yorsahj.ts
  src/game/raids/cata_dragon_soul/Zonozz.ts
  src/game/raids/cata_firelands/Alysrazor.ts
  src/game/raids/cata_firelands/Baleroc.ts
  src/game/raids/cata_firelands/Bethtilac.ts
  src/game/raids/cata_firelands/Ragnaros.ts
  src/game/raids/cata_firelands/Shannox.ts
  src/game/raids/index.ts
  src/game/raids/nerubarpalace/Ansurek.ts
  src/game/raids/nerubarpalace/BloodboundHorror.ts
  src/game/raids/nerubarpalace/Kyveza.ts
  src/game/raids/nerubarpalace/Ovinax.ts
  src/game/raids/nerubarpalace/Rashanan.ts
  src/game/raids/nerubarpalace/Sikran.ts
  src/game/raids/nerubarpalace/SilkenCourt.ts
  src/game/raids/nerubarpalace/Ulgrax.ts
  src/game/raids/undermine/Cauldron.ts
  src/game/raids/undermine/OneArmedBandit.ts
  src/game/raids/undermine/RikReverb.ts
  src/game/raids/undermine/Sprocketmonger.ts
  src/game/raids/undermine/Stix.ts
  src/game/raids/undermine/Vexie.ts
  src/interface/Icon.tsx
  src/interface/guide/components/Suggestions/Suggestions.tsx
  src/interface/guide/foundation/FoundationDowntimeSection.tsx
  src/interface/guide/foundation/FoundationDowntimeSectionV2.tsx
  src/interface/guide/foundation/analyzers/DowntimeDebuffAnalyzer.tsx
  src/interface/guide/foundation/analyzers/MeleeUptimeAnalyzer.tsx
  src/interface/guide/hooks/useReportEvents.ts
  src/interface/report/Results/Overview.tsx
  src/interface/timeline-diagram/SegmentTimeline.tsx
  src/interface/timeline-diagram/TimelineDiagram.tsx
  src/parser/classic/CombatLogParser.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/ui/UptimeBar.tsx
Labels: Death Knight, Monk, Paladin, Warrior, core, Classic, The War Within

#7243 Update Brewmaster for 11.1
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CONFIG.tsx
  src/analysis/retail/monk/brewmaster/CombatLogParser.ts
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/Abilities.ts
  src/analysis/retail/monk/brewmaster/modules/items/WarWithinS2TierSet.tsx
  src/analysis/retail/monk/brewmaster/modules/problems/PurifyingBrew/analyzer.ts
  src/analysis/retail/monk/brewmaster/modules/spells/BlackoutCombo/BlackoutComboSection.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/CelestialBrew/index.tsx
  src/analysis/retail/monk/shared/TouchOfDeath.jsx
  src/analysis/retail/monk/shared/hero/ShadoPan/EfficientTraining.tsx
  src/analysis/retail/monk/shared/hero/ShadoPan/VeteransEye.ts
  src/common/SPELLS/monk.ts
  src/interface/guide/components/MajorDefensives/MajorDefensiveAnalyzer.tsx
  src/parser/core/CASTS_THAT_ARENT_CASTS.ts
Labels: Monk, core, The War Within

#7245 [Warrior] [Arms] [Fury] Update configs for 11.1 support
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CONFIG.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CONFIG.tsx
Labels: Warrior, The War Within

#7246 Update config file to 11.1
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CONFIG.tsx
  src/analysis/retail/evoker/devastation/CONFIG.tsx
  src/analysis/retail/evoker/preservation/CONFIG.tsx
Labels: Evoker, The War Within

#7244 [Shadow] Update Shadow Priest for 11.1 and add Season 2 tier set.
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/Abilities.tsx
  src/analysis/retail/priest/shadow/modules/tier/ShadowTierTWWS2.tsx
  src/analysis/retail/priest/shadow/modules/tier/ShadowTierTWWS2Normalizer.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7248 [Devastation] TWW S2 Tier Set
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/tier/TWW2TierSet.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7249 Update Jade Bond for 11.1
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotAttributor.ts
  src/analysis/retail/monk/mistweaver/modules/core/HotTrackerMW.tsx
  src/analysis/retail/monk/mistweaver/modules/features/MistweaverHealingEfficiencyTracker.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeYulon.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/JadeBond.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EnvelopingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/common/SPELLS/monk.ts
Labels: Monk, The War Within

#7250 Add Resplendent Mist module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ResplendentMist.tsx
Labels: Monk, The War Within

#7251 Remaining 11.1 updates for mistweaver
  src/analysis/retail/druid/restoration/modules/items/TWW2TierSet.tsx
  src/analysis/retail/druid/restoration/normalizers/TWW2TierSetNormalizer.tsx
  src/analysis/retail/evoker/preservation/modules/tier/T33TierSet.tsx
  src/analysis/retail/evoker/preservation/normalizers/EventLinking/TierEventLinks.ts
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/modules/spells/InvokeChiJi.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ResplendentMist.tsx
  src/analysis/retail/monk/mistweaver/modules/tier/T33TierSet.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/EventLinkConstants.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/RenewingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/TierEventLinks.ts
  src/common/SPELLS/druid.ts
  src/common/SPELLS/evoker.ts
  src/common/SPELLS/monk.ts
Labels: Druid, Monk, Evoker, The War Within

#7253 [Shadow] Fix Power Infusion with TWW season 2 tier set
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/tier/ShadowTierTWWS2Normalizer.tsx
Labels: Priest, The War Within

#7254 Fix mw tier set to include RD
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/RenewingMistEventLinks.ts
  src/analysis/retail/monk/mistweaver/normalizers/EventLinks/TierEventLinks.ts
Labels: Monk, The War Within

#7255 windwalker: implement analysis for Heart of the Jade Serpent
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/HeartOfTheJadeSerpent.tsx
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CONFIG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/modules/spells/HeartOfTheJadeSerpent.tsx
Labels: Monk, The War Within

#7257 [Mistweaver] Updated Rushing Wind Kick increase coefficient
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/constants.ts
Labels: Monk, The War Within

#7259 Update VoidTorrent.tsx
  src/CONTRIBUTORS.ts
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/talents/VoidTorrent.tsx
Labels: Priest, The War Within

#7260 [Shadow] Fix Power Infusion without TWWS2 Four Piece
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/modules/tier/ShadowTierTWWS2Normalizer.tsx
Labels: Priest, The War Within

#7261 [core] add missing patch 11.1.0 details
  src/CHANGELOG.tsx
  src/game/ZONES.ts
  src/interface/CharacterParses.tsx
  src/interface/report/PATCHES.ts
Labels: core

#7262 fix some crashes in shaman modules
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/FusionOfElementsNormalizer.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
Labels: Shaman, The War Within

#7267 update playwright + update report selection test report
  e2e/fixtures.ts
  e2e/report-selection.spec.ts
  package.json
  pnpm-lock.yaml
Labels: core

#7265 update Brewmaster APL and simplify Face Palm tracking
  src/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/CHANGELOG.tsx
  src/analysis/retail/monk/brewmaster/Guide.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck.tsx
  src/analysis/retail/monk/brewmaster/modules/core/AplCheck/AplChoiceDescription.tsx
  src/analysis/retail/monk/brewmaster/modules/core/BrewCDR.tsx
  src/analysis/retail/monk/brewmaster/modules/spells/TigerPalm.tsx
  src/interface/guide/components/Apl/violations/index.tsx
Labels: Monk, core, The War Within

#7264 windwalker: update APL for tww2
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/apl/AplCheck.tsx
  src/analysis/retail/monk/windwalker/modules/spells/HeartOfTheJadeSerpent.tsx
Labels: Monk, The War Within

#7270 remove jb check from revival
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/Revival.tsx
Labels: Monk, The War Within

#7271 Delete resplendent mists module
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CombatLogParser.ts
  src/analysis/retail/monk/mistweaver/constants.ts
  src/analysis/retail/monk/mistweaver/modules/features/TalentHealingStatistic.tsx
  src/analysis/retail/monk/mistweaver/modules/spells/ResplendentMist.tsx
Labels: Monk, The War Within

#7273 [Enhancement] Fixing another crash
  src/analysis/retail/shaman/elemental/modules/normalizers/FusionOfElementsNormalizer.tsx
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/guide/Rotation.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/MaelstromWeaponResourceNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/normalizers/resourceNormalizer/constants.ts
  src/analysis/retail/shaman/enhancement/modules/normalizers/resourceNormalizer/enums.ts
  src/analysis/retail/shaman/enhancement/modules/normalizers/resourceNormalizer/functions.ts
  src/analysis/retail/shaman/enhancement/modules/normalizers/resourceNormalizer/types.ts
  src/analysis/retail/shaman/enhancement/modules/resourcetracker/MaelstromWeaponSpenders.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/PrimordialStorm.tsx
  src/common/spellToAbility.ts
  src/parser/core/SpellUsage/SpellUsageSubSection.tsx
Labels: Shaman, core, The War Within

#7274 Implement Motes of Possibility
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/MotesOfPossibility.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Overlord.tsx
  src/common/SPELLS/evoker.ts
Labels: Evoker, The War Within

#7275 [Mistweaver] Bump sample report for mw
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/CONFIG.tsx
Labels: Monk, The War Within

#7277 Feature/disc priest/fix disc 11.1
  src/analysis/retail/priest/discipline/CHANGELOG.tsx
  src/analysis/retail/priest/discipline/CombatLogParser.ts
  src/analysis/retail/priest/discipline/modules/spells/CrystallineReflection.tsx
  src/analysis/retail/priest/discipline/modules/spells/EternalBarrier.tsx
  src/analysis/retail/priest/discipline/modules/spells/Evangelism.tsx
  src/analysis/retail/priest/discipline/modules/spells/Grace.tsx
  src/analysis/retail/priest/discipline/modules/spells/MaliciousIntent.tsx
  src/analysis/retail/priest/discipline/modules/spells/Penance.jsx
  src/analysis/retail/priest/discipline/modules/spells/PowerWordShield.tsx
  src/analysis/retail/priest/discipline/modules/spells/VoidSummoner.tsx
  src/analysis/retail/priest/discipline/modules/spells/WealAndWoe.tsx
  src/common/SPELLS/priest.ts
Labels: Priest, The War Within

#7276 Druid Feral - added statistic for Merciless Claws
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/CombatLogParser.ts
  src/analysis/retail/druid/feral/constants.ts
  src/analysis/retail/druid/feral/modules/spells/Berserk.tsx
  src/analysis/retail/druid/feral/modules/spells/MercilessClaws.tsx
Labels: Druid, The War Within

#7280 Frost Frostfire Mage: updated APL
  src/analysis/retail/mage/frost/CHANGELOG.tsx
  src/analysis/retail/mage/frost/apl/FrostfireAplCheck.tsx
Labels: Mage, The War Within

#7278 [Pres Evoker] updated target count logic for 11.1 DB change
  src/CONTRIBUTORS.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
Labels: Evoker, The War Within

#7284 [Elemental] Discord feedback fixes
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/CONFIG.tsx
  src/analysis/retail/shaman/elemental/CombatLogParser.tsx
  src/analysis/retail/shaman/elemental/guide/Cooldowns.tsx
  src/analysis/retail/shaman/elemental/guide/ElementalGuide.tsx
  src/analysis/retail/shaman/elemental/modules/Buffs.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Component.tsx
  src/analysis/retail/shaman/elemental/modules/checklist/Module.tsx
  src/analysis/retail/shaman/elemental/modules/normalizers/EventOrderNormalizer.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/elemental/modules/talents/PrimalElementalist.tsx
  src/common/SPELLS/shaman.ts
Labels: Shaman, The War Within

#7283 fix: correct cooldown on Xuen and SotWL based on chosen talents
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/modules/Abilities.tsx
  src/analysis/retail/monk/windwalker/modules/spells/HeartOfTheJadeSerpent.tsx
Labels: Monk, The War Within

#7285 feat: add Last Emperor's Capacitor tracking
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/modules/features/checklist/Module.tsx
  src/analysis/retail/monk/windwalker/modules/talents/LastEmperorsCapacitor.tsx
  src/analysis/retail/monk/windwalker/modules/talents/LastEmperorsCapacitorGraph.tsx
  src/analysis/retail/monk/windwalker/modules/talents/LastEmperorsCapacitorTracker.tsx
  src/analysis/retail/monk/windwalker/normalizers/CracklingJadeLightningNormalizer.tsx
Labels: Monk, The War Within

#7287 windwalker: add performance box for Celestial Conduit clipping
  src/analysis/retail/monk/shared/hero/ConduitOfTheCelestials/talents/CelestialConduit.tsx
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/CombatLogParser.ts
  src/analysis/retail/monk/windwalker/Guide.tsx
  src/analysis/retail/monk/windwalker/modules/spells/HeartOfTheJadeSerpent.tsx
  src/analysis/retail/monk/windwalker/modules/talents/CelestialConduit.tsx
Labels: Monk, The War Within

#7291 windwalker: fix: add checks for cleaving + SEF
  src/analysis/retail/monk/windwalker/CHANGELOG.tsx
  src/analysis/retail/monk/windwalker/modules/talents/LastEmperorsCapacitor.tsx
Labels: Monk, The War Within

#7292 Druid Resto - Fixed an issue where HoTs procced by the Liberation of Undermine 4 set might not be properly attributed when Insurance! is refreshed.
  src/analysis/retail/druid/restoration/CHANGELOG.tsx
  src/analysis/retail/druid/restoration/modules/core/hottracking/HotAttributor.ts
Labels: Druid, The War Within

#7293 [Devastation] Add Guide Section for Engulf
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/guide/DamageEfficiencySection.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/devastation/modules/tier/TWW2TierSet.tsx
  src/analysis/retail/evoker/shared/modules/normalizers/DefensiveNormalizer.ts
  src/analysis/retail/evoker/shared/modules/normalizers/LivingFlamePrePullNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/Engulf.tsx
Labels: Evoker, The War Within

#7289 [Warrior] [Arms] [Fury] Update Arms APL and clean up Fury whirlwind suggestions
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/modules/core/AplCheck.tsx
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/CombatLogParser.ts
  src/analysis/retail/warrior/fury/modules/features/checklist/Component.tsx
  src/analysis/retail/warrior/fury/modules/features/checklist/Module.tsx
  src/analysis/retail/warrior/fury/modules/normalizers/WhirlwindBuffOrderNormalizer.tsx
  src/analysis/retail/warrior/fury/modules/spells/Whirlwind.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within

#7295 [Evoker] Implement Flame Siphon module for Devastation & Preservation
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/talents/hero/flameshaper/FlameSiphon.tsx
Labels: Evoker, The War Within

#7297 [Devastation] Update Empower Performance evaluation for TWW2 module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/tier/TWW2TierSet.tsx
Labels: Evoker, The War Within

#7294 Echoing Reprimand and Thistle Tea fixes
  src/analysis/retail/rogue/assassination/guide/CooldownGraphSubsection.tsx
  src/analysis/retail/rogue/assassination/modules/Abilities.tsx
  src/analysis/retail/rogue/assassination/modules/talents/ThistleTea.tsx
  src/analysis/retail/rogue/shared/CHANGELOG.tsx
  src/analysis/retail/rogue/shared/talents/ThistleTeaCastLinkNormalizer.tsx
  src/analysis/retail/rogue/subtlety/CHANGELOG.tsx
  src/analysis/retail/rogue/subtlety/CONFIG.tsx
  src/analysis/retail/rogue/subtlety/modules/spells/Eviscrate.tsx
  src/common/SPELLS/rogue.ts
Labels: Rogue, The War Within

#7281 [Pres Evoker] DB no longer counts non-player targets
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/modules/talents/DreamBreath.tsx
Labels: Evoker, The War Within

#7299 [Devastation] Minor fixes to Engulf & Disintegrate module
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/modules/abilities/Disintegrate.tsx
  src/analysis/retail/evoker/devastation/modules/normalizers/CastLinkNormalizer.ts
Labels: Evoker, The War Within

#7303 [Core] Prevent `any` event handlers from triggering out of order
  src/CHANGELOG.tsx
  src/parser/core/modules/EventEmitter.ts
Labels: core

#7298 [Enhancement] update Doom Winds ID
  src/CONTRIBUTORS.ts
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/modules/Buffs.tsx
  src/analysis/retail/shaman/enhancement/modules/features/CooldownThroughputTracker.tsx
Labels: Shaman, The War Within

#7304 [Core] Empower ability handling for Cast Efficiency & Cancelled Casts modules
  src/CHANGELOG.tsx
  src/parser/shared/modules/CancelledCasts.tsx
  src/parser/shared/modules/CastEfficiency.tsx
  src/parser/shared/modules/SpellHistory.ts
Labels: Classic, The War Within

#7288 Caster/Healer version of the new Foundation Downtime timeline
  src/CHANGELOG.tsx
  src/analysis/classic/_templates/healer/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/druid/restoration/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/holy/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/paladin/holy/modules/features/HolyShock.tsx
  src/analysis/classic/priest/discipline/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/priest/holy/modules/features/AlwaysBeCasting.tsx
  src/analysis/classic/shaman/restoration/modules/features/AlwaysBeCasting.tsx
  src/interface/guide/components/Suggestions/SuggestionSection.tsx
  src/interface/guide/components/Suggestions/Suggestions.tsx
  src/interface/guide/foundation/FoundationDowntimeSection.tsx
  src/interface/guide/foundation/FoundationDowntimeSectionV2.tsx
  src/interface/guide/foundation/analyzers/MeleeUptimeAnalyzer.tsx
  src/interface/timeline-diagram/TimelineDiagram.tsx
  src/parser/shared/modules/AlwaysBeCasting.tsx
  src/parser/shared/modules/AlwaysBeCastingHealing.tsx
  src/parser/shared/modules/CancelledCasts.tsx
Labels: Druid, Paladin, Priest, Shaman, core, Classic, The War Within

#7305 [Mistweaver] Added mending proliferation buffs to the other hots graph
  src/analysis/retail/monk/mistweaver/CHANGELOG.tsx
  src/analysis/retail/monk/mistweaver/Guide.tsx
  src/analysis/retail/monk/mistweaver/modules/features/HotCountGraph.tsx
Labels: Monk, The War Within

#7306 [Enhancement] fixed some interactions with Whirling Fire
  src/analysis/retail/shaman/enhancement/CHANGELOG.tsx
  src/analysis/retail/shaman/enhancement/constants.ts
  src/analysis/retail/shaman/enhancement/modules/normalizers/EventLinkNormalizer.tsx
  src/analysis/retail/shaman/enhancement/modules/talents/HotHand.tsx
Labels: Shaman, The War Within
