Repository WoWAnalyzer/WoWAnalyzer, pull requests merged in 2025-01, with the labels that each got.

#7216 [Warrior] [Fury] Add inefficient cast reasons for slayer fury
  src/analysis/retail/warrior/fury/CHANGELOG.tsx
  src/analysis/retail/warrior/fury/modules/spells/Bloodbath.tsx
  src/analysis/retail/warrior/fury/modules/spells/CrushingBlow.tsx
  src/analysis/retail/warrior/fury/modules/spells/SlayerExecute.tsx
Labels: Warrior, The War Within

#7215 Fix crashes in Surging Totem & Ascendance analysis
  src/analysis/retail/shaman/elemental/CHANGELOG.tsx
  src/analysis/retail/shaman/elemental/modules/talents/Ascendance.tsx
  src/analysis/retail/shaman/restoration/CHANGELOG.tsx
  src/analysis/retail/shaman/restoration/modules/talents/totemic/SurgingTotem.tsx
Labels: Shaman, The War Within

#7217 [Warrior] [Arms] Add Colossus APL and support Demolish
  src/analysis/retail/warrior/arms/CHANGELOG.tsx
  src/analysis/retail/warrior/arms/CombatLogParser.tsx
  src/analysis/retail/warrior/arms/modules/Abilities.ts
  src/analysis/retail/warrior/arms/modules/checklist/Component.tsx
  src/analysis/retail/warrior/arms/modules/checklist/Module.tsx
  src/analysis/retail/warrior/arms/modules/core/AplCheck.tsx
  src/analysis/retail/warrior/arms/modules/talents/Demolish.tsx
  src/analysis/retail/warrior/arms/normalizers/DemolishNormalizer.tsx
  src/analysis/retail/warrior/arms/normalizers/UnhingedMortalStrikeNormalizer.tsx
  src/common/SPELLS/warrior.ts
Labels: Warrior, The War Within

#7213 Several Chronowarden and Augmentation talents; Cirral Concoctory
  src/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/CombatLogParser.ts
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/features/BuffTargetHelper/BuffTargetHelper.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/HoardedPower.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/Overlord.tsx
  src/analysis/retail/evoker/devastation/CHANGELOG.tsx
  src/analysis/retail/evoker/devastation/CombatLogParser.ts
  src/analysis/retail/evoker/preservation/CHANGELOG.tsx
  src/analysis/retail/evoker/preservation/CombatLogParser.ts
  src/analysis/retail/evoker/shared/constants.ts
  src/analysis/retail/evoker/shared/index.ts
  src/analysis/retail/evoker/shared/modules/normalizers/MobilityCastLinkNormalizer.ts
  src/analysis/retail/evoker/shared/modules/talents/TimeSpiral.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/GoldenOpportunity.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/MasterOfDestiny.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/MotesOfAcceleration.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/Primacy.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/ThreadsOfFate.tsx
  src/analysis/retail/evoker/shared/modules/talents/hero/chronowarden/TimeConvergence.tsx
  src/common/ITEMS/thewarwithin/trinkets.ts
  src/common/SPELLS/evoker.ts
  src/common/SPELLS/thewarwithin/trinkets.ts
  src/game/SPECS.ts
  src/parser/core/CombatLogParser.tsx
  src/parser/retail/modules/items/thewarwithin/trinkets/CirralConcotory.tsx
Labels: core, Evoker, The War Within

#7220 Update Ebon Might and guide
  src/analysis/retail/evoker/augmentation/CHANGELOG.tsx
  src/analysis/retail/evoker/augmentation/constants.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/EbonMight.tsx
  src/analysis/retail/evoker/augmentation/modules/abilities/ShiftingSands.tsx
  src/analysis/retail/evoker/augmentation/modules/normalizers/CastLinkNormalizer.ts
  src/analysis/retail/evoker/augmentation/modules/talents/Prescience.tsx
  src/analysis/retail/evoker/augmentation/modules/talents/PupilOfAlexstrasza.tsx
  src/analysis/retail/evoker/shared/modules/talents/TimeSpiral.tsx
Labels: Evoker, The War Within

#7221 add type for spell reflect event
  src/CHANGELOG.tsx
  src/parser/core/Events.ts
Labels: core

#7219 Druid Feral - fixed an issue where Rake bleed and Dreadful Wound were not being counted in Adaptive Swarm boost calc
  src/analysis/retail/druid/feral/CHANGELOG.tsx
  src/analysis/retail/druid/feral/modules/spells/AdaptiveSwarm.tsx
Labels: Druid, The War Within

#7218 Improved frostfire apl and added a bit of support for boltspam raid b…
  src/analysis/retail/mage/frost/Guide.tsx
  src/analysis/retail/mage/frost/apl/FrostfireAplCheck.tsx
  src/analysis/retail/mage/shared/SPELLS.ts
Labels: Mage, The War Within

#7222 [Shadow] Additional support for Voidweaver Hero Talents.
  src/analysis/retail/priest/shadow/CHANGELOG.tsx
  src/analysis/retail/priest/shadow/CONFIG.tsx
  src/analysis/retail/priest/shadow/CombatLogParser.tsx
  src/analysis/retail/priest/shadow/Guide.tsx
  src/analysis/retail/priest/shadow/constants.ts
  src/analysis/retail/priest/shadow/modules/talents/Archon/EnergyCompression.tsx
  src/analysis/retail/priest/shadow/modules/talents/DarkAscension.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/DepthOfShadows.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/DevourMatter.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/EntropicRift.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/InnerQuietus.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/VoidBlast.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/VoidEmpowerment.tsx
  src/analysis/retail/priest/shadow/modules/talents/Voidweaver/Voidheart.tsx
  src/analysis/retail/priest/shared/TwinsOfTheSunPriestess.tsx
  src/interface/BAD_ICONS.ts
Labels: Priest, core, The War Within
